[2021-03-03 10:10] tlle14 opened #315 "Notification > No badge icon counter on iOS"
# Actual Result
On iOS, there's no message counter on the badge icon

# Expected Result
It should have the badge icon counter for the badge icon on ios

# Environment
iOS app only
Build version: 2.2.9

[2021-03-03 10:13] RomaricMourgues commented on #314
Exactly, and you can get the users information with this API:

[code]

[2021-03-03 10:28] bobs4462 commented on #314
Yeah that's cool, but we don't need to get users information, @tlle14 is talking about the issue with channel name in notification title, can we dynamically generate channel name for directs (and add it to notification title), before sending the notification or does it require too much hassle, so that we can postpone this issue for better times?

[2021-03-03 10:37] tlle14 commented on #314
Hi @bobs4462 , that's why it's a minor ticket, save for later.

[2021-03-03 10:40] RomaricMourgues commented on #314
Oh sorry I did not understood. It is a Twake issue, currently the format is:

**Author in Company** for direct channels

**ChannelName in Company • Workspace** for workspace channels

[2021-03-03 11:09] bobs4462 commented on #314
I'm not really sure what I want). Maybe we can add Something like **Author1, Author2...** but only first 20 symbols or so, so that it won't become messy

[2021-03-03 12:27] tlle14 opened #316 "Server connection > It doesn't responsive on a small screen size iphone"
# Actual Result
On  the small screen, Connect button is hidden by the keyboard

# Expected Result
The screen should be responsive in a small size phone

# Environment
iOS App
iPhone 6S - small screen size
Build version: 2.2.9

[2021-03-03 12:33] tlle14 opened #317 "Server connection > Sometimes it's hard to paste the link from clipboard"
# Precondition
The server link is copied to the clipboard

# Actual Result
On the server connection screen, clear the textbox then try to paste a link from the clipboard, `sometimes` it doesn't work.
https://user-images.githubusercontent.com/69950655/109806418-44035480-7c57-11eb-87b3-53ca5a3db7cf.mp4

# Expected Result
Please investigate.
It should be easier to paste a link from the clipboard

# E

[2021-03-03 12:41] tlle14 commented on #316
I change it from medium to critical because it may block a user from login to use the app

[2021-03-03 12:48] tlle14 opened #318 "Server connection > After click done button on the keyboard, the textbox reverts the change"
# Actual Result
After changing the server address in the textbox, click the done button on the keyboard, then the textbox reverts the change.

https://user-images.githubusercontent.com/69950655/109808138-55e5f700-7c59-11eb-9ead-ec032aca8599.mp4

# Expected result
When clicking the done button, it should close the keyboard then keeps the change

# Environment
iOS App
Build version: 2.2.9

[2021-03-03 12:59] tlle14 commented on #314
Hi @RomaricMourgues , the issue is about how we display a notification for a direct group
Example: the direct group has: member1, member2, member3, member4
When member1 sending a message to the group, how the notification will display?

[2021-03-03 13:07] RomaricMourgues commented on #314
For now if I remember it will display just "Sender in Company" as title.
We'll change this title to "Member1, Member2 and Member3 in Company".

The text is always like this anyway: "[member name]: the message"

[2021-03-03 13:22] bobs4462 commented on #314
Alright, thanks, that will do :)

[2021-03-03 20:26] RomaricMourgues commented on #270
Little update on this topic. After studying APIs from Slack and also Github it seems named emojis is what industry uses.
So we will continue using names emojis BUT we need to define a specific dictionary of emojis.
Currently we use this dictionary: https://raw.githubusercontent.com/missive/emoji-mart/master/data/apple.json

[2021-03-04 08:22] RomaricMourgues commented on #270
This dictionary will be in place in the backend and a parameter in request will convert emojis to UTF8 for mobile.
Emojis must be stored in :named: format when possible in backend and db.

**Why ?** Because some desktop don't support emojis, so on desktop we need to convert to images using emoji-mart. On mobile you don't have this issue so you can directly get UTF16 emojis from backend.

[2021-03-04 08:46] bobs4462 commented on #270
So you have to implement not only backend to mobile conversion, but also mobile to backend conversion, because all the emoji picking libraries use UTF-16 code directly. Emojis are currently used in reactions, channel icons, and inlined in message text. The last one is problematic I think, as it requires one to parse entire message for emoji coded and map them to their short names, but when renderi

[2021-03-04 09:00] RomaricMourgues commented on #270
Yes I am aware of the issues, but you understand the desktop issue too :p

We need a common dictionary for named<->utf8 , and I need to check what happen at slack if you choose an emoji that only exists on ios and not on android for instance. And by the way we have a backlog issue about "custom emojis" too.

Because all devices has different set of emojis + the ability to have named custom emojis

[2021-03-04 09:07] tlle14 opened #319 "Notification > Able to get push notifications of another account"
# Precondition
1. On Mobile:
- I used to log in to my Linagora account on the app (Production server)
- Currently, I log in as a member of another server (QA server )

2. On the web:
I also logged in 2 accounts in one browser, on different tabs.
![image](https://user-images.githubusercontent.com/69950655/109939187-63f05200-7d03-11eb-8bb0-28fa7a05fbf0.png)

# Actual Result
On mobile, I'm able to re

[2021-03-04 09:08] tlle14 commented on #319
@RomaricMourgues @bobs4462 you guys should see this interesting issue

[2021-03-04 09:29] tlle14 opened #320 "Edit channel > It doesn't allow to update the channel privacy"
# Actual Result
There's no place for the user to update the channel privacy
![image](https://user-images.githubusercontent.com/69950655/109942203-8d5ead00-7d06-11eb-99a8-253f90bb38cb.png)

# Expected Result
The user (Admin/creator) should be able to update the channel privacy.
And yes, follow this rule: https://github.com/Twake/Twake/issues/512

# Environment
Both Android and iOS app
Build version

[2021-03-04 09:51] RomaricMourgues commented on #319
Mmm this is a Twake web issue, and I can't solve it easily.
There is two things to ensure:
- Implement logout properly for us to delete device token (Please check on mobile side @bobs4462 )
- We should ensure unicity of token usage, two users cannot have the same device token (It's for us at Twake)
The critical bug is mainly on twake backend side so I will take care of it

[2021-03-04 17:42] romanesko commented on #320
No they should not. If channel was created private — it stays private for all the time. And vice versa.
All the owner can do — is to change name and icon (and the members set) or delete the channel and make the new one.
Thank you.

[2021-03-05 08:03] tlle14 commented on #320
@romanesko I don't understand why the mobile app shouldn't be able to change the channel privacy, while we can on the web app?
I logged this issue based on the story of the web app: https://github.com/Twake/Twake/issues/512
Let BA and PO decide this feature on Mobile.
I will close this issue when they said no change to privacy.

[2021-03-05 08:22] PokoinikRWS commented on #320
@BenoitTallandier , please describe what a reason to change privecy ?

I will very disappointed in a service if my messages from private channel will be public in future...
Less negative if someone hide my conversation from public channel to private...

[2021-03-05 08:36] RomaricMourgues commented on #320
The current right system for channels was built over studying Teams, Slack, Mattermost or even Messenger. And was validated with BA and POs, then developed 3 month ago.

We cannot change business rules every two months if we want to built the same product together... We lost a lot of time always going back to questions discussed months ago.

Anyway :) Reasons for changing to public:

- Human error

[2021-03-05 08:46] PokoinikRWS commented on #320
Romaric, so I've to speak with BA first. We lose our reputation in privacy if someone can make private channels visible to publick by administrator will...

[2021-03-05 08:56] romanesko commented on #320
In case of human error — user can delete and create channel right )
Slack team also reasonably denied this request: «We don't allow converting private channels to public channels for privacy reasons»

[2021-03-05 10:59] tlle14 commented on #294
Hi @bobs4462
Could you please check?
I don't see the response when login with an  invalid server address
https://images.zenhubusercontent.com/309637937/b8d52d53-5cd7-4672-898d-db2dcc052b03/video1862edf5_a387_4a1a_9957_ce2d988ca4e8video.mp4

[2021-03-05 12:05] RomaricMourgues commented on #315
Thanks for the notification @bobs4462 , it is fixed for next release.
For now we always set the badge value to one if there is notifications.
**We do not remove this badge value** you must do it in the mobile app if everything is read.

[2021-03-05 12:23] romanesko opened #322 "Permissions support"
Show permissions on certain actions for channels/workspaces

[2021-03-05 12:27] romanesko opened #323 "Dig in twake core"
run it locally and try to implement any dummy methos

[2021-03-05 12:36] bobs4462 commented on #319
@RomaricMourgues how should we notify the backend about logout fact, is there any method for that?

[2021-03-05 13:27] RomaricMourgues commented on #319
Just post on "/ajax/users/logout" and pass the device id exactly like during login :)
[code]

[2021-03-05 14:15] bobs4462 commented on #319
Great, thank :+1:

[2021-03-07 16:46] tlle14 commented on #301
Hi @bobs4462
Retest failed!
The textboxes are cleared after the login failed.
Please check if you've merged your code yet

https://images.zenhubusercontent.com/309637937/4f7c3dfb-e67b-4152-8e3e-7ce165a8f2ab/videod799e6d3_4384_47a5_a3e9_5774f804b2c8video.mp4

[2021-03-07 16:58] tlle14 commented on #311
Hi @bobs4462
Some channel still shows the timestamp.
Do we have any rules for showing the time of a channel?
![processed.jpeg](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/3cd0b6f2-abc4-44ac-8c23-086f3abd85b2)

[2021-03-08 04:23] tlle14 commented on #68
Hi @bobs4462
I reopen this issue because it happens on Android Mobile

https://user-images.githubusercontent.com/69950655/110274122-afa34400-8000-11eb-9cbb-3e5ff68b5ca2.mp4

[2021-03-08 04:52] tlle14 commented on #312
Thank @bobs4462
Retest pass
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/e113f41a-484d-41c2-af7a-445953237150)

[2021-03-08 07:12] tlle14 opened #324 "App doesn't display the unread message counter for channel and direct messages"
# Actual Result
When having a new message, channels and direct chats are bold, but no unread counter display.

# Expected Result
There should have an unread counter for the unread messages.

# Environment
Both android and iOS app
Build version: 2.2.9-1

[2021-03-08 07:33] tlle14 commented on #310
Thank @bobs4462
Retest pass on Android app
https://images.zenhubusercontent.com/309637937/52d3e8ec-1665-4109-87d6-a19f2f38787e/video2af47d54_023b_4b75_a887_15861ea298d2video.mp4

[2021-03-08 07:55] tlle14 opened #325 "The keyboard hides the error message when creating a channel fails"
# Actual Result
When creating a channel fails, the user cannot see the error message because it is hidden by the keyboard

# Expected Result
The error message should show upon the keyboard.
Or the app should close the keyboard while displaying the error message

# Environment
Android app
Build version: 2.2.9-1

[2021-03-08 08:09] tlle14 commented on #284
Thank @RockinPaul
Retest pass
https://images.zenhubusercontent.com/309637937/5841ac65-2461-468d-b6ed-53bf81eb0544/video0c38e636_2a38_4ca4_9a7a_8c3676b1a421video.mp4

[2021-03-08 08:09] #284 closed

[2021-03-08 08:22] tlle14 commented on #307
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/b364fdbc-69f0-4677-a73c-1e48d64f0436/video04345576_fbbe_4115_92b4_4df6df665b11video.mp4

[2021-03-08 08:27] #307 closed

[2021-03-08 09:02] tlle14 opened #326 "Create Channel > Creating a private channel doesn't success at first"
# Actual Result
Creating a private channel, adding 4 members to the channel, then tap the "Create" button => It shows an error message for creation failed
After that, rename the channel then tap the "Create" button, the channel is created successfully
https://images.zenhubusercontent.com/309637937/fa5e4895-fa46-4deb-b693-da7d750e24af/video388428ab_7b0f_4625_9d7d_030f7d846d1bvideo.mp4

# Expected R

[2021-03-08 09:03] tlle14 commented on #278
Thank @RockinPaul
It always shows the channel after created

[2021-03-08 09:03] #278 closed

[2021-03-08 09:16] tlle14 commented on #177
Thank @romanesko
The time is correct now
https://images.zenhubusercontent.com/309637937/7a4cecfb-a255-4e74-888f-2686f4db6adf/video0cbbd3ca_a2ff_4c07_87f7_1522080daa6bvideo.mp4

[2021-03-08 09:16] #177 closed

[2021-03-08 09:29] tlle14 commented on #298
Thank @RockinPaul
Retest pass
https://images.zenhubusercontent.com/309637937/dc2af810-9dc4-4e65-b813-45b9c84e4841/video0cbbd3ca_a2ff_4c07_87f7_1522080daa6bvideo.mp4

[2021-03-08 09:29] #298 closed

[2021-03-08 10:39] tlle14 opened #327 "Delete Channel > There's no change after deleting a channel"
# Actual Result
When tapping the "Delete" button, the app stays in the channel information screen.
User need to back to the channel list and refresh to see the channel disappears
https://images.zenhubusercontent.com/309637937/475ed5af-6250-4c74-b2fe-7d78e5b75269/video9b03dc1e_d5c6_4213_87f4_bb8b515fc783video.mp4

# Expected Result
After deleting the channel successfully, it should have the changes

[2021-03-08 10:43] tlle14 commented on #308
Thank @RockinPaul
Retest pass!
https://images.zenhubusercontent.com/309637937/5f78426c-7bbc-4eaf-88c0-8afe14f35421/videoa6452fc6_6bd6_4915_8e73_1f17a98421c2video.mp4

[2021-03-08 10:47] tlle14 commented on #138
Hi @bobs4462
The direct chat doesn't jump to the top when the user received new messages.

https://images.zenhubusercontent.com/309637937/4a87a481-00b4-44e8-9da0-9f15d26bbff8/video32720b1b_81c9_45cf_8adc_562e6cc0d5f8video.mp4

[2021-03-08 11:27] tlle14 opened #328 "Notification > After the new message is read, push notification and badge counter don't disappear"
# Actual Result
When the user reads new messages without clicked the push notification, the push notification and badge counter are still displaying
https://images.zenhubusercontent.com/309637937/9621ce75-02c2-4fb0-8982-ad837b25f09a/videoa51a5da2_38a4_4374_81ea_7055a69d21f4video.mp4

# Expected Result
After the new messages are read, the badge counter and push notification should disappear

# Envi

[2021-03-08 11:55] tlle14 opened #329 "Edit channel > The emoji keyboard is closed after tap to stop the keyboard scrolling"
# Actual Result
When update ta channel icon, the user scrolls an emoji keyboard then tap quickly to stop scrolling, it makes the keyboard closed
https://images.zenhubusercontent.com/309637937/de6528bc-d068-495b-9fb7-5526fc4c1e41/videoa83778f5_58c2_40ba_a604_db3132a4507fvideo.mp4

# Expected Result
It shouldn't close the keyboard when the user taps to stop scrolling

# Environment
Android app
Build

[2021-03-09 08:45] tlle14 opened #330 "Edit channel > Displaying an empty screen after save the changes"
# Actual Result
After clicking "Save" button to save the changes of a channel name, it redirects to the empty screen.
It happens sometimes.

**1. When renaming a channel:**
https://user-images.githubusercontent.com/69950655/110443391-70ebb780-80ee-11eb-8208-f1f6cb49f221.mp4

**2. When click save button multiple times**
https://user-images.githubusercontent.com/69950655/110444941-2ec37580-80f0-11eb

[2021-03-09 09:04] tlle14 opened #331 "Edit channel > There's no warning message when leave empty the channel name"
# Actual Result
When leave empty the channel name then click "Save" button, nothing happens
https://user-images.githubusercontent.com/69950655/110445745-04be8300-80f1-11eb-80a0-b95e033eebd6.mp4

# Expected Result
It should display an error message for leave empty the required field

# Environment
Android app
Build version: 2.2.9-1

[2021-03-09 09:17] tlle14 opened #332 "Edit channel > The keyboard is able to hide the emoji keyboard"
# Actual Result
Following these steps:
1. Open an Edit Channel screen
2. Tap to Channel Name text field. The keyboard is opened
3. Tap to the avatar to open the emoji keyboard.
But the emoji keyboard displays under the keyboard.

https://user-images.githubusercontent.com/69950655/110447722-13a63500-80f3-11eb-8f6d-200cfeda23cf.mp4

# Expected Result
The Emoji keyboard and the system keyboard should

[2021-03-09 09:30] bobs4462 commented on #311
Hello @tlle14 What do you mean by time of the channel? Like creation date? Do you suggest that we always show creation date of the channel or that we intermix creation date with last activity timestamp?

[2021-03-09 10:13] tlle14 opened #333 "Edit channel > Deleting channel dialog is not correct"
When tapping the delete button in the channel, it displays a confirm dialog, the content in the dialog is not correct
=> It should follow the design. `Are you sure want to delete <channel_name> channel?`
![image](https://user-images.githubusercontent.com/69950655/110454923-66371f80-80fa-11eb-8fb6-7a084b3ab920.png)

# Environment
Android app
Build version: 2.2.9-1

[2021-03-09 10:21] tlle14 commented on #311
Hello @bobs4462
Sorry for misunderstanding your previous comment. Let me retest

[2021-03-09 10:42] tlle14 opened #334 "Edit channel > After selected, the member disappears on the member search result"
# Precondition
1. Navigate to Edit channel > Add member
2. Input the keyword to search member

# Actual Result
1. The screen doesn't display all matched results
2. After selected, the member is disappeared from the search screen.

https://user-images.githubusercontent.com/69950655/110457639-700e5200-80fd-11eb-8250-fe9fc111bcb9.mp4

# Expected Result
1. The screen should display all matched results

[2021-03-09 17:59] bobs4462 commented on #319
Hello @RomaricMourgues, I'm trying to call the method you gave me, and here is what I'm receiving
[code]

The request was made to htttps://web.qa.twake.app/ajax/users/logout, with `POST` method, the body of the request contained only this
[code]
The headers contained `Authorization: Bearer <some very long auth token>`

What I might be doing wrong?

[2021-03-10 03:05] tlle14 commented on #311
Hi @bobs4462
I retested and here what I observed:
- Create a new channel:  no timestamp displaying => OK
- Post a message in the new channel: the timestamp displays => OK

https://user-images.githubusercontent.com/69950655/110570163-13a44480-8188-11eb-8383-775c3da6d666.mp4

But there's a channel that has the latest message is 24 Feb, it doesn't display the timestamp.
Could you please investigate w

[2021-03-10 03:56] tlle14 opened #335 "Edit channel > The Back and Save button in the adding member screen are not working"
# Actual Result
On the adding member screen, the back button and the save button do not work.
https://images.zenhubusercontent.com/309637937/7de744f1-bc28-463a-b473-1deb31592d9a/video1a032e67_82e9_49fe_a12d_3d9194006f41video.mp4

# Expected Result
Those buttons should work. User should be able to add a member to the channel

# Environment
Android App
Build version: 2.2.9-1

[2021-03-10 04:20] tlle14 opened #336 "Edit channel > Tap on avatar to open the emoji keyboard instead of "Change avatar" button"
# Actual Result
1. To open the emoji keyboard, the user needs to tap on the avatar in the circle
2. The channel icon is displaying smaller than the actual design
![image](https://user-images.githubusercontent.com/69950655/110576295-1eb0a200-8193-11eb-93a6-c156d39db8e8.png)

3. Edit channel screen displays the enabled Save button as a default

# Expected Result
1. To open the emoji keyboard, the us

[2021-03-10 04:41] tlle14 commented on #336
Sorry I combined 3 issues in a screen

[2021-03-10 06:46] tlle14 opened #337 "Edit Channel > Adding member screen is sliding up when focusing on the search textbox"
# Actual Result
When adding a new member, the user tap on the search textbox, the screen slides up a little, which makes the header mix up with the system top bar.

https://user-images.githubusercontent.com/69950655/110588054-0f3b5400-81a7-11eb-96a7-9ef6b0eee1bf.mp4

# Expected Result
The screen should stay when the search textbox is selected

# Environment
Android app
Build version: 2.2.9-1

[2021-03-10 07:09] tlle14 opened #338 "Search member function isn't working correctly"
# Actual Result
The search function returns unmatching results
https://user-images.githubusercontent.com/69950655/110589402-f2078500-81a8-11eb-9c1c-c7e9316bfdd1.mp4

# Expected Result
Please rework the search function when creating channel/ create direct/ edit channel:
- The result should match the keyword by email/ first name/ last name
- If not, it should return a message: no results found

# En

[2021-03-10 07:51] tlle14 opened #339 "Elements in the channel list looks like disordered"
# Actual Result
When we have multiple data types, the channel list looks like a mess. Let's see:
- Channel icon vs. no icon
- Private channel icon (lock icon)  vs. public channel icon (no icon)
- Timestamp vs no timestamp
![image](https://user-images.githubusercontent.com/69950655/110593717-82949400-81ae-11eb-8df6-9ebb21386bbe.png)

# Expected Result
We need advice from our UX designer.

Here what

[2021-03-10 07:59] #245 closed

[2021-03-10 08:00] bobs4462 commented on #311
@RomaricMourgues can you please check, why are we not always receiving last_activity timestamp on web.qa?

[2021-03-10 08:03] RomaricMourgues commented on #319
I look at this today

[2021-03-10 08:08] RomaricMourgues commented on #319
It can only means the auth token isn't valid anymore, I added an ["error": "user disconnected"] response

[2021-03-10 08:39] bobs4462 commented on #324
@RomaricMourgues We used to have messages_unread property on channels to show the red badge, how can we get that value for channels again? Because now we are only getting has_unread flag.

[2021-03-10 09:03] RomaricMourgues commented on #324
To check if there is unread messages (bold or not bold)
[code]

The badges are done by an other endpoint `/notifications/v1/badges/` you will get all badges in a company:
[code]
Ex. **GET** /notifications/v1/badges/?company_id=xxx&all_companies=1 will return list of all badges for the requested company + one badge per other companies (to let now the user that there is notifications in other compan

[2021-03-10 09:05] tlle14 opened #340 "Search member > It is able to search a member doesn't belong to the workspace"
# Actual Result
On mobile, the user is able to search and add a member that doesn't belong to the workspace into a channel.
While on Web App, only members belong to the workspace returned in the search result
https://user-images.githubusercontent.com/69950655/110604229-6ac30d00-81ba-11eb-916d-ad42766ba3e2.mp4

# Expected Result
When searching a member for adding to a channel, it should return memb

[2021-03-10 09:06] tlle14 commented on #250
Thank @RockinPaul
I saw the feature on the new build

[2021-03-10 09:06] #250 closed

[2021-03-10 10:26] tlle14 opened #341 "Create workspace > It displays multiple records when adding member to the workspace"
# Actual Result
Opening the edit channel screen then back to the create workspace screen, then tap on "Invited Collaborators". Each time repeating those steps, it displays one more row in the invited collaborators screen. Refer to this video:
https://user-images.githubusercontent.com/69950655/110606969-4f0d3600-81bd-11eb-80af-71e0e7d0ac8e.mp4

# Reproduce steps
1. Open Create Workspace screen
2. O

[2021-03-10 10:40] tlle14 opened #342 "Create Workspace > Incorrect button name"
# Actual Result
In the Add Collaborators screen, it displays `Invite` button
![image](https://user-images.githubusercontent.com/69950655/110616269-f04cba00-81c6-11eb-9495-a71a7e9b6c7e.png)

# Expected result
The button name should be "Send"
![image](https://user-images.githubusercontent.com/69950655/110616824-939dcf00-81c7-11eb-8188-49384ea59902.png)

[2021-03-10 19:51] bobs4462 commented on #294
I couldn't reproduce it @tlle14, can you please check again?

[2021-03-10 19:52] bobs4462 commented on #309
When user logs out, all notifications are cleared now, so this kind of situation should not happen

[2021-03-11 03:01] tlle14 opened #344 "Choose server > The default server is the old data"
# Actual Result
The default server is the old data
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/0fcdfdbe-087f-48a2-a7e5-7cc4fb7c9303)

# Expected Result
The default server should be our production address

# Environment
Both iOS and Android App
Build version: 2.2.9-2

[2021-03-11 03:06] #302 closed

[2021-03-11 03:06] tlle14 commented on #302
Thank @RockinPaul
Retest passed on Production

[2021-03-11 03:28] tlle14 opened #345 "The Direct chat list is not ordered when user logged in"
# Actual Result
After user logged in, the direct chat list displays unordered
The User needs to refresh the app to see the correct order
https://images.zenhubusercontent.com/309637937/e8f1f8aa-c219-4f8e-b64d-01ded579606e/video62d8c76e_1609_49a1_8191_1ec5e3675756video.mp4

# Expected Result
The direct chat list should always display in the correct order

# Environment
Both Android and ios app
Build

[2021-03-11 04:02] tlle14 commented on #138
Hi @bobs4462

- When another user sends a message to the current user, the direct message jumps on top: Retest passed!
https://images.zenhubusercontent.com/309637937/a72fd841-d3f9-4054-81d4-3112ccbcc832/videobc93dd3c_d01c_4bc3_8b28_aa549d4d9922video.mp4

- When the current user sends a message to another member, the direct doesn't jump on top. User need to refresh to see the change
=> Expect: The

[2021-03-11 04:05] tlle14 commented on #309
Thank @bobs4462  for the solution.
Retest pass!
https://images.zenhubusercontent.com/309637937/1752a74b-6c8e-44c2-93be-3dc2fc384e52/video241f7cf2_85cc_4579_a766_6060996d949bvideo.mp4

[2021-03-11 04:05] #309 closed

[2021-03-11 04:11] #301 closed

[2021-03-11 04:11] tlle14 commented on #301
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/1bc79125-bfd4-441a-b4b2-0eb833e8e601/video44357287_f351_4d8d_8101_5daf80000dc7video.mp4

[2021-03-11 04:15] tlle14 commented on #316
Hi @RockinPaul
Retest pass on 2.2.9-2
![image](https://user-images.githubusercontent.com/69950655/110734706-f0969500-825a-11eb-92a8-ed45fdf1a036.png)

[2021-03-11 04:15] #316 closed

[2021-03-11 04:16] tlle14 commented on #318
Thank @RockinPaul
Retest pass!
https://images.zenhubusercontent.com/309637937/43202c0b-f602-4776-bd81-223a5eb9d365/rpreplay_final1615436152.mp4

[2021-03-11 04:16] #318 closed

[2021-03-11 04:28] tlle14 commented on #330
Hi @RockinPaul
Retest failed!
Could you please check?
https://images.zenhubusercontent.com/309637937/c9f54098-e4f4-4021-980d-d213764fa4db/video9d8f3d27_7189_42c5_a46f_987972eb24d0video.mp4

[2021-03-11 04:29] tlle14 commented on #332
Thank @RockinPaul
Retest pass!
https://images.zenhubusercontent.com/309637937/eaad98c0-d835-4bee-ba33-c0869c3e79a0/video7f289315_31d1_4f2e_8736_69bae175dd15video.mp4

[2021-03-11 04:29] #332 closed

[2021-03-11 04:30] tlle14 commented on #305
Sorry for this duplicated bug
https://app.zenhub.com/workspaces/twakemobile-5fa5101d98879700119ccea9/issues/twake/mobile/330

[2021-03-11 04:30] #305 closed

[2021-03-11 04:33] tlle14 commented on #331
Thank @RockinPaul
Retest pass! The Save button is disabled when leave empty the name
https://images.zenhubusercontent.com/309637937/6878f288-8597-41c8-816d-fe2e23419f29/video9b57f488_585c_4dd7_babc_ceca8e8cf7a2video.mp4

[2021-03-11 04:33] #331 closed

[2021-03-11 04:49] tlle14 commented on #326
Hi @RockinPaul
The private channel has been created without the inputted description.
Please check this issue.
https://images.zenhubusercontent.com/309637937/fc224ba0-c5b1-4166-a60a-e0e7efddef27/video9b57f488_585c_4dd7_babc_ceca8e8cf7a2video.mp4

[2021-03-11 07:16] bobs4462 commented on #344
@tlle14 Hello, yes it's going to be replaced in next build. But for now you can use both https://mobile.twake.app and https://mobile.api.twake.app to connect to production server, they both should work the same. So I don't see any point to keep this issue around.

[2021-03-11 08:29] tlle14 opened #346 "Some username are not displayed"
# Actual Result
Some usernames do not display on the Mobile app
On Web:
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/ebe514f9-0b66-4488-bc84-a84382049922)

On Mobile:
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/d309b877-cd08-4a7e-bcbb-566d1feff625)

# Expected Result
Please investigate.
The username should display normally

# Environment

[2021-03-11 08:36] tlle14 commented on #310
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/7d8657bd-c0b6-47c5-a031-95f99ee35e12/video20cfcfac_fcff_4817_91de_b3f9d7edd818video.mp4

[2021-03-11 08:36] #310 closed

[2021-03-11 08:37] tlle14 commented on #344
I see. Thank @bobs4462 for your explaination.

[2021-03-11 08:37] #344 closed

[2021-03-11 08:38] BastiaanVanGaalen commented on #339
@tlle14 as for messy channel list it was completely overhauled and re-engineered in a new version of UI.

 We agreed with @romanesko about default gradient fills for channels thumbnail avatars in case user failed to upload one.
@romanesko When can we expect for this feature to be implemented? =)

- channel privacy icon and timestamp display are also handled in a new UI. You can follow the link to

[2021-03-11 08:53] tlle14 commented on #327
Thank @RockinPaul
Retest pass!
https://images.zenhubusercontent.com/309637937/b782a9b2-6de6-4529-b647-e558f325d07b/rpreplay_final1615452737.mp4

[2021-03-11 08:53] #327 closed

[2021-03-11 09:20] tlle14 opened #347 "Delete channel > When the user doesn't have a delete permission, the delete button should be hidden or disabled"
# Precondition
Refer to the story: https://github.com/Twake/Twake/issues/512

# Actual Result
When deleting a channel that the user doesn't have permission, it cannot delete the channel, also doesn't have any message.
https://images.zenhubusercontent.com/309637937/d4e4c54a-5aae-4270-9c46-d1065e650176/rpreplay_final1615453329.mp4

# Expected Result
For the user doesn't have permission, the delete b

[2021-03-11 09:42] bobs4462 commented on #328
@tlle14 It's partially implemented now, meaning that the application can only track notifications which has been received in foreground. Those are tracked internally by application, and when user opens the channel, the notification is removed. As for the notifications which are received in background, those can be only removed in batch (all of them at once).
I think you can test what is already th

[2021-03-11 09:46] tlle14 commented on #313
Thank @bobs4462
Retest pass!

[2021-03-11 09:46] #313 closed

[2021-03-11 10:07] tlle14 commented on #294
Thank @bobs4462
It has an error message when login with an invalid host. But the message "Network error"  does not make sense.
Please change the message content.
https://images.zenhubusercontent.com/309637937/f42936b9-4b06-4fd3-a375-683e6eb7f88e/video65978eb0_4b8a_4128_97ac_d9b2667e6759video.mp4

[2021-03-11 10:13] #333 closed

[2021-03-11 10:13] tlle14 commented on #333
Thank @RockinPaul
Retest pass!
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/3204829e-db5b-4999-a207-528080d7d1ea)

[2021-03-11 10:20] tlle14 commented on #99
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/539fa4e2-c7e1-4eef-8554-383e66b0ebfb/rpreplay_final1615457961.mp4

[2021-03-11 10:20] #99 closed

[2021-03-11 10:28] #312 closed

[2021-03-11 10:30] tlle14 commented on #299
Thank @RockinPaul
Retest pass
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/0ff93b7d-9927-4c8b-b3a1-7693e789a6d0)

[2021-03-11 10:30] #299 closed

[2021-03-11 10:34] tlle14 commented on #311
Hi @bobs4462
I don't see the change or any fix. Why this ticket in the QA-testing column?

[2021-03-11 10:46] tlle14 commented on #319
Thank @RomaricMourgues and @bobs4462
Retest pass!

[2021-03-11 10:46] #319 closed

[2021-03-11 10:57] tlle14 opened #348 "Incorrect App icon on iOS device"
# Actual Result
On iOS device, the app icon has black border
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/e49b0dbc-cd2f-4cde-8ccf-e1b63e6704dc)

# Expected Result
The app icon should display correctly

# Environment
iOS App
Build version: 2.2.9-2

[2021-03-11 10:58] #328 closed

[2021-03-11 10:58] tlle14 commented on #328
Okay @bobs4462
Thank for your explaination

[2021-03-11 11:47] bobs4462 commented on #346
Hi @tlle14, can you please provide us with more information, did you find this bug in public channel, can we have access to it? Is it a single case, or have you encountered more bugs like this one?

[2021-03-12 02:35] tlle14 commented on #346
Hi @bobs4462 This issue is on production. Let me send you the message link on twake

[2021-03-12 07:59] tlle14 opened #349 "Create Channel > Hide the unworked feature "Automatically add new users""
# Actual Result
As I confirmed with Romaric, this feature is not yet implemented on the backend.
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/274954e8-77cd-44fe-801b-5ff9d1e321c0)

# Expected Result
The feature should be hidden on the mobile app.

# Environment
Both Android and iOS app
Build version: 2.2.9-2

[2021-03-12 08:09] bobs4462 commented on #270
For now we are converting emojis from short name to utf-16 on proxy, but not the reverse. So most channel icons and reactions should display fine on mobile app. We are going to implement reverse conversion as soon as we have a stable emojiset to convert to.

[2021-03-12 08:17] tlle14 opened #350 "Cannot create a direct group on the Mobile app"
# Actual Result
When creating a direct chat, select a member then it redirects to the direct chat of a person immediately. The user cannot select multiple members to create a direct chat.

# Expected Result
The user should be able to create a group chat

# Environment
Both android and ios app
Build version: 2.2.9-2

[2021-03-12 08:32] RomaricMourgues commented on #270
👍

For the record, on Twake we use:
[code]
Sorry for using both... but I suppose the final emojiset will be a merge of these two ones.

[2021-03-12 11:00] BastiaanVanGaalen commented on #336
@tlle14 thanks for your remarks!

@RockinPaul
1. We should set tappable not only "Change avatar" but the image itself so tappable area will be bigger which is more convenient for users.
2. Since emoji size is defined by a font size, it has to be at least two times bigger. Before releasing the updated emoji icon size, please send me a screenshot.
3. Correct.

[2021-03-12 12:07] romanesko opened #351 "Testing mobile to work with on-premise service"

[2021-03-12 12:07] romanesko opened #352 "LemonLDAP features"

[2021-03-12 12:09] #352 closed

[2021-03-12 12:31] bobs4462 opened #353 "R&D research the twake backend NodeJS part"
In order to start implementing new features and enhancing existing ones there's a strong need to understand the general architecture and structure of twake backend (node part).

[2021-03-12 12:34] romanesko opened #354 "Design a user-mention interface for Twake mobile app"

[2021-03-12 12:56] bobs4462 commented on #295
@tlle14 This issue is going to be solved in #68, because it's not really related to incorrect server, but rather a global application issue, which is related to amount of work the application does while booting, we will research the issue and try to minimize that work. This issue can be closed I think.

[2021-03-12 12:57] bobs4462 commented on #311
@RomaricMourgues Hello, did you manage to find the cause of the issue?

[2021-03-12 13:13] BastiaanVanGaalen opened #355 "Display user mentions in messages on listing of all chats and in chat details screens"

[2021-03-12 13:14] BastiaanVanGaalen opened #356 "New message notification inside an open chat"

[2021-03-12 13:15] BastiaanVanGaalen opened #357 "Design workspace deletion flow in the app"

[2021-03-12 13:23] RomaricMourgues commented on #311
Woops sorry, it was fixed this week, it should be working, tell me if not.

[2021-03-12 16:16] bobs4462 commented on #311
Romaric, I think it is still broken. For example

[code]

[2021-03-15 03:01] tlle14 commented on #295
Yes, this one is fixed
Thank @bobs4462

https://user-images.githubusercontent.com/69950655/111098053-462db300-8575-11eb-8f32-51ffb7e73fc7.mp4

[2021-03-15 03:01] #295 closed

[2021-03-15 04:10] tlle14 opened #358 "Create workspace > The last row of invited member isn't counted"
# Precondition
Creating a workspace

# Actual Result
The last member on the list isn't invited.
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/9e6eccba-8db0-4e2e-a67d-2041ba591cdc)

While the last member is counted if the user added a blank row on the list
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/79f8cafc-02a5-41d7-9f90-f076a4d13767)

#

[2021-03-15 04:37] tlle14 opened #359 "Create Channel > The emoji keyboard cannot display on the small screensize"
# Actual Result
When selecting a channel icon, the emoji keyboard cannot display on a small screen
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/897be466-78cd-4dd0-8124-9ee49d2c3803)

# Expected Result
The emoji keyboard should be able to display normally

# Environment
iOS App
Build version: 2.2.9-2

[2021-03-15 06:48] tlle14 commented on #182
It works on 2.2.9-2

[2021-03-15 06:48] #182 closed

[2021-03-15 07:03] tlle14 opened #360 "Edit member > Cannot scroll the member list"
# Precondition
The member list has about 20 members.
Navigate to Channel > Member management

# Actual Result
It is unable to see all members in the member list.
The scroll doesn't work
https://user-images.githubusercontent.com/69950655/111115376-17283900-8597-11eb-9353-f6d3ab9f6f74.mp4

# Expected Result
The scroll should work normally.

# Environment
Both iOS and Android app
Build version: 2.2.9

[2021-03-15 08:16] tlle14 opened #361 "When scroll to see chat history, it automatically jump to the latest message after the chat is loaded"
# Actual result
After chat history is loaded, it back to the latest message position

https://user-images.githubusercontent.com/69950655/111122976-5eb3c280-85a1-11eb-8390-e4bebf2837ae.mp4

# Expected Result
After chat history is loaded, it should stay at the date

# Environment
Both ios and android app
Build version: 2.2.9-2

[2021-03-15 08:49] tlle14 opened #362 "The message doesn't update the change in a real time between mobile apps"
# Precondition
Sending message between Android app and iOS app

# Actual Result
When updated the message on one device, the other device doesn't get the real-time update.

The message is updated on Android device:
![image](https://user-images.githubusercontent.com/69950655/111126957-dab00980-85a5-11eb-9502-aa12300eef12.png)
But not updated real-time on iOS device:
![image](https://user-images.gith

[2021-03-15 09:38] tlle14 opened #363 "Cannot unreact the message"
# Actual Result
When the user un-react a message, the reaction appears again after pull to refresh the app.
https://user-images.githubusercontent.com/69950655/111133236-dfc48700-85ac-11eb-953d-223961a78e60.mp4

# Expected Result
The reaction should disappear even after refreshing the app

# Environment
Android and iOS App
Build version: 2.2.9-2

[2021-03-15 09:57] tlle14 commented on #288
Hi @bobs4462
I saw the push notification in the foreground running, but a new message in the private channel doesn't have a push notification.
Please check.

[2021-03-15 15:01] bobs4462 commented on #311
ping @RomaricMourgues, anything on this one? As I said, if you need any extra information, just ask :)

[2021-03-15 15:08] RomaricMourgues commented on #311
For Covid19 this is because last message is from November. The last_activity information works only since 1 month ago, and the last_message information only since today :)

[2021-03-15 15:10] RomaricMourgues commented on #311
This is what you should receive now on chat.twake.app and on web.qa.twake.app:
<img width="748" alt="Screenshot 2021-03-15 at 16 09 18" src="https://user-images.githubusercontent.com/14353924/111175737-01237400-85a9-11eb-8193-8d64445724ce.png">

[2021-03-15 16:48] bobs4462 commented on #311
Got it, thanks ;)

[2021-03-15 19:32] bobs4462 opened #364 "Accelerate the loading process when app is cold booting."
Currently when the app boots anew, the load process takes too much time, which negatively affects UX. During the next app refactoring we should consider the ways to decrease the load times.

[2021-03-16 07:35] #340 closed

[2021-03-16 07:36] tlle14 commented on #340
This is not an issue.
As on Web, the user should be added into the workspace then be added into the channel

[2021-03-16 07:43] bobs4462 commented on #193
Last_activity field was added, and unread messages can be retrieved via another method. Closing this one.

[2021-03-16 07:43] #193 closed

[2021-03-16 09:22] tlle14 opened #365 "Create Channel > New channel appears on the mobile right after created, but disappears after pull to refresh the app"
# Precondition
UserA and UserB are in the same workspace
UserA creates a private channel on the Web, doesn't invite UserB

# Actual Result
On the Mobile, UserB is able to see the new channel appear. He can join the channel even it's a private channel and he is not invited.
The channel will disappear after pulling to refresh the app.
https://user-images.githubusercontent.com/69950655/111285080-5926

[2021-03-16 17:39] bobs4462 commented on #289
Can you try it again, it should work with active internet connection

[2021-03-16 17:42] bobs4462 commented on #311
@tlle14 As Romaric said earlier, the last_activity time only apeares for channels and directs which had some activity starting from mid February. For new users this should not be a problem however, as all their data is going to be new.

[2021-03-16 17:43] bobs4462 commented on #215
@tlle14 Added last message preview to channels, but it only works for channels which had some activity since 15th of march.

[2021-03-16 17:43] bobs4462 commented on #68
Restored Twake logo on splash screen for android

[2021-03-16 17:44] bobs4462 commented on #294
Changed the error text to **Server is unavailable**

[2021-03-17 03:08] tlle14 opened #367 "Displaying a non-fit splash screen and isn't displaying a channel list when starting app."
# Precondition
Install a new app

# Actual Result
1. When opening the app, it displays a non-fit splash screen.
2. When starting the app, it displays a grey rectangle in the workspace instead of a channel list

https://user-images.githubusercontent.com/69950655/111408748-532edb80-8708-11eb-8a9e-1e96f8220b99.mp4

# Expected Result
1. The splash screen should fit the mobile screen.
2. The channel li

[2021-03-17 03:27] tlle14 commented on #294
Hi @bobs4462
It's still displaying invalid host, not `Server is unavailable`
It's ok when we use `invalid host`
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/e62adea9-b688-43e6-95f5-5b5e9ee64b07)

[2021-03-17 03:27] #294 closed

[2021-03-17 03:31] tlle14 commented on #349
Retest pass!
Thank @RockinPaul
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/68b5a1ed-42c5-43d0-b875-74ec7a1cb406)

[2021-03-17 03:31] #349 closed

[2021-03-17 03:43] tlle14 commented on #68
Thank @bobs4462
No more black screen but the splash doesn't fit the big screen size. Please tracking this issue here: https://github.com/Twake/Mobile/issues/367

[2021-03-17 03:43] #68 closed

[2021-03-17 04:03] tlle14 commented on #336
Hi @RockinPaul
# 1. Failed
It seems tap on `Change avatar` doesn't open the emoji keyboard.

# 2. Pass
The channel icon seems nice. Cc: @BastiaanVanGaalen
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/f29a8732-46b3-4147-be33-d8cdbc4d07b6)

# 3. Failed
The `Save` button is still enabled
=> It should be displayed disable when there has nothing change

[2021-03-17 04:09] tlle14 commented on #337
Thank @RockinPaul
Retest pass!
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/f2bdaf05-5bef-4865-ad74-69f72cc8aa87)

[2021-03-17 04:09] #337 closed

[2021-03-17 04:11] tlle14 commented on #138
Thank @bobs4462
Retest pass
https://images.zenhubusercontent.com/309637937/06fe5748-3c69-45a3-8843-1b83ce6b472c/rpreplay_final1615954231.mp4

[2021-03-17 04:11] tlle14 commented on #138
Thank @bobs4462
Retest pass
https://images.zenhubusercontent.com/309637937/06fe5748-3c69-45a3-8843-1b83ce6b472c/rpreplay_final1615954231.mp4

[2021-03-17 04:11] #138 closed

[2021-03-17 04:22] tlle14 commented on #345
Thank @bobs4462
Retest pass!

[2021-03-17 04:22] #345 closed

[2021-03-17 04:24] tlle14 commented on #300
Thank @RockinPaul @bobs4462
Retest pass!
The server verification is speedy now
https://images.zenhubusercontent.com/309637937/42fe8692-04fd-44f0-a186-dd216b4195ac/rpreplay_final1615955038.mp4

[2021-03-17 04:24] #300 closed

[2021-03-17 04:28] tlle14 commented on #346
Thank @bobs4462
Retest pass!
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/acf58a5b-3ad9-4a9f-a64f-fd7d2636a209)

[2021-03-17 04:28] #346 closed

[2021-03-17 04:44] tlle14 commented on #363
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/2dbff401-cbf4-45f9-b7ca-92b7c152e3a1/rpreplay_final1615955918.mp4

[2021-03-17 04:44] #363 closed

[2021-03-17 04:46] tlle14 commented on #325
Hi @RockinPaul
I don't see the change.
Please check if you merged the code yet?

[2021-03-17 04:53] tlle14 commented on #215
Thank @bobs4462
Retest pass!
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/d2ce8a8a-1b73-4ea6-b431-53d7d7918302)

[2021-03-17 04:53] #215 closed

[2021-03-17 04:54] #311 closed

[2021-03-17 04:54] tlle14 commented on #311
Thank @bobs4462 and @RomaricMourgues

[2021-03-17 04:57] tlle14 commented on #362
Thank @bobs4462
Retest pass!

[2021-03-17 06:46] tlle14 commented on #289
Thank @bobs4462
Retest pass!

https://images.zenhubusercontent.com/309637937/086d8c70-9e9b-440a-8fe4-fab55d8e7272/rpreplay_final1615963556.mp4

[2021-03-17 06:46] #289 closed

[2021-03-17 07:57] bobs4462 commented on #367
Hi @tlle14
The splash screen behavior is weird :). Can you please specify the phone you used to catch such a bug?

As for the grey rectangle, did you first delete the app before installing fresh one, as I wrote in the email?

[2021-03-17 08:34] tlle14 commented on #367
Hi @bobs4462
1. About the splash screen, I can reproduce it on another device with the same screen size. I guess it's a responsive issue.
2. About a grey rectangle, I removed the old app before installing the new one. I'm sure about it.

[2021-03-17 08:56] bobs4462 commented on #367
Hmmm, it's so strange that your phone just logs in immediately (without asking for credentials), the issue is directly related to the fact that your phone didn't clean the local storage for the application when you deleted the app itself. It seems to be Samsung only issue, because we cannot reproduce this storage persistence bug (https://stackoverflow.com/questions/42538180/app-cache-directory-is-

[2021-03-17 09:27] tlle14 commented on #367
I cannot reproduce issue 2 anymore.
But issue 1, If the screen is responsive, the logo will be enlarged on the splash screen.
If the screen is not responsive, the splash screen seems not to fit.
- xiaomi note 9 -  6.53 inches - not fit
- Samsung A51 - 6.5 inches - not fit
- Nokia 2.3 - 6.2 inches - fit
- iPhone 7 - 4.7 inches - fit

[2021-03-17 09:35] bobs4462 commented on #367
Alright, thanks for the info, I'll investigate the issue 1

[2021-03-17 09:43] tlle14 opened #368 "Create channel > Error message displays when creating a new direct chat"
# Actual Result
The first time taps on the `Create` button, the direct chat cannot be created. An error message for creating failed.
The direct chat is able to be created after the second tap.
https://user-images.githubusercontent.com/69950655/111445616-272e4d00-873e-11eb-9d0b-6a2962e1a983.mp4

# Expected Result
1. The direct chat should be created at the first tap
2. After created a direct chat,

[2021-03-17 10:16] tlle14 opened #369 "Cannot login successfully after edit server address"
# Actual result
After changing the server address from the incorrect to the right one, the user still cannot log in
https://user-images.githubusercontent.com/69950655/111450714-3fed3180-8743-11eb-89e2-34fad4234f17.mp4

# Expected Result
The user should be able to login after switching to the correct server address

# Steps
1. Keep the production server address
2. Back to the login page, log in wit

[2021-03-17 10:28] tlle14 opened #370 "Notification > There's no notification on the iOS App"
# Actual Result
When sending a message to the direct chat or mentioned on the channel...., the user on iOS cannot receive the push notification.

# Expected Result
Push notification should work on iOS

# Environment
- OS: iOS App
- Build version: 2.2.9-3

[2021-03-17 10:36] tlle14 opened #371 "Notification > Twake logo doesn't display on the push notification"
# Actual Result
Twake logo displays as a gray dot on Nokia device
![image](https://user-images.githubusercontent.com/69950655/111454072-d3743180-8746-11eb-8c09-7646a0f39b4d.png)

# Expected Result
The logo should display correctly on push notifications

# Environment
- OS: android app
- Device: Nokia 2.3
- Build version: 2.2.9-3

[2021-03-17 10:42] tlle14 opened #372 "The chat screen reloads after sent an emoji message"
# Actual Result
Sent an emoji message makes the chat screen reload after 1-2 seconds
https://user-images.githubusercontent.com/69950655/111455126-feab5080-8747-11eb-808d-a2be3a573bc4.mp4

# Expected Result
The screen shouldn't reload after the emoji message is sent

# Environment
- OS: both ios and android app
- build version: 2.2.9-3

[2021-03-17 10:52] bobs4462 commented on #370
Do you mean when the app is foreground, or in background?

[2021-03-17 10:53] tlle14 commented on #370
In the background running @bobs4462

[2021-03-17 10:55] tlle14 opened #373 "Create Channel > Cannot create a channel"
# Actual Result
The user cannot create a channel successfully.
After close the create channel screen, the channel list displays a grey rectangle

https://user-images.githubusercontent.com/69950655/111456706-e6d4cc00-8749-11eb-9369-276e88932b5f.mp4

# Expected Result
The user should be able to create a channel successfully

# Environment
- OS: both ios and android
- Build version: 2.2.9-3

[2021-03-18 07:39] RockinPaul commented on #347
Hey @tlle14 !

Currently, any user who has Editing permission is able to delete a channel. So the issue will be solved by restriction of access to channel editing flow for users without EDIT_CHANNEL permission.
That means we no longer need to manage delete button behavior because it will be automatically unreachable for users without appropriate permission.

[2021-03-18 09:25] BastiaanVanGaalen commented on #326
@tlle14 Greetings, my dear friend! Channel description (assumed, it was created some time ago) can only be viewed on channel editing screen.

[2021-03-19 12:22] #322 closed

[2021-03-19 12:23] #279 closed

[2021-03-22 09:16] bobs4462 commented on #214
Hi @tlle14 We added badges for unread counters, but as for the company name under workspace name, I think it's a bit irrelevant right now, because @BastiaanVanGaalen will completely overhaul the design soon anyway

[2021-03-22 09:17] bobs4462 commented on #370
Foreground notifications was added to iOS, you should get build update soon. Please write me if you catch any other abnormal behavior.

[2021-03-22 22:20] RockinPaul commented on #251
Unable to reproduce anymore. Possibly fixed during other tasks implementation.

[2021-03-23 08:21] tlle14 commented on #372
Hi @bob, now the keyboard flickers instead of the chat screen, after sending an emoji
https://images.zenhubusercontent.com/309637937/2aa82318-b078-40df-97d8-6c19211d84e8/video5ffc7dfd_6b29_47a9_b04b_4b9dc97b5d39video.mp4

[2021-03-23 08:27] bobs4462 commented on #259
**STEP №1** Make request to get file identifier in drive (without uploading the file itself)
[code]
**STEP №2** Use the provided identifier to actually upload the file using multipart form data

[code]

And I have a few questions @RomaricMourgues.
**1.** Is the **object** field in formdata when sending the file in step №2 obligatory? If yes, what is the **frontid**, is it possible to upload direct

[2021-03-23 09:10] tlle14 commented on #365
Hi @bobs4462
Retest pass!
But we have another small issue.
When UserA creates a channel (public or private, doesn't invite UserB), the channel list of UserB is refreshed.
https://images.zenhubusercontent.com/309637937/966f0ecb-4854-4754-bcfa-0b496584cc42/rpreplay_final1616490435.mp4

Expect: The channel list shouldn't be refreshed. If it is, it should refresh gracefully.

[2021-03-23 09:26] tlle14 commented on #214
I can see the message counter on the workspace list now. Thank @bobs4462
But the number is not correct. I should open another ticket.

[2021-03-23 09:26] #214 closed

[2021-03-23 09:40] tlle14 commented on #48
Hi @bobs4462
1. The message counter disappears after the new message is read. But the direct message still displays bold after refreshing the app.
=> It shouldn't be bold after the new messages are read.

2. Do we need to use both bold and unread counter to emphasize the unread messages?

[2021-03-23 09:43] RomaricMourgues commented on #48
Here is the logic for bold / not bold:
[code]

[2021-03-23 09:43] bobs4462 commented on #48
1. The issue seem spontaneous, sometimes twake backend doesn't acknowledge the read request, I'll investigate.
2. Yes, the bold means something has happened in the channel, counter means  someone mentioned you in a thread (@all @here @username)

[2021-03-23 09:44] RomaricMourgues commented on #48
@bobs4462 see my last message just on top of yours, maybe you don't use the "channel.last_message?.sender != channel.user_member?.user_id;" part

[2021-03-23 09:46] bobs4462 commented on #48
Ok, I'll check whether that's the case

[2021-03-23 09:47] tlle14 commented on #324
Thank @bobs4462
I can see the unread counter displays for channel and direct chat.
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/7bec132b-97aa-4d28-bed9-c62d17b6de5f)

[2021-03-23 09:47] #324 closed

[2021-03-23 10:26] tlle14 commented on #373
Thank @bobs4462
Retest pass!

[2021-03-23 10:26] #373 closed

[2021-03-23 10:31] tlle14 commented on #336
Hi @RockinPaul
Retest pass for change avatar function.
We have a related issue but it should be another ticket

https://images.zenhubusercontent.com/309637937/20edc9a4-3e8b-4bbb-9c28-50bcf8df2a90/videof9976da0_3f89_49e9_877d_338da4e836d4video.mp4

[2021-03-23 10:31] #336 closed

[2021-03-23 10:43] tlle14 commented on #347
Hi @RockinPaul Let me ask @RomaricMourgues if he missed some fields in the API. The edit permission is defined clearly on the Web story like this:
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/0576c147-29cc-4130-8e13-000e811f475a)

@RomaricMourgues @bobs4462 could you please confirm?

[2021-03-23 10:46] RomaricMourgues commented on #347
I confirm the image is correct, only admin and creators have access to update privacy and delete channel options.

[2021-03-23 10:50] tlle14 commented on #347
The story tells that:
- The admin, the channel creator have *full* EDIT_CHANNEL permission
- The other member has *partial* EDIT_CHANNEL permission, not including Delete and update privacy.
- The Guest doesn't have EDIT_CHANNEL permission.

@RockinPaul

[2021-03-23 10:58] tlle14 commented on #287
Thank @RockinPaul
Retest pass!

**A Normal member**
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/f932fba3-55ff-4a01-994e-efd4cc267a4f)

**Admin**
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/81f31972-1745-402d-a71f-73fbec14bbcc

**Company Owner**
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/c4a45ca7-92d8-4937

[2021-03-23 10:58] #287 closed

[2021-03-23 11:12] RomaricMourgues commented on #259
1.
-> The object field is mandatory bur frontid is not.
-> You can upload a directory but you must do the work yourself to create directories and set the parent ids on each child fields upload.
-> detached means the file is not in the Twake drive (so no parent folder defined)
-> I think you can set whatever you want in the resumableFilename and resumableRelativePath, the file name must be defined

[2021-03-24 02:58] tlle14 commented on #342
Thank @RockinPaul
Retest pass!
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/81934cc2-b99e-4044-9003-73efb8ebfea7)

[2021-03-24 02:58] #342 closed

[2021-03-24 03:33] tlle14 commented on #326
Hi @BastiaanVanGaalen @RockinPaul
Sorry, I uploaded incorrect evidence. We have 2 issues here:

# 1. After created a channel, the description is not saved. The user doesn't see it in the description field when open the edit channel screen.
=> After a channel is created, the channel description should expose on the edit channel screen
https://images.zenhubusercontent.com/309637937/dfb41904-97a5-48d

[2021-03-24 03:39] tlle14 commented on #280
Thank @RockinPaul
Retest pass!
https://images.zenhubusercontent.com/309637937/410a1526-58cd-46d0-b1aa-5d7585fdf4e0/video4e33ee91_ead9_420e_99c9_7a019818e558video.mp4

[2021-03-24 03:39] #280 closed

[2021-03-24 03:42] tlle14 commented on #41
Retest pass!
Thank @bobs4462
https://images.zenhubusercontent.com/309637937/f878c503-0fdb-4955-bb48-de20bdd05dd5/rpreplay_final1616557242.mp4

[2021-03-24 03:42] #41 closed

[2021-03-24 06:56] #282 closed

[2021-03-24 07:14] tlle14 opened #375 "Create Workspace > After created, the new workspace doesn't display on the member's workspace list"
# Precondition
UserA is an Administrator
UserB is a Company Owner

# Actual Result
When UserA creates WorkspaceA, invites UserB.
On UserB's Workspace list, WorkspaceA doesn't display.

![image](https://user-images.githubusercontent.com/69950655/112268939-4c750b00-8caa-11eb-8c54-b0782ac3259d.png)
![image](https://user-images.githubusercontent.com/69950655/112269005-657dbc00-8caa-11eb-965a-29d7495c9

[2021-03-24 09:21] bobs4462 commented on #368
@tlle14 I'm afraid on web it doesn't jump to top either, and it's not doable right now, because directs are sorted based on their last_activity field, which is set to zero on newly created directs (which means that last activity happened 50+ years ago :D)

We can ask @RomaricMourgues if it's possible to set last_activity field to direct_creation date by default.

[2021-03-24 09:32] bobs4462 commented on #375
@RomaricMourgues can you please tell, what is the websocket endpoint for listening to workspace related changes?
I think we should subscribe to that endpoint in order to monitor the changes in realtime

[2021-03-24 09:33] bobs4462 commented on #369
@tlle14 Can you run this test, again, neither me nor Pavel have been able to reproduce this issue...

[2021-03-24 10:10] RomaricMourgues commented on #375
I think it is better to avoid websocket here, and load from backend each time we open the side bar what do you think?

If you want the realtime endpoint here it is:
`workspace/:workspace-id` and `group/:group-id` and `workspaces_of_user/:user-id` they are all old websockets endpoints so the same as for channels messages feed.

[2021-03-24 10:14] tlle14 commented on #369
I can reproduce. But the loading screen keeps displaying forever.

[2021-03-24 10:22] tlle14 commented on #369
Well, it's not an issue when changing from QA address to the Production.

[2021-03-24 10:36] bobs4462 commented on #375
Agree with you, workspace creation is rare enough event, and is not worth to listen constantly. Okay, I'll discuss it with others, and we'll probably go with full reload, thanks :)

[2021-03-24 11:24] bobs4462 commented on #369
What kind of loading screen, the Twake logo or circular loader?

[2021-03-24 11:36] tlle14 commented on #369
The twake logo @bobs4462

[2021-03-24 11:44] #369 closed

[2021-03-24 11:44] tlle14 commented on #369
Retest a bit on production

[2021-03-24 11:50] RomaricMourgues commented on #368
There is two scenarios:
- For a newly created direct channel yes the last_activity should be set to creation date.
- For a direct channel already created but that was hidden I will not update the create date.
Doesn't it seems good for you ? :)

[2021-03-24 11:55] bobs4462 commented on #368
Yes, I think this solution is perfectly suitable :)

[2021-03-24 13:14] BenoitTallandier opened #376 "Add crisp support"
On Twake mobile, we use crisp to provide customer support.
We should implement as well on mobile.

Here the link you have to redirect user when want to talk with us :
https://go.crisp.chat/chat/embed/?website_id=9ef1628b-1730-4044-b779-72ca48893161&user_email=benoit@twakeapp.com

The documentation is here: [crisp.com](https://help.crisp.chat/en/article/how-can-i-embed-the-crisp-chatbox-in-an-exter

[2021-03-25 09:18] RockinPaul commented on #317
@tlle14  Unable to reproduce. It could be fixed during the Server Connection page logic rework. Please, check again.

[2021-03-25 14:27] RockinPaul commented on #339
Partially fixed, regarding UX advice for better representation of the current version. However, as mentioned above, we will completely redesign this page - so the task isn't actual anymore.

[2021-03-25 17:17] RockinPaul commented on #226
The task isn't actual anymore due to the upcoming redesign.

[2021-03-26 02:29] tlle14 commented on #339
okay, thạnks @BastiaanVanGaalen @RockinPaul

[2021-03-26 02:29] #339 closed

[2021-03-26 02:32] tlle14 commented on #226
I agree to @RockinPaul

[2021-03-26 02:32] #226 closed

[2021-03-26 03:24] tlle14 commented on #317
I should close this one.

[2021-03-26 03:24] #317 closed

[2021-03-26 07:22] bobs4462 commented on #376
@BastiaanVanGaalen can you please provide us with design of the screen, where we should put this link? I think you should include this in your new redesign

[2021-03-26 08:49] RockinPaul commented on #338
Hi @tlle14 ,

The search API implementation has an issue: https://github.com/linagora/Twake/issues/1070

So I propose to close this one for now because:
1) I can't resolve it from a client-side.
2) It has nothing to do with the current search logic implemented in the mobile application.

[2021-03-26 08:50] tlle14 commented on #338
Sure @RockinPaul
Thank you ;)

[2021-03-26 08:50] #338 closed

[2021-03-26 08:58] RockinPaul commented on #326
Hello @tlle14 !

This issue was reproduced again due to unexpected backend changes and the overall instability of our API. As for the morning of March 26, it should work fine even on the previous build.

[2021-03-26 09:05] RockinPaul commented on #368
Hi @tlle14 ,

The same reasons as for #326: unexpected backend changes and the overall instability of our API. As for the morning of March 26, it should work fine even on the previous build.
Regarding the order of freshly created directs: it should be fixed on the next backend update and has nothing to do with mobile client right now.

[2021-03-26 09:15] tlle14 commented on #326
@RomaricMourgues could you please take a look? This is a backend current issue.

[2021-03-26 09:22] RomaricMourgues commented on #326
The QA will be updated soon, we added a new feature: default channels, it caused the bug on channel creation.

[2021-03-26 09:59] tlle14 opened #378 "Cannot login when the user has not invited to any workspace"
# Precondition
User is added into the company
User has not invited to any workspace

# Actual Result
When user login on the mobile app, it displays a loading screen infinitely
https://user-images.githubusercontent.com/69950655/112614583-022f8d80-8e54-11eb-9bbe-743fef01d28d.mp4

# Expected Result
It should have a message for user to know he isn't added to any workspace.
As on web:
![image](https://

[2021-03-26 10:45] tlle14 opened #379 "The private channel name is not bold when it has a new action in the channel"
# Actual Result
When there has any new action in the private channel (example: send a message neither mention to anyone nor reply to a thread), the channel name is not displaying bold
![image](https://user-images.githubusercontent.com/69950655/112620401-10cd7300-8e5b-11eb-9429-d4ec670acf1b.png)

# Expected Result
It should display bold when having a new action in the channel

# Environment
iOS App

[2021-03-26 11:01] tlle14 opened #380 "Preview message in the channel becomes `no message yet` after pulling to refresh the app"
# Actual Result
When sending a message to a channel, it displays a preview message in the channel list.
After user pulling to refresh the app, the preview message becomes the text `No message yet` but the unread counter is still displaying
https://user-images.githubusercontent.com/69950655/112621932-e8df0f00-8e5c-11eb-8592-87c183208dee.mp4

# Expected Result
The preview message should stay after p

[2021-03-29 04:12] tlle14 opened #381 "Unread Counter > The unread counter appears after user back from the new message thread to the channel list"
# Precondition
Public channel
User is on the thread screen

# Actual result
When there is a new message in a thread, User read it then goes back to the channel list, the unread counter is still displaying

https://user-images.githubusercontent.com/69950655/112786059-9fbad500-907f-11eb-9bf7-135ff2c4b31f.mp4

# Expected Result
The unread counter shouldn't appear when the new message has been read

#

[2021-03-29 04:48] tlle14 opened #382 "Direct group doesn't automatically display on Mobile after created"
# Precondition
The group chat is created on the Web
Members are on the Mobile

# Actual Result
After the group chat is created:
1. Before sending any message, the group doesn't display on other member's direct lists.
2. After sending messages to the group, it still doesn't display on other member's direct lists on Mobile. User needs to pull to refresh the app to see it displays.
3. The unread coun

[2021-03-29 07:22] tlle14 opened #383 "Unread counter > Timestamps on the channels and directs list are lost"
# Actual Result
The Timestamp doesn't display anymore on the Channel list or direct list
![image](https://user-images.githubusercontent.com/69950655/112800464-e289a680-9099-11eb-9718-302dc029d47e.png)

# Expected Result
The timestamp should be displayed with the unread counter. Unless the design has been changed.
![image](https://user-images.githubusercontent.com/69950655/112799311-62af0c80-9098-1

[2021-03-29 07:22] tlle14 commented on #383
CC: @BastiaanVanGaalen
 hi, we need your opinion about how timestamps displaying with the unread counter on the direct list.

[2021-03-29 08:04] tlle14 opened #384 "Direct group order is changed after pulling to refresh app"
# Actual Result
When having a new message in a direct group, the direct group jumps on the top of the direct list.
But after pulling to refresh app, the direct group becomes unbold and changes its position in the list.

https://user-images.githubusercontent.com/69950655/112803220-41045400-909d-11eb-8098-89c8137a0681.mp4

# Expected Result
When having a new message, the direct group should be bold

[2021-03-29 08:31] BastiaanVanGaalen commented on #376
@bobs4462 I will add a cell on a "Profile screen", however i harbour strong doubts that it will be implemented in near future given Pavel's tight schedule.

[2021-03-29 08:47] bobs4462 commented on #383
Hi @tlle14 Is the issue reproducible on both prod and qa servers?

[2021-03-29 08:48] BastiaanVanGaalen commented on #376
@bobs4462 https://zpl.io/2GDDpAd

[2021-03-29 09:08] tlle14 opened #385 "Notification > Notification doesn't work on Mobile"
# Actual Result
There's no push notification for mobile app

# Expected result
Please fix the issue.
Notification should appear when mentioned or comment on a thread user relates to.

# Environment
Both ios and android app
Build version: 2.2.9-4

[2021-03-29 09:12] tlle14 commented on #383
Hi @bobs4462
The issue only happens on QA server. On Production it works fine

[2021-03-29 09:18] RomaricMourgues commented on #385
I thinks it is on us, I'm on it

[2021-03-29 09:21] RomaricMourgues commented on #385
@bobs4462 can you check if you are sending the device 'type' and 'value', and also on which route (/login or users/current/get or both)

[2021-03-29 09:27] RomaricMourgues commented on #385
It seems I don't get the device on the current/get endpoint:
[code]

I do receive it in /login but it will not work with console in this case (because for console we don't use this route)

[2021-03-29 09:31] RomaricMourgues commented on #385
I fixed this issue (soon on production), but the "/ajax/users/current/get" questions still persists :)

[2021-03-29 09:41] bobs4462 commented on #385
When we authenticate via internal mode we send this
[code]
to `/ajax/users/login`
Then we receive access token and make another POST request to `/ajax/users/current/get` using the token and body contains only timezoneoffset parameter

[2021-03-29 09:44] bobs4462 commented on #385
Well, when we use auth mode console, the workwflow is basically the same except that we authenticate by token which we receive from twake console, and not by password.

[2021-03-29 09:52] bobs4462 commented on #385
There's also a prolongation method on proxy, which uses the same `POST /ajax/users/login`, but with refresh token instead of access one, and the request body only contains
[code]

[2021-03-29 09:54] bobs4462 commented on #380
@tlle14 Do you only see this on QA server?

[2021-03-29 09:56] tlle14 opened #386 "A member cannot open the edit channel screen"
# Actual Result
A normal member taps to the channel name but cannot open the edit channel screen
https://user-images.githubusercontent.com/69950655/112820061-7154ee00-90af-11eb-8623-0505e0fcbe95.mp4

# Expected Result
A normal member should be able to open the edit channel screen.
Refer to this ticket to see the permission: https://github.com/linagora/Twake/issues/512

# Environment
Both Android a

[2021-03-29 10:03] tlle14 commented on #362
Hi @bobs4462
I reopen this issue for doesn't update the change of a parent message in the thread screen.
Please fix.
On iOS:
![image](https://user-images.githubusercontent.com/69950655/112821237-a4e44800-90b0-11eb-9472-ee55c83a6c64.png)

On Android
![image](https://user-images.githubusercontent.com/69950655/112821310-b7f71800-90b0-11eb-8d2d-61bf76331bf4.png)

[2021-03-29 10:07] bobs4462 commented on #383
@RomaricMourgues is this issue temporary? Currently we are getting all channels' last_activity property being set to zero on QA server...

[2021-03-29 10:22] RomaricMourgues commented on #385
So it is fine on your side, and my fix will come soon

[2021-03-29 10:23] RomaricMourgues commented on #383
I don’t know, we are using a old backup of prod may be this is related I will take a look

[2021-03-29 10:32] tlle14 opened #387 "As a guest, I am able to create a channel"
# Precondition
Invite a guest to the workspace
![image](https://user-images.githubusercontent.com/69950655/112823934-196cb600-90b4-11eb-8b03-6bec69f60ba6.png)

# Actual Result
In the workspace, a guest is able to create a channel
![image](https://user-images.githubusercontent.com/69950655/112824114-55a01680-90b4-11eb-811e-b58ae855b651.png)

# Expected Result
The Guest is not allowed to create a ch

[2021-03-29 10:53] tlle14 commented on #380
Hi @bobs4462 yes, only on QA server.

[2021-03-29 11:10] RomaricMourgues commented on #385
Our fix is on production (and on QA soon).
To have it working, don’t forget to login again.

[2021-03-29 11:44] bobs4462 commented on #380
@RomaricMourgues I checked it on QA server, and it seems that no matter how fresh the message is in the channel, the channel itself still doesn't update it's last_message field.

[2021-03-29 11:48] bobs4462 commented on #378
@tlle14 Can you please provide us with user test user (without workspaces) credentials and the server you are connecting to, so it'll be easier for us to debug the issue.

[2021-03-30 02:41] tlle14 commented on #378
sure, I sent it on Twake

[2021-03-30 03:59] tlle14 opened #388 "Add workspace button displays on Choose Company sidebar"
# Precondition
Login as Admin

# Actual Result
On the company list, the `Create Workspace` button is displaying on the top of the sidebar
https://user-images.githubusercontent.com/69950655/112931295-17533780-9146-11eb-8e85-993b691c9d5e.mp4

# Expected Result
The button shouldn't display on the company list.
It should display on Workspace list only.

# Environment
On both android and ios app
Build

[2021-03-30 09:27] tlle14 opened #389 "Able to search a guest in the workspace he does not belong to"
# Precondition
Guest is invited to the Worskpace1
Guest does not belong to Workspace2

# Actual Result
When a user of Workspace2 creates a channel, he is able to search for a Guest to add into the channel.
But the channel doesn't appear on the Guest's app.

https://user-images.githubusercontent.com/69950655/112966667-a414ea00-9174-11eb-9f0f-b77dad4d2a76.mp4

# Expected Result
The guest shouldn't b

[2021-03-30 11:49] bobs4462 commented on #380
@RomaricMourgues Anything here? It seems it's related to the event when QA got it's database from prod backup.

[2021-03-30 12:40] RomaricMourgues commented on #380
Thanks for the reminder, I just fixed the db, it should be right now :)

[2021-03-31 03:21] tlle14 opened #390 "A long channel name cannot display on a regular/small screen size"
# Actual Result
The channel name is too much cut on regular or small screen size.

**On 6.1 inches screen:**
![image](https://user-images.githubusercontent.com/69950655/113085680-7bd7ca80-920a-11eb-8d23-2a46ec36035a.png)
![image](https://user-images.githubusercontent.com/69950655/113085179-8a71b200-9209-11eb-8489-15cabc33f3b0.png)

**On 6.5 inches screen:**
![image](https://user-images.githubuserc

[2021-03-31 07:23] tlle14 opened #391 "Channel list > UI collapse when the preview message has multiple lines"
# Actual Result
When the newest message has multiple lines, its preview in the channel list makes UI collapse on Android and looks complex on iPhone.

On android
![image](https://user-images.githubusercontent.com/69950655/113105971-670c2e80-922c-11eb-8df6-627f18399dc3.png)

On iPhone
![image](https://user-images.githubusercontent.com/69950655/113106106-902cbf00-922c-11eb-93cc-4a826ea8f10c.png)

#

[2021-03-31 07:26] tlle14 opened #392 "Cannot load message in a channel"
# Actual Result
On Production, there is a channel that the app cannot load its chat history. See channel `FT-Mobile`

# Expected Result
The channel chat history should be fulfilled

# Environment
- Server: Production
- Both android and ios app
- Build version: 2.2.9-4

[2021-03-31 08:14] tlle14 opened #393 "Open a message link redirects to the web instead of a message in the app"
# Precondition
The link is a message in a channel

# Actual Result
When tap to open the link, it redirects to the corresponding message on Browser, not open the message in-app
https://user-images.githubusercontent.com/69950655/113111047-f536e380-9231-11eb-8fc7-19bfa2bf3c6d.mp4

# Expected Result
It should open the message in app

# Environment
- Server: Production
- Both Android and iOS app
- Buil

[2021-03-31 08:58] tlle14 opened #394 "Some accounts expose user ID when be mentioned"
# Actual Result
When be mentioned, some account exposes their user ID, some are not. Please investigate.
![image](https://user-images.githubusercontent.com/69950655/113118664-e18f7b00-9239-11eb-8889-2efaa06915a9.png)

# Expected Result
It shouldn't expose user ID

# Environment
- Server: Production
- Both ios and android app
- Build version: 2.2.9-4

[2021-04-01 09:12] tlle14 opened #395 "The text `Forgot Password` is broken into 2 lines after login failed"
# Actual Result
After login failed, the error message displays, it makes the text `forgot password` is broken into 2 lines.

**Before login**
![image](https://user-images.githubusercontent.com/69950655/113269543-c2a8eb80-9302-11eb-90e0-701e77fd33eb.png)

**After login**
![image](https://user-images.githubusercontent.com/69950655/113269682-e5d39b00-9302-11eb-9dd4-5c60b2f75f80.png)

# Expected Resul

[2021-04-01 10:21] tlle14 opened #396 "iOS > App crashed when open the web view on app"
# Actual Result
When opening the web view on App with complex behavior, kill the app then reopen, the app crashed.
Please see the below video:
https://user-images.githubusercontent.com/69950655/113278610-559a5380-930c-11eb-84d0-4a80b913f71d.mp4

# Steps
1. Open App > Login screen
2. Tap `Sign Up`
3. Tap `Privacy` on the bottom of Sign up screen
4. Scroll the privacy screen
5. Tap to chat icon Cris

[2021-04-01 10:49] bobs4462 commented on #396
Hi @tlle14 Is the issue reproducible on android too, or is it only iOS specific?

[2021-04-01 10:52] tlle14 opened #397 "`Contact us` link of the webview on Twake App doesn't work"
# Actual Result
When opening the Sign Up page, click on `Contact us` link, it doesn't work.
**Android**
https://user-images.githubusercontent.com/69950655/113282635-639ea300-9311-11eb-9f8a-aeab31f0c399.mp4

**iOS**
https://user-images.githubusercontent.com/69950655/113282789-9c3e7c80-9311-11eb-9f4c-5b40db8c654a.mp4

# Expected Result
It should open a mail app with a pre-filled supporter email.

#

[2021-04-01 11:05] tlle14 commented on #396
It seems only on iOS. For now, I still cannot reproduce on android.

[2021-04-01 18:47] bobs4462 commented on #381
I think the problem is related to bad availability of the service or bad internet connection. Anyway I added socketio (realtime) connection checks. Tell me if the problem persists.

[2021-04-02 02:40] tlle14 commented on #291
Good news guys! I cannot reproduce the issue on the newest build anymore: 2.2.9-5
Did you work on something relates to this? @RockinPaul @bobs4462

https://user-images.githubusercontent.com/69950655/113374448-5f1ccd80-9397-11eb-8108-16c0b67edfbf.mp4

[2021-04-02 02:40] #291 closed

[2021-04-02 03:15] tlle14 commented on #281
Hi @RockinPaul
Retest failed! When reopen the create channel form, add participant search form still displays old selected data.

Could you please check this video?
https://images.zenhubusercontent.com/309637937/aa7e666f-4018-403a-869b-8337b1ff2c44/videoda92417b_ee06_49f9_9b9d_16ef6598b747video.mp4

[2021-04-02 03:23] tlle14 commented on #335
Hi @RockinPaul
Retest failed!

The back button behavior is incorrect. When click on the Back button, it `should not` save the selection.
https://images.zenhubusercontent.com/309637937/c9d60a3c-82a0-41c9-98bb-c6940f936685/video9d818462_5cb9_49de_a9f2_ea3f7aa33310video.mp4

[2021-04-02 03:36] tlle14 commented on #334
Hi @RockinPaul
Retest failed!
Now the member record jumps to the top after selected, I'm not sure this is expected behavior.
Let's imagine how inconvenient when it  has a scroll

@BastiaanVanGaalen could you please tell us your opinion as a UX designer?

https://images.zenhubusercontent.com/309637937/4149f7b6-d7fa-4e2b-8456-9429ce755b3e/videoad83d03a_0257_4170_9f06_f32f0aa7ca47video.mp4

[2021-04-02 03:37] tlle14 commented on #251
Thank @RockinPaul
Retest pass!
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/ca2d853b-e7de-4c5f-a649-8d504237485d)

[2021-04-02 03:37] #251 closed

[2021-04-02 03:43] tlle14 commented on #365
Thank @bobs4462
Retest pass!

[2021-04-02 03:43] #365 closed

[2021-04-02 04:34] tlle14 commented on #375
Thank @bobs4462 and @RomaricMourgues
Retest pass!
The workspace after created will display on the member's list after pull to refresh the app or reopen the company
https://images.zenhubusercontent.com/309637937/3275488f-e422-4b27-b392-c682c5b8d3ef/videofd2e9cdc_6620_4629_ae61_3fb2396ccfeavideo.mp4

[2021-04-02 04:41] tlle14 commented on #326
On the build 2.2.9-5, a private channel is able to be created at the first try.
But the channel description is not saved when creating on mobile.
So retest failed!

@RomaricMourgues

[2021-04-02 04:43] tlle14 commented on #368
Thank @RockinPaul
Retest pass!

[2021-04-02 04:43] #368 closed

[2021-04-02 04:44] tlle14 commented on #380
Thank @RomaricMourgues and @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/29502920-fc9b-4f2e-8fe8-a0cd2518c7d5/video34aba820_2bbd_4482_ad7a_4655abb149f6video.mp4

[2021-04-02 04:44] #380 closed

[2021-04-02 07:26] tlle14 commented on #385
Hi @bobs4462
I saw push notification doesn't work on Android for the newest build. Could you please check?

[2021-04-02 07:29] tlle14 commented on #330
Retest is blocked by issue https://github.com/linagora/Twake-Mobile/issues/386

[2021-04-02 07:55] tlle14 commented on #381
Hi @bobs4462
I think the problem is not relating to server availability.
It happens when you are in the thread/ message screen that the new message is displaying. Then when you come back to the channel list, the unread counter is still displaying for the new-read message.
The unread counter doesn't disappear after you pull to refresh the app.

[2021-04-02 08:14] bobs4462 commented on #381
Oh, got it, I misunderstood the problem.

[2021-04-02 09:07] tlle14 opened #399 "User Feedback > Login > Keyboard auto-correction/ predection should be off when inputting the password"
# Precondition
Keyboard auto-correction is enabled

# Actual Result
In the login screen, when inputting a password, keyboard auto-correction is enabled. It might be a vulnerability when a keyboard app can learn the password to predict.

# Expected Result
The auto-correction on the keyboard should be disabled for the password field.

# Environment
Both android and ios app
Build version: 2.2.9-5

[2021-04-02 09:19] tlle14 opened #400 "User feedback > Channel emoji is not fit"
# Actual Result
The channel emoji is too large that overflow on the channel list screen.
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/423f21ff-752b-436b-8df7-40fb1e97e0f1)

# Expected Result
The channel icon should be fit

# Environment
- Device:Xiaomi Mi 5X - Android 8.1.0
- Build version: 2.2.9-5
- Server: Production

[2021-04-02 09:41] bobs4462 opened #401 "No messages when opening the channel"
When switching workspaces and opening channel, it shows no messages, though channel definitely has some messages. The issue seems spontaneous and not always reproducible.

[2021-04-02 11:10] fabienmoyon opened #402 "My writing message disappear when I receive a new message in a thread"
I tried the last mobile version, in a thread replies, I was writing a message and my message disappear when the someone post a new message in the thread!

IOS device

[2021-04-02 12:20] bobs4462 opened #403 "Rewrite twacode to Flutter widgets converter"
There's a need to rewrite Twacode to widgets converter, and remove markdown parsing and rendering of the message from the original text.

[2021-04-02 12:20] bobs4462 opened #404 "Rewrite twacode to Flutter widgets converter"
There's a need to rewrite Twacode to widgets converter, and remove markdown parsing and rendering of the message from the original text.

[2021-04-02 12:20] bobs4462 opened #405 "Rewrite twacode to Flutter widgets converter"
There's a need to rewrite Twacode to widgets converter, and remove markdown parsing and rendering of the message from the original text.

[2021-04-02 12:20] #404 closed

[2021-04-02 12:20] #403 closed

[2021-04-02 13:51] romanesko opened #406 "RND: Calendars merge"

[2021-04-02 13:52] romanesko opened #407 "RND: Calendars sharing to twake cal"

[2021-04-05 04:25] tlle14 opened #409 "App crashes when login on iOS"
# Actual Result
When log in, the app crashes
https://images.zenhubusercontent.com/271994210/3deaff6c-137d-4074-9b11-2099597f4c8b/rpreplay_final1617596160.mp4

# Expected Result
Please investigate
It should log in successfully on iOS

# Environment
- Device:
+ iPhone 7, iOS 13.3.1
+ iPhone XR, iOS 14.4
- Build version: 2.2.9-5

[2021-04-05 04:57] tlle14 opened #408 "Create Workspace > The Create Workspace screen isn't closed after creating a workspace successfully."
# Actual Result
When the user clicks on `Create` button to create a workspace, nothing happens, even the workspace is created successfully.
It is able to create multiple workspaces at a time.
https://user-images.githubusercontent.com/69950655/113538461-824cb480-9605-11eb-878a-bc6a78c768af.mp4

# Expected Result
When a workspace is created successfully:
- The creating screen should be closed
- It s

[2021-04-05 09:43] tlle14 opened #410 "Tapping a button multiple times opens multiple screens"
# Actual Result
When creating a direct chat, tapping multiple times to the record, multiple screens are opened.
It also happens when creating a workspace.
https://user-images.githubusercontent.com/69950655/113560400-24cc5e00-962d-11eb-8692-b15bb40fd167.mp4

# Expected Result
It should block the button after it is submitted.

# Environment
- Both iOS and Android App
- Build version: 2.2.9-5
- QA en

[2021-04-05 10:06] tlle14 opened #411 "Unable to create self-direct chat on Mobile"
# Actual Result
The user is unable to create a self-direct chat.
After selected his name, the app always opens the first chat in the direct list.

https://user-images.githubusercontent.com/69950655/113562948-29931100-9631-11eb-82e0-0b67015150eb.mp4

# Expected Result
Compatible with the Web version, user should be able to create a self-direct chat

# Environment
- Both iOS and Android App
- Build

[2021-04-05 11:02] tlle14 opened #412 "There is no informing to user about sending message's failed"
# Actual Result
Recently, there's a problem that unable to send a message. But the user doesn't know until he pulls to refresh the app then sees the sent messages are lost.

https://user-images.githubusercontent.com/69950655/113566826-a2956700-9637-11eb-8b78-7a599187b5ef.mp4

# Expected Result
There should be a sign for unsuccessfully sending messages.
The unsuccessfully-sending message better be

[2021-04-07 11:18] tlle14 opened #415 "Preview message reveals the deleted one"
# Actual Result
When a user posts a new message to the channel, it will display as a preview in the channel list.
After a user deletes that message, the preview is still staying

https://user-images.githubusercontent.com/69950655/113966983-4cecd480-985a-11eb-8089-7acc359ff531.mp4

# Expected Result
The preview shouldn't show the deleted message.
It should be the previous one or the title "The mess

[2021-04-08 03:21] tlle14 opened #419 "Message > Cannot display the message contains script on Mobile"
# Actual Result

On Web:
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/cd316acd-2e08-48b8-9894-7cab9916a13f)

On Mobile:
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/044e03e8-3177-4f83-86b7-62b940c982e5)

# Expected Result
Please find a way to display the scripts also avoiding XSS attacks.

# Environment
Both Android and iOS
Build version:

[2021-04-08 03:56] tlle14 opened #420 "Message > formatted message is not displaying well on Mobile"
# Actual Result
1. A quoted message is displaying as the highlighted

2. The iOS keyboard doesn't allow to input the grave accent `

3. A highlighted message is displaying less contrasting

![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/8804fa47-3570-4bda-ad51-547d3c434479)

# Expected Result
1. A quoted message should display obviously as a quote.
Like having a quote b

[2021-04-08 04:07] tlle14 commented on #392
Duplicate with https://github.com/linagora/Twake-Mobile/issues/401

[2021-04-08 04:07] #392 closed

[2021-04-08 08:00] tlle14 opened #421 "Notification > Triple push notifications when having a new direct message"
# Actual Result
On Production Server, this bug is quite random. When a user sends a direct message, it displays 3 notifications for a new message.
![image](https://user-images.githubusercontent.com/69950655/113990241-736f3780-987b-11eb-9e8c-47a24e9e1a67.png)

Sometimes push notifications aren't sent to the user.

# Expected Result
The push notification should work more stable. Each new message sho

[2021-04-08 08:35] RomaricMourgues commented on #421
Can you give me your user email for me to check you have only only token for your user ?

Also the other users emails in the direct channel.

(You can send it to me via Twake)

[2021-04-08 10:50] RomaricMourgues commented on #421
Is it happening everytime or just randomly ?

[2021-04-08 10:53] tlle14 commented on #421
Just randomly. It happens 2/3 times for me, with the user that I direct to for the first time.

[2021-04-08 10:54] RomaricMourgues commented on #421
Ok, interesting thanks

[2021-04-09 10:49] RockinPaul opened #433 "Extract name from 'text' field of lastMessage"
Right now we have:
lastMessage: {date: 1616168929000, text: Test Bot: Hi everyone}

We need something like that:
lastMessage: {date: 1616168929000, text: Hi everyone, name: Test Bot}

In order to comply with the new design:
![изображение.png](https://images.zenhubusercontent.com/5ffc24a2a62ff7cf134e10b3/4924f8fc-48f7-46cd-8557-e9f4207721b3)

[2021-04-09 11:11] bobs4462 opened #434 "Add application (bot) messages support in Mobile app"

[2021-04-09 11:35] RockinPaul opened #435 "Implement API for new design of Profile and Settings"

[2021-04-12 09:08] manhduc-nguyen commented on #359
@tlle14 is this ip7?

[2021-04-13 03:57] hantt12 opened #440 "Message preview overlaps other channel information if message content is long and includes URL"
As you can see from the screenshot, message preview of FT - LinID DM channel overlaps FT - Linshare and FT - Mobile channels

The message from LinID channel is long and inclues URL as below:
![1618286226027](https://user-images.githubusercontent.com/53081477/114494731-0bd43600-9c47-11eb-9334-5e56473322e1.JPEG)

![1618284625837](https://user-images.githubusercontent.com/53081477/114494451-a122fa80-

[2021-04-13 04:32] hantt12 opened #441 "Unable to see file attachment"
1. Send a message with file attachment on Twake web
2. Go to Twake app to view the above message

Expected result:
User is able to see the file attachment

Current behavior:
Unable to see attachment, just see the text

What we see on Twake web
![IMG_0169](https://user-images.githubusercontent.com/53081477/114497194-c403dd80-9c4b-11eb-95f7-02356db10246.png)

Twake mobile:
![1618288325374](https://u

[2021-04-13 19:26] bobs4462 commented on #228
We are moving away from markdown to stick with modified block based twacode, so I'm closing this issue, because it's not relevant anymore.

[2021-04-13 19:26] #228 closed

[2021-04-13 19:33] bobs4462 commented on #415
@RomaricMourgues, can I try to solve this issue myself, as I understand we need to add another subscription for the channels service, so that if the last message is deleted or modified, we update the last_message accordingly, correct me if I'm wrong.

[2021-04-13 20:11] RomaricMourgues commented on #415
You also need to verify if the message is the last one, if someone edit an old message in the history you must not update the last_message parameter.
I would be better to wait for the new message api because a lot of things are going to change:
https://github.com/linagora/Twake/pull/1101

[2021-04-14 02:50] tlle14 commented on #359
Yes, it is.

[2021-04-14 03:07] tlle14 commented on #440
Duplicate with https://github.com/linagora/Twake-Mobile/issues/391

[2021-04-14 03:07] #440 closed

[2021-04-14 03:08] tlle14 commented on #391
Also see https://github.com/linagora/Twake-Mobile/issues/440
Since we have many feedbacks from users about this issue, I should increase the priority of the issue.
Please fix it soon. @RockinPaul

[2021-04-14 03:24] manhduc-nguyen commented on #286
@tlle14 sr I think the video is broken. Can u re upload pls?

[2021-04-14 03:47] tlle14 commented on #286
I don't see this bug existing anymore.
I should close it.

[2021-04-14 04:39] tlle14 opened #447 "There should have an update between the new app and the old installed app"
# Precondition
- The old app is installed on the device by apk file
- The new app is on the Play Store

# Actual result
When open the Play Store, the app on Play Store displays as if it is updated to the newest version.
![image](https://user-images.githubusercontent.com/69950655/114654890-4efcda80-9d15-11eb-9377-97559b0a59c5.png)

# Expected Result
The app on Playstore is newer, it should display

[2021-04-14 04:57] tlle14 opened #448 "User feedback > When entering the app, it should have a screen for choosing Company/Workspace instead of visiting the random place."
# Actual Result
User Feedback:
[code]

# Expected Result
Please discuss with our UX Designer, BA and PO if we need to improve as the user suggestion.

# Environment
Android App on Play Store
Build version: 2.2.9-5

[2021-04-14 06:41] tlle14 commented on #448
@PokoinikRWS @BastiaanVanGaalen please take a look

[2021-04-14 06:43] bobs4462 commented on #415
Ok, then let's wait for the complete merge of the new messaging API, and then we'll go through this issue once more. For now I'll postpone it.

[2021-04-14 07:10] tlle14 opened #449 "User Feedback > Pre-loading system or local-cache for the app when switch between companies or workspaces"
# Actual Result
User feedback:
[code]

# Expected Result
Please have a look at this. The loading time should be reduced
The local cache might cause an issue relates to login:
https://github.com/linagora/Twake-Mobile/issues/291
https://github.com/linagora/Twake-Mobile/issues/252

# Environment
Android App on Play Store
Build version: 2.2.9-5

[2021-04-14 07:11] tlle14 commented on #449
@bobs4462 @PokoinikRWS @RockinPaul @manhduc-nguyen

[2021-04-14 08:18] tlle14 opened #450 "User Feedback > The app should have mark as read/unread"
# Actual Result
User feedback:
[code]

# Expected Result
Please discuss if we should have "Mark all as read/unread" as on the Web version in the next release.

![image](https://user-images.githubusercontent.com/69950655/114676921-fc7ee680-9d33-11eb-8b72-8d57e4faf139.png)

[2021-04-14 10:13] bobs4462 commented on #259
@RomaricMourgues when we make a request to
`/ajax/drive/v2/find/`

We only get a preview link (if one is generated). But how to get a download link?

[2021-04-14 10:28] manhduc-nguyen commented on #358
@tlle14 as confirmed, only when pressing plus on the left should add to the list is common behavior, so I will only fix to avoid adding blank row

[2021-04-14 10:33] RomaricMourgues commented on #259
`/ajax/drive/download?workspace_id=481a1a78-4747-11e9-8710-0242ac120005&element_id=d4e6a2c0-6f6b-11eb-8a9f-0242ac110003&download=1`

[2021-04-14 10:56] tlle14 opened #452 "Message > The link from Mobile App isn't highlighted on the Web version"
# Precondition
On the mobile app, post a link to the channel
![image](https://user-images.githubusercontent.com/69950655/114699567-abc6b800-9d4a-11eb-8764-1d91bbf3f80a.png)

# Actual Result
On the Web, the link is displaying not highlighted (unclickable)
![image](https://user-images.githubusercontent.com/69950655/114698229-0fe87c80-9d49-11eb-8799-5347cd6e5047.png)

# Expected Result
The link on We

[2021-04-14 12:57] bobs4462 commented on #420
@tlle14 Hi, regarding the second point, are you sure there's no way to access backtick (backquote | grave accent) from iOS keyboard?
https://apple.stackexchange.com/questions/1808/is-there-a-backquote-on-the-iphone-keyboard - can you try to follow instructions from this post

[2021-04-14 15:14] tlle14 commented on #420
Thank @bobs4462 But a low-tech user cannot do. If you can fix, kindly make it always available for user.

[2021-04-14 15:24] bobs4462 commented on #420
I don't really think that's up to us, Apple designed this keyboard...
I'll ask Pavel to think of solution, but most likely there's none.

[2021-04-14 17:36] bobs4462 commented on #288
@tlle14 I checked it again, if you can receive mentions (or thread based) notifications in public channels, you should be able to get the same notifications in private and direct channels

[2021-04-14 17:45] bobs4462 commented on #297
I can confirm that now we can use the same host url as for the web version.

Available servers:
https://chat.twake.app - for old users
https://beta.twake.app - for new users
https://web.qa.twake.app - for QA only

[2021-04-14 17:50] bobs4462 commented on #361
@manhduc-nguyen I can see that jump to latest message has been fixed, but now it jumps to other places, also when sending the message, the list scrolls up to the older messages instead of showing the newly sent message

[2021-04-14 18:41] bobs4462 commented on #434
FT - Twake channel should now render properly

[2021-04-14 18:45] bobs4462 commented on #384
@tlle14 Are still able to reproduce this issue?

[2021-04-14 18:46] bobs4462 commented on #383
Is this still reproducible?

[2021-04-15 02:50] tlle14 commented on #367
Retest pass!
Thank @manhduc-nguyen
![image](https://user-images.githubusercontent.com/69950655/114806941-bd9e6e80-9dcf-11eb-9f22-41b03cfe4a22.png)

[2021-04-15 02:50] #367 closed

[2021-04-15 03:39] tlle14 commented on #383
Thank guys,
no more issue on the newest version
![image](https://user-images.githubusercontent.com/69950655/114810732-e413d800-9dd6-11eb-9d39-96c8a112fdfb.png)

[2021-04-15 03:39] #383 closed

[2021-04-15 03:46] tlle14 commented on #384
Retest pass!
Thank @RockinPaul and @bobs4462

https://user-images.githubusercontent.com/69950655/114811146-c5faa780-9dd7-11eb-82e0-62699eae18eb.mp4

[2021-04-15 03:59] tlle14 commented on #288
Hi @bobs4462 I retested this issue and here is the result:

**Context:** The user is in a different channel. The new messages is posted in another private channel.
**Result:**
1. When having a new message in the related thread, the notification comes late (after 2 mins)
2. When mentioning the user, no notification.

It seems the push notification is not stable. I don't think it works normally.

[2021-04-15 04:04] tlle14 commented on #452
Thank @bobs4462 for the quick action.
Retest pass!
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/f7aa118f-bad5-4de3-8ebf-c58f5cc2a964)

[2021-04-15 04:04] #452 closed

[2021-04-15 04:27] tlle14 opened #453 "Message > It jumps to above when deleting a message"
# Actual Result
When deleting a message in a channel, it jumps to the previous messages.

https://user-images.githubusercontent.com/69950655/114813386-360b2c80-9ddc-11eb-99b4-b1373c16ee04.mp4

# Expected Result
When deleting a message, it should stay at the same place.

# Environment
Android App
Build version: 2.2.9-6

[2021-04-15 04:55] tlle14 commented on #142
Thank @bobs4462
Retest pass!
However, could you please make it more contrasting and modern as on the web?

**Mobile:**
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/2f25fc8d-73c0-4e36-b7d6-557ca1cd5fe7)

**Web:**
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/d055e16f-4978-453b-ab07-f1fc852b2a82)

[2021-04-15 06:19] bobs4462 commented on #142
@BastiaanVanGaalen Can you suggest a visual look for this type of twacode elements?

[2021-04-15 07:55] tlle14 opened #455 "When change the server address, the app keeps loading when the user opens it"
# Precondition
- The user has already logged in to the app
- The server address was: <server_address_1>

# Actual Result
When the server address is changed to <server_address_2>, the user opens the app but it keeps loading. User cannot enter to the app.

# Expected Result
It should force the user to logout from the app instead of keep loading app when it has an invalid server

# Environment
Androi

[2021-04-15 08:02] tlle14 commented on #306
Thank @bobs4462
Retest pass!
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/3911a453-01f2-46f5-8d9f-62b2355d4183)

[2021-04-15 08:02] #306 closed

[2021-04-15 08:04] tlle14 commented on #434
How can I test this ticket? @bobs4462

[2021-04-15 08:28] tlle14 commented on #91
Hi @bobs4462
It is temporarily fixed by displaying # before the text.
But the hashtag channel which is clickable exposes the channel_ID.

On web:
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/186c15bd-1069-4532-b943-ce106c8f2469)

On Mobile:
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/07b160a2-31ea-4c6f-bb75-a99fc544d340)

Expected result

[2021-04-15 08:37] tlle14 commented on #98
Thank @bobs4462
**Retest pass with a single quote, italic, and underline.**
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/c16bdc7f-2c5f-4e7a-a269-cb1b71d2606d)

**It fails with a multiline quote.**
On Mobile:
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/575d76db-ccdb-4413-9151-e0fe737e0715)

On Web:
![image.png](https://images.zenhubuserco

[2021-04-15 08:50] tlle14 commented on #394
Thank @bobs4462
Retest pass!

[2021-04-15 08:50] #394 closed

[2021-04-15 09:19] tlle14 opened #458 "Edit channel > Search member function doesn't work"
# Actual Result
When searching for a member to add to the channel, it doesn't return any result.
https://user-images.githubusercontent.com/69950655/114845751-37514f00-9e06-11eb-8db8-ddc59ab0db90.mp4

# Expected Result
It should return the matching result when searching for members to add to the channel

# Environment
Android App
Build version: 2.2.9-6

[2021-04-15 09:29] bobs4462 commented on #434
Any channel with bot messages (gitlab, n8n) should now render all messages, both from users and from bots alike.

[2021-04-15 09:32] bobs4462 commented on #98
How do you make multiline quote on web?

[2021-04-15 09:39] bobs4462 commented on #455
Hi @tlle14, do you mean the server change from mobile.twake.app to chat.twake.app for example?
If so, such a thing should not really happen. We did it once to integrate proxy into main twake api.

[2021-04-15 09:49] tlle14 commented on #347
Thank @bobs4462 @RockinPaul
Retest pass!

- When Admin creates a channel:
+ Delete button is enabled on the Admin account
+ Delete button is hidden on a normal user account

- When a normal user creates a channel:
+ Delete button is enabled on the Creator account, Admin Account
+ Delete button is hidden on another normal account

[2021-04-15 09:49] #347 closed

[2021-04-15 09:50] tlle14 commented on #386
Retest pass!
Thank @RockinPaul

[2021-04-15 09:51] #386 closed

[2021-04-15 10:13] tlle14 commented on #98
@bobs4462 hi, here you go

![image](https://user-images.githubusercontent.com/69950655/114853353-e6455900-9e0d-11eb-8a55-0a10ac9cd938.png)

[2021-04-15 10:14] tlle14 commented on #455
You mean it will never happen on production?

[2021-04-15 10:27] tlle14 commented on #434
I got it. Thank @bobs4462
The links in the bot-message are not highlighted. could you please check their format?
![image](https://user-images.githubusercontent.com/69950655/114855113-c6169980-9e0f-11eb-8a41-31a35b4e5566.png)

[2021-04-15 10:31] tlle14 commented on #420
I checked the other app, they are the same as ours.
Thank @bobs4462 for your explanation. This is not a bug

[2021-04-15 10:31] #420 closed

[2021-04-15 10:33] tlle14 commented on #297
Hi @bobs4462
Please explain what is the new user in this context?

[2021-04-15 10:57] bobs4462 commented on #455
Well, it's hard to say that it will never never happen, but it's the same as if facebook decided to change their host. It might happen, but the chances are, that it won't. And if it does in production, we'll know about it way ahead of time, and will prepare the application before that happens.

[2021-04-15 10:59] bobs4462 commented on #434
Yes, I noticed that too. Messages from bots are tricky, as they don't conform to the format used by ordinary users. I'll work on correct formatting in another ticket (#405).

[2021-04-15 11:01] bobs4462 commented on #297
it's those who have registered their account after 9th of January 2021 from beta.twake.app domain.
![image](https://user-images.githubusercontent.com/31780624/114859166-0b789e00-9df3-11eb-997a-54d8239593ef.png)

[2021-04-15 11:20] tlle14 commented on #401
Hi @bobs4462
I got a problem when opening a channel on production. It displays a grey screen
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/238bdd55-34c2-4792-a3c7-dca80b7bf22d)

This issue may relate to bot-message from Github. Please check.

[2021-04-15 11:23] tlle14 commented on #405
@tlle14 should retest https://github.com/linagora/Twake-Mobile/issues/434 when this ticket is done

[2021-04-15 11:23] tlle14 commented on #434
Thank @bobs4462
I should close this one.

[2021-04-15 11:23] #434 closed

[2021-04-15 11:57] bobs4462 commented on #401
Can you please add me to this channel, so I can investigate what might be going wrong in there

[2021-04-15 15:34] chamerling commented on #405
@RomaricMourgues take a look at this, is it relevant with the next message API coming in the next weeks?

[2021-04-15 15:51] RomaricMourgues commented on #405
@bobs4462 is is compliant with the next blocks format we discussed some weeks ago ?
https://www.notion.so/twake/Twake-Blocks-WIP-b09b4a57ee034964872a37c022cc2ff5
https://api.slack.com/block-kit

And our current implementation:
https://github.com/linagora/Twake/blob/e555f7f0453229523c31a9354a66d6a2e14711a0/twake/backend/node/src/services/messages/blocks-types.ts

[2021-04-15 18:01] bobs4462 commented on #405
No Romaric, currently what we did is quick and dirty implementation to render whatever is stored with old twacode (currently it's 99.99% of the data), i.e. {start: xxxx, content: xxxx, end: xxxx} or type (mquote, bold, user, channel, url, etc) object syntax.

It's really hard to work on new block based renderer when it's not yet implemented anywhere, and most of the existing messages are stored us

[2021-04-15 19:44] RomaricMourgues commented on #405
Keep simple quick and dirty implementation until we put our update in production.

I’ve not decided yet if we are going to migrate the data to new format or not, I think partially yes.

Anyway, even with the new format, you must be able to parse simple markdown (quote, strikethrough, bold, italic, underlined, ":emojis:" and links). Everything else will be in blocks.

[2021-04-16 02:59] tlle14 commented on #399
Hi @manhduc-nguyen
Retest fails!
When inputting a password,  it exposes my password on the prediction header of the Samsung keyboard

https://images.zenhubusercontent.com/309637937/f1d53c2f-b7a4-41d9-bdc9-4d290222a9e6/video96bcc6b1_6ee1_4c78_8e90_c7dcf329bbfdvideo.mp4

[2021-04-16 03:03] tlle14 commented on #395
Thank @manhduc-nguyen
Retest pass!
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/0313aaf8-fa7a-4c70-a7ce-a97d94276b5b)

[2021-04-16 03:03] #395 closed

[2021-04-16 03:16] tlle14 commented on #408
Thank @manhduc-nguyen
Retest pass!

- After created, the creating workspace screen is closed and appear the channel list of a new workspace: checked
- Avoiding able to click `Create` button multiple times: checked
https://images.zenhubusercontent.com/309637937/c01f1234-5bb7-409d-805c-9e0e1df70c2c/video2b16292f_6c7e_4c45_bbaa_31bf3dee55f3video.mp4

[2021-04-16 03:16] #408 closed

[2021-04-16 03:28] tlle14 commented on #325
Thank @manhduc-nguyen
Retest pass!
https://images.zenhubusercontent.com/309637937/7bb7e76e-a277-48a7-a9e0-6da99989c394/video66762774_d2dc_4f97_b475_789ea92561c6video.mp4

[2021-04-16 03:28] #325 closed

[2021-04-16 03:31] tlle14 commented on #410
Blocked by issue https://github.com/linagora/Twake-Mobile/issues/458

[2021-04-16 04:24] tlle14 opened #460 "It allows to create a duplicated channel name and privacy but the duplicated channel doesn't show."
# Precondition
The channel named "Fish" is created

# Actual Result
When creating another channel with the same name and privacy, it is able to create successfully. But the new channel doesn't appear in the channel list.

https://user-images.githubusercontent.com/69950655/114971300-4091f880-9ea6-11eb-9464-e6b68ea6a7dc.mp4

# Expected Result
I checked with the Web version, it is able to create a ch

[2021-04-16 04:33] tlle14 commented on #360
Thank @manhduc-nguyen
Retest pass!
https://images.zenhubusercontent.com/309637937/8bc28d72-5814-4616-98eb-e4bb6edfe6df/videoba63c9e1_2c6c_42c3_8e67_c88d331f8949video.mp4

[2021-04-16 04:37] tlle14 commented on #297
Thank @bobs4462
But it's complicated with users.
On production, next time, we won't have too many servers like this, am I correct?

[2021-04-16 04:40] tlle14 commented on #52
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/50afeea9-ad21-4bb1-a9a8-7dbce53b5a9d/videoa235b138_9395_4d52_a13b_9d5ec6e5a5d4video.mp4

[2021-04-16 04:40] #52 closed

[2021-04-16 04:41] tlle14 commented on #453
It also happens when posting a message

[2021-04-16 07:05] tlle14 commented on #330
Thank @RockinPaul
Retest pass!
By the way, we have a small issue, I will create another ticket for easier to track.

https://images.zenhubusercontent.com/309637937/8ec7fba8-d01a-46ac-a2d7-5c03594f5a43/video17774bd6_8b5e_4d32_b9ea_b8aeda609354video.mp4

[2021-04-16 07:05] #330 closed

[2021-04-16 07:26] tlle14 opened #461 "Edit Channel > After modified a new channel, it opens the updated channel without the text "No messages yet""
# Precondition
The channel has no messages yet

# Actual Result
After saving the change, it displays the updated channel without the text "No messages yet"
https://images.zenhubusercontent.com/309637937/e70d7105-9cb5-4140-a9df-0bcd8c4e3c4c/video70e5e68c_99f4_413e_aece_66647f554fecvideo.mp4

# Expected Result
The text "No messages yet" for a new channel should display after the channel details has

[2021-04-16 07:49] bobs4462 commented on #297
Well, I think chat.twake.app and beta.twake.app will be merged together I think, so we should have just one production SaaS server.

[2021-04-16 07:52] tlle14 commented on #297
I feel relieved to know that. Thank @bobs4462
I should close this issue

[2021-04-16 07:52] #297 closed

[2021-04-16 08:00] RockinPaul commented on #391
Makes no sense due to the full redesign of this page.

[2021-04-16 08:02] RockinPaul commented on #400
Not actual anymore due to the full redesign of this UI.

[2021-04-16 08:02] #400 closed

[2021-04-16 08:03] RockinPaul commented on #390
Isn't actual anymore due to the full redesign of this UI.

[2021-04-16 08:03] #390 closed

[2021-04-16 08:04] RockinPaul commented on #379
Isn't actual anymore due to the full redesign of this UI.

[2021-04-16 08:04] #379 closed

[2021-04-16 08:08] RockinPaul commented on #391
@tlle14 it won't be fixed in the current design anyway, take it easy :)

[2021-04-16 08:10] tlle14 commented on #391
Thank @RockinPaul for your confirmation. This should be closed.

[2021-04-16 08:10] #391 closed

[2021-04-16 08:11] bobs4462 commented on #419
@tlle14, what's the issue here? I believe it's now possible to render such a content, or am I missing something?

[2021-04-16 08:18] RockinPaul commented on #388
Has nothing to do with the new design, where we got rid of the side menu at all. The future destiny of choosing a company will be discussed with @BastiaanVanGaalen

[2021-04-16 08:18] #388 closed

[2021-04-16 08:27] BastiaanVanGaalen commented on #142
@bobs4462 Would you be so kind to clarify what methods can we implement with text like cut/copy/paste/bold/italics/underline.
@tlle14  Highlight seems like making it look higher in contrast, should we use "boldness" for this purposes since coloured text interferes with clickable text....i don't think it's a proper way of presenting the same coloured text for highlight and at the same time for link

[2021-04-16 08:32] tlle14 commented on #419
I retested this issue. It's no longer appear
![image](https://user-images.githubusercontent.com/69950655/114996276-df2f5100-9ec8-11eb-956a-bf7ac1be9c98.png)

[2021-04-16 08:32] #419 closed

[2021-04-16 08:55] tlle14 commented on #362
Hi @bobs4462
Retest fails!
It's funny that after the change, other devices update the change instantly. But on the current device, it doesn't show the updated message.
The User needs to pull to refresh the app to see the newest state.

Please fix this issue. Or tell me if you need a separate ticket.
https://images.zenhubusercontent.com/309637937/5b834ecc-551a-4c29-b161-5766a86e624f/video3821de53_1

[2021-04-16 09:14] bobs4462 commented on #142
The text can be formatted with classical markdown styles i.e.
Bold - **\*\*BOLD\*\***
Underline - \_\_UNDERLINE\_\_
Italic - _\_ITALIC_\_
StrikeThrough - ~~\~\~STRIKETHROUGH\~\~~~
Inline code - text with `code` inlined
Code snippets:
[code]
Quotes:

Also:

Mentions - @username
Channels - #channel
Urls - https://www.rfc.com

That's all for now. But the list will be extended in near future.

[2021-04-16 09:15] bobs4462 commented on #142
Btw, you can play around with those styles in twake web to see how it renders there

[2021-04-16 09:32] tlle14 commented on #48
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/cd53cad7-2b77-4116-bad0-bfc568f2c330/videof37b7b6d_cff5_464b_94cf_5d302f333bc1video.mp4

[2021-04-16 09:32] #48 closed

[2021-04-16 09:40] tlle14 commented on #381
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/429eb4ae-f306-4583-8966-cb269ebb7955/rpreplay_final1618565973.mp4

[2021-04-16 09:40] #381 closed

[2021-04-16 10:03] tlle14 commented on #334
Retest is blocked by https://github.com/linagora/Twake-Mobile/issues/458

[2021-04-16 10:11] tlle14 commented on #335
Retest is blocked by https://github.com/linagora/Twake-Mobile/issues/458

[2021-04-16 11:04] tlle14 opened #466 "Adding member button is not obvious to the user"
# Actual Result
The (+) button to add a member to the inviting list is always be mistook with the button to add a new line.
The user may put the last member then forget to submit.
![image](https://user-images.githubusercontent.com/69950655/115012624-41448200-9eda-11eb-8777-7a99f65382ed.png)

It causes the issue: https://app.zenhub.com/workspaces/twakemobile-5fa5101d98879700119ccea9/issues/linagora

[2021-04-19 03:26] tlle14 opened #468 "Password Recovery screen > The keyboard always capitalize the first letter in the Email text field"
# Acutal Result
When tapping on the Email text field, the keyboard displays with capitalizing mode as a default
![image](https://user-images.githubusercontent.com/69950655/115180207-46364b00-a0ff-11eb-8035-ade5bf18cc0e.png)

# Expected Result
The keyboard should display without capitalizing the first letter.

# Environment
Android App
Build version: 2.2.9-6

[2021-04-19 04:05] tlle14 opened #469 "The internet connection banner hides action buttons"
# Actual result
When opening adding member screen/ create a direct channel screen without an internet connection, the warning banner displaying hides the action buttons
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/ebc3b2f3-ef6d-4f65-b39b-d10bf6fb70c0)

# Expected Result
The banner shouldn't hide the action buttons

# Environment
Android app
Build version: 2.2.9-6
QA e

[2021-04-19 07:13] tlle14 opened #470 "Workspace order on iOS is different with on Android/Web"
# Actual Result
On iOS, the workspace list has an order different from the Android version and Web version

**On iOS:**
![image](https://user-images.githubusercontent.com/69950655/115194577-d7b1b700-a117-11eb-827d-5f978eee1786.png)

**On Android**
![image](https://user-images.githubusercontent.com/69950655/115195675-3b88af80-a119-11eb-845f-1442d26f2a9b.png)

**On Web**
![image](https://user-images

[2021-04-19 07:35] bobs4462 commented on #142
@BastiaanVanGaalen any progress on this one? We should also take into account the fact that those formatting styles can appear in both user's messages and others' messages, both of which have distinct background/foreground colors.

[2021-04-19 07:59] tlle14 commented on #286
Sorry @manhduc-nguyen
I can reproduce the issue. Please see the attached video

https://user-images.githubusercontent.com/69950655/115201640-c10f5e00-a11f-11eb-8662-2f2cfb7e690b.mp4

[2021-04-19 08:44] tlle14 opened #472 "Create Workspace > The invited list stays on the form after created a new workspace"
# Precondition
Create a workspace and invite some people

# Actual Result
When open the create workspace form again, the invite member screen still keeps the old data.
https://user-images.githubusercontent.com/69950655/115198546-5f012980-a11c-11eb-97f4-0e5b4dc57ad5.mp4

# Expected result
Data on the creation form should be cleared after created successfully

# Environment
Both Android and iOS app

[2021-04-19 08:55] tlle14 opened #474 "Create Workspace > Back button works incorrectly in Adding Member screen"
# Actual Result
The `Back` button is able to save the change in Adding Member screen
https://user-images.githubusercontent.com/69950655/115208734-1602a280-a127-11eb-93a5-61c20d5e1f1b.mp4

# Expected Result
After tapping the `Back`button, it shouldn't save the change in Adding Member screen

# Reproduce
1. Open Add Workspace screen
2. Open Add member screen
3. Input the member list
4. Tap on the Ba

[2021-04-19 09:05] bobs4462 commented on #91
I've removed channel IDs when rendering real channels. As for the click-ability of the channel names in channel mentions, we don't yet implement mention based navigation (for users, channels or message links). In order to do that we need a stable API, and as far as I know, the message format is undergoing a heavy development phase right now.

[2021-04-19 10:09] bobs4462 commented on #449
We tried to cache everything at first, but then there's an issue of syncing all the new events that we missed (like workspace or channel addition/editing/deletion), so we need to sync all the data just in case if other sync mechanisms failed.
I agree that it very negatively affects user experience, but before we have a reliable (100 % cases) way to sync all the changes between clients, we cannot u

[2021-04-19 10:36] manhduc-nguyen commented on #468
@tlle14  The screen is a webview. I took a research, I don't think we can change this behavior.

[2021-04-19 10:42] tlle14 commented on #449
Thank @bobs4462

[2021-04-19 10:48] tlle14 commented on #468
I asked Console DEV team. I hope they can help.
Thank @manhduc-nguyen

[2021-04-19 10:49] tlle14 commented on #468
emeral

[2021-04-19 10:49] #468 closed

[2021-04-19 11:02] tlle14 commented on #91
Okay, thank @bobs4462
Let remove the IDs first ;)

[2021-04-19 14:26] romanesko commented on #447
And how we are supposed to do this? It's a play store behaviour

[2021-04-19 14:47] bobs4462 commented on #378
Hi @tlle14, we talked to @BenoitTallandier and according to him, now it should be impossible to create a user without workspace, because upon creation any user will be added to the default workspace automatically. I checked it on beta.twake.app, and can confirm that's indeed the observed behavior, i.e. new user is added to default workspace but not to any channel.

Can I ask you to check this agai

[2021-04-19 15:02] bobs4462 commented on #441
@BastiaanVanGaalen can you provide us with design of how attached files should look like when combined with text. Currently we only have mocks for the single files (without text). Also it'd be nice to have a look of it, when it's sent by the user himself and by the others.

[2021-04-19 15:03] bobs4462 commented on #296
@romanesko if you don't think that this issue is relevant anymore, please close it.

[2021-04-19 15:21] bobs4462 commented on #382
@RomaricMourgues Hi, can you help us out here, can we receive updates about new direct chat creation via sockeio? If yes, what is the resource address that we should listen to?
Thanks.

[2021-04-19 15:37] RomaricMourgues commented on #382
1. It is expected
2. So for the realtime, like for other collection, you get the endpoint to listen to in the GET request used for direct channels
3. This is a bug from us, an issue exists on our side, please ignore it on Mobile it will be fixed someday :)

[2021-04-19 15:50] bobs4462 commented on #382
Ok, got it. About the second point though...
[code]
We are currently requesting direct channels via the above given method, which doesn't provide the endpoint to listen to, are using the wrong method?

[2021-04-19 15:57] RomaricMourgues commented on #382
To get the weboskcets information you need to add the ?websockets=1 query parameter ;)

https://web.twake.app/internal/services/channels/v1/companies/:company_id/workspaces/direct/channels?websockets=1

[2021-04-19 16:02] bobs4462 commented on #382
Missed that one :). Thanks :+1:

[2021-04-19 21:21] #296 closed

[2021-04-20 02:57] tlle14 commented on #447
Okay, thank @romanesko
This is not an issue.

[2021-04-20 02:57] #447 closed

[2021-04-20 04:50] tlle14 opened #475 "When open an unread messages list, it doesn't focus on the first unread message"
# Precondition
A direct chat has about 25 unread messages (unread counter is 25)

# Actual Result
When opening the direct chat, it focuses on the unread message 18, instead of the unread message 1
https://user-images.githubusercontent.com/69950655/115339043-39ccf380-a1ce-11eb-900a-d02f0f316f4a.mp4

# Expected Result
When opened, the channel/direct screen should focus on the first unread message

#

[2021-04-20 08:30] tlle14 opened #477 "Message > After edited, the message doesn't display the change"
# Actual Result
After edited, the message doesn't display the change.
User needs to pull to refresh the app to see the newest update.

https://user-images.githubusercontent.com/69950655/115363824-ff268380-a1ec-11eb-9811-9856e8b6bf3a.mp4

# Expected Result
After editing, the message should show the update.

# Environment
Both Android and iOS app
Build version: 2.2.9-6
QA environment

[2021-04-20 08:49] romanesko commented on #458
api response format was changed

fixed

[2021-04-20 09:03] tlle14 opened #478 "Message > After edited, the mentioned message exposes userID"
# Precondition
A message has the mentioning text

# Actual Result
On mobile, after editing the message, the mentioning text exposes the userID
https://user-images.githubusercontent.com/69950655/115369047-e7053300-a1f1-11eb-8b20-f068fd23bf6e.mp4

# Expected Result
The mentioning text shouldn't expose the userID after edited.

# Environment
Both android and iOS app
Build version: 2.2.9-6
QA environm

[2021-04-20 09:04] tlle14 commented on #478
This issue is minor because it may relates to mention feature that we are not implementing yet

[2021-04-20 09:53] tlle14 commented on #98
Hi @bobs4462 by mistake, I closed this issue. Now I have to reopen, please continue your work.

[2021-04-20 11:01] tlle14 opened #479 "Message > After edited, the twacode text doesn't display correctly"
# Precondition
A message contains twacode

# Actual Result
After editing, the updated message doesn't display in the format of twacode.

https://user-images.githubusercontent.com/69950655/115648756-3792a280-a350-11eb-83f1-d6668b118b72.mp4

# Expected Result
The message should keep displaying the twacode format after edited

# Environment
Both android and ios app
Build version: 2.2.9-6
QA environme

[2021-04-20 11:28] bobs4462 commented on #479
@tlle14 Can you please provide us with examples, so we can reproduce the issue locally?

[2021-04-20 12:58] BenoitTallandier opened #480 "Add analytics"
We need to integrate [Segment](https://segment.com) (our analytic hub).

### Package
There is no official package for now. But I found this : https://pub.dev/packages/flutter_segment that can be used.

### Analyse
We have to identify user with their console ID when they open the app.

[2021-04-20 13:07] bobs4462 commented on #480
Hi @BenoitTallandier, do you mean we just need to send statistics every time the app is opened?

[2021-04-20 13:15] BenoitTallandier commented on #480
Yes, the rest we'll be handle by the server :)

[2021-04-21 07:17] bobs4462 commented on #378
@tlle14 ping :)

[2021-04-21 10:23] EvGen94 commented on #359
Done

[2021-04-21 10:38] bobs4462 opened #482 "Rewrite handling of the user input when sending messages in order to account for twacode elements"
Currently when user types in the message to send from mobile application, the input string is passed to TwacodeParser as is, for example:

[code]
Such a message should be parsed into the following structure
[code]

The issue we are facing is the user_id part, which is not present in the original string, and obviously we cannot put it there by default because this very string is being shown to the

[2021-04-21 10:47] bobs4462 opened #483 "Implement attachment sending with messages"
Currently Twake Mobile can only send plain text messages (with some markdown mixed in). We need to implement the sending of messages with files attached to them.

The process of sending the message with attachment happens in 4 steps:
1. You write your message or you don't (send files only)
2. You pick the file to attach and upload it to twake drive, and get the id of the just uploaded file if ever

[2021-04-21 11:43] bobs4462 commented on #359
@tlle14 please test

[2021-04-22 02:51] tlle14 commented on #479
Sorry @bobs4462 I forgot to attach the evidence. Please see the updated details.

[2021-04-22 03:32] tlle14 commented on #378
Hi @bobs4462
I confirm that this case is no longer happens since they changed the business.
The new user will be added to the default channel of the default workspace in the company
Thanks for your answer!

https://user-images.githubusercontent.com/69950655/115651719-ec7b8e00-a355-11eb-981c-b9d750d7116f.mp4

[2021-04-22 03:32] #378 closed

[2021-04-22 03:44] tlle14 commented on #359
Welcome @etchevef :)
Hi @bobs4462 is this fix in the newest build?
If it already is, I cannot test because the app on ip7 crashes every time I open it.
If it's not, I will retest in the next build. I saw the crash issue is ready to be retested next release.

[2021-04-22 03:55] tlle14 opened #485 "Login > A new account cannot login to the app"
# Precodition
A new Linagora account (the guy joined on 5th April)
Server address: Beta server

# Actual Result
Cannot log in with the Linagora new account to the beta server.
It displays an error credential message
https://user-images.githubusercontent.com/69950655/115654053-86453a00-a35a-11eb-9d9e-2f507304efea.mp4

# Expected Result
Please investigate.
The new account should be able to login to

[2021-04-22 08:15] tlle14 commented on #334
Retest failed!
The selected record jumps to the top

[2021-04-22 08:17] tlle14 commented on #458
Retest pass!
https://images.zenhubusercontent.com/309637937/1cb418fb-cf52-4b13-9a2f-429935c4c5c9/rpreplay_final1619079406.mp4

[2021-04-22 08:17] #458 closed

[2021-04-22 08:25] tlle14 opened #487 "Edit channel > Cannot save the change after adding member to the channel"
# Actual Result
Save button is still disabled after adding new members to the channel
https://user-images.githubusercontent.com/69950655/115681465-bf8fa100-a37e-11eb-8ad0-26a15415cfee.mp4

# Expected Result
Save button should be enabled to add the new members to the channel

# Environment
Both android and iOS app
Build version: 2.2.9-6
QA environment

[2021-04-22 08:29] tlle14 commented on #410
Thank @manhduc-nguyen
Retest pass!
https://images.zenhubusercontent.com/309637937/de336e37-1578-49b5-8c05-ae5bbc36bcf5/rpreplay_final1619080113.mp4

[2021-04-22 08:29] #410 closed

[2021-04-22 08:33] tlle14 commented on #360
Hi,
I reopen this issue for cannot scroll the member list when adding members to the channel

https://user-images.githubusercontent.com/69950655/115682851-1053c980-a380-11eb-9dd9-2392edf17837.mp4

[2021-04-22 08:43] bobs4462 commented on #359
Hi @tlle14, yes, it's in the new build, we are working on publishing it right now, should be available by the end of the day :)

[2021-04-22 08:46] tlle14 commented on #335
Hi @RockinPaul
Retest failed!

I don't think the close button should keep the selected records.
But it works in closing the search screen.

**Expected Result:** When reopening the adding member screen, the previously selected list should be cleared

https://images.zenhubusercontent.com/309637937/5f682dec-fec9-48c8-b16a-5306d26fb926/rpreplay_final1619080970.mp4

[2021-04-22 08:46] #335 closed

[2021-04-22 09:16] EvGen94 commented on #472
@tlle14 Good day
I can't catch this problem, does it occurs after new workspace created successfully? Because the newly opened invited list is clean. Сould you please check it out ?

[2021-04-22 09:21] tlle14 commented on #472
Hi @EvGen94
Kindly check out this video:

https://user-images.githubusercontent.com/69950655/115690019-d4703280-a386-11eb-9441-e0a6441b9502.mp4

[2021-04-22 09:22] bobs4462 commented on #485
@tlle14, can you please make sure that you actually can login with this account on beta.twake.app?

[2021-04-22 09:36] tlle14 commented on #485
I cannot log in by the account on web beta.twake.app either.

[2021-04-22 10:17] tlle14 opened #488 "Edit channel > A result cannot display after it is selected in another channel"
# Actual Result
When adding members to the channel, if a record is selected (but not yet submitted), it won't be returned when searching on another channel

https://user-images.githubusercontent.com/69950655/115697931-41d39180-a38e-11eb-9db3-998725c0a45c.mp4

# Steps
1. Open ChannelA
2. Open the adding member screen
3. Search and select MemberA to add to the member list (but not yet submitted)
4.

[2021-04-22 10:38] tlle14 opened #489 "Message > Reaction is not synced in real-time"
# Precondition
There has user1 and user2
user1 has reacted to the message in a channel

# Actual Result
When user2 adds more reaction (+1 to the same icon)  to the message, the reaction is not updated in real-time.
The user needs to pull to refresh the app to see the change

https://user-images.githubusercontent.com/69950655/115700953-739a2780-a391-11eb-907a-ab68cea1b389.mp4

# Expected Result
The

[2021-04-22 10:47] bobs4462 commented on #485
Then the account was either registered via chat.twake.app or it wasn't registered at all. Because if you go to chat.twake.app and register there you won't be able login via beta.twake.app, regardless of whether it happened before 09/01/2021 or later.

[2021-04-22 20:17] bobs4462 commented on #433
In new design you can see, that in channels' list, each channel has last message preview, and username and the message by that user is displayed differently, if you can confirm that on all servers, you can close this issue.

[2021-04-22 20:19] bobs4462 commented on #489
@tlle14 Try it again please with the new build, on chat.twake.app I couldn't reproduce the issue.

[2021-04-23 03:04] tlle14 commented on #409
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/a6ccbce0-1b2a-4c13-9009-70404946fec4/rpreplay_final1619147049.mp4

[2021-04-23 03:04] #409 closed

[2021-04-23 03:20] tlle14 commented on #401
Hi @bobs4462
Retest failed!

We still have trouble with displaying chat history when the channel has a poll
On Mobile:
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/fc635608-5485-4743-8fdf-1ffa1468e6fb)

On the Web:
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/2d2460d5-efa3-42b8-a3d6-12c3ca72be98)

[2021-04-23 04:02] tlle14 commented on #474
Hi @EvGen94
Retest failed!
When there's a record that wasn't added to the list, the list is not cleared when it is reopened.
https://images.zenhubusercontent.com/309637937/99141f7f-bcd0-4fb9-9b4a-5e01fb802d2f/rpreplay_final1619150203.mp4

[2021-04-23 04:06] tlle14 commented on #359
Thank @EvGen94
Retest pass!
https://images.zenhubusercontent.com/309637937/0b45dd08-d25e-47f0-afd2-94bc5536643d/rpreplay_final1619150761.mp4

[2021-04-23 04:06] #359 closed

[2021-04-23 04:11] tlle14 commented on #98
Thank @bobs4462
Retest pass!
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/64e7dfec-251f-4694-aeb4-a03c4da1d851)

[2021-04-23 04:11] #98 closed

[2021-04-23 04:26] tlle14 commented on #433
It works fine on both QA server and Production
Thank @bobs4462

[2021-04-23 04:26] #433 closed

[2021-04-23 04:40] tlle14 commented on #475
Hi @manhduc-nguyen
Retest failed!
I've sent about 24 messages. But when opened the channel, it focuses on 16th message.

![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/fab44c94-2c8f-41f2-ae86-7f76c729b845)

[2021-04-23 05:41] bobs4462 commented on #401
@BastiaanVanGaalen help us out here, we need a visual design for user created polls, I think you can consult Benoit about how polls work now, and if they are going to change in near future.

[2021-04-23 07:03] tlle14 commented on #358
Hi @manhduc-nguyen
Retest failed!

- It's pass when avoid adding an empty row to the list
- However, the row that is not added to the list still be counted.

https://images.zenhubusercontent.com/309637937/e4dc63c1-2f89-47fd-9d21-eb36976d97bc/rpreplay_final1619161072.mp4

[2021-04-23 07:11] EvGen94 commented on #474
@tlle14 Good day!
Could you please specify how exactly you go back because I do not see the pressing of the "Back" button and if you go back using "Back" is the sheet still filled?

[2021-04-23 07:16] tlle14 commented on #286
Hi @manhduc-nguyen
Retest failed!
The row that is not added to the list still be counted.

https://images.zenhubusercontent.com/309637937/e4dc63c1-2f89-47fd-9d21-eb36976d97bc/rpreplay_final1619161072.mp4

This issue might relate to https://github.com/linagora/Twake-Mobile/issues/474

[2021-04-23 07:18] tlle14 commented on #358
Hi @manhduc-nguyen
Retest pass!
The blank row cannot be added to the list.

[2021-04-23 07:18] #358 closed

[2021-04-23 07:22] tlle14 commented on #474
Hi @EvGen94
Please refer this video
https://images.zenhubusercontent.com/309637937/532fb4f5-040e-4a3c-9496-543f3149d94c/video7100b203_a934_4a52_9c0a_233fd1ed09e4video.mp4

[2021-04-23 07:47] tlle14 commented on #362
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/dd4a5cfb-fdc6-45a7-b548-8e8cd92f1ef8/video4f1c2a78_1399_4664_9ab2_194def695257video.mp4

[2021-04-23 07:47] #362 closed

[2021-04-23 07:55] EvGen94 commented on #474
@tlle14
Thanks! now I understand why I did not see this behavior, because I always finished filling completely and pressed the back button from an empty line, in this case the fix works fine.
I will fix it.

[2021-04-23 08:07] tlle14 commented on #361
Thankk @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/f3c580ca-4486-4c70-aa6d-c5ca3b744502/rpreplay_final1619165051.mp4

[2021-04-23 08:17] tlle14 commented on #397
Thank @manhduc-nguyen
Retest pass!
https://images.zenhubusercontent.com/309637937/a94ca5b3-803b-4594-a8b7-9c7aa03d8d1f/rpreplay_final1619165508.mp4

[2021-04-23 08:17] #397 closed

[2021-04-23 08:22] tlle14 commented on #399
Thank @manhduc-nguyen
Retest pass!

[2021-04-23 08:22] #399 closed

[2021-04-23 08:23] #477 closed

[2021-04-23 08:24] tlle14 commented on #477
Duplicated with https://github.com/linagora/Twake-Mobile/issues/362

[2021-04-23 08:41] tlle14 commented on #461
Thank @manhduc-nguyen
Retest pass!
https://images.zenhubusercontent.com/309637937/ae0b5e49-b7de-443b-adfb-b54e311a5767/rpreplay_final1619166417.mp4

[2021-04-23 08:41] #461 closed

[2021-04-23 08:48] tlle14 commented on #453
Retest pass!
Thank @manhduc-nguyen
https://images.zenhubusercontent.com/309637937/37f79bd2-ad79-4397-9096-a2cb00faa391/rpreplay_final1619167651.mp4

[2021-04-23 08:48] #453 closed

[2021-04-23 08:56] tlle14 commented on #91
Thank @bobs4462
Retest pass!
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/3ec83120-296e-406e-8bb5-29a607fad553)

[2021-04-23 08:56] #91 closed

[2021-04-23 09:08] tlle14 commented on #341
Thank @manhduc-nguyen
Retest pass!

https://user-images.githubusercontent.com/69950655/115848440-10ba9600-a44e-11eb-87e4-f0d843f0a010.mp4

[2021-04-23 09:08] #341 closed

[2021-04-23 09:13] tlle14 commented on #489
Hi @bobs4462
The issue happens on both QA environment and Production, between an Android App and iOS App

[2021-04-23 09:32] tlle14 commented on #382
Thank @bobs4462 and @RomaricMourgues

1. After created without new messages, the direct group doesn't display on the member's direct list => Pass!
2. When having a new message, the direct group automatically displays on the member's direct list => Pass!
3. No message counter when having a new message in a direct group => Web issue.

I should close this ticket.

[2021-04-23 09:32] #382 closed

[2021-04-23 10:40] bobs4462 opened #494 "New Feature: user mentions"
Because we have completely reworked twacode parser, now we can add support for user mentions.

I suggest that we download and store all the users right when starting the app and then use this data to autocomplete username when user starts typing after at symbol `@`, also the same info can be used to retrieve userIds by their usernames, so that we can complete the string with userids if it has vali

[2021-04-23 11:05] tlle14 opened #496 "New UI > The background color of "my message" is too bright"
# Actual Result
On the chat screen, the blue shade is too bright makes my eyes feel tired
I checked with a tool, the current blue is #5600ff instead of #004dff

https://user-images.githubusercontent.com/69950655/115862616-8a5a8000-a45e-11eb-8039-10dff3fb94ac.mp4

# Expected Result
Both #5600ff and#004dff shouldn't be used in the background.
Please use another color which is more eye-friendly.

# E

[2021-04-23 11:21] bobs4462 commented on #496
@BastiaanVanGaalen, I think it's your area of expertise :)

[2021-04-23 11:47] bobs4462 commented on #489
@tlle14 Can you confirm, that the issue only occurs inside the threads, or does it happen on top message level too?

[2021-04-23 12:50] bobs4462 commented on #401
I fixed the issue temporarily by not rendering interactive elements for now. Because:
1. We don't have design for them yet
2. Romaric and others are reworking the twacode into new Block based structures which is going to be future format for those interactive elements (like buttons, polls, video calls etc.).

[2021-04-23 12:51] bobs4462 commented on #402
@tlle14 I believe that this issue was "accidentally" fixed during redesign, can you please test it with real devices?

[2021-04-26 02:26] tlle14 opened #498 "New UI > Screen is not updated"
There are some screens are not updated. They also don't have a new design.
Please confirm if you have a plan to update them:

### 1. Login screen
[image](https://user-images.githubusercontent.com/69950655/116020530-a9306080-a670-11eb-8c38-992f370804cf.png)

### 2. Thread screen
[image](https://user-images.githubusercontent.com/69950655/116020845-44c1d100-a671-11eb-9c42-5d59fcaff41f.png)

I saw the

[2021-04-26 02:27] tlle14 commented on #498
Hi @RockinPaul @BastiaanVanGaalen @bobs4462 could you please confirm?

[2021-04-26 04:07] tlle14 opened #499 "The channel isn't bold when having a new activity"
# Actual Result
When having a new activity in the channel, the channel is not bold
https://user-images.githubusercontent.com/69950655/116027509-48f4eb00-a67f-11eb-9bda-ff783649b04d.mp4

# Expected Result
When having a new activity in a channel, the channel name should be bold

# Environment
Both Android and iOS app
Build version: 2.2.9-7
QA environment

[2021-04-26 04:27] tlle14 opened #500 "New UI > Channel list/ Direct list"
# 1. Total unread counter doesn't display on Channels and Directs tab
**Actual Result**
![image](https://user-images.githubusercontent.com/69950655/116026972-f23ae180-a67d-11eb-87ce-e0c6505a10b9.png)

**Expected Result**
The total unread counter for Channel and Directs should be displayed as the design
[image](https://user-images.githubusercontent.com/69950655/116026325-ac314e00-a67c-11eb-83dc-3cf

[2021-04-26 05:00] tlle14 opened #501 "It takes about 3-4 seconds to display the unread counter of a direct chat"
# Actual Result
It takes about 3-4 seconds to display the unread counter of a direct chat
https://user-images.githubusercontent.com/69950655/116030995-06371100-a687-11eb-95cd-d28cc446c176.mp4

# Steps
1. Open the app
2. Open the Direct chats
3. Verify the issue: it takes time to display the unread counter

# Expected Result
The unread counter of a direct chats should display right after open the t

[2021-04-26 07:22] EvGen94 commented on #474
Hi @tlle14, the bug has been fixed in the latest build, can you test it out?

[2021-04-26 08:08] bobs4462 commented on #498
@BastiaanVanGaalen do you have anything to say about this one?

[2021-04-26 08:26] bobs4462 opened #502 "Rewrite notification click based navigation to take the user to the pages from new design"
Recently @RockinPaul has been working on new design of application pages, and some of them has already been integrated into the application. But navigation which is triggered after user clicks on notification has not been adjusted to account for the new pages.

So the task is to rewrite the navigation logic, so that any click on notification redirects the user to the page from new design.

[2021-04-26 08:32] tlle14 opened #503 "New UI > Empty Channel/ Direct chat screen"
# 1. Doesn't show channel creation information
**Actual Result**
The channel creation information doesn't display on empty channel screen
[image](https://user-images.githubusercontent.com/69950655/116045677-73a16c80-a69c-11eb-884c-6d2c6f52db9b.png)

**Expected Result**
Should display the channel creation information as the design
[image](https://user-images.githubusercontent.com/69950655/116045833

[2021-04-26 08:41] tlle14 opened #504 "Preview message should limit the displaying line"
# Actual result
1. It is able to display over 30 lines in the message preview. It will break the form.
2. When having a multiple lines in the message preview, the direct avatar is aligned to center

https://user-images.githubusercontent.com/69950655/116053723-2f669a00-a6a5-11eb-8f91-2f157db6ab91.mp4

# Expected Result
It should display 1 line in the message preview. OR having a limited preview lin

[2021-04-26 09:46] tlle14 opened #505 "New UI > Workspaces list"
# 1. Selected workspace has no highlighted avatar
 **Actual Result**
[image](https://user-images.githubusercontent.com/69950655/116061439-0ba75200-a6ad-11eb-9b6f-332721f3396f.png)

**Expected Result**
In fact, the workspace avatar is an uploaded image. The blue border may not emphasize the selected workspace effectively.
We should ask our designer for a better solution.
[image](https://user-images

[2021-04-26 09:51] tlle14 commented on #474
Hi @EvGen94

Retest failed!
When **there's a record that wasn't added to the list**, the list is not cleared when it is reopened.
Tested on 2.2.9-7 - QA environment (web.qa.twake.app)

[2021-04-26 11:46] bobs4462 commented on #503
@BastiaanVanGaalen regarding the 6th point, this little check mark thing. I don't think it's ever going to be implemented (or at least not in near future) because such a feature is not even in roadmap.

[2021-04-27 03:41] manhduc-nguyen commented on #455
@tlle14 yes I agree with @bobs4462 . I think we can skip this for now.

[2021-04-27 03:47] tlle14 opened #506 "New UI > Channel/ Direct tab name is invisible on iPhone 11 Promax screensize 6.46 inches"
# Actual Result
The Channel/ Directs tab name is displaying the same color as the background, it seems invisible on UI
https://user-images.githubusercontent.com/69950655/116181602-17deee00-a745-11eb-864f-8cf003e81ce1.mp4

# Expected Result
The tab name should display as in the design

# Environment
iOS App
Device: iPhone 11 Promax, iOS 14.3
Build version: 2.2.9-7
QA Environment

[2021-04-27 07:17] tlle14 opened #507 "Channel list > The preview messages are replaced by the text "This channel/conversation is empty""
# Actual Result
All the preview messages become `This channel/ conversation is empty` text
https://images.zenhubusercontent.com/309637937/4f312135-7911-4207-8b49-79b82a4dac5a/video43ff0c20_d951_4489_bb37_c47bf45ade5bvideo.mp4

# Expected Result
The channel/ direct chat should display the preview message when it has chat history

# Environment
Both iOS and Android app
Build version: 2.2.9-7
QA envi

[2021-04-27 07:33] bobs4462 commented on #507
Hi @tlle14, can you please confirm that those channels have at least one message which is fresh, i.e less than one month old?

[2021-04-27 07:37] tlle14 commented on #507
Hi @bobs4462 Even with the already posted message. Seems like Romaric recently changed something :-?

[2021-04-27 07:40] bobs4462 opened #508 "Add adapter to proxy layer to handle new reactions format."
Soon we'll be moving to new messages format (block based), and we for now we need to handle new reactions format
The new format will look like this:
[code]
vs. old one
[code]

I suggest that we implement a converter from old format to new one on proxy layer, and switch logic for handling new reactions format exclusively on mobile client.

[2021-04-27 07:43] bobs4462 commented on #507
Ok, is the issue web.qa specific?

[2021-04-27 07:48] RomaricMourgues commented on #507
Hi, it seems it is broken on qa, it is not on your side @bobs4462

[2021-04-27 07:53] tlle14 commented on #375
I reopen this issue for the newly created workspace cannot display on the member's workspace list ... or even on the creator's workspace list but by a different device. @bobs4462

[2021-04-27 08:34] tlle14 commented on #385
@RomaricMourgues @bobs4462 could you please take a look? The notification feature doesn't work on QA environment

[2021-04-27 08:47] tlle14 commented on #371
Hi @manhduc-nguyen
Could you please check Twake logo in the notifications center? It displays unclearly
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/21efac6e-3136-4fac-9e81-8968ce709fca)

[2021-04-27 09:21] tlle14 opened #510 "Create channel > There is a space between the keyboard and bottom menu"
# Actual Result
There is a space between the keyboard and the bottom menu
![image](https://user-images.githubusercontent.com/69950655/116218002-4c1dd300-a774-11eb-8476-9f8e9e64af99.png)

# Expected Result
It shouldn't have a space between the keyboard and the bottom menu

# Environment
Device: iPhone 11 Promax, iOS 14.3, screen size 6.46 inches
Build version: 2.2.9-7
QA environment

[2021-04-27 09:28] tlle14 commented on #384
I reopen this issue for the incorrect order on the mobile app (build version: 2.2.9-7)
https://images.zenhubusercontent.com/309637937/ccf70955-efd9-4db0-91be-5da39384249a/rpreplay_final1619515639.mp4

[2021-04-27 09:58] tlle14 opened #511 "Create Channel > Redundant text is still displaying after changing the design"
# Actual Result
There is redundant text in the create channel screen. It was for the switching button that has been removed.
**Current screen:**
![image](https://user-images.githubusercontent.com/69950655/116222492-d7996300-a778-11eb-9646-0aa814879d87.png)

**The old design:**
![image](https://user-images.githubusercontent.com/69950655/116223640-ec2a2b00-a779-11eb-96d5-0d2b6dfe3ada.png)

# Expecte

[2021-04-27 10:39] tlle14 opened #514 "Create Channel > a new private channel is opened twice after the user invited himself"
# Actual Result
When creating a private channel, if the creator invited himself, it will open the new channel twice times after created
https://user-images.githubusercontent.com/69950655/116226413-25b06580-a77d-11eb-9ddf-b8de59159f74.mp4

# Expected Result
After the channel is created, it should open the new channel 1 time no matter what.
AND the creator shouldn't be able to find himself in the in

[2021-04-27 11:03] tlle14 opened #515 "Delete channel > Cannot delete a channel"
# Actual Result
When tap on the "Delete" button to delete a channel, nothing happens

https://user-images.githubusercontent.com/69950655/116231069-9b6b0000-a782-11eb-9fac-94abf72f5f01.mp4

# Expected Result
The creator/admin/company owner should be able to delete a channel successfully

# Environment
Both ios and android app
Build version: 2.2.9-7
QA environment

[2021-04-27 13:18] RomaricMourgues commented on #507
@stephanevieira75 could you take a look at this one when you have time ?
There is some logs to add to see why the last_message object isn't returned when getting list of channels (it is created, I checked)

[2021-04-28 02:45] tlle14 commented on #485
Hi @bobs4462

The problem is related to changing passwords and no longer existing after the user changed his password.
Yesterday, my test account got the same problem. After changing the password, I can log in successfully.

Do you have any idea about how is it happen?

[2021-04-28 03:31] tlle14 opened #516 "Edit channel > The change when updating a channel doesn't show right after saved"
# Actual Result
The channel doesn't show the update until the user reopens it from the channel list

https://user-images.githubusercontent.com/69950655/116344650-cd2aa800-a810-11eb-933f-c753973f3630.mp4

# Reproduce steps
1. Open the edit channel screen
2. Update the channel name/avatar/description
3. Save the change. It will back to the channel screen
4. Reopen the edit channel screen
5. `Verify

[2021-04-28 07:16] tlle14 opened #517 "Message > Reload the direct chat screen after sending a message"
# Actual Result
After sending a new message in a direct chat, the screen is reloaded.
The avatar background color is also changed.
https://user-images.githubusercontent.com/69950655/116359899-8bf2c200-a829-11eb-8670-528bb6398318.mp4

# Expected Result
- After sending a message, the screen shouldn't be refreshed.
- The avatar background shouldn't be changed

# Environment
Both android and ios app
B

[2021-04-28 07:54] tlle14 opened #518 "Cannot display avatar on the chat screen"
# Actual Result
The user avatar cannot display on the chat screen. It always shows as a grey dot.
![image](https://user-images.githubusercontent.com/69950655/116366922-fe1ad500-a830-11eb-9fa3-f8f865466358.png)

# Expected Result
The user avatar should display, even it is an uploaded photo or a default avatar

# Environment
Both ios and android app
Build version: 2.2.9-7
QA environment

[2021-04-28 08:06] bobs4462 commented on #485
Hi, I suppose only @RomaricMourgues can shed some light to this truly weird behavior.

@tlle14 Can you provide us with details, like which server it was, how did you change the server etc.

[2021-04-28 08:16] bobs4462 commented on #518
The problem is that aws servers (where images are stored) are not always available, like 90% of the time in Russia. I think if you were to test it from France or other country from western Europe you wouldn't encounter such a problem, but for the rest of the world, it is what is :)

But alas it's not up to us to solve this issue. @RomaricMourgues I highlighted the issue more than 4 month ago, it s

[2021-04-28 08:17] RomaricMourgues commented on #518
Every new pictures is stored in France now :)

[2021-04-28 08:24] tlle14 commented on #485
Well, it happens one day I woke up and find myself cannot log in to the Twake app... It said the credentials were incorrect.
(My test account is on QA server, the other user is on Linagora production)
That's why I reset the password and login again, then it's successful.

[2021-04-28 09:10] bobs4462 commented on #518
[code]

Still the images are stored somewhere on amazon servers, judging by the urls at least

[2021-04-28 09:24] tlle14 opened #519 "A thread screen becomes empty after deleting the last reply"
# Actual Result
After deleting the last reply in a thread screen:
- The parent message is also disappeared
- When back to the main screen, the link "see all answers" is still displaying

https://user-images.githubusercontent.com/69950655/116377584-869e7300-a83b-11eb-8a63-785e2f4b7408.mp4

# Expected Result
After deleting the last message in the thread screen, it should:
- Go back to the main scree

[2021-04-28 10:50] tlle14 opened #520 "Message > Reaction counter is not correct when moving between the main screen and the thread screen"
# Precondition
A message has replies
The parent message has many reactions (1 icon with many react times)

# Actual Result
On production, when reacting then unreact a message in the main screen, after that moving to the thread screen, the reaction counter in the thread screen becomes incorrect.
After pull to refresh the app, the counter becomes `1` in total. The message will lost its reactions

ht

[2021-04-28 10:57] RomaricMourgues commented on #485
I don't have any clue, changing password does not have an impact on Twake. I will think about it

[2021-04-28 11:05] tlle14 commented on #485
Ahhh, the other user once changed the default password to his current password, then he couldn't login when I asked him.
After the second change, he can login. I will try to reproduce with the changing password feature.

About my account, I doubt someone had changed the password (maybe someone from the dev team?) Let's see.

[2021-04-28 11:26] RomaricMourgues commented on #518
Yes but I mean every new users not is QA will have the images in ovh.

[2021-04-28 11:48] bobs4462 commented on #518
So I guess, @tlle14, new users will have their avatars displayed, as for the old ones, well old ones have to reupload their avatars it seems :). I any case there's no way to solve this issue by developers. It seems more like DevOps task, either to migrate data, or to distribute it across the globe.

[2021-04-28 13:13] chamerling opened #523 "Login autocomplete does not work"
1. Open the application
2. Click on the `Email` field: OS displays the email suggestion
3. Click on the suggestion: The `Email` field stays blank
4. Click on the `Email` field and add a space: The email I selected in step 3 is displayed (with a space at the end)
5. The password is not filled

I guess the suggestion should also fill the password field, but this is not the case.

Here are the screen

[2021-04-28 13:50] BastiaanVanGaalen commented on #494
@bobs4462 @RockinPaul
https://zpl.io/VOvpLwQ
Dear colleagues, user mentions.

Message bubble near the right edge of the cell is the ability to be redirected into a direct chat with a desired user + online status indication As for a mainstream UI logic is repeats Telegram where mentioned user is highlighted as underline inside a message bubble

[2021-04-28 16:05] bobs4462 commented on #315
@tlle14, is this one fixed?

[2021-04-28 16:06] bobs4462 commented on #354
Duplicates #494

[2021-04-28 16:06] #354 closed

[2021-04-28 16:07] bobs4462 commented on #231
@RockinPaul Do we have any plans on this one? Or should we move it to the icebox?

[2021-04-28 16:08] bobs4462 commented on #266
As we have implemented markdown parser and twacode renderer in the app itself, this issue is no longer relevant

[2021-04-28 16:08] #266 closed

[2021-04-28 16:08] bobs4462 commented on #219
We now can receive messages sent by applications (bots).

[2021-04-28 16:09] #219 closed

[2021-04-28 16:10] bobs4462 commented on #351
Still relevant @romanesko ?

[2021-04-28 16:11] bobs4462 commented on #320
@romanesko Should we wait for this issue to be resolved on business level?

[2021-04-28 16:13] bobs4462 commented on #350
@RockinPaul I thought this one has been fixed already

[2021-04-28 16:13] bobs4462 commented on #396
@tlle14 I think we can close this one

[2021-04-28 21:48] BastiaanVanGaalen commented on #441
@bobs4462 https://zpl.io/a7PxZgp
Please, Sir!

[2021-04-28 23:29] BastiaanVanGaalen commented on #142
@bobs4462
Please, Sir: https://zpl.io/Vk1z5pW

[2021-04-29 03:41] tlle14 opened #527 "There should have a message for the new user who has no channel"
# Actual Result
For the very new user, who has not joined any channel yet, there has nothing on the channel list screen
https://user-images.githubusercontent.com/69950655/116499325-1ee93600-a8d6-11eb-9e03-db3221160b84.mp4

# Expected Result
There should have a message on the empty list screen to welcome the new user

# Environment
Both on ios and android app
Build version: 2.2.9-7
QA environment

[2021-04-29 03:50] tlle14 commented on #315
I can close this issue since the badge counter seems to stay forever

[2021-04-29 03:50] #315 closed

[2021-04-29 04:03] tlle14 opened #529 "Notification > No badge counter for android app"
# Actual Result
On Android App, no badge counter displays when there have new messages

https://user-images.githubusercontent.com/69950655/116501352-c23c4a00-a8da-11eb-9fe6-0914d41f95fd.mp4

# Expected Result
The badge counter should display on android

# Environment
Android app
Build version: 2.2.9-7
QA environment

[2021-04-29 04:20] tlle14 opened #530 "Notification > On iOS, the badge counter displays for the very new user"
# Precondition
The new user has not joined any channel or had a direct chat yet

# Actual result
The badge counter displays for the new user.
It also displays on the app icon when the user logged out.
It stays when the user has no unread message

https://user-images.githubusercontent.com/69950655/116501926-52c75a00-a8dc-11eb-9dbf-230f13505ac2.mp4

# Expected Result
Please fix the issue:
- The badg

[2021-04-29 04:22] tlle14 commented on #485
I cannot reproduce this issue in QA enviornment. I should close this one

[2021-04-29 04:22] #485 closed

[2021-04-29 08:00] bobs4462 commented on #480
@RomaricMourgues What is correct way to retrieve user's console Id (if present)?

[2021-04-29 08:03] RomaricMourgues commented on #480
It will be in the "provider_id" and "provider" (should be = to "console") of the user object

[2021-04-29 08:19] tlle14 opened #531 "UI > Channel / Direct Chat screen displaying"
# A Direct chat shows the participant's username
**Actual Result**
In the direct chat, the username of the participant is displaying.
[image](https://user-images.githubusercontent.com/69950655/116503540-9328d700-a8e0-11eb-8a5c-551fc790506a.png)

**Expected Result**
It shouldn't show the username in the direct chat
[image](https://user-images.githubusercontent.com/69950655/116503355-0a11a000-a8e0-1

[2021-04-29 12:46] bobs4462 commented on #483
@BastiaanVanGaalen Hi, can you please provide us with designs of how the user tex tinput field should look like:
1. When there's some text and 1 file
2. When there's some text and multiple files
3. When there's some text and file is being uploaded (not message, we have to upload file first before attaching it to message)
4. When there's message, and multiple files

[2021-04-30 09:01] bobs4462 commented on #314
@tlle14 I think this one has been fixed (on production at least)

[2021-04-30 09:02] bobs4462 commented on #244
@BastiaanVanGaalen ping

[2021-04-30 11:18] RockinPaul commented on #348
@BastiaanVanGaalen could you please check if we have something to do with this? And should it be fixed?

[2021-04-30 11:23] RockinPaul commented on #244
@BastiaanVanGaalen and @tlle14 by the way It will work exactly the same with the available API. It was discussed with @romanesko
This issue should be closed since the comment to re-open it had nothing to do with the task description itself.

[2021-04-30 11:26] RockinPaul commented on #267
Brainstorm is over. Design is under implementation.

[2021-04-30 11:26] #267 closed

[2021-04-30 11:31] RockinPaul commented on #231
@bobs4462 no plans currently. It's better to even close it I suppose.

[2021-04-30 11:31] #231 closed

[2021-04-30 11:57] RomaricMourgues commented on #507
We just fixed it right now, it is going to QA in 20-30 minutes

[2021-04-30 12:13] #351 closed

[2021-04-30 12:17] #435 closed

[2021-05-01 08:14] bobs4462 commented on #479
@tlle14 Sorry, but no matter how we try the issue seems to be not reproducible in current builds (which you don't have yet). So I ask you to check it again when you get the new build

[2021-05-01 08:18] bobs4462 commented on #482
We implemented the logic for user mentions, and the text which contains the `@username` pattern will be preprocessed to complete it with user ids (if possible), so that those patterns can be further recognized by parser as mentions. It only works for users right now, as for the channels we have to wait for the API stabilization in that respect before we can implement channel mentions.

[2021-05-01 08:20] bobs4462 commented on #421
@tlle14 Have you noticed recently that this bug still occurs?

[2021-05-01 08:24] bobs4462 commented on #508
@RomaricMourgues I have implemented a preprocessor for reactions on proxy level, so that any old reaction format will be converted to new format first before being returned to mobile client. On Mobile client only the new format will be supported, as proxy will ensure that all the messages conform to the new one. But all the current users will be forced to reinstall the app, because it might contai

[2021-05-01 09:03] RomaricMourgues commented on #508
Thanks, we will have other big changes in the next months for messages, we will need to align ourselves at some point.

You can find all the new format here:
- https://www.notion.so/twake/Rest-APIs-f2ec07e17b20498381b03e96a443a795
- Here too (you will find the "FileObject": https://www.notion.so/twake/Database-models-19438d7d619b4d47bf01b0649c887b49
- And here for block format "BlockObject": https

[2021-05-02 17:18] bobs4462 commented on #405
Right now we implemented basic markdown styles support, user mentions, channel mentions (partial), urls, attachments, bot icons. As a new elements become available in stable API, we will implement support for them in separate issues.

[2021-05-02 17:20] bobs4462 commented on #480
@BenoitTallandier I added analytics support in release mode. You should be able track them in Segment now.
If everything works as expected, please close this issue.

[2021-05-02 17:22] bobs4462 commented on #508
@tlle14, if you can react to messages, and that doesn't lead to crashed application, you can close this issue.

[2021-05-04 02:46] tlle14 commented on #244
Okay @RockinPaul I should close this one

[2021-05-04 02:46] #244 closed

[2021-05-04 03:01] tlle14 opened #543 "The Search function returns irrelevant results"
# Actual Result
1.The Search function returns irrelevant results
2. The matched result is not on the top

**On the Mobile:**
![image](https://user-images.githubusercontent.com/69950655/116955912-0ace7b80-acbe-11eb-8dae-19bff270e01c.png)

**On the Web:**
![image](https://user-images.githubusercontent.com/69950655/116955823-d0fd7500-acbd-11eb-97de-43479d245ac8.png)

# Expected Result
The search func

[2021-05-04 03:30] tlle14 commented on #421
Hi @bobs4462
The issue seems to no longer happen, did you fix anything?

[2021-05-04 03:30] #421 closed

[2021-05-04 03:54] tlle14 commented on #314
Hi @bobs4462
The issue is not fixed
As in this photo, It should be:
[code]

[2021-05-04 04:01] tlle14 commented on #479
In the newest build, the bug is no longer existing since the twacode implemented on Mobile.
I should close this issue.
Thank @bobs4462

[2021-05-04 04:01] #479 closed

[2021-05-04 04:08] manhduc-nguyen commented on #283
@tlle14 can you re check this please? its not happening anymore.

[2021-05-04 04:10] tlle14 commented on #508
Hi @bobs4462
I can react to a message but need to pull to refresh the app for showing the reaction.
It doesn't lead to the app crashed.
I will open a new issue then close this one as this ticket is your task :)

[2021-05-04 04:10] #508 closed

[2021-05-04 04:41] tlle14 commented on #283
I agree with you @manhduc-nguyen
The issue is no longer existing

[2021-05-04 04:41] #283 closed

[2021-05-04 06:52] RomaricMourgues commented on #314
We still not implemented this update, it should be done in some weeks.
It is something only backend Twake can do :)

[2021-05-04 07:05] tlle14 commented on #441
The attachment file has been rendered in a message but having some UI issue. I will log in another ticket
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/e17cbc2a-de2c-4736-a599-72d176ea7fc0)

[2021-05-04 07:05] #441 closed

[2021-05-04 07:36] bobs4462 commented on #421
@tlle14 Hi, I think it was fixed along the way with other updates on QA server

[2021-05-04 07:51] RomaricMourgues commented on #421
I did not fix it, it is linked to the usage of PHP for rabbitmq consumer, the issue will randomly appear on QA and prod until we migrate it to nodejs (no impact on mobile)

[2021-05-04 08:19] BenoitTallandier commented on #480
Perfect, thank you ! 🙏

[2021-05-04 10:02] tlle14 opened #545 "Attachments > Cannot open the file after it is downloaded"
# Precondition
Task: https://github.com/linagora/Twake-Mobile/issues/483

# Actual Result
After downloaded, cannot tap to open the file on Notification Center
https://images.zenhubusercontent.com/309637937/f203d23e-8f70-4ee8-be67-d4e8740a4f0b/video68e8867f_5b4b_43bb_b838_b6d907f3c11avideo.mp4

# Expected Result
After downloaded, it should be able to tap the notification to open the file

# Environ

[2021-05-04 10:03] tlle14 opened #546 "Attachments > Attached files is displaying different with the design"
# Precondition
Task: https://github.com/linagora/Twake-Mobile/issues/483

# 1. The attached file icon/preview and the download button
**Actual Result**
Some files are displaying the download icons (.mp4, .eml, .zip, .ics), some are not displaying anything (.png, .jpg, .xml, .ods, .txt...)
[image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/c24d365e-8d74-4671-aada-b011b4f34102

[2021-05-04 10:41] tlle14 opened #547 "Attachments > Cannot download an attached file on the iOS app"
# Precondition
Task: https://github.com/linagora/Twake-Mobile/issues/483

# Actual Result
When tapping on the download button, nothing happens

# Expected Result
The file should be able to be downloaded

# Environment
iOS app
Build version: 2.2.9-8
QA environment

[2021-05-04 11:08] tlle14 opened #548 "Attachments > Cannot copy the message contains only attached files"
# Precondition
Task: https://github.com/linagora/Twake-Mobile/issues/483

# Actual Result
When copying the message that contains only attachments, it will have nothing to paste
https://user-images.githubusercontent.com/69950655/116993949-54d95080-ad02-11eb-9eb5-ddf3d832e87f.mp4

# Expected Result
It should hide the `copy` button in the context menu when selecting the message that contains only att

[2021-05-04 11:14] tlle14 opened #549 "After copied the message, the inform message hides the textbox"
# Actual Result
After copied the message, the inform message hides the chat textbox
![image](https://user-images.githubusercontent.com/69950655/116995466-4ab85180-ad04-11eb-9f71-36c4fc431fc5.png)

# Expected Result
The inform message shouldn't hide the chat textbox

# Environment
Both ios and android app
Build version: 2.2.9-8
QA environment

[2021-05-05 04:35] manhduc-nguyen commented on #376
@RockinPaul @bobs4462 @BastiaanVanGaalen so how do we open the link, from webview inside our app or an external browser? if its from our app then  please give me design for it, thanks!

[2021-05-05 06:14] bobs4462 commented on #543
@RockinPaul is that the same issue, we had with /users/search endpoint?

[2021-05-05 06:52] manhduc-nguyen commented on #281
@tlle14 please retest, I think this bug no longer exists.

[2021-05-05 07:23] tlle14 commented on #489
Hi @bobs4462
To answer your question:
- Inside a thread: yes (react on android)
- Top level: yes  (on both)
- Single message: yes (on both)

[2021-05-05 08:23] tlle14 opened #551 "Message > The reaction displaying is not stable"
# Actual Result
On Android, the reaction cannot display after user reacts to a message
https://user-images.githubusercontent.com/69950655/117111454-d3d99200-adb1-11eb-9df7-914c996ba957.mp4

On iOS, the reaction is duplicated after another user taps on (Randomly)
[image](https://user-images.githubusercontent.com/69950655/117111642-1d29e180-adb2-11eb-955c-eb01b8319eac.png)

# Expected Result
The rea

[2021-05-05 08:41] tlle14 commented on #474
Thank @bobs4462 @EvGen94
Retest pass!
https://images.zenhubusercontent.com/309637937/dea731ec-f0ae-44e4-98fe-aa6019d3ea3f/rpreplay_final1620203497__1_.mp4

[2021-05-05 08:41] #474 closed

[2021-05-05 09:46] tlle14 commented on #281
Thank @manhduc-nguyen
Retest pass!
https://images.zenhubusercontent.com/309637937/8e0f1c5a-92bf-450e-a4f9-ec1cdeb26e38/video182ed67a_15a3_4f9f_b1c0_cf37405e0192video__1_.mp4

[2021-05-05 09:59] tlle14 commented on #334
Thank @manhduc-nguyen
Retest pass!
https://images.zenhubusercontent.com/309637937/4a81e8ca-d374-4787-8601-9543cc633a75/video2ea602be_63a7_4de3_ba87_a989f1629926video.mp4

[2021-05-05 09:59] #334 closed

[2021-05-05 10:04] #329 closed

[2021-05-05 10:04] tlle14 commented on #329
Thank @mduc
Retest pass!
https://images.zenhubusercontent.com/309637937/1fb8713c-e1e1-423e-832d-08966dae0f50/video3840ffe8_8ed8_4d7e_a5aa_4266ddb09577video.mp4

[2021-05-05 10:37] tlle14 commented on #281
I have to reopen this issue because: the member counter stays after close the channel creation form
https://images.zenhubusercontent.com/309637937/b0ad37bd-e3eb-44a2-85e7-94fa026c01a2/videof9654806_0d9a_4234_949b_6fedbc4591c7video.mp4

[2021-05-05 10:46] tlle14 commented on #286
Thank @manhduc-nguyen
Retest pass!
https://images.zenhubusercontent.com/309637937/bb7e4878-abff-4170-8ed7-24bb9f3d7d4a/rpreplay_final1620211515.mp4

[2021-05-05 10:46] #286 closed

[2021-05-05 12:58] tlle14 commented on #401
Hi @bobs4462
Is this your temporary solution? I cannot close this ticket since it only displays all messages before the poll (I only agree that I hate calendar team, they always use the poll >"< )
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/99f442b2-5075-4eb5-90de-3cec79991d1a)

How about rendering the poll as an empty message, then the before messages is still displ

[2021-05-05 13:00] tlle14 commented on #480
How can I test this feature? @bobs4462

[2021-05-05 13:14] tlle14 opened #554 "It doesn't have a timeout when loading a channel unsuccessfully"
# Precondition
Internet connection is not stable

# Actual Result
When opening a channel in the a internet condition, the channel keeps infinity loading

https://user-images.githubusercontent.com/69950655/117145916-dbaf2b80-addd-11eb-8eab-a2c73f5387cd.mp4

# Expected Result
1. Please find a solution to improve the way our app loading data in a channel, under the low speed internet connection
2. In

[2021-05-05 13:27] bobs4462 commented on #480
Actually you cannot :), unless @BenoitTallandier gives you access to Segment. He was supposed to test and close this issue himself

[2021-05-05 13:37] bobs4462 commented on #554
I still consider ideal solution to be a completely autonomous application, which only works with local database (examples: Telegram, WhatsApp). And when there's internet connection present, it just requests the latest changes and incrementally applies them to local database. But this ideal model remains to be my wish, as it would require a complete architectural  redesign of the backend. So instea

[2021-05-05 14:04] bobs4462 commented on #401
I fixed it, should out be in the next build

[2021-05-05 14:06] bobs4462 commented on #401
The issue was, that there's no consistent format for twacode items for now, everything is so dynamic, that it's hard to foresee and account for every possible scenario. Polls for now should just render not supported text.

[2021-05-05 14:39] bobs4462 commented on #489
After next update it should work as expected (given that internet connection is stable and twake backend is stable)

[2021-05-05 15:13] tlle14 commented on #326
Thank @RockinPaul
Retest pass!
https://images.zenhubusercontent.com/309637937/8689292c-d4af-4dc5-84ed-03c3f8a9e992/videobadb0e70_9dbe_46a1_bb6c_457ed8ba2ff2video.mp4

[2021-05-05 15:13] #326 closed

[2021-05-05 15:16] tlle14 commented on #396
Rightttttttt @bobs4462

[2021-05-05 15:16] #396 closed

[2021-05-05 15:18] tlle14 commented on #511
Thank @manhduc-nguyen
Retest pass!
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/0b783250-960c-4226-a5c7-ffd57f99a180)

[2021-05-05 15:18] #511 closed

[2021-05-06 02:18] tlle14 commented on #360
Thank @manhduc-nguyen
Retest pass!
https://images.zenhubusercontent.com/309637937/bc735df7-f9c9-4463-8644-253f3e2136c8/rpreplay_final1620267431.mp4

[2021-05-06 02:18] #360 closed

[2021-05-06 02:28] #487 closed

[2021-05-06 02:29] tlle14 commented on #487
Thank @manhduc-nguyen
Retest pass!
https://images.zenhubusercontent.com/309637937/61400d72-9dfa-4c22-8f57-98164d5afeca/videob2855d15_ce42_4488_9b2c_6220face9d74video.mp4

[2021-05-06 03:55] tlle14 opened #555 "Edit channel > After added members to the channel, the member counter is not updated"
# Actual Result
After added members to the channel, the member counter is not updated, unless the user back to the channel list then open the channel again.
https://images.zenhubusercontent.com/309637937/98878349-3a5b-4aa0-8abb-802c38af9c00/videof8740917_f336_4237_8dc2_50500c168f72video__1_.mp4

# Steps
1. Open the channel
2. Open edit channel screen
3. Add new members to the channel
4. Back to th

[2021-05-06 04:23] tlle14 opened #556 "Create Channel > Cannot add member to the private channel"
# Actual Result
Cannot add members successfully when creating a private channel
https://images.zenhubusercontent.com/309637937/120d4376-32d0-4177-9e27-1a75210e8c6a/videocd5b377f_9b65_49f1_9db5_bd2869fa8df8video.mp4

# Expected Result
It should be able to add members to the private channel successfully

# Environment
Both android and ios app
Build version: 2.2.9-8
QA environment

[2021-05-06 04:26] tlle14 commented on #502
Thank @bobs4462 @RockinPaul
Retest pass!
https://images.zenhubusercontent.com/309637937/09f6c3e8-b750-4726-ac63-243f0bd0ac85/video44659745_3428_4b73_ad5d_4da8ad0d6e50video.mp4

[2021-05-06 04:26] #502 closed

[2021-05-06 04:46] manhduc-nguyen commented on #556
@RockinPaul I have checked this bug, its ok from client side. I think its backend problem

[2021-05-06 04:47] tlle14 commented on #478
Thank @bobs4462
Retest pass
https://images.zenhubusercontent.com/309637937/be7ef3c6-c19c-488f-bd77-670482413abc/video73688b40_72d3_4f2a_974f_2d8020ca2019video__1_.mp4

[2021-05-06 04:47] #478 closed

[2021-05-06 07:07] tlle14 commented on #510
Thank @manhduc-nguyen
Retest pass!
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/708a0331-7056-46f0-ba31-fa328354051b)

[2021-05-06 07:07] #510 closed

[2021-05-06 07:17] BastiaanVanGaalen commented on #376
@manhduc-nguyen @bobs4462  @RockinPaul Here is the screen with a cell called "Customer support" and upon tapping on this cell UIWebView shall show up with the embedded chat. To see the screen, please, follow the link: https://zpl.io/2GDDpAd

[2021-05-06 07:41] tlle14 opened #558 "Changing role doesn't update on Mobile unless user re-login to the app"
# Precondition
On Twake Console, change the role of the current user (on Mobile) from `Admin` to `Member`

# Actual Result
The current user on Mobile is still displaying as Admin. He is still able to act as an Admin.
The role is updated only when the user logout from the app and login again.

https://user-images.githubusercontent.com/69950655/117260159-fb476200-ae78-11eb-82c8-c986a772f106.mp4

# E

[2021-05-06 07:53] tlle14 commented on #472
Thank @EvGen94 @manhduc-nguyen
Retest pass!

https://user-images.githubusercontent.com/69950655/117261800-c3411e80-ae7a-11eb-8d75-4e22910b3865.mp4

[2021-05-06 07:53] #472 closed

[2021-05-06 08:04] romanesko commented on #320
Done for backend part, waiting for changes in app

[2021-05-06 08:19] EvGen94 commented on #488
@chibenwa Good morning!
Could you test it please, bug has been fixed in the last build

[2021-05-06 08:37] BastiaanVanGaalen commented on #499
@tlle14 @RockinPaul @bobs4462

1. Boldness will compete with channel name itself, and, instead, i decided to use blue dots as the indication of new activity in channels and chats you haven't caught up with yet, please, follow the link to see the design: https://zpl.io/Vq7BL0Z

2. Can we at least leave "at" icon to indicate user_id unread mentions on channel preview cell or API constraints don't pr

[2021-05-06 08:50] bobs4462 commented on #499
API does provide to pieces of information
1. A flag (boolean), whether there's been some activity from the time user has last checked in
2. A number of messages (top level, threads a counted once), where user has been mentioned / or user has participated.

[2021-05-06 08:52] tlle14 commented on #405
- Markdown style support: Pass
[image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/01b5e794-1a42-4cd5-b062-ef877719a9e2)

- User mentions (Partial?): Pass
[image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/35a9d26a-dd55-4525-b688-62da4f388925)

- Channel mentions (Partial): Pass
[image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/5

[2021-05-06 08:59] tlle14 opened #559 "The URLs displays"
# Precondition
Task: https://github.com/linagora/Twake-Mobile/issues/405

# Actual Result
The link is not fit into the chatbox
The link color is not contrasting
[image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/0e071580-addd-45bc-9904-b2e4c9327bed)

# Expected Result
The link should fỉt into the chatbox
The link color should be more contrasting
[image.png](https://images.ze

[2021-05-06 09:01] tlle14 opened #560 "Bot icon doesn't display"
# Precondition
https://github.com/linagora/Twake-Mobile/issues/405

# Actual Result
Bot icon doesn't display
[image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/6a313dc3-f741-4be2-bd21-49ac0c4de224)

# Expected Result
Bot icon should display beside the bot message

# Environment
Both android and ios app
Build version: 2.2.9-8
Production Server

[2021-05-06 09:02] #405 closed

[2021-05-06 09:18] tlle14 commented on #488
You're right, the bug is no longer existing. I should close this one

[2021-05-06 09:18] #488 closed

[2021-05-06 09:36] bobs4462 commented on #560
@tlle14 Hi, can you please clarify, what what kind of bot icon, do you mean bot avatar or inmessage icons?

[2021-05-06 09:46] tlle14 commented on #560
Hi @bobs4462
I meant the bot avatar.
![image](https://user-images.githubusercontent.com/69950655/117278057-9dbc1100-ae8a-11eb-8453-9707204f3171.png)

[2021-05-06 10:03] bobs4462 commented on #560
Ok, thanks, I'll take a look

[2021-05-06 10:18] tlle14 commented on #402
Retest pass!!!!
Thank @bobs4462
https://images.zenhubusercontent.com/309637937/a3cfc801-46e5-4bf2-bd87-5e894637602f/rpreplay_final1620296148.mp4

@fabienmoyon I've never been able to reproduce this issue. So please tell us if it is still existing in the next release. Thank you ;)

[2021-05-06 10:18] #402 closed

[2021-05-06 10:22] tlle14 commented on #483
The attachment has been implemented. Any issue will be logged in other tickets

[2021-05-06 10:50] tlle14 opened #561 "Attachments > Cannot select media files on iPhone"
# Precondition
Task: https://github.com/linagora/Twake-Mobile/issues/483

# Actual Result
On iOS devices, cannot open the media library to select photos or videos.
It only allows accessing Internal Storage

https://user-images.githubusercontent.com/69950655/117286398-5b4b0200-ae93-11eb-95bf-73c6ee1d051e.mp4

# Expected Result
It should be able to select and send a media file from ios device

# Env

[2021-05-06 11:06] tlle14 opened #562 "Attachments > After editing a message, the attachment in the message is lost"
# Precondition
Task: https://github.com/linagora/Twake-Mobile/issues/483
A message has text and an attachment

# Actual Result
After editing a message, the attachment in the message is lost

https://user-images.githubusercontent.com/69950655/117288448-b7af2100-ae95-11eb-9c83-1d6ce73344ac.mp4

# Expected Result
The attachments should be kept after the message is edited

# Environment
Both android a

[2021-05-06 15:05] romanesko commented on #460
![IMG_9599.PNG](https://images.zenhubusercontent.com/5ffc2be36713670ebf05d4f9/0739b3c7-5858-4ba9-acfc-b146c5ea13e2)

[2021-05-07 04:42] tlle14 opened #563 "Attachments > Cannot select Twake App to share files from File Folder"
# Precondition
Task: https://github.com/linagora/Twake-Mobile/issues/483

# Actual Result
Open the file in the file folder, then select app to share it, Twake App doesn't display in the list

https://user-images.githubusercontent.com/69950655/117398401-80d61b00-af28-11eb-874d-6a387b78451f.mp4

# Expected Result
Twake App should be display in the list for user to share the file from Folder

# Envir

[2021-05-07 08:07] tlle14 commented on #460
Thank @romanesko
Retest pass
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/2bbad79c-5db0-4257-b68d-c5d9e754f2eb)

[2021-05-07 08:07] #460 closed

[2021-05-07 08:54] BastiaanVanGaalen commented on #499
@bobs4462
Thank you for explanations.
1. Boolean flag = our blue dot
2. Number of messages with mentions stays the same. Blue oval with number count.

@tlle14 This task can be considered as resolved.

[2021-05-07 10:02] tlle14 commented on #499
Thank @BastiaanVanGaalen
Since we change to the new design, this is not an issue anymore.

[2021-05-07 10:02] #499 closed

[2021-05-07 10:11] BastiaanVanGaalen commented on #503
@bobs4462 @RockinPaul as for 6th point, since API doesn't provide such opportunity there is no point implementing it. So, put it away.

[2021-05-07 10:24] RockinPaul commented on #503
1. Right now, there is no way to obtain such information from API.
4. "The small Twake logo has a solid background" -
However it's a gradient, technically:
              decoration: BoxDecoration(
                shape: BoxShape.circle,
                gradient: LinearGradient(
                  transform: GradientRotation(2.79253), // 160 degrees
                  tileMode: TileMode.mirror,

[2021-05-07 10:36] BastiaanVanGaalen commented on #503
@RockinPaul Confirm jettisoning this task in favour of more urgent ones, gradient inside this small circle doesn't have any considerable impact on UX/UI. There are plethora of issues to be addressed. So, put it away.

[2021-05-07 10:41] tlle14 opened #564 "It takes so long to return an error when input an invalid server address"
# Actual Result
When input an invalid server address then tap on `Connect` button, it takes about 15 mins to return the error message `invalid host`.
After correcting the server address, user still be unable to login to the app.
He needs to kill the app and input the server address correctly right at the first try. Then things work.

https://user-images.githubusercontent.com/69950655/117438055-3fa

[2021-05-07 11:16] BastiaanVanGaalen commented on #503
@tlle14 As for **7th point** "The distance between two correlated messages is not correct". It cannot be by itself equidistant since left-side messages imply image avatar and right-sided imply just delivery status icon. Please, ignore equidistance at the moment, all our efforts should be put to secure smooth functional part of the app. We must ensure all features and core functionality work as exp

[2021-05-07 11:20] tlle14 commented on #503
Please put a side the point you are not going to fix, define what will be done. So I can retest. Thanks for your confirmation!

[2021-05-07 11:25] tlle14 commented on #503
@BastiaanVanGaalen the 7th point you might misunderstanding, I meant I expect the app display as the design. The right side should be further from the border than the current.

[2021-05-07 11:35] BastiaanVanGaalen commented on #496
I kindly asked @RockinPaul to replace the color of message bubble to milder tint of blue in the following sprint.

[2021-05-07 11:36] BastiaanVanGaalen commented on #496
@RockinPaul 004DFF > 2B8FFD

[2021-05-07 12:05] bobs4462 opened #565 "Swagger R&D for Twake node"

[2021-05-07 16:03] bobs4462 commented on #480
@BenoitTallandier please close this issue, if you have no further requests :)

[2021-05-10 04:09] tlle14 opened #566 "The app doesn't work after logged in"
# Actual Result
1. It returns an invalid host message with the valid server address
2. It displays a gray screen after login successfully to the app
https://user-images.githubusercontent.com/69950655/117604096-b5dbab00-b17e-11eb-81f2-f10ca1160b27.mp4

# Steps
1. Open Twake App
2. Configure the server address: web.qa.twake.app
3. Tap on the "Connect" button.
Verify it displays the error message: in

[2021-05-11 07:03] tlle14 commented on #566
server side issue => fixed

[2021-05-11 07:18] tlle14 opened #567 "User feedback > Request new feature" Mark channel as read/unread""
The mobile app should have feature "Mark channel as read/unread" as on the Web version

![Peek 2021-05-11 14-17](https://user-images.githubusercontent.com/69950655/117774446-b5691000-b263-11eb-8182-a1877605ca47.gif)

Please confirm with our PO/BA if we should have this on app

[2021-05-11 07:19] tlle14 commented on #567
@PokoinikRWS Hi, please confirm this feature.

[2021-05-11 07:36] #507 closed

[2021-05-11 07:40] tlle14 commented on #515
No more happens on 2.2.9-8

[2021-05-11 07:40] #515 closed

[2021-05-11 07:45] tlle14 commented on #506
No more existing on 2.2.9-8

[2021-05-11 07:45] #506 closed

[2021-05-12 03:50] tlle14 commented on #384
No more existing on 2.2.9-8

[2021-05-12 03:50] #384 closed

[2021-05-12 03:55] tlle14 commented on #389
The business behavior has been changed. The guest should be able to be added into the channel that he has not been a member of the workspace yet. As the behavior on the Web.
I should close this issue.

[2021-05-12 07:30] tlle14 opened #570 "Search member > Able to search a user in the workspace he doesn't belong to"
# Precondition
User3 doesn't belong to the workspace
[image](https://user-images.githubusercontent.com/69950655/117934358-cd589680-b32c-11eb-9fdf-db840af25d0a.png)

# Actual Result
On Mobile, the admin is able to search and add User3 to the channel of the workspace that user3 doesn't belong to
![image](https://user-images.githubusercontent.com/69950655/117934884-5374dd00-b32d-11eb-8e5a-23bb3f0f1f2

[2021-05-12 07:31] tlle14 commented on #389
I will close this issue and replace by this one https://github.com/linagora/Twake-Mobile/issues/570 for more precise.

[2021-05-12 07:31] #389 closed

[2021-05-12 08:41] RockinPaul commented on #556
Thank you @manhduc-nguyen !
@romanesko please, pay attention to this.

[2021-05-12 09:04] tlle14 commented on #96
The direct chat icon is loading rapidly on Production. I should close this issue.

[2021-05-12 09:04] #96 closed

[2021-05-12 09:21] tlle14 commented on #566
Fixed

[2021-05-12 09:21] #566 closed

[2021-05-12 09:24] tlle14 commented on #255
Hi @bobs4462 how do you think about this solution?
While the message is still the text in local, it should be displayed with opacity. Users may not open the context menu with this kind of message.
After it has an ID, it will display clearly. So users can manipulate this message.

[2021-05-12 09:32] tlle14 commented on #348
Hello @BastiaanVanGaalen Could you please take a look at this issue?
The app icon on iOS should be the same as the one on Android, with no black border.
![image](https://user-images.githubusercontent.com/69950655/117952724-a192dc00-b33f-11eb-8036-d2e7b5952f42.png)

[2021-05-12 09:32] bobs4462 commented on #255
Perfect solution, actually it's one the obvious solutions that I had in mind for quite some time.
@BastiaanVanGaalen Can you please think it over from UX perspective?

[2021-05-12 09:49] tlle14 commented on #470
No more existing on 2.2.9-8

[2021-05-12 09:49] #470 closed

[2021-05-12 09:52] BastiaanVanGaalen commented on #412
@bobs4462 @RockinPaul Didn't we agree last week guys on showing "clock" icon next to the message bubble as the indication of deferred delivery status (waiting to be send) in order to unburden users of re-freshing and re-sending message themselves?

[2021-05-12 09:56] tlle14 commented on #501
No more issue on 2.2.9-8

[2021-05-12 09:59] BastiaanVanGaalen commented on #255
@bobs4462 @tlle14 I would show the "deferred delivery icon" next to the bubble so user are clear the message is being sent/being processed. Moreover we have to enable users edit messages even if they haven't still synced with ie allow local adjustments and keep them in core device memory till and do all such manipulation on the background so users don't even waste their time figuring out "delivery

[2021-05-12 10:07] bobs4462 commented on #255
Yes, it's doable, and IMHO that's the way a mobile messenger app should behave. But...
But there's always buts :)

The problem is that currently state management of the application evolved into an Italian spaghetti pasta, and requires thorough reevaluation and redesign. Without that solid foundation (top-notch state management) it's going to take forever to implement any somewhat complex feature.

[2021-05-12 10:10] tlle14 commented on #516
This might relate to https://github.com/linagora/Twake-Mobile/issues/555

[2021-05-12 10:28] BastiaanVanGaalen commented on #348
[Archive.zip](https://github.com/linagora/Twake-Mobile/files/6465515/Archive.zip)
@RockinPaul I prepared the icon pack in all  required sizes and scales for iOS and Android.  Please, let me know if smth won;t play out as expected.

[2021-05-12 11:49] BastiaanVanGaalen commented on #348
[Archive.zip](https://github.com/linagora/Twake-Mobile/files/6465897/Archive.zip)
@RockinPaul

[2021-05-13 06:38] RockinPaul opened #571 "State management refactoring"
We got to the point where refactoring our state management solution is mandatory for keeping the development process effective.
After all - Twake is an open-source project and we cannot leave its architecture completely without attention to continuous refinement.

[2021-05-13 10:19] RockinPaul commented on #496
315EFB - new color to try.

[2021-05-13 10:59] tlle14 commented on #494
Hi @bobs4462 @BastiaanVanGaalen
I have some questions:
1. Is the user able to mention himself?
2. When tapping on the mentioned text in a bubble message, what would happen? Redirect to the user private discussion or open a bubble chat icon?
3. It should display the username or the name of mentioned one? For example: Me is `@leloan` or `Le Loan` ?
4. The suggestion is based on the username or the n

[2021-05-13 11:06] bobs4462 commented on #494
@tlle14 Hello
1. Should be able to, why not
2. Nothing, the bubble will be removed in the next build
3. In options list it displays first name + last name in message input field it displays username
4. The suggestion is based on username, firstname, lastname, whichever matches
5. It should scroll, yes.

[2021-05-13 11:16] tlle14 commented on #494
About the number 2, the user cannot open a direct chat with the mentioned user, did you mean?
Or we just do not implement it yet?

[2021-05-13 11:22] bobs4462 commented on #494
You should be able to open direct chat with the user (not now thought), but not via mentions suggestion list, while typing the message (because it doesn't make any sense to open direct chat with the user, when you are already typing the message).
It will be implemented in near future, when we work on mention based navigation (so it's just going to like the web version).

[2021-05-13 11:35] tlle14 commented on #494
I got your point, thanks @bobs4462

[2021-05-13 12:15] tlle14 commented on #494
Hi @bobs4462 could you please confirm one more thing? By replacing yes (y) or no (n) instead of the question mark.

Workspace member | Channel member | Able to mention? | Question?
-- | -- | -- | --
y | y | y |  
y | n (private channel) | ? | Can the mentioned user see the message?
y | n (public channel) | ? | Can the mentioned user see the message?
n | n | ? |  

[2021-05-13 12:50] RockinPaul opened #572 "Change the font in the app"
[https://app.zenhub.com/files/309637937/16c0b0ab-0d69-4885-a804-2ed1c812b65c/download](https://app.zenhub.com/files/309637937/16c0b0ab-0d69-4885-a804-2ed1c812b65c/download)

[2021-05-13 13:13] bobs4462 commented on #494
Workspace member | Channel member | Able to mention? | Question?
-- | -- | -- | --
y | y | y |
y | n (private channel) | y | Mentioned user will not get notification
y | n (public channel) | y | Mentioned user will not get notification
n | n | n |

Basically, mentions are workspace wide, and you can mention anyone in workspace, regardless of channel membership, but the mention based notifications

[2021-05-13 15:17] bobs4462 commented on #571
https://github.com/linagora/Twake-Mobile/wiki - created a wiki here

I will document all the new changes that we make in this wiki. For now, I just created skeleton description of existing state management.

You guys can contribute to it via git@github.com:linagora/Twake-Mobile.wiki.git

[2021-05-14 10:00] manhduc-nguyen commented on #523
@tlle14 seems like the password is saved to google account and it can't be filled somehow. I think its a bug from the device but since we are WFH right now in VN, I can't get the device so I'm pending it.

[2021-05-16 11:55] RockinPaul commented on #412
@BastiaanVanGaalen If so, could you please provide us with how it looks like?
The only place where I've found the clock icon is here: ![изображение.png](https://images.zenhubusercontent.com/5ffc24a2a62ff7cf134e10b3/cf8da1e2-2348-4786-9306-d7e56fc4bfb4)

[2021-05-16 19:52] bobs4462 commented on #494
@tlle14 Hi, should we close this one?

[2021-05-16 19:53] bobs4462 commented on #483
@tlle14, is this issue blocked by anything?

[2021-05-16 19:54] bobs4462 commented on #554
If channel messages were loaded once (and thus stored to local database), then they will be loaded again from it, and thus even if request to API timeouts, user will still be able to see messages from local cache

[2021-05-16 19:55] bobs4462 commented on #565
Swagger was already integreated in Q2 version of Twake, and just needed a tiny patch to work on local installations without ssl

[2021-05-16 19:55] #565 closed

[2021-05-16 19:56] bobs4462 commented on #376
@BenoitTallandier, hello, you can check the crisp support in latest version of the app

[2021-05-17 03:39] tlle14 commented on #314
I should close this ticket since it is the backend issue

[2021-05-17 03:39] #314 closed

[2021-05-17 03:59] tlle14 commented on #288
Hi @bobs4462 I can see the notification on Android only.
The case is not passed on iOS App.

[2021-05-17 04:00] tlle14 commented on #385
@bobs4462 It doesn't not work on iOS so I cannot close the ticket

[2021-05-17 04:18] tlle14 commented on #401
Retest pass!
Thank @bobs4462
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/37347ec7-1ba2-4dac-a582-855f90a7cebb)
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/18c2e18b-e814-4f65-bd4f-f9e28ed3df1b)

[2021-05-17 04:18] #401 closed

[2021-05-17 04:46] tlle14 commented on #517
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/215805cd-55bf-43f3-9171-59d9b72c4132/rpreplay_final1621225901.mp4

[2021-05-17 04:46] #517 closed

[2021-05-17 05:14] tlle14 commented on #504
Retest pass!
Thank @RockinPaul

[2021-05-17 05:14] #504 closed

[2021-05-17 08:15] EvGen94 commented on #548
Good day!
@tlle14 This bug was fixed, can you test it

[2021-05-18 09:07] tlle14 commented on #548
Thank @EvGen94
Retest pass!
https://images.zenhubusercontent.com/309637937/478fdf65-76fa-453a-95ef-6b8f351b95a6/videoac808e2c_d66b_43b6_b63f_44dcfa0844cevideo.mp4

[2021-05-18 09:07] #548 closed

[2021-05-18 09:12] tlle14 commented on #475
Hi @manhduc-nguyen
Retest failed with the messages in a channel.
https://images.zenhubusercontent.com/309637937/bf70f1d0-afb5-4216-ba4e-d2fd596b60cb/video31f230ae_2705_4f20_8faa_46a19b468627video.mp4

[2021-05-18 09:59] tlle14 commented on #455
This ticket will be fixed when the developer team has time.
That why I moved it to the icebox column

[2021-05-18 10:06] tlle14 commented on #519
Hi @bobs4462
The retest is blocked by the issue: cannot open the context menu in the thread screen.
https://images.zenhubusercontent.com/309637937/5b86a284-3f46-4a66-af7f-e796c7dc614d/video87bf04dc_73ab_4d15_947b_2f359c413eb9video.mp4

[2021-05-18 10:06] tlle14 commented on #480
I think we should.

[2021-05-18 10:06] #480 closed

[2021-05-18 10:17] tlle14 commented on #554
Hi @bobs4462
Retest failed!

**Actual Result:** When I turn off the internet connection then open the app, it displays nothing but the gray screen.
**Expected Result:** It should load data from the local cache as your solution.

https://images.zenhubusercontent.com/309637937/19a0cdff-ded6-4e80-983a-97f8b60bb40e/videofa50d41a_3a9c_4e00_891b_b0b5c1f7ae4evideo.mp4

[2021-05-19 07:32] tlle14 opened #577 "Attachments > Cannot upload a file size about 16Mb"
# Precondition
The file:
[https://app.zenhub.com/files/309637937/27e54370-cc60-4d09-8807-27c2c5f97e18/download](https://app.zenhub.com/files/309637937/27e54370-cc60-4d09-8807-27c2c5f97e18/download)

# Actual Result
When uploading a 16Mb file, it is infinity loading and cannot upload the video successfully.

# Expected Result
Please investigate the issue.
1. The App should have a limited file size

[2021-05-19 08:22] tlle14 opened #578 "Attachments > Breaks the uploading process after sending another message"
# Actual Result
When the file is in the progress of uploading, the user is able to send a text message or open another screen.
It will break the uploading process.
https://images.zenhubusercontent.com/309637937/9e65dd6f-846b-445b-a86e-aa01f2f39073/video6ddf1ceb_91bc_41da_824f_8bbb4919f366video.mp4

# Expected Result
1. When the user sends a text message, it shouldn't break the uploading process.
2

[2021-05-19 09:32] tlle14 commented on #514
Retest pass since the user cannot find himself in the search.
But we have another problem with the new channel displaying when doesn't invite anyone to the private channel. I will create another ticket

[2021-05-19 09:32] #514 closed

[2021-05-19 10:17] tlle14 opened #579 "Create channel > Cannot display a channel without invitees after created"
# Precondition
Create a public/private channel without invitees

# Actual Result
After creation, the channel cannot display. It keeps displaying without channel information on header
https://images.zenhubusercontent.com/309637937/9e87e8d3-8ecd-490a-9fda-72187eab21f8/video8cbf59f2_bbc6_442c_8b2f_9985da7571d7video.mp4

# Expected Result
The channel should be able to display after created, no matter

[2021-05-19 10:21] tlle14 commented on #370
I can see notifications on iOS app. Retest pass!
Thank @bobs4462

[2021-05-19 10:21] #370 closed

[2021-05-19 10:33] tlle14 commented on #520
Hi @bobs4462
Retest failed.
Please refer to this video
https://images.zenhubusercontent.com/309637937/e3a2442e-4373-41a7-9ce1-d7e6faff836b/video79fd063d_e155_40bc_be48_8ec7056cd3devideo.mp4

[2021-05-19 10:56] tlle14 commented on #281
Retest pass!
Thank @manhduc-nguyen
https://images.zenhubusercontent.com/309637937/2da78ecc-ab66-4ede-969a-a053dafafdf6/videod03cafe3_b038_429c_96bd_b97a87c91484video.mp4

[2021-05-19 10:56] #281 closed

[2021-05-19 11:08] tlle14 commented on #259
Hi @bobs4462
The feature is undone. I cannot select to upload a file or a photo on iOS, which is related to this issue https://github.com/linagora/Twake-Mobile/issues/561

About the design, it is changed. @BastiaanVanGaalen could you please confirm which one should be used?
[the new](https://app.zeplin.io/project/5fd7afb0317dc8827d6a8fb5/screen/60922e4b763f0608f0004ae0) or [the old](https://app.ze