[2021-05-19 13:30] BastiaanVanGaalen opened #581 "Test"

[2021-05-19 13:30] #581 closed

[2021-05-19 13:46] BastiaanVanGaalen opened #582 "Change color of a message bubble to 007AFF"

[2021-05-19 13:47] BastiaanVanGaalen opened #583 "Channel creation flow - re-design"
https://zpl.io/a3EY7kY

[2021-05-19 13:49] BastiaanVanGaalen commented on #572
@RockinPaul let's defer this task

[2021-05-19 13:55] BenoitTallandier opened #584 "[Story] Message system for thread answers"
## User story summary
[Definition](#Definition)
[Business case](#Business-case)
[Criteria](#criteria)
[UI/UX Design](#UI-UX-design)
[Notes](#notes)
[Related](#related)

## Definition
[code]

## Business case

- [ ] When I answer to the last thread of the channel feed, there is no message system
- [ ] When I answer to the thread of the channel feed that is not the last, there is a message system

#

[2021-05-19 16:23] BenoitTallandier opened #585 "[Story] Channel notifications settings"
## User story summary
[Definition](#Definition)
[Business case](#Business-case)
[UI/UX Design](#UI-UX-design)
[Notes](#notes)
[Related](#related)

## Definition
[code]

## Business case

- [ ] In the notification preference, I have the options : "Every message", "@all, @here and @username", "@username only", "Nothing".
- [ ] Options with @username should contain the username of the user (ex, "@all

[2021-05-19 16:33] BenoitTallandier opened #586 "[Story] Open a file preview"
## User story summary
[Definition](#Definition)
[Business case](#Business-case)
[UI/UX Design](#UI-UX-design)
[Notes](#notes)
[Related](#related)

## Definition
[code]

## Business case
- [ ] Open the server preview sent by the server
- [ ] Type accepted : office document (O365, mac suite, libre office), PDF, images (jpg, jpeg, png, tiff, svg), text (.txt)
- [ ] Resolution will be defined by the s

[2021-05-19 16:45] BenoitTallandier opened #587 "[Story] mention user in the message input"
## User story summary
[Definition](#Definition)
[Business case](#Business-case)
[Criteria](#criteria)
[UI/UX Design](#UI-UX-design)
[Notes](#notes)
[Related](#related)

## Definition
[code]

## Business case

- [ ] I can see only member of the current channel in the input
- [x] #797
- [ ] #798

## UI UX Design
![mention.png](https://images.zenhubusercontent.com/5f06c5a0e15425885ef10c4a/f0d1f4c6-3f

[2021-05-19 16:46] BenoitTallandier opened #588 "[Story] See mention in a message"
## User story summary
[Definition](#Definition)
[Business case](#Business-case)
[UI/UX Design](#UI-UX-design)
[Notes](#notes)
[Related](#related)

## Definition
[code]

## Business case

- [ ] #792
- [x] #793
- [ ] Mention that concern me (@myusername, @all, @here, @channel) are highlighted

## UI UX Design
![mentionMessage.png](https://images.zenhubusercontent.com/5f06c5a0e15425885ef10c4a/0eed456

[2021-05-20 02:31] tlle14 commented on #489
Hi @bobs4462
This retest is blocked by the issue cannot react to a message. I'm not sure if this is related to state management or not. Please investigate.

[2021-05-20 06:50] tlle14 opened #589 "As a user, I want the uploading attachments process change"
# Description
**As a** user

**I want** the attachments will be uploaded to the server
                AFTER the user submit the message

**so that** I don't have to wait for the attachments in uploading progress
                 AND able to continue other behaviors on the app

# Decomposition

# Test suite

# Visual Design

# Contributors

[2021-05-20 06:52] tlle14 commented on #589
I'm not sure I'm doing the right way, so please review my proposal @bobs4462 @RockinPaul
Thanks!

[2021-05-20 07:45] BenoitTallandier opened #590 "[Story] Pinned message view in channel and direct discussion"
## User story summary
[Definition](#Definition)
[Business case](#Business-case)
[Criteria](#criteria)
[UI/UX Design](#UI-UX-design)
[Notes](#notes)
[Related](#related)

## Definition
[code]

[code]

## Business case
- In the pinned message list, messages are ordered by date of sending
- A pinned message has an icon in his footer in the channel / direct discussion view.
- Every member of the channe

[2021-05-20 07:52] BenoitTallandier opened #591 "[Story] Rich input"

[2021-05-20 08:00] BenoitTallandier opened #592 "[Story] LinShare integration"

[2021-05-25 07:14] BastiaanVanGaalen commented on #498
@tlle14 Sign in flow was re-designed and is to be implemented in a scheduled time!
Screens for the reference: https://zpl.io/be3rNPY

[2021-05-25 07:15] BastiaanVanGaalen opened #596 "Sign in flow re-design"
Screens: https://zpl.io/be3rNPY

[2021-05-25 07:17] tlle14 commented on #498
Thank @BastiaanVanGaalen
Please tell me to retest this issue when it is implemented.

[2021-05-25 07:19] tlle14 commented on #498
Hi @BastiaanVanGaalen
Could you please update the design when there is an invalid credential? It should have an error message

[2021-05-25 08:53] BenoitTallandier opened #597 "Company & workspace"

[2021-05-25 09:03] BenoitTallandier opened #598 "[Issue] Star channel"
## User story summary
[Definition](#Definition)
[UI/UX Design](#UI-UX-design)
[Notes](#notes)
[Related](#related)

## Definition
[code]

## Criteria
- [ ] If I change the "starred" setting, the channel position is changed in the channel vue.

## UI UX Design
![starChannel.png](https://images.zenhubusercontent.com/5f06c5a0e15425885ef10c4a/c5b9540c-db71-49da-ba3d-60267c2a7084)

## Note

## Related

[2021-05-25 09:03] BenoitTallandier opened #599 "Channels"

[2021-05-25 09:06] BenoitTallandier opened #600 "[Story] Message reaction"
## User story summary
[Definition](#Definition)
[Business case](#Business-case)
[UI/UX Design](#UI-UX-design)
[Notes](#notes)
[Related](#related)

## Definition
[code]

## Business case

- [ ]
- [ ]

## UI UX Design

## Note

## Related

[2021-05-25 09:06] BenoitTallandier opened #601 "[Epic] Message view"

[2021-05-25 09:22] BenoitTallandier opened #602 "[Story] Message system wrapped up"
## User story summary
[Definition](#Definition)
[Business case](#Business-case)
[Criteria](#criteria)
[UI/UX Design](#UI-UX-design)
[Notes](#notes)
[Related](#related)

## Definition
[code]

[code]

## Business case

- [ ] When there are more than 5 system messages of response in a row, they are wrapped up and only 5 last are shown.
- [ ] When I click on "show more" at the end of a message system

[2021-05-25 16:47] #323 closed

[2021-05-25 16:47] #353 closed

[2021-05-25 20:59] BastiaanVanGaalen commented on #498
@tlle14 In case user makes an attempt to log in using an email address the is valid but is new, in this case we offer him to create an account with this new email: https://app.zeplin.io/project/5fd7afb0317dc8827d6a8fb5/screen/60aca0c818edbb04cf173310

All other validation errors occurring inside input fields are reflected in designs.

[2021-05-25 21:00] BastiaanVanGaalen commented on #498
@RockinPaul @tlle14 Splash screen: https://zpl.io/2ZMGqDE

[2021-05-25 21:01] BastiaanVanGaalen commented on #498
@tlle14  as for thread screen, i will re-design it tomorrow.

For now, we have just reply to a message by a single person.

[2021-05-26 09:34] BenoitTallandier opened #603 "[Story] Notification link"

[2021-05-31 12:29] BastiaanVanGaalen opened #605 "Increase emoji size inside channel avatars"
1) Please, increase emoji size inside the channel avatar, since it's rendered as text it would be so cool to set its size to 30 and see how it would look.
![Capture d’écran 2021-05-31 à 15.28.08.png](https://images.zenhubusercontent.com/5ffec051b78a0364c9757c86/d478c3df-9c14-48c3-b763-4ea9ccf2a85f)

[2021-05-31 12:53] BenoitTallandier opened #606 "[Story] Channel order"
## User story summary
[Business case](#Business-case)
[UI/UX Design](#UI-UX-design)
[Notes](#notes)
[Related](#related)

## Business case
- Channel vue is split in 2 sections : unread and read.
- Inside these 2 sections, there is 2 subsections :  stared channel and non normal channel
- In sub-sections of unread section, channels are sorted by last activity
- In sub-sections of unread section, chan

[2021-05-31 12:53] BenoitTallandier opened #607 "[Story] Channel order"
## User story summary
[Business case](#Business-case)
[UI/UX Design](#UI-UX-design)
[Notes](#notes)
[Related](#related)

## Business case
- Channel vue is split in 2 sections : pinned & non pinned channel
- Inside these section, by last activity
- Pinned channel do not stick to the top. They can be scrolled as other channel.

## Criteria
- [ ] If a channel A and B are non pinned, A has recent acti

[2021-05-31 13:07] BastiaanVanGaalen opened #608 "Workspace avatars should be with a grey background with initials of two first words in the middle of the avatar"
Since there are too emojis inside cahnnels, it would be better if we reduce the amount to the minimum and start displaying workspace avatars in grey with initials. ![Capture d’écran 2021-05-31 à 16.07.21.png](https://images.zenhubusercontent.com/5ffec051b78a0364c9757c86/2a5153f6-1a4d-45be-84e1-b62a7c9ca936)

[2021-05-31 13:27] BenoitTallandier opened #609 "[Story] Direct message order"
## User story summary
[Business case](#Business-case)
[UI/UX Design](#UI-UX-design)
[Notes](#notes)
[Related](#related)

## Business case
- Direct message vue is split in 2 main vue : starred and non starred
- The "non starred" section is sorted by last activity
- The "starred" section is sorted by last activity

## Criteria
- [ ] If a discussion A has recent activity than discussion B, A and B ar

[2021-06-07 17:58] bobs4462 opened #616 "[Story] Companies selection"
## User story summary
As a user I want to be able to switch between companies, that I have been invited to, so that in case if I'm a member of multiple companies, I can select the necessary one.

[Business case](#Business-case)
[UI/UX Design](#UI-UX-design)
[Notes](#notes)
[Related](#related)

## Business case
- User might have multiple companies
- User can switch to required company (organization

[2021-06-07 18:39] bobs4462 opened #617 "[Story] Workspaces selection"
## User story summary
As a user I want to be able to switch between workspaces in a given company, that I'm a members of, so that in case if company has multiple workspaces, I can select the necessary one.

[Business case](#Business-case)
[UI/UX Design](#UI-UX-design)
[Criteria](#Criteria)
[Notes](#notes)
[Related](#related)

## Business case
- User might be a member of several workspace in a sing

[2021-06-07 18:45] bobs4462 commented on #617
## User story summary
As a user I want to be able to switch between workspaces in a given company, that I'm a members of, so that in case if company has multiple workspaces, I can select the necessary one.

[Business case](#Business-case)
[UI/UX Design](#UI-UX-design)
[UI/UX Design](#Criteria)
[Notes](#notes)
[Related](#related)

## Business case
- User might be a member of several workspace in a

[2021-06-09 09:25] BenoitTallandier opened #620 "[Story] Onboarding tour"

[2021-06-11 09:14] tlle14 commented on #617
Hi @BastiaanVanGaalen @bobs4462 please confirm:
1. After selected a workspace, it opens the corresponding channel list, is this correct?
2. How can we open the workspace setting screen?
 ![image](https://user-images.githubusercontent.com/69950655/121662836-fd33bf00-cacf-11eb-859c-bc87defdf50c.png)
3. Is the Workspace setting screen is only accessible by Admin/Company Owner?

[2021-06-15 08:14] BastiaanVanGaalen commented on #617
@tlle14  As UI gets old within hours, this workspace switching logic became obsolete the day i designed it) Last Tuesday, new UI was approved by Alexandre where you switch between workspaces from within a side-menu on the left. You can see the updates by following the link:
https://zpl.io/VK7DMR8

@manhduc-nguyen Could you please confirm that you are working on the new [workspace switching mechani

[2021-06-15 08:35] tlle14 commented on #617
Thank @BastiaanVanGaalen
I will ignore the design in #1, #2, and #3
#4 Channel list will be ordered by Alphabetical as in Company list?

[2021-06-18 10:02] tlle14 opened #629 "User feedback > Request for a quick scroll (elevator scroll) for the long channel list"
# Actual Result
Original:
`also, in the app, there is no elevator to scroll quickly in long channel with a lot of channel... it could be more than useful.`

# Expected Result
Please consider if we need the improvement or a better solution for a quick scroll.

# Environment
Production

[2021-06-18 10:03] tlle14 commented on #629
Please take a look when you have time @bobs4462 @RockinPaul @BastiaanVanGaalen

[2021-06-24 07:10] #482 closed

[2021-06-28 04:26] tlle14 opened #644 "It is still be able to connect to the default server even the inputted server is invalid"
# Actual Result
When inputted an invalid server address, it shows a message "invalid host".
If the user closes the choosing host screen then login, it keeps the invalid host in the textbox but connecting to the default server.

https://user-images.githubusercontent.com/69950655/123579748-b0a3ef80-d802-11eb-99e5-962318914afb.mp4

# Expected Result
Please work with our UX designer/BA to make a flow.

[2021-06-28 07:42] tlle14 opened #645 "A member is able to create workspaces"
# Precondition
User1 has a member role
![image](https://user-images.githubusercontent.com/69950655/123597175-316fe500-d81d-11eb-9948-1f015f48ca8c.png)

# Actual Result
A normal member is able to create a workspace on Mobile
![image](https://user-images.githubusercontent.com/69950655/123598725-025a7300-d81f-11eb-9d80-a826cc5afc88.png)

# Expected Result
Please hide the button "add a new workspace"

[2021-06-28 08:13] tlle14 opened #646 "No "internet connection" warning and no "pulling to refresh" function"
# Actual Result
The new app doesn't have a `pull to refresh` function and a "no internet connection" warning.
There's nothing to acknowledge the user about the current situation.

https://user-images.githubusercontent.com/69950655/123602714-3d5ea580-d823-11eb-9a1b-0c0829d739b3.mp4

# Expected Result
Please work with our BA/Designer to consider adding these functions to the app. OR the app should h

[2021-06-28 09:14] tlle14 opened #648 "Displaying a gray screen when a new user logged in"
# Precondition
A new user has not been invited to any workspace yet or be deactivated

# Actual Result
When the new user logged in to the app, the app displays a gray screen without any information.
https://user-images.githubusercontent.com/69950655/123611021-5c613580-d82b-11eb-90df-1f3bb957177e.mp4

# Expected Result
There should have a message to inform the user about his state.

# Environment
B

[2021-06-28 10:06] tlle14 opened #649 "Workspace List > The tap area should be larger and highlight when selecting"
1. When switching between Workspaces, it is easy to hit between 2 workspaces, which is not the tap area.
Please remove the no tappable area.
![image](https://user-images.githubusercontent.com/69950655/123619727-ab12cd80-d833-11eb-8e8d-6b8a266945e0.png)

2. The tap area should be highlighted when it is being selected

[2021-06-28 14:10] #505 closed

[2021-06-28 14:10] RockinPaul commented on #505
Is not relevant anymore.

[2021-06-28 14:56] bobs4462 commented on #257
Let's close this one, due to unknown implementation date

[2021-06-28 14:56] #257 closed

[2021-06-28 14:57] bobs4462 commented on #242
Recent activities for all the user's cannot be synced with the app in a real time for now, and will require a tremendous amount of work in future, so let's close  this one, before we create a user story for the entire feature.

[2021-06-28 14:57] #242 closed

[2021-06-28 15:00] bobs4462 commented on #264
Not relevant anymore, as we store all the user's locally anyway

[2021-06-28 15:00] #264 closed

[2021-06-28 15:01] bobs4462 commented on #270
Not relevant anymore, have to move to one consistent emojimap across all the applications.

[2021-06-28 15:01] #270 closed

[2021-06-28 15:03] bobs4462 commented on #285
I don't think that this issue has a solution right now, because backend doesn't support it yet, so we'll return to it in further iterations.

[2021-06-28 15:03] #285 closed

[2021-06-28 15:05] bobs4462 commented on #320
Not relevant anymore, as the channel edition is being reworked

[2021-06-28 15:05] #320 closed

[2021-06-28 15:08] bobs4462 commented on #355
@BastiaanVanGaalen close this one if not relevant anymore, or expand it into user story, you can contact @EvGen94, as he worked on user mentions recently

[2021-06-28 15:09] BastiaanVanGaalen commented on #355
@bobs4462 Have we implemented this functionality?

[2021-06-28 15:09] bobs4462 commented on #364
The app should start much faster now (after the first login is successful), due to changed data retrieval model

[2021-06-28 15:09] #364 closed

[2021-06-28 15:11] bobs4462 commented on #372
Should be fixed now

[2021-06-28 15:12] bobs4462 commented on #375
@EvGen94 please confirm that this issue is fixed and move to QA test column

[2021-06-28 15:14] bobs4462 commented on #393
This one is pretty big and deserves entire user story and coordination with twake core. Closing for now, as it will not be implemented any time soon

[2021-06-28 15:14] #393 closed

[2021-06-28 15:18] bobs4462 commented on #406
closing, as it is a stale issue

[2021-06-28 15:18] #406 closed

[2021-06-28 15:18] bobs4462 commented on #407
Stale issue, closing...

[2021-06-28 15:18] #407 closed

[2021-06-28 15:19] bobs4462 commented on #415
@RomaricMourgues a quick reminder here :)

[2021-06-28 15:20] bobs4462 commented on #449
Everything is cached now, so this should not be an issue anymore

[2021-06-28 15:22] bobs4462 commented on #448
@BastiaanVanGaalen please take a look at this. If you don't think that this issue should be addressed, please close it.
Right now, if user logs in for the first time, we choose his first company and first workspace in that company (just like web) and then we persist selection across restarts.

[2021-06-28 15:24] bobs4462 commented on #466
not relevant anymore due to redesign

[2021-06-28 15:24] #466 closed

[2021-06-28 15:24] bobs4462 commented on #469
We will rework entire logic for the connection loss cases

[2021-06-28 15:24] #469 closed

[2021-06-28 15:25] bobs4462 commented on #494
@tlle14 ping

[2021-06-28 15:28] bobs4462 commented on #498
Closing it for now, because a lot of screens including the login and others will be changed again pretty soon (during the next month)

[2021-06-28 15:28] #498 closed

[2021-06-28 15:28] bobs4462 commented on #501
should be almost instant now

[2021-06-28 15:32] bobs4462 commented on #355
We have mention functionality, i.e we can user @ symbol to trigger the displays of user list when composing the message. But the title of this issue is pretty confusing, so we may not have the functionality you meant

[2021-06-28 15:34] bobs4462 commented on #503
@BastiaanVanGaalen @tlle14 should we keep this issue around? If yes, please list out the changes, that need to be implemented

[2021-06-28 15:35] bobs4462 commented on #549
@EvGen94 please check this again

[2021-06-28 15:35] bobs4462 commented on #543
Irrelevant, as all the search happens on local database

[2021-06-28 15:35] #543 closed

[2021-06-28 15:37] bobs4462 commented on #527
Is it even still reproducible?  @tlle14

[2021-06-28 15:38] bobs4462 commented on #523
closing this one, as we might be moving back to webview authentication, for the better future integration with twake console

[2021-06-28 15:38] #523 closed

[2021-06-28 15:39] bobs4462 commented on #519
@tlle14 please check again

[2021-06-29 03:00] tlle14 commented on #372
The issue is no longer existing.

[2021-06-29 03:00] #372 closed

[2021-06-29 03:30] tlle14 commented on #375
The new workspace displays after the member restart app.
Are you guys going to apply automatically update when a member invited to a new workspace? @bobs4462 @RockinPaul

[2021-06-29 03:47] tlle14 commented on #449
Hi @bobs4462
I still see a latency white screen while switching back to the workspace (with lots of channels but none of them has messages).
This should be an improvement, not an issue.
https://user-images.githubusercontent.com/69950655/123733975-ab0fdd80-d8c6-11eb-9ec1-0784ef31d995.mp4

[2021-06-29 03:58] tlle14 commented on #503
I should close this ticket

[2021-06-29 03:58] #503 closed

[2021-06-29 04:23] tlle14 commented on #501
the issue is no longer existing

[2021-06-29 04:23] #501 closed

[2021-06-29 04:26] tlle14 commented on #494
Hi @bobs4462 I don't see this feature implemented in the new build. Could you please confirm?

[2021-06-29 04:45] tlle14 opened #651 "Unread counter for a channel always starts at 2"
# Actual Result
An unread counter for a channel always starts at "2"

# Expected Result
It should start at 1

# Environment
Build version: 3.0.0
Device: Samsung Galaxy A51 - Android 11 - 6.5 inch
QA environment

[2021-06-29 07:25] tlle14 opened #652 "Mention text in a preview message exposes user ID"
# Actual Result
Mention text in a preview message exposes user
![image](https://user-images.githubusercontent.com/69950655/123751780-49f60300-d8e2-11eb-941b-5585554cc4cd.png)

# Expected Result
The preview message shouldn't expose userID in a mention text

# Environment

- Build version: 3.0.0
- Device: Samsung Galaxy A51 - Android 11 - 6.5 inch
- QA environment

[2021-06-29 07:57] tlle14 opened #653 "Create Workspace > It always displays limitation popup when adding over 5 members"
# Precondition
- User Story: [AC1] https://ci.linagora.com/linagora/lgs/saas/portal/specifications/issues/197
- Owner email has been verified

# Actual Result
1. When creating a new workspace, it always restricts when adding more than 5 members to the workspace, even the owner's email is verified.
https://user-images.githubusercontent.com/69950655/123758737-6ea1a900-d8e9-11eb-9276-0312c682401f.mp4

[2021-06-29 08:10] tlle14 opened #654 "Fixed text in the welcome message of a new channel"
# Actual Result
It always display channel name as `Test`
![image](https://user-images.githubusercontent.com/69950655/123761473-0e603680-d8ec-11eb-91ab-512f534efb4d.png)

# Expected Result
"Test" should be replaced by the channel name

# Environment

- Build version: 3.0.0
- Device: Samsung Galaxy A51 - Android 11 - 6.5 inch
- QA environment

[2021-06-29 08:22] tlle14 opened #655 "Missing name of text field context menu"
# Actual Result
Missing the name of the select/copy/paste button when interacting with the text in App
![image](https://user-images.githubusercontent.com/69950655/123763164-b75b6100-d8ed-11eb-8fc0-7a6b3a634fb4.png)

# Expected Result
The button name in context menu should show

# Environment

- Build version: 3.0.0
- Device: Samsung Galaxy A51 - Android 11 - 6.5 inch
- QA environment

[2021-06-29 10:35] tlle14 opened #657 "The channel cannot load a full chat history"
# Precondition
A channel history contains a thread that has about 30 replies
The user is added to a channel after the long thread

# Actual Result
On Mobile, the new added user cannot see a chat history before the long thread

On Mobile:
![image](https://user-images.githubusercontent.com/69950655/123775375-86345e00-d8f8-11eb-817c-eca1244c4f35.png)

On Web:
![image](https://user-images.githubuserco

[2021-06-29 10:41] tlle14 opened #658 "Cannot load messages in the direct chat"
# Actual Result
 Mobile cannot retrieve message in the direct chat

# Expected Result
Messages in the direct chat should be displayed on mobile

# Environment

- Build version: 3.0.0
- Device: Samsung Galaxy A51 - Android 11 - 6.5 inch
- QA environment

[2021-06-29 11:03] tlle14 opened #659 "Mentioning is not working"
# Actual Result
When typing to mention, it doesn't show the user suggestion list for the user to choose

https://user-images.githubusercontent.com/69950655/123786659-25128780-d904-11eb-9c64-050b29a33a4c.mp4

# Expected Result
The user suggestion list should be shown

# Environment

- Build version: 3.0.0
- Device: Samsung Galaxy A51 - Android 11 - 6.5 inch
- QA environment

[2021-06-29 12:59] bobs4462 commented on #449
It's already fixed, you should be able to test it in the next build

[2021-06-29 13:01] bobs4462 commented on #375
I'll workspace fetching when user opens the drawer, so he will always see the latest list of workspaces

[2021-06-29 15:15] BastiaanVanGaalen commented on #653
<img width="592" alt="Capture d’écran 2021-06-29 à 18 07 37" src="https://user-images.githubusercontent.com/75843710/123822367-e4ffd480-d904-11eb-8af0-af312c2e31c7.png">

This pop-up with a limitation message
@tlle14

[2021-06-30 03:00] tlle14 opened #661 "It keeps displaying splash screen even the user logged in successfully"
# Actual Result
When the user logged in successfully but the app still shows the splash screen instead of the channel list.
The user needs to restart the app to access the app.

# Expected Result
It should show the channel list after user logged in successfully.

# Environment
- Build version: 3.0.1
- Device:
     Samsung Galaxy A51 - Android 11 - 6.5 inch
     iPhone 11 Promax - iOS 14.4 - 6.46 i

[2021-06-30 04:13] tlle14 opened #662 "Mixing up channel when switching between workspaces"
# Actual Result
When switching between workspaces, let's say workspaceA and workspaceB, channel list of workspaceA is shown on workspaceB

https://user-images.githubusercontent.com/69950655/123900847-09ef5880-d994-11eb-8e1e-12e21b0f211b.mp4

# Expected Result
It should show the channel list of the corresponding workspace even when the user switching workspaces fastly

# Environment

- Build versio

[2021-06-30 06:34] tlle14 commented on #657
On Production, it shows a gray screen for the unloaded history. The same issue but not the same reenactment way.
![image](https://user-images.githubusercontent.com/69950655/123912901-cc94c600-d9a7-11eb-9b2e-77a889005b99.png)

[2021-06-30 06:59] tlle14 opened #663 "Message > Edited message changes the created time and jumps to the bottom"
# Actual Result
After being updated, the message changes its position to the newest message (on the bottom), also changes its created time.
**On Mobile:**
![image](https://user-images.githubusercontent.com/69950655/123915865-2480fc00-d9ab-11eb-83a7-dbe40cd782ac.png)

**On Web:**
![image](https://user-images.githubusercontent.com/69950655/123915778-1337ef80-d9ab-11eb-9836-2ecaebcdf20e.png)

# Expec

[2021-06-30 07:06] bobs4462 commented on #658
Please retest with the latest build

[2021-06-30 07:17] tlle14 commented on #658
Still get the problem @bobs4462 :(

[2021-06-30 07:24] bobs4462 commented on #662
Hello @tlle14 , in provided video I haven't noticed, that the channels were mixed up, can you please describe which channels from which workspace are being show in a wrong place?

[2021-06-30 07:30] tlle14 opened #664 "Message > Some messages in the channel are duplicated"
# Actual Result
Some messages in the channel are duplicated and having an incorrect reply counter.

On Mobile:
![image](https://user-images.githubusercontent.com/69950655/123919545-395f8e80-d9af-11eb-8038-3305c495e9b5.png)

On Web
![image](https://user-images.githubusercontent.com/69950655/123919398-18973900-d9af-11eb-8eb9-c87b2954a6b6.png)

# Expected Result
The messages shouldn't be duplicated

[2021-06-30 07:30] bobs4462 commented on #661
@tlle14 I was able to login to https://beta.twake.app without any issues, though it took 2 minutes to sync my data (if you have more channels and workspaces, it might take more time).

[2021-06-30 07:34] bobs4462 commented on #661
I also logged into https://web.qa.twake.app using your test account, no problems here either

[2021-06-30 07:36] bobs4462 commented on #658
Do you see a grey screen, or there's simply no messages in direct chat?

[2021-06-30 07:36] tlle14 commented on #662
Sorry @bobs4462 for the evidence.
When switching from Software workspace to Vietnam Workspace, it shows Software channel list in VN workspace.

 Software channel list:
![image](https://user-images.githubusercontent.com/69950655/123920661-652f4400-d9b0-11eb-8b97-88cb0abb62f3.png)

VN channel list:
![image](https://user-images.githubusercontent.com/69950655/123920559-49c43900-d9b0-11eb-9cc6-291910d5

[2021-06-30 07:40] tlle14 commented on #661
Hi @bobs4462 2 minutes is too long. Could you please find a way to improve this feature? It should take about 10s-20s to login.

[2021-06-30 07:42] tlle14 commented on #661
And hey, i have to wait 4 minutes >_<

[2021-06-30 07:46] tlle14 commented on #658
Hi, please watch this video
https://user-images.githubusercontent.com/69950655/123922206-fc48cb80-d9b1-11eb-81a5-5bc928cd81fb.mp4

[2021-06-30 08:03] bobs4462 commented on #661
Ok, working on that

[2021-06-30 08:41] tlle14 opened #665 "Message > Cannot show all replies in a thread"
# Precondition
A threaded message has about 40 replies

# Actual Result
When opening the threaded message, it only shows a half of the replies.

![image](https://user-images.githubusercontent.com/69950655/123929780-58fbb480-d9b9-11eb-9e4f-f2f8b9799ea6.png)
![image](https://user-images.githubusercontent.com/69950655/123930006-83e60880-d9b9-11eb-9c84-58c180151ab8.png)

# Expected result
It should be

[2021-06-30 08:56] EvGen94 commented on #644
Hi @tlle14
Now when input an invalid server address then close the screen the invalid server changes to the default one or the last validated

[2021-06-30 09:02] tlle14 opened #666 "Create Direct Chat > It keeps loading Recent chat and People in New direct chat screen"
# Actual Result
When opening a New Direct chat screen, it keeps loading the Recent Chats and People
https://user-images.githubusercontent.com/69950655/123932536-bee93b80-d9bb-11eb-9d16-9eb0db6c0df6.mp4

# Expected Result
It should be able to load the Recent Chats list and People list.

# Environment
- Build version: 3.0.1
- Device:
     Samsung Galaxy A51 - Android 11 - 6.5 inch
     iPhone 11 Pro

[2021-06-30 10:16] tlle14 commented on #659
Worked on 3.0.1
Maybe the issue was from the Server.

[2021-06-30 10:16] #659 closed

[2021-06-30 10:28] tlle14 opened #668 "Mention is sent as a normal text"
# Actual Result
On mobile, when sent a mention, it is displaying as normal text on both web and mobile. There also has no notification for the mention.

**On Mobile:**
https://user-images.githubusercontent.com/69950655/123944924-d29a9f00-d9c7-11eb-810e-af3c63c2c3c3.mp4

**On Web:**
![image](https://user-images.githubusercontent.com/69950655/123945160-0d9cd280-d9c8-11eb-8ce6-b52f817ebffc.png)

# Ex

[2021-06-30 14:14] bobs4462 commented on #376
It can be accessed in customer support tab, in user profile info (via side drawer)

[2021-06-30 14:16] bobs4462 commented on #554
can you give this a retest?

[2021-06-30 14:16] bobs4462 commented on #571
Finished

[2021-06-30 14:16] #571 closed

[2021-06-30 14:18] bobs4462 commented on #666
Should be fixed in next build

[2021-06-30 14:18] bobs4462 commented on #665
Thread messages should loaded fully if internet connection is present (might be a slight delay)

[2021-06-30 14:19] bobs4462 commented on #664
Core backend issue, I don't when they have time to fix it

[2021-06-30 14:19] bobs4462 commented on #662
Should be fixed in the next build

[2021-06-30 14:21] bobs4462 commented on #661
reduced the time to 30 seconds + 5-10 seconds for the authentication to complete. We will show a different screen with progress bar when sync is in progress

[2021-06-30 14:21] bobs4462 commented on #658
Should be fixed in the next build

[2021-06-30 14:23] bobs4462 commented on #657
I will try to reproduce this one

[2021-06-30 14:25] bobs4462 commented on #654
Should be fixed in the next build

[2021-06-30 14:27] bobs4462 commented on #564
can you please retest?

[2021-06-30 14:28] bobs4462 commented on #518
Can we close this issue?

[2021-06-30 14:29] bobs4462 commented on #648
Should be fixed in the next build

[2021-06-30 14:30] bobs4462 commented on #579
Does this issue still persist?

[2021-06-30 16:23] bobs4462 commented on #652
Fixed, should be out in next build

[2021-06-30 16:25] bobs4462 commented on #668
Fixed, mentions are highlighted and should trigger notification

[2021-07-01 02:26] RockinPaul commented on #448
Dear @BastiaanVanGaalen  , the task is still here and doesn't seem to be going anywhere without your participation.

[2021-07-01 02:38] RockinPaul commented on #629
@BastiaanVanGaalen please take a look. I'll be able to implement this with a Floating button, for example, which is a common approach for the case.

[2021-07-01 02:44] RockinPaul commented on #653
Anyone is taking care of this? Otherwise, I've taken it on my own for now.

[2021-07-01 02:50] tlle14 commented on #653
Hi @RockinPaul sorry for this late. I will retest and inform you the result later. Please skip this for now.

[2021-07-01 02:52] RockinPaul commented on #558
I suppose we need some silent push notification to figure out when the role has been changed. @romanesko @bobs4462 what do you think?

[2021-07-01 03:00] RockinPaul commented on #350
@bobs4462  no, since we decided (believing that we've been granted to decide) that directs are for the one-to-one conversations only. If the required condition is possible in API - I can fix that.

[2021-07-01 04:24] tlle14 commented on #653
I updated the description, please check it again @RockinPaul @BastiaanVanGaalen

[2021-07-01 04:55] tlle14 commented on #629
If we have a search bar for a channel list, I don't think we need a quick scroll.
And, if we have a search bar for a direct list, why do we need a "new direct chat" screen?

[2021-07-01 05:09] tlle14 commented on #579
The issue is no longer existing.

[2021-07-01 05:09] #579 closed

[2021-07-01 05:54] bobs4462 commented on #350
@BenoitTallandier Hello, do we need to implement direct chats with multiple members in mobile app? For now direct chats can only be created with one user only. @BastiaanVanGaalen your opinion here also will be valuable.

[2021-07-01 05:56] bobs4462 commented on #558
@RomaricMourgues hello, is there any viable way to communicate such information to mobile app?

[2021-07-01 06:45] tlle14 commented on #518
The issue is no longer existing

[2021-07-01 06:45] #518 closed

[2021-07-01 06:47] tlle14 commented on #564
The issue is no longer exist

[2021-07-01 06:47] #564 closed

[2021-07-01 07:05] tlle14 commented on #554
Local cache fixes this.

[2021-07-01 07:05] #554 closed

[2021-07-01 07:18] tlle14 commented on #644
Thank @EvGen94
Retest pass on 3.0.1

https://user-images.githubusercontent.com/69950655/124082642-22846f00-da77-11eb-800e-f1430fb030b1.mp4

[2021-07-01 07:18] #644 closed

[2021-07-01 07:32] BenoitTallandier commented on #350
Yes, we have to implement direct discussion with 2 or more people inside.
Sometimes, users don't want to create a specific channel for temporary discussion. So they will use direct chat for that.

[2021-07-01 07:58] RomaricMourgues commented on #558
Right now even the desktop doesn't have this in realtime, so I'm afraid not yet. Why not reloading this information when the app startup ?
You have new node endpoints to get users / workspace / company information that can be faster than the php ones: https://www.notion.so/twake/Rest-APIs-07c0294728794901b8c8a4518ad5852c

[2021-07-01 08:01] BastiaanVanGaalen commented on #350
Ok i will create the UI flow allowing users to create a group chat/quick discussion chat instead of creating a channel

we might as well offer different set of options such as:
- auto-destroy such chats after n-days(user will specify a span manually) so not to clutter your channel list
- groups can be converted into a channel if necessary

[2021-07-01 08:13] BenoitTallandier commented on #350
For the auto-destroy, I’m not a big fan.
User can hide direct discussion, so if they don’t want to see anymore the discussion in there sidebar.

I totally agree with your idea of conversion. It could be useful in some case :)

Benoît Tallandier
***@***.***
(+33)6 06 49 36 81
Le 1 juil. 2021 à 10:01 +0200, BastiaanVanGaalen ***@***.***>, a écrit :

[2021-07-01 08:17] tlle14 opened #672 "Sometimes channel list is suddenly freezing"
# Precondition
- After creating a new channel
- OR the app is unused for a long time about 30mins

# Actual Result
Sometimes the channel list is like freezing, I cannot tap to open any channel in the list

https://user-images.githubusercontent.com/69950655/124090684-45b31c80-da7f-11eb-962d-fe0d0224c92e.mp4

# Expected Result
Please investigate, it's like the session timeout or losing internet conn

[2021-07-01 08:32] tlle14 opened #673 "Create channel > Channel icon keeps loading when it is not set"
# Precondition
Create a channel without selecting channel icon

# Actual Result
When reopening the new channel, the channel icon displays as if it is loading

https://user-images.githubusercontent.com/69950655/124092811-7431f700-da81-11eb-89a8-2ecac7130ca6.mp4

# Expected Result
The channel icon should be randomly selected when open the create channel screen
OR the channel icon which is not set be

[2021-07-01 09:05] tlle14 opened #674 ""See all answers" button is lost after back from the thread screen"
# Actual Result
After reply a message then back from the thread screen, the "see all answers" button disappears
https://user-images.githubusercontent.com/69950655/124097046-5ebecc00-da85-11eb-9f21-e980a6a19580.mp4

# Expected Result
After going back from the thread screen, the see all answers button should shown and be updated

# Environment

- Build version: 3.0.1
- Device:
     Samsung Galaxy A5

[2021-07-01 09:14] tlle14 opened #675 "Create channel > Tap area should be expanded"
# Actual Result
It doesn't open the create channel screen when tapping on this green area
![image](https://user-images.githubusercontent.com/69950655/124098401-b7db2f80-da86-11eb-801d-0611dee8e3b4.png)

# Expected Result
The green marked area should be tappable

# Environment

- Build version: 3.0.1
- Device:
     Samsung Galaxy A51 - Android 11 - 6.5 inch
     iPhone 11 Promax - iOS 14.4 - 6.46 i

[2021-07-01 09:25] tlle14 opened #676 "Create direct chat > unable to search people to create a direct chat"
# Actual Result
Cannot find people by email or name to create a direct chat

https://user-images.githubusercontent.com/69950655/124100776-f1149f00-da88-11eb-8954-5c7687b212c1.mp4

# Expected Result
It should return the search result

# Environment

- Build version: 3.0.1
- Device:
     Samsung Galaxy A51 - Android 11 - 6.5 inch
     iPhone 11 Promax - iOS 14.4 - 6.46 inch
- QA environment and Prod

[2021-07-01 10:19] bobs4462 commented on #674
Yes, there's an issue with responses count on backend, the same issue is causing this bug #664
I've informed Romaric, he's looking into this

[2021-07-01 10:23] tlle14 opened #678 "Messages are displaying in a wrong channel when switching too fast between channels"
# Actual Result
When switching a bit fastly between channels, the messages of this channel will display in another channel.
https://user-images.githubusercontent.com/69950655/124103190-3a65ee00-da8b-11eb-892d-52b19f688aa7.mp4

# Expected Result
The messages should be displayed in the correct channel

# Environment
- Build version: 3.0.1
- Device:
     Samsung Galaxy A51 - Android 11 - 6.5 inch

[2021-07-01 10:34] tlle14 commented on #556
@bobs4462 @RockinPaul @manhduc-nguyen @romanesko  please notice this issue.
Still happens on 3.0.1

[2021-07-01 10:42] bobs4462 commented on #678
yes, can confirm it, and happy to tell you that it's also fixed. It's related to #662, incorrect management of screen states

[2021-07-01 10:43] bobs4462 commented on #676
Could only reproduce it with your test account. Fixed (next build)

[2021-07-01 10:45] bobs4462 commented on #672
Was unable to reproduce it after fixed #678, please retest it in the next build

[2021-07-01 10:46] bobs4462 commented on #651
Fixed, should be ok, in the next build

[2021-07-01 10:50] bobs4462 commented on #556
Yes, I've created an issue on Twake core project, it's purely backend problem https://github.com/linagora/Twake/issues/1399

[2021-07-01 11:06] bobs4462 commented on #572
@BastiaanVanGaalen what should we do with this one?

[2021-07-01 11:12] bobs4462 commented on #587
@BenoitTallandier

But in web we can mention anyone in the whole workspace, not just the channel members. So currently this feature is implemented the same as on web for the reasons of consistency

[2021-07-01 11:18] bobs4462 commented on #653
Yes, the issue exists, because mobile application doesn't have the information, regarding whether user has been verified or not. @RomaricMourgues can you please point us the direction where can we obtain that data?

[2021-07-01 12:38] RomaricMourgues commented on #653
Yes, you get a "is_verified" field on the https://beta.twake.app/ajax/users/current/get endpoint, and also a "is_verified" on the node endpoint GET /internal/services/users/v1/users/:user_id (see this documentation for node: https://www.notion.so/twake/Rest-APIs-07c0294728794901b8c8a4518ad5852c)

[2021-07-02 02:30] tlle14 commented on #616
Retest pass!

[2021-07-02 02:30] #616 closed

[2021-07-02 02:31] tlle14 commented on #617
Retest pass!

[2021-07-02 02:31] #617 closed

[2021-07-02 02:31] #597 closed

[2021-07-02 02:38] tlle14 commented on #519
The issue is no longer existing

[2021-07-02 02:38] #519 closed

[2021-07-02 03:13] #583 closed

[2021-07-02 03:21] tlle14 commented on #649
Retest pass on 3.0.2
Thank @manhduc-nguyen
https://images.zenhubusercontent.com/309637937/dfd9705d-63e8-4530-8af2-73c15dcc706e/videoaa411880_1cdf_4daf_891c_7e52228c42c2video.mp4

[2021-07-02 03:21] #649 closed

[2021-07-02 03:25] tlle14 commented on #652
Thank @manhduc-nguyen
Retest pass!
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/4bd3e647-a07a-4ff4-847a-4af9723811c8)

[2021-07-02 03:25] #652 closed

[2021-07-02 03:26] tlle14 commented on #655
Thank @manhduc-nguyen
Retest pass!
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/f2c442b2-2d52-49c5-81dd-15fcacbdcf9d)

[2021-07-02 03:26] #655 closed

[2021-07-02 04:04] tlle14 commented on #661
Retest pass!
Thank @bobs4462
It takes an average of 20 seconds to login.
https://images.zenhubusercontent.com/309637937/d9d3bec3-55ab-4996-b78c-d921ca91fa15/video5e157957_b372_4cdd_a200_b26c778912ddvideo.mp4

[2021-07-02 04:04] #661 closed

[2021-07-02 04:08] tlle14 commented on #361
Hi @bobs4462 The issue happens again on 3.0.2.
Please take a look

[2021-07-02 04:40] tlle14 commented on #678
Retest failed on 3.0.2 @bobs4462
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/59aef3fe-2222-477d-9364-681f58aefd63)

[2021-07-02 06:37] tlle14 commented on #676
I can search by email, but how about searching by username?
Do you have a plan to apply this feature?
@bobs4462

[2021-07-02 06:44] tlle14 commented on #676
I can search the user now. Thank you
https://images.zenhubusercontent.com/309637937/73ee2368-a625-4dc7-b926-524d0acdc890/rpreplay_final1625208188.mp4

[2021-07-02 06:44] #676 closed

[2021-07-02 06:58] tlle14 opened #680 "Sync screen has typo issue"
# Actual Result
![image](https://user-images.githubusercontent.com/69950655/124233517-1cf15c80-db3d-11eb-925d-ff35a2acb25e.png)

# Expected Result
Please correct the typo
(Typing too fast but loading too slow? ;) )

# Environment
- Build version: 3.0.2
- Device:
     Samsung Galaxy A51 - Android 11 - 6.5 inch
     iPhone 11 Promax - iOS 14.4 - 6.46 inch
- QA environment and Prod

[2021-07-02 07:53] tlle14 opened #681 "Loading message in the channel at first is delaying a bit"
# Precondition
First time opening the app

# Actual Result
1. After workspaces and channel list is loaded, tap to open a channel, it took about 20s to show message history in the channel

2. When the channel is loading messages, it shows an inappropriate message
![image](https://user-images.githubusercontent.com/69950655/124237845-2d580600-db42-11eb-9cdd-018bc495d8a4.png)

3. After finishing the l

[2021-07-02 07:59] bobs4462 commented on #678
@tlle14 I'm unable to reproduce it in the latest build on android, both on emulator and a real device. And according to programmed logic it shouldn't be able to load the messages from wrong channel. But the issue definitely was present in the previous build, so can you make sure that you are running the latest build?

[2021-07-02 08:04] bobs4462 commented on #681
Well, the issue here is the following:
1. We are not syncing messages to local storage, to reduce sync time
2. When you open a channel the first time it looks up the messages in local storage and finds none, and make a request to remote server
3. It takes time to fetch messages from remote server, because our proxy is slow

@BastiaanVanGaalen @romanesko any ideas on how we can improve this one?

[2021-07-02 08:14] tlle14 commented on #678
You can follow these steps:
1. Open channelA
2. Scroll down to explore the chat history
3. While channelA chat history is loading, you give up and switch to the channelB.
4. Verify the issue: channelA message is shown on channelB

[2021-07-02 08:55] tlle14 opened #682 "Create Direct chat > It doesn't search in Recent Chats section"
# Precondition
I have a long recent chat
The person I want to search is in the Recent Chats

# Actual Result
1. The person in Recent Chats doesn't appear in the People
2. When I want to search for a person, if he/she is in the Recent Chats, he/she will not appear in a search result
https://user-images.githubusercontent.com/69950655/124248896-80838600-db4d-11eb-8eb3-1727aad73447.mp4

# Expected Res

[2021-07-02 09:07] tlle14 commented on #668
Hi @bobs4462
Retest failed when mentioning multiple accounts at a time
![image](https://user-images.githubusercontent.com/69950655/124251002-a01bae00-db4f-11eb-975a-6598294a9218.png)

[2021-07-02 09:31] bobs4462 commented on #678
Oh, that makes sense, thanks for the hint, I'll fix it in the next build

[2021-07-02 10:30] BastiaanVanGaalen commented on #681
Ok, i will prepare a design for this case!

[2021-07-02 11:18] tlle14 opened #685 "The bubble message left angle is in the wrong place"
# Actual Result
The bubble message left angle is not pointing to the avatar, it doesn't look like a speech bubble.
![image](https://user-images.githubusercontent.com/69950655/124266615-681d6680-db61-11eb-83fe-2032b149ee8f.png)

# Expected Result
The bubble message right angle should point to the avatar, you need to flip the bubble speech.

# Environment
- Build version: 3.0.2
- Device:
Samsung Gal

[2021-07-02 11:25] tlle14 opened #686 "It doesn't show username in the conversation/ channel"
# Actual Result
In the conversation, it doesn't show the usernames of participants.
![image](https://user-images.githubusercontent.com/69950655/124267442-73bd5d00-db62-11eb-99ef-f897334c1713.png)

# Expected Result
It should show the username of participants in the bubble speech. Like this:
![image](https://user-images.githubusercontent.com/69950655/124267694-ceef4f80-db62-11eb-9e24-93efb8a9c62f.p

[2021-07-02 11:59] bobs4462 commented on #558
I personally think that we should ditch those ad-hoc permissions and use plain old roles instead for the following reasons:
1. There just 4 roles and way more permissions, the less the better here
2. Permissions are just proxy inserted attributes, and not recognized by twake core, unlike roles
3. We are going to remove proxy layer in near future

[2021-07-02 12:02] bobs4462 commented on #375
I've made a change, so that the list of workspaces are updated every time user opens a side drawer.

[2021-07-02 12:21] BastiaanVanGaalen commented on #681
@tlle14 I've prepared case handler, there will be animation of loading chat data.

@bobs4462 Hope, somebody from front-end comrades can take this task over

[2021-07-02 12:23] BastiaanVanGaalen commented on #681
https://zpl.io/bPBz9zl

[2021-07-05 03:57] tlle14 commented on #605
Retest pass!
I can say those are huge emoji
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/866e49f0-b66e-4865-bbbf-4dfbf7783d6a)

[2021-07-05 04:44] tlle14 opened #688 "Message > The messages/ reactions/ reply cannot be auto-updated"
# Precondition
There has a channel
UserA is on Twake Web
UserB is on Android
UserC is on iOS

# Actual Result
When UserA sends a message to the channel, UserB can receive the message instantly, but UserC cannot see the channel updated.
The issue also happen when sending a message from android.
![image](https://user-images.githubusercontent.com/69950655/124424153-bc5a5d80-dd90-11eb-9d1b-6611149d8ae

[2021-07-05 07:02] tlle14 opened #689 "UI > Context menu issue"
# Actual Result
1. Delete button name is in the line break
![image](https://user-images.githubusercontent.com/69950655/124429816-8d47ea00-dd98-11eb-8919-21dd95a8c69c.png)
2. On iOS, the footer of context menu is gray
=>The context menu footer on iOS should be in the same color with background

3. Buttons on the context menu looks bigger than the actual design
https://app.zeplin.io/project/5fd7afb0

[2021-07-05 07:15] tlle14 opened #690 "Thread > When tap "Reply" button in a thread screen, nothing happens"
# Actual Result
On the thread screen, hold to open the context menu, then tap on the "Reply" button, nothing happens

# Expected Result
After tapping on the Reply button
- In the thread screen, it should open the keyboard and focus on the chat textbox
- In the main screen, it should open the thread screen and focus on the chat textbox with the opened keyboard.

# Environment

- Build version: 3.0.

[2021-07-05 07:53] tlle14 opened #691 "Context menu isn't closed after reacted"
# Actual Result
After opening the emoji keyboard to react to a message, the context menu doesn't disappear.
https://user-images.githubusercontent.com/69950655/124434893-9f2c8b80-dd9e-11eb-84ab-6a7edd8902bd.mp4

# Steps
1. Open a channel
2. Tap and hold a message to open the context menu
3. In the context menu, on the reaction bar, tap on 3 dots icon "..."
4. Select a reaction in the emoji keyboard

[2021-07-05 09:04] tlle14 opened #692 "UI > Lower border of the chat textbox is expanded when opening an emoji keyboard"
# Actual Result
The lower border of the chat textbox is wider when opening an emoji keyboard
![image](https://user-images.githubusercontent.com/69950655/124444793-2a128380-dda9-11eb-8f11-8062f68a55c6.png)

# Expected Result
The lower border of the chat textbox should be the same as the upper border

# Environment
- Build version: 3.0.2
- Device: iPhone 11 Promax - iOS 14.4 - 6.46 inch
- QA environ

[2021-07-05 10:58] tlle14 opened #693 "A reply message displays in another thread in the same channel when it is reacted"
# Precondition
- There are two threads in a channel: Thread 1 and Thread 2.
- UserA is in Thread 1
- UserB is in Thread 2

# Actual Result
When UserA reacts to a reply in Thread1, the reply displays in Thread 2 on UserB's device at the same time.
https://user-images.githubusercontent.com/69950655/124459720-a365a280-ddb8-11eb-8999-559a0e3ed779.mp4

# Expected Result
The reply shouldn't be displayed

[2021-07-05 11:24] tlle14 opened #694 "Reactions in a thread screen doesn't update instantly"
# Actual Result
In a thread screen, when react or unreact the parent message/a reply, nothing happens.
User needs to reopen the thread to see the change

https://user-images.githubusercontent.com/69950655/124464328-45d45480-ddbe-11eb-8cb2-ae139d6a0ee6.mp4

# Expected Result
Reactions in a thread screen should be updated instantly

# Environment
- Build version: 3.0.2
- Device:
Samsung Galaxy A51 -

[2021-07-05 11:47] tlle14 opened #695 "On Login screen, Sign Up button doesn't work"
# Actual Result
On Login screen, Sign Up button doesn't work
https://user-images.githubusercontent.com/69950655/124466981-6d78ec00-ddc1-11eb-846a-1bfca8788bc5.mp4

# Expected Result
When tapping on Sign Up button, it should redirect to the Sign Up screen

# Environment

- Build version: 3.0.2
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
iPhone 11 Promax - iOS 14.4 - 6.46 inch
- QA environm

[2021-07-05 12:33] gupta29470 commented on #695
Did you implement **onPressed** parameter in created button.

[code]

If you want to use Text then wrap Text Widget under Gesture Detector
[code]

[2021-07-05 12:57] bobs4462 opened #696 "[User story] Swipe to reply feature"
Based on user feedback we need to add additional feature on the messages screen (channel level).

As a user, when I swipe the message I should be redirected to the corresponding thread screen.
After redirect, user input field should be activated immediately, so I can start typing the message right away.

This feature should only be available for the top level (channel level) messages, because you

[2021-07-06 02:46] tlle14 commented on #654
Thank @bobs4462
Retest pass!
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/3f2048cf-10c1-494a-b3bb-ea8dff7ca7ab)

[2021-07-06 02:46] #654 closed

[2021-07-06 03:38] tlle14 commented on #665
Retest pass!
Thank @bobs4462
https://images.zenhubusercontent.com/309637937/60c9faed-a473-408f-873d-c6c5f63608f0/rpreplay_final1625542651.mp4

[2021-07-06 03:38] #665 closed

[2021-07-06 03:44] tlle14 opened #698 "Sequenced messages have incorrect order"
# Precondition
Sequenced replies are posted from the Web.

# Actual Result
On Mobile, some of the threaded replies are not in the correct order. (While on Web they are ordered correctly)
![image](https://user-images.githubusercontent.com/69950655/124538985-d35b8700-de46-11eb-87d9-ee4d10b4fa3c.png)
![image](https://user-images.githubusercontent.com/69950655/124539040-e9694780-de46-11eb-874e-4e64795

[2021-07-06 04:18] tlle14 commented on #666
Hi @bobs4462
Now we can load the People and Recent list but it's kinda slow for the first time or every time the workspace has updated. I don't think we need to display all people in the workspace.
The loading icon looks quite annoying every time I want to create a new direct chat.

https://images.zenhubusercontent.com/309637937/4a7d1566-e27c-4893-b339-8aedd0dc8c2d/videoa2f3d840_640a_4823_be62_a99

[2021-07-06 04:21] tlle14 commented on #666
But it's an UX issue. I will create another ticket

[2021-07-06 04:21] #666 closed

[2021-07-06 07:18] tlle14 opened #700 "Create direct chat > Lost some first messages in the new direct chat"
# Actual Result
When creating a new direct chat, the first message of the new chat is always lost (After refreshing the chat)
https://user-images.githubusercontent.com/69950655/124558397-c188dc80-de64-11eb-9860-be10d0e2070a.mp4

# Expected Result
After created, it should be able to send messages in the direct chat.
After sending a message then back to the direct list, the newest chat should displa

[2021-07-06 07:26] tlle14 commented on #494
Mention is implemented on 3.0.2

[2021-07-06 07:26] #494 closed

[2021-07-06 08:03] tlle14 commented on #496
Close issue since the design has been changed a lot.

[2021-07-06 08:03] #496 closed

[2021-07-06 08:49] tlle14 opened #701 "The Emoji sent from Web cannot display on Mobile"
# Precondition
Send a message with emoji on Web

# Actual Result
Mobile cannot display the emoji sent from Web in the message
**Web:**
![image](https://user-images.githubusercontent.com/69950655/124569018-c3a46880-de6f-11eb-93b1-8f219109acac.png)

**Mobile:**
![image](https://user-images.githubusercontent.com/69950655/124568906-a4a5d680-de6f-11eb-820c-584a206e9c68.png)

# Expected result
Mobile Ap

[2021-07-06 09:13] tlle14 commented on #648
Hi @bobs4462

1. What happens when a deactivated user login to the app? It seems he still be able to be added in a workspace/ channel or login successfully or using the app as usual.

2. About the whole new user, it displays the sync data screen and tells the new user that the sync is failed, he needs to try again and never succeed. I think this behavior is inappropriate.
- It shouldn't display th

[2021-07-06 09:21] bobs4462 commented on #648
@BenoitTallandier is it possible to have a user in a complete limbo? Without any company/workspace?

[2021-07-06 09:47] BenoitTallandier commented on #648
Yes, it can happen. For example, you were invited in Twake by a colleague. After, you are removed, then you have any company. So, you should have a screen saying that you have to create your company or wait for invitation. I can build a US for that if you want :)

[2021-07-06 10:24] tlle14 commented on #648
Here is the story from Twake Console, it may help: https://ci.linagora.com/linagora/lgs/saas/portal/specifications/issues/30

[2021-07-06 10:30] tlle14 commented on #672
It seems to no longer happen.

[2021-07-06 10:30] #672 closed

[2021-07-06 10:41] tlle14 commented on #582
It's pass!!!!!!!!!!!
Thank @RockinPaul
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/3a7cff93-9d75-49bb-9805-97e9169dd2de)

[2021-07-06 10:41] #582 closed

[2021-07-06 10:43] tlle14 commented on #376
Hi @bobs4462 I'm not sure if we can do anything with crisp, but:
+ Crisp works quite slow on Mobile
+ Cannot typing with Vietnamese keyboard :(
https://images.zenhubusercontent.com/309637937/08194c88-cd09-4afd-a078-962781035a9d/videod3e4ccc1_5143_4f83_8796_51ae09f91dbevideo.mp4

[2021-07-06 10:45] hantt12 commented on #662
Fixed in Version 3.0.0 (22)
Tested in iPhone 11 , using QA backend

[2021-07-06 10:46] #662 closed

[2021-07-06 11:17] tlle14 opened #705 "UI > Syncing failed screen"
# Precondition
When login using a credential of a new user who hasn't been added to any workspace yet

# Actual Result
1. There has a redundant "try again" button with a typo
2. Redundant comma in the message
![image](https://user-images.githubusercontent.com/69950655/124591360-68ca3b80-de86-11eb-966f-5cfccca1f6b8.png)

# Expected Result
Please remove the redundant

# Environment

- Build version:

[2021-07-06 11:32] tlle14 commented on #651
Hi @bobs4462
Retest failed!
I don't see an unread counter when having a new message
https://images.zenhubusercontent.com/309637937/e892522a-d4b8-4273-bf22-2f750965eae3/videof6bc093d_3cd7_48ba_8fbf_0c9b197c3e0cvideo.mp4

[2021-07-06 11:35] tlle14 commented on #658
Thank @bobs4462 Retest pass!
Now we can load messages in a direct chat
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/565701bb-a472-4aeb-9478-66255bdd9d0f)

[2021-07-06 11:35] #658 closed

[2021-07-06 11:35] tlle14 commented on #371
Cannot test since notification isn't working

[2021-07-06 11:49] tlle14 opened #706 "Random > Login fail with the valid credential"
# Precondition
- iOS App
- The app has just been installed

# Actual Result
After installing the app, login with the default server by a valid credential, the app returns an error message saying that was an invalid credential
This case is quite random, not always I can reproduce it

https://user-images.githubusercontent.com/69950655/124693354-7b398900-df09-11eb-87ce-02f81f9429b5.mp4

#Expected Res

[2021-07-06 12:11] bobs4462 commented on #648
Yes, please do, also some technical details, of how to figure out orphaned user would be of great help

[2021-07-07 03:44] tlle14 opened #711 "Pull to refresh is taking too long to load"
# Actual Result
- When the internet connection is unstable: pulling to refresh keeps loading infinity
- When the internet connection is slow: puling to refresh takes about some minutes

# Expected Result
Pulling to refresh should have the timeout

# Environment
- Build version: 3.0.2
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
iPhone 11 Promax - iOS 14.4 - 6.46 inch
- QA environment

[2021-07-07 04:22] tlle14 opened #712 "Create Workspace > When adding member, button (x) in email row doesn't work"
# Actual Result
The button (x) doesn't work
![image](https://user-images.githubusercontent.com/69950655/124699507-1d12a300-df15-11eb-9553-e3da20520a01.png)

# Expected Result
The button (x) should work.
Please confirm its behavior: will it clear the textbox or delete the row?

# Environment

- Build version: 3.0.2
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
iPhone 11 Promax - iOS 14.4 - 6

[2021-07-07 04:29] tlle14 opened #713 "Create Workspace > When typing the email, cannot scroll the screen"
# Precondition
The member list is long (have many rows)

# Actual Result
When typing the email, the user cannot scroll the current screen (to see the workspace name.)
https://user-images.githubusercontent.com/69950655/124700174-75967000-df16-11eb-8885-ca0e94ff81b4.mp4

# Expected Result
User should be able to scroll to the screen when the member list is long

# Environment
- Build version: 3.0.2
-

[2021-07-07 04:54] tlle14 opened #714 "Displaying Account screen after logged out"
# Precondition
When the user want to logout, he taps multiple times on his name on the sidebar to open the Account page (he doubled taps as a habit or simply the app doesn't work - the internet issue again - after 1 tap makes him became impatient)

# Actual Result
When double taps on the sidebar, it calls many requests to return the Account screen. After logged out, the Account page is displaying

[2021-07-07 07:02] tlle14 opened #715 "Create Workspace > Create button doesn't work while the keyboard is opened"
# Actual Result
While the keyboard is displaying, the "Create" button is enabled but doesn't work

https://user-images.githubusercontent.com/69950655/124714287-c6fd2a00-df2b-11eb-82b6-19f0e4a8216d.mp4

# Expected Result
The button should work when it is enabled, no matter what the keyboard is displaying or not

# Environment

- Build version: 3.0.2
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 i

[2021-07-07 07:48] tlle14 opened #717 "Deleted Workspace is still displaying on menu sidebar after it is removed on Web"
# Precondition
- The workspace is created on Mobile App by Company Admin
- Then the workspace is removed on Web by the same Admin account
- Verify the update on Mobile App

# Actual Result
On Mobile App, the deleted Workspace is displaying while the menu sidebar is pulling to refresh

**While pulling to refresh**
![1FA50AB4-FC8A-434A-A98E-E2DD38B079A7](https://user-images.githubusercontent.com/699

[2021-07-07 07:50] bobs4462 commented on #551
@tlle14 is this issue still relevant?

[2021-07-07 07:52] tlle14 commented on #551
I still encounter the problem anytime reacting to a message. I think it relates to this one https://github.com/linagora/Twake-Mobile/issues/688

[2021-07-07 07:54] bobs4462 commented on #717
@tlle14 hi, are you sure you can delete workspace on web? Because on QA server it seems, that workspace deletion is broken

[2021-07-07 07:56] tlle14 opened #718 "Workspace list > It doesn't open the corresponding channel list when switching the workspace while opening Chats tab"
# Precondition
The user is in the Chats tab

# Actual Result
When switching to another workspace, it stays at the Chats tab
https://user-images.githubusercontent.com/69950655/124726230-c4083680-df37-11eb-8cfa-93d90a27afea.mp4

# Expected Result
It should open the corresponding Channel list

# Environment

- Build version: 3.0.2
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
iPhone 11 Promax

[2021-07-07 08:00] bobs4462 commented on #714
Fixed, account screen now should show instantly (next build)

[2021-07-07 08:21] bobs4462 commented on #551
Yes I understand. The issue with sync is still there, but can you see the emoji (on your phone) right after you've reacted or not?

[2021-07-07 08:30] tlle14 commented on #717
Hi @bobs4462 I don't see the workspace displaying on Web, so I think it is deleted successfully.
But if you are using a member account to create a workspace, that workspace cannot be deleted

[2021-07-07 08:36] bobs4462 commented on #717
But it still allows me to go through the steps to delete the workspace, but the workspace doesn't go anywhere after deletion. But ok, I'll improve the sync of workspaces to account for removed workspaces

[2021-07-07 08:42] tlle14 commented on #551
Yes, we can close this one based on the description

[2021-07-07 09:29] tlle14 opened #719 "Create Channel > Frequently contacted doesn't show any accounts"
# Precondition
While creating a private channel

# Actual Result
When adding members to the new private channel, the Frequently contacted doesn't show anything.
![image](https://user-images.githubusercontent.com/69950655/124734931-c8d0e880-df3f-11eb-942a-f120ff27dff3.png)

# Expected Result
Please confirm:
What would the Frequently contacted show? Is it the same list as the direct list?

# Environ

[2021-07-07 10:55] tlle14 opened #721 "Create Channel > Find and add member to the private channel issues"
# Precondition
Creating a private channel

# Actual Result
1. Search result is clear after adding a user to the list
=> The search result shouldn't disappear after adding a user to the list
https://user-images.githubusercontent.com/69950655/124740070-9ecdf500-df44-11eb-8a63-cadde856a727.mp4

2. The blue tick is in low resolution. It looks blur.
=> The blue tick should have a good quality
[image](h

[2021-07-07 16:58] EvGen94 commented on #713
Good evening @tlle14
The member list is scrollable. In this case, there is nothing to scroll because the entire list fits on the screen.

When there is not enough space on the screen and the user's keyboard closes part of the screen, the upper part of the screen is hidden as in the design, if you continue to add the user further and again run out of space, then you can scroll the list, if you clos

[2021-07-07 22:01] RomaricMourgues commented on #415
Created here: https://github.com/linagora/Twake/issues/1428

[2021-07-07 22:02] RomaricMourgues commented on #415
I consider this as a minor issue if you don't mind ? :)

[2021-07-08 03:50] tlle14 commented on #411
Hi @EvGen94
This issue still happens on 3.0.2.
When select to create a self-direct-chat, it opens a random direct chat

https://user-images.githubusercontent.com/69950655/124859528-4ea17200-dfda-11eb-93f7-8e7b3741a749.mp4

[2021-07-08 04:02] tlle14 opened #725 "UI > Round borders are on the bottom side of the Company drawer"
# Actual Result
On the bottom side of the company drawer, the borders are rounded.
![image](https://user-images.githubusercontent.com/69950655/124860093-44cc3e80-dfdb-11eb-9d38-04ad3d1f9567.png)

# Expected Result
The border should display fulfilled as on the iOS version
Refer design: https://app.zeplin.io/project/5fd7afb0317dc8827d6a8fb5/screen/60bf3a60b83ab2183fea588b

# Environment
- Build vers

[2021-07-08 04:11] #551 closed

[2021-07-08 04:12] tlle14 commented on #551
The duplicated reaction is still existing. But i prefer to create a new ticket for easier to track

[2021-07-08 07:52] tlle14 opened #726 "Message > View replies button doesn't display sometimes for threaded messages"
# Actual Result
On Mobile, cannot see the button "View [n] replies" for threaded messages
https://user-images.githubusercontent.com/69950655/124882439-933d0580-dffa-11eb-80fc-7b9b4180af4b.mp4

# Expected Result
The View Replies button should always display for the message that has replies

# Environment
Build version: 3.0.2
Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
iPhone 11 Promax - iOS

[2021-07-08 11:15] tlle14 opened #730 "Duplicate the reaction when reacting a message"
# Precondition
A message has the first reaction from Web

# Actual Result
When someone +1 to the existing reaction of the message on Mobile, he will see 2 of the same reaction.
![image](https://user-images.githubusercontent.com/69950655/124911923-85e24400-e017-11eb-995b-8600028103d7.png)
![image](https://user-images.githubusercontent.com/69950655/124912589-57189d80-e018-11eb-8acc-e8322388e471.png)

[2021-07-08 13:53] BenoitTallandier opened #731 "Segment > Reduce context information"
Segment send by default a lot of information concerning devices, system, ... This is done in the `context` item when we call `identify` or `track` method.

The goal is to empty this context. As I understood, we can use the method `setContext` with an empty object before anything else. The doc is [here](https://pub.dev/packages/flutter_segment#sending-device-tokens-strings-for-push-notifications),

[2021-07-08 14:27] bobs4462 commented on #731
Yes, sure, I'll try it out

[2021-07-12 08:47] bobs4462 commented on #355
@BastiaanVanGaalen ping

[2021-07-13 07:09] tlle14 opened #743 "Context menu is lost"
# Actual Result
The context menu is displaying as a gray block
https://images.zenhubusercontent.com/309637937/e665edae-6105-4a18-b338-b6f2d71e7426/video7d9921b8_79a4_4864_821b_5056a64e23cavideo.mp4

# Expected Result
Please bring the context menu back

# Environment
- Build version: 3.0.3
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
iPhone 11 Promax - iOS 14.4 - 6.46 inch
- QA environment

[2021-07-13 07:11] tlle14 commented on #690
Blocked testing by https://github.com/linagora/Twake-Mobile/issues/743

[2021-07-13 07:24] tlle14 commented on #608
Thank @RockinPaul
Currently, the characters have different sizes.
Characters are expected to have the same size when the workspace name is one or two words.
@BastiaanVanGaalen could you please confirm the appropriate character size to display?

![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/387bca85-b8eb-46ff-8826-eaa74478ffe5)

[2021-07-13 07:38] tlle14 commented on #705
Retest pass
Thank @EvGen94
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/35cf19a5-aea6-4ae7-a957-0e3426600a74)

[2021-07-13 07:38] #705 closed

[2021-07-13 07:53] tlle14 commented on #678
Thank @bobs4462
Retest pass!

[2021-07-13 07:53] #678 closed

[2021-07-13 07:55] tlle14 commented on #680
Thank @EvGen94
Retest pass!
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/3b9faf68-5958-428c-a440-47529e818add)

[2021-07-13 07:55] #680 closed

[2021-07-13 07:59] #673 closed

[2021-07-13 07:59] tlle14 commented on #673
Thank @manhduc-nguyen
Retest pass!
https://images.zenhubusercontent.com/309637937/4e990e72-299c-4e15-b37c-f86cbdae8e6f/rpreplay_final1626163073.mp4

[2021-07-13 08:02] tlle14 commented on #361
Retest pass!
Thank @EvGen94
https://images.zenhubusercontent.com/309637937/1c2e5fc4-3f5e-486d-b79e-5a48e32370d8/rpreplay_final1626163298.mp4

[2021-07-13 08:02] #361 closed

[2021-07-14 08:33] bobs4462 opened #744 "[User story] Signup/Signin/Logout flow"
As a user I want to be able to perform both sign up and sign in, using mobile application.

When application first starts user should be able to see welcome screen which looks like this: ![image.png](https://images.zenhubusercontent.com/5f9ab4c67851dd4a461c956a/c260d42d-2378-4850-aeee-3d8f67fb99b4)

From there user can either choose to sign up if he/she doesn't have account already or sign into ex

[2021-07-14 11:01] tlle14 commented on #375
Retest pass!
Thank @bobs4462
The new workspace is updated each time opening the sidebar

[2021-07-14 11:01] #375 closed

[2021-07-14 11:17] tlle14 opened #745 "Create workspace > After creating a workspace, it redirects to the black screen"
# Actual Result
After click on the create workspace button, it creates a new workspace and redirects to the black screen
https://images.zenhubusercontent.com/309637937/10df7e38-8ec2-4f81-9269-7aabf44e670b/rpreplay_final1626260449.mp4

# Expected Result
It should open the new worskpace

# Environment
- Build version: 3.0.3
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
iPhone 11 Promax - iOS

[2021-07-14 11:19] tlle14 commented on #675
Thank @manhduc-nguyen
Retest pass!
https://images.zenhubusercontent.com/309637937/ce63b1be-057c-40cd-936f-345794b6cfb5/videoe6f6676b_3589_41f5_989c_8a616ead304fvideo.mp4

[2021-07-14 11:19] #675 closed

[2021-07-14 11:21] tlle14 commented on #725
Thank @manhduc-nguyen
Retest pass!
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/6c1fe5c4-b0a3-4f80-90e9-bc3233c01435)

[2021-07-14 11:21] #725 closed

[2021-07-15 03:01] tlle14 commented on #664
The issue is no longer happens

[2021-07-15 03:13] tlle14 commented on #668
Hi @bobs4462
Retest failed
On Mobile, it is displaying as a mention text, but on Web, some mentions are just a normal text

On mobile:
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/4b463d44-3643-4388-94f4-9b2ce46600c3)

On Web:
![Peek 2021-07-15 10-13.gif](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/9f34e2ba-cc23-4925-bbfd-1cd503896cb7)

[2021-07-15 03:17] tlle14 commented on #651
Hi @EvGen94
Retest failed!
I still don't see the unread counter

[2021-07-15 03:20] tlle14 commented on #686
Thank @EvGen94
Retest pass!
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/866fba4b-0e39-42ba-aeba-43665efd2da5)

[2021-07-15 03:20] #686 closed

[2021-07-15 03:41] tlle14 commented on #712
Thank @EvGen94
Retest pass
https://images.zenhubusercontent.com/309637937/16d71e82-1ad6-4ea2-9d16-26fe7928a867/videodc293b37_a8ee_4508_9c58_7919d0270230video.mp4

[2021-07-15 03:41] #712 closed

[2021-07-15 03:45] tlle14 commented on #715
Thank @EvGen94
Retest pass!
https://images.zenhubusercontent.com/309637937/04d80864-6d57-47ac-a080-aea9b1ba3522/video4d7591dd_903e_4430_8b51_5acc85b96936video.mp4

[2021-07-15 03:45] #715 closed

[2021-07-15 03:51] tlle14 opened #748 "UI > Create Workspace > Clear buttons in the same screen have different styles"
# Actual Result
The clear buttons on the Workspace name and the email list have different styles
![image](https://user-images.githubusercontent.com/69950655/125726243-0963f327-2057-4040-b270-f7ad0b320ddf.png)

# Expected Result
Buttons with the same function should have one style

# Environment

- Build version: 3.0.3
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
iPhone 11 Promax - iOS 14.4

[2021-07-15 03:57] tlle14 commented on #713
Hi @EvGen94
I guess it will have a better vision if the scroll is for the screen instead of the email list.
By the way, we need advice from our UX designer @BastiaanVanGaalen

[2021-07-15 04:01] tlle14 commented on #689
Blocked testing by https://github.com/linagora/Twake-Mobile/issues/743

[2021-07-15 04:01] tlle14 commented on #691
Blocked testing by https://github.com/linagora/Twake-Mobile/issues/743

[2021-07-15 04:08] tlle14 commented on #714
Does it seem to be fixed by caching the Account page?
Thank @bobs4462
Retest pass!

[2021-07-15 04:08] tlle14 commented on #714
Does it seem to be fixed by caching the Account page?
Thank @bobs4462
Retest pass!

[2021-07-15 04:35] tlle14 commented on #681
Thank @BastiaanVanGaalen @EvGen94
The loading screen appears when data in the channel is loading
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/0662fe06-79ac-4ddc-a5ec-bb1b53f7cf52)

[2021-07-15 04:35] #681 closed

[2021-07-15 06:39] bobs4462 commented on #651
That's strange, ok let me investigate more thoroughly then

[2021-07-15 06:45] bobs4462 commented on #714
Yes the issue was with incorrect usage of local cache when fetching user account

[2021-07-15 07:17] tlle14 commented on #682
Thank @manhduc-nguyen
Retest pass!
https://images.zenhubusercontent.com/309637937/c6ba1124-ad7e-4299-86d4-2ce622c54964/video0c862bb3_8ee0_4f73_a046_6d8530c29db9video.mp4

[2021-07-15 07:17] #682 closed

[2021-07-15 07:36] tlle14 commented on #651
Sorry @bobs4462
That was my test data having a problem with mention.
Retest is "so pass"!

[2021-07-15 07:36] #651 closed

[2021-07-15 08:50] bobs4462 commented on #718
@tlle14, do you mean we should switch to channel tab when switching workspaces?

[2021-07-15 09:03] tlle14 opened #749 "Thread > A parent message displays instead of a reply when having a new reply arrives"
# Precondition
Open the thread screen

# Actual Result
When having a new reply arrive, it displays a parent message instead of the new one
https://user-images.githubusercontent.com/69950655/125758225-b7933c05-c5d9-48fa-9444-ce1ab7a1a8ce.mp4

# Expected Result
It should display the new reply in a thread while it arrives

# Environment
- Build version: 3.0.3
- Device:
Samsung Galaxy A51 - Android 11

[2021-07-15 09:06] tlle14 commented on #718
Yes, I think we should focus on the channel list when switching the workspace

[2021-07-15 09:07] tlle14 commented on #698
Thank @bobs4462
Retest pass!

[2021-07-15 09:07] #698 closed

[2021-07-15 09:24] tlle14 commented on #696
Hi @EvGen94
I don't think this feature conforms to the idea has been described.

# Actual Result
User has to Swipe and Press the reply button to open the corresponding thread
https://images.zenhubusercontent.com/309637937/ab7ce042-1a9e-4471-9170-2d6fe8dc9151/videocbb74fab_4fd0_47e4_bdd0_fa184d2cf925video.mp4

# Expected Result
[code]
That means after swipe left:
- the corresponding thread screen s

[2021-07-16 03:46] tlle14 opened #752 "Message delivery status"
# Precondition
Message delivery status is partially implemented

# Actual Result
The message status appears in all messages of the current user, and it looks quite big. That makes:
- The chat screen looks untidy with too many elements
- The status take up space
- The user may think all messages are sent but never delivered to the participant (because the status will never change as other apps)

![

[2021-07-16 06:52] tlle14 opened #753 "Message > Mention and link have the text color quite similar to the background"
# Precondition
The current user's messages

# Actual Result
Mention and link have the text color similar to the background color. It makes the user hard to read the text

# Expected Result
The color of mention and link should be changed to be more contrasting

# Environment
- Build version: 3.0.3
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
iPhone 11 Promax - iOS 14.4 - 6.46 inch
- QA envi

[2021-07-16 07:20] tlle14 opened #754 "Login > It always return invalid host when input the correct server address"
# Precondition
The default server is invalid
(I know it's hardly happening, but we shouldn't be sure)

# Actual Result
When editing the default server to the valid one, it always returns the message "invalid server" then change it to the default
https://user-images.githubusercontent.com/69950655/125908028-4b961bcf-07d6-4d2d-94b7-6e9ade90e06a.mp4

# Expected Result
It should accept the valid server

[2021-07-16 08:14] tlle14 opened #755 "Message > Mention text should display Name instead of username"
# Actual Result
When mentioning someone on Mobile, it always displays username instead of the displaying name as on Web version

On Mobile:
![image](https://user-images.githubusercontent.com/69950655/125915527-e8ff9ad5-d1ae-4f8c-a58e-ea3e629d4de1.png)

On Web:
![image](https://user-images.githubusercontent.com/69950655/125915423-8c96b779-e37a-4d36-9dae-ca1a5697e142.png)

# Expected Result
Please c

[2021-07-16 10:18] tlle14 opened #756 "Thread > It always display the loading message screen when opening a thread"
# Actual Result
The loading data screen always appear in a flash when opening a thread
https://user-images.githubusercontent.com/69950655/125927275-981acb10-12d7-43ad-b096-f6322ddecaac.mp4

# Expected Result
No need to display the loading message screen while opening a thread. The screen should only for loading a channel/ direct message.

# Environment
- Build version: 3.0.3
- Device:
Samsung Gala

[2021-07-16 10:19] #754 closed

[2021-07-16 10:20] tlle14 commented on #754
This is an invalid issue, I was misunderstanding

[2021-07-16 10:20] tlle14 commented on #753
We should ask @BastiaanVanGaalen

[2021-07-16 14:40] BastiaanVanGaalen commented on #752
@tlle14 The funny things is, that nobody asked me about the design of this feature before implementation))
This one you need: https://zpl.io/bAKv1qo
There are 3 message statuses:
- sent but not delivered (stuck in delivery tube)
- delivered but not read
- read

There are 3 different icons for each case.

Can we implement this? @EvGen94  Please, mind colours of each icon.

[2021-07-16 14:45] BastiaanVanGaalen commented on #713
We should certainly give the user an opportunity to scroll while input stays in focus with blinking cursor inside)

[2021-07-16 14:51] BastiaanVanGaalen commented on #259
@tlle14 We have a photo upload flow here: https://zpl.io/VDgmqNJ
The is the single one and has always been)

[2021-07-16 16:44] bobs4462 commented on #752
hi @BastiaanVanGaalen, I've already mentioned, that the only piece of information we can provide the user with is delivery status, i.e. whether the message has reached the backend (not the other users) or not. Alas that's the only thing that is supported for now.

[2021-07-16 16:45] bobs4462 commented on #259
Ok, let's wait for the backend part, and reimplement this feature in a more smart way

[2021-07-18 12:19] BastiaanVanGaalen commented on #753
The funny thing is that of course it should be 100% contrast with message bubble, so, we have to stick to the following rules:
1) If message bubble color is light-grey(ur usual color) then mention part such as **@username** should be displayed in blue (our main color)
2) in case message bubble is blue, so in that case mention part such as **@username** should be displayed in white.

And it should

[2021-07-19 01:46] tlle14 commented on #752
Could you please give the advice for this partial implementation, please?

[2021-07-19 02:01] tlle14 commented on #753
Thank @BastiaanVanGaalen
It's easy to recognize a mention which starts with @
How about the link? should it be white and underline to differentiate from a normal text?

[2021-07-19 03:37] tlle14 opened #758 "Channel edit > Some buttons doesn't work"
# Precondition
1. Open the channel
2. Tap on the Channel name

# Actual Result
On the channel editing screen, some buttons (Add members, Messages, Search, Mute) don't work
![image](https://user-images.githubusercontent.com/69950655/126098843-b3fb67d8-2044-4613-aa5d-5303952f0d22.png)

# Expected Result
When tapping on the button, it should open the corresponding screen

# Environment
- Build versio

[2021-07-19 03:37] tlle14 opened #759 "Edit Channel > Some buttons doesn't work"
# Precondition
1. Open the channel
2. Tap on the Channel name

# Actual Result
On the channel editing screen, some buttons (Add members, Messages, Search, Mute, three dots on the top-right) don't work
![image](https://user-images.githubusercontent.com/69950655/126100400-2891a09f-e315-4e47-a275-bfd0112eed45.png)

# Expected Result
When tapping on the button, it should open the corresponding screen

[2021-07-19 03:38] #758 closed

[2021-07-19 04:11] tlle14 commented on #308
Hi, please fix this issue in the latest version 3.0.3
![image](https://user-images.githubusercontent.com/69950655/126101690-5afb9ab8-a6b5-49d1-83ee-73527b1e4965.png)

[2021-07-19 04:33] tlle14 opened #760 "Edit channel > Display a gray screen after updating the channel"
# Precondition
The internet connection is not fast

# Actual result
After changing the channel name, back to the channel list then reopen the updated channel, it displays a gray screen. User needs to restart the app to continue using

https://user-images.githubusercontent.com/69950655/126103008-edeac302-9fb2-42a0-8d1b-ba8415140d1d.mp4

# Expected Result
The gray screen shouldn't be shown.
OR
When

[2021-07-19 04:36] tlle14 opened #761 "Edit channel > Able to change the name to only spaces"
# Actual Result
It is able to change the channel name to only spaces name

https://user-images.githubusercontent.com/69950655/126103480-b0258c20-b82b-4ea3-8f1f-1a4098f9c6af.mp4

# Expected Result
It shouldn't allow the channel name to have only spaces

# Environment
- Build version: 3.0.3
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
iPhone 11 Promax - iOS 14.4 - 6.46 inch
- QA environment

[2021-07-19 08:02] tlle14 commented on #449
We have a loading message screen
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/83cfae63-c52f-49b1-89f2-e7ea67b5d57f)

[2021-07-19 08:02] #449 closed

[2021-07-19 08:14] tlle14 opened #762 "Create Channel > Empty channel always display loading message screen"
# Precondition
The new channel is already created
There is no message in the channel

# Actual Result
When opening the new channel, it displays a loading message screen for a while, which is illogical cause the channel doesn't have any messages to load
https://user-images.githubusercontent.com/69950655/126125140-e675d0ab-344e-4113-be6f-036acdd9a22d.mp4

# Expected Result
It should display the empt

[2021-07-19 08:21] tlle14 opened #763 "Loading message screen doesn't follow the design"
# Actual Result
![image](https://user-images.githubusercontent.com/69950655/126127220-a4efea4c-8181-49af-bb2c-39e6c4265c5e.png)

# Expected Result
Should follow the design
![image](https://user-images.githubusercontent.com/69950655/126127268-65e2b506-4618-449d-89d2-653b0bed7f3f.png)

# Environment
- Build version: 3.0.3
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
iPhone 11 Promax - iOS 14

[2021-07-19 08:22] bobs4462 commented on #762
Hmm, that's a tricky one, once the channel has been created, we still have to check backend for potential messages, hence the loader. But ok, i'll try to think of solution.

[2021-07-19 08:57] BastiaanVanGaalen commented on #763
@tlle14 Thank you dear, for noticing <3, icon has recently been updated. So, it's correct) Keep in touch.

[2021-07-19 09:16] tlle14 opened #764 "Edit channel > Edit channel info screen is missing the textbox labels"
# Actual Result
**1. Missing textbox label `CHANNEL NAME` and `CHANNEL DESCRIPTION` as in the design**
=> Please add the missing labels
Actual:
![image](https://user-images.githubusercontent.com/69950655/126135678-84749175-f81c-49e5-99ff-0c1e57047c33.png)

Design:
![image](https://user-images.githubusercontent.com/69950655/126135761-d6896b15-0a9c-4237-a551-762eed1863a4.png)

**2. "Save" button is

[2021-07-19 09:34] tlle14 opened #765 "Edit channel > Cannot update channel type from Public to Private successfully"
# Precondition
Channel type is Public

# Actual Result
Cannot update channel type from Public to Private successfully
https://user-images.githubusercontent.com/69950655/126138161-3a3b0be2-6727-4707-82b1-6a7db4577541.mp4

# Expected Result
The channel type should be updated successfully

# Environment
- Build version: 3.0.3
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
iPhone 11 Promax - iOS

[2021-07-19 11:11] bobs4462 opened #766 "Links rendering is broken for some link formats"
Links aren't rendered as highlighted and don't support click based navigation to browser.

WEB:

![image.png](https://images.zenhubusercontent.com/5f9ab4c67851dd4a461c956a/77174ac4-540c-43e0-93bf-bde79c53ec39)

MOBILE:
![Screenshot_1626693598.png](https://images.zenhubusercontent.com/5f9ab4c67851dd4a461c956a/393dd353-4bd3-40f3-af1f-43ec468394a2)

[2021-07-19 14:52] EvGen94 commented on #753
@tlle14 After discussion with @BastiaanVanGaalen the following decision on the color was made.
1. Mention color is equal to the unique color of the user in the chat which was mentioned
2. The color of the link in case of blue bubble is white with underline, in case of grey bubble is blue with underline.
3. If there is an email in text in case of blue bubble the color is white with underline, in ca

[2021-07-20 02:17] tlle14 opened #768 "Guest permission is inappropriate"
# Precondition
A guest is added to the channel

# Actual Result
1. A guest is able to update the channel info successfully
https://user-images.githubusercontent.com/69950655/126251378-5995d60b-9827-4134-8541-b96a76133581.mp4

2. A guest is able to create a new channel too

3. A guest is able to create a new workspace

# Expected Result
A guest shouldn't be able to update the channel info, create a

[2021-07-20 03:26] tlle14 commented on #664
Reopen for the issue with replies in a thread

[2021-07-20 03:39] tlle14 opened #769 "The App doesn't run in the background"
# Precondition
Login to the app

# Actual Result
When logging in to the app, User left the app running in the background. After a few minutes later, he opens the app and sees it doesn't have any update since he left it in the background running. Sometimes the app fails to login or syncing data.
https://user-images.githubusercontent.com/69950655/126425688-b0adc4d1-2e0e-46df-951f-2481ec3f5130.mp4

#

[2021-07-20 04:07] tlle14 opened #770 "Notification > Expose user ID of mentioned user in the push notification"
# Actual Result
In the push notification, user ID of the mentioned user exposes
![image](https://user-images.githubusercontent.com/69950655/126260357-c6116196-f88c-46d5-a456-7234117f593a.png)

# Expected Result
It shouldn't expose userID in the push notification

# Environment
- Build version: 3.0.3
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
- QA environment

[2021-07-20 04:40] #288 closed

[2021-07-20 04:40] tlle14 commented on #288
Work for android

[2021-07-20 07:29] bobs4462 commented on #770
@RomaricMourgues can we remove it via some regex?

[2021-07-20 07:33] RomaricMourgues commented on #770
Héhé we have it too :p https://github.com/linagora/Twake/issues/1405

Yes it is a simple regex to set-up. We will fix this soon.

[2021-07-20 07:49] tlle14 opened #771 "Notification > Tapping on the push notification will redirect to the channel list when the app is not running"
# Precondition
The App is not running

# Actual Result
When tapping on the push notification, it will open the corresponding channel list instead of the thread message

https://user-images.githubusercontent.com/69950655/126280178-1ca09ee6-3372-4d6d-a0e7-1e4bcabaca17.mp4

# Expected Result
 When the app is not running, opening the push notification should redirect to the corresponding message/threa

[2021-07-20 08:41] tlle14 opened #772 "Unread counter on the channel list keeps displaying though the user switch to another workspace"
# Precondition
Workspace A has unread messages. The unread counter is displaying on the channel list tab
Workspace B has no unread message.

# Actual Result
When user is in Workspace B, which has no unread message, the unread counter keeps displaying on the channel list tab

https://user-images.githubusercontent.com/69950655/126289968-14e50231-1fbf-4c73-8cac-03a7c7361be7.mp4

# Expected Result
The

[2021-07-20 09:13] tlle14 opened #774 "Notification > Tapping on the push notification will redirect to a black loading screen"
# Actual Result
Tapping on the push notification when it arrived will open a black loading screen (always be able to reproduce on iOS)
https://user-images.githubusercontent.com/69950655/126295073-247871b0-c522-4803-846e-fd5190cc0f4e.mp4

# Expected Result
It should be able to open the message successfully

# Environment

- Build version: 3.0.3
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
i

[2021-07-20 09:33] #529 closed

[2021-07-20 09:34] tlle14 commented on #529
Retest pass for the android app
![image](https://user-images.githubusercontent.com/69950655/126298940-04540d9c-de1b-4239-bc28-77dcdf729ade.png)

[2021-07-20 10:09] manhduc-nguyen commented on #721
@tlle14 Hi,
1. This UX is from our designer, basically its very much like when u create a group in signal and I think its actually a nice one 🤪
2. Thanks, I will fix it
3 + 4. The reason is we have to load all the members from api to do a search (so delay thing happens) but @bobs4462 changed it to be loaded locally, so I think it should be ok in next build.

[2021-07-20 10:11] tlle14 opened #775 "Notification > Push message doesn't show on banner for android app"
# Actual Result
The push message doesn't show on the banner of the Android app. It only shows an icon on the system bar and notification center.

The example of the banner show:
https://user-images.githubusercontent.com/69950655/126306655-7df1232a-f1ee-42ae-bd47-a63f09959161.mp4

# Expected Result
Please confirm if the app is missed this feature or it is intended

# Environment
Build version: 3.0.

[2021-07-20 10:12] manhduc-nguyen commented on #719
@tlle14 Hi, Its not a bug because the feature is not implemeted yet.

[2021-07-20 10:36] tlle14 commented on #721
Hi @manhduc-nguyen your hand doesn't fond of this way when you are going to add multiple users to the channel.
For example, you are going to add all emails that have the @linagora.com domain to a new channel.
Let's consider this is an improvement, not an issue nhé!

[2021-07-20 10:47] tlle14 commented on #719
Okay thank @manhduc-nguyen for your confirmation. This is not an issue then,

[2021-07-20 10:47] #719 closed

[2021-07-21 03:22] tlle14 opened #777 "Channel > Channel list doesn't get the newest update"
# Precondition
The app is running in the background or in the foreground

# Actual Result
- In the background, after a long time unused, when reopening the app, the channel list is not updated. User needs to pull to refresh the app to see the newest state
https://user-images.githubusercontent.com/69950655/126423451-16cf5e19-6a04-447b-9536-e586849afe6b.mp4

- In the foreground, when having a new me

[2021-07-21 03:23] tlle14 commented on #777
duplicated

[2021-07-21 04:17] manhduc-nguyen commented on #411
@bobs4462 I checked the api, it returns Pavel's account when create self direct (I'm using your account bobs4462@gmail.com)

curl `curl --location --request POST 'https://web.qa.twake.app/internal/mobile/direct' \
--header 'Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2MjY4NDE2ODksInR5cGUiOiJhY2Nlc3MiLCJpYXQiOjE2MjY4Mzc0ODksIm5iZiI6MTYyNjgzNzQ4OSwic3ViIjoiNTMwMjg4MTgtMzIyN

[2021-07-21 04:38] tlle14 opened #779 "Message > When opening the emoji keyboard while typing, the text cursor jumps to the top of the paragraph"
# Actual Result
When opening the emoji keyboard, the text cursor focus on the top of the paragraph
https://user-images.githubusercontent.com/69950655/126431121-9304072a-8ca8-4f40-89d6-2cfdf2331dc0.mp4

# Expected Result
The text cursor should stay when opening the emoji keyboard

# Environment
- Build version: 3.0.3
- Device:
iPhone 11 Promax - iOS 14.4 - 6.46 inch
- QA environment and Prod

[2021-07-21 06:28] bobs4462 commented on #411
hmmm, that's strange, ok, just push your code, I'll be migrating channel endpoints anyway to make direct requests to twake backend, so I'll take a look at it then

[2021-07-21 07:22] manhduc-nguyen commented on #411
Oh, no code changes needed

[2021-07-21 07:49] tlle14 commented on #770
This issue has been fixed

[2021-07-21 07:49] #770 closed

[2021-07-21 08:09] tlle14 opened #780 "Unread counter doesn't display on Chats tab name"
# Actual Result
The total unread counter doesn't display on the Chats tab name

# Expected Result
The total unread counter should display for the chat tab name

# Environment
- Build version: 3.0.3
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
iPhone 11 Promax - iOS 14.4 - 6.46 inch
- QA environment

[2021-07-21 09:24] tlle14 opened #781 "Direct chat > Cannot display the avatar"
# Actual result
In the direct chat screen, it cannot display the user avatar
![screenshot_14](https://user-images.githubusercontent.com/69950655/126465389-25eec932-fcda-4c86-8cc0-ed4982285213.png)

# Expected Result
The user should be able to display

# Environment
- Build version: 3.0.3
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
iPhone 11 Promax - iOS 14.4 - 6.46 inch
- QA environment

[2021-07-21 09:38] bobs4462 commented on #769
Hmmm, I don't think that problem is solvable. You see, when the operating system (android or iOS) detects that application has been moved to background, it completely removes it from queue to access hardware resources (processor, network etc.) and puts it to kind of a sleep, which means the applications code is just stops executing completely and only can be resumed when the application is moved b

[2021-07-21 09:59] tlle14 commented on #769
Do you know the maximum time the app can live in background running?

[2021-07-21 11:25] tlle14 opened #782 "Thread > Timestamp is hidden when username is long"
# Actual Result
User has a long username makes the timestamp be hidden when displaying in a thread
![image_2021_07_21T11_11_58_375Z](https://user-images.githubusercontent.com/69950655/126479806-5dad5909-b00e-4230-9394-8e233133496a.png)

# Expected Result
The username should display in a smaller size

# Environment
- Build version: 3.0.3
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
iPhone 1

[2021-07-21 11:28] tlle14 commented on #782
Hi, I know you have a plan to update the thread screen, but I think this kind of thread screen is convenient.

[2021-07-23 11:18] tlle14 commented on #567
@bobs4462 it seems our customers cannot wait to use this feature. Please take a look!

[2021-07-23 12:58] bobs4462 commented on #782
Threads are being completely redesigned, so I think there's no point to keep this issue around

[2021-07-23 13:49] bobs4462 commented on #718
@BastiaanVanGaalen do you agree that we should implement this feature?

[2021-07-23 14:05] bobs4462 commented on #668
Are you sure that those user have first and last names?

[2021-07-23 14:13] bobs4462 commented on #648
@BastiaanVanGaalen can you provide us with design of screen to show the user if he was deleted and/kicked out from all the companies?

[2021-07-23 14:14] bobs4462 commented on #646
@BastiaanVanGaalen is there a new design for notifying the user about internet connection loss?

[2021-07-23 14:17] bobs4462 commented on #629
closing this one and we will implement a search bar for this

[2021-07-23 14:17] #629 closed

[2021-07-23 14:22] bobs4462 commented on #602
@BastiaanVanGaalen please check this out

[2021-07-23 14:24] #596 closed

[2021-07-23 14:27] bobs4462 commented on #584
@BastiaanVanGaalen please give some comments on that

[2021-07-23 14:28] #572 closed

[2021-07-23 14:28] #570 closed

[2021-07-23 14:30] #546 closed

[2021-07-23 14:33] bobs4462 commented on #559
@BastiaanVanGaalen help needed

[2021-07-23 14:40] #516 closed

[2021-07-23 14:50] bobs4462 commented on #350
@BastiaanVanGaalen what is the final decision on this?

[2021-07-23 15:22] #782 closed

[2021-07-23 15:25] tlle14 commented on #559
Bastiaan has already commented in this issue https://github.com/linagora/Twake-Mobile/issues/753
I should close this old one.

[2021-07-23 15:25] #559 closed

[2021-07-26 02:27] tlle14 commented on #668
Hi @bobs4462 now the user has only one name
![name](https://user-images.githubusercontent.com/69950655/126924875-e85e3ea9-8184-4364-868c-ea4421cc063c.png)

[2021-07-26 17:09] bobs4462 opened #787 "Update logo for mobile app"
@BastiaanVanGaalen has redesigned the main logo of twake, so there's a need to update logo of mobile application as well.
The logo is in the attachment to this issue.

[https://app.zenhub.com/files/309637937/e37abe4a-45a1-4bc3-b042-10e4efaaf1df/download](https://app.zenhub.com/files/309637937/e37abe4a-45a1-4bc3-b042-10e4efaaf1df/download)

[2021-07-27 07:19] tlle14 commented on #743
Retest pass!
Thank @EvGen94
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/38cd82f7-af8e-4cba-b835-40367f1723a1)

[2021-07-27 07:19] #743 closed

[2021-07-27 07:32] tlle14 commented on #663
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/474cfd43-afdc-40eb-a2d2-4b001c6a923b/video63cf3035_627e_4e1b_a5c9_f5e3a7ef3d39video__1_.mp4

[2021-07-27 07:32] #663 closed

[2021-07-27 08:02] #385 closed

[2021-07-27 08:12] tlle14 commented on #690
Hi @bobs4462
Retest failed!
The keyboard should be opened
https://images.zenhubusercontent.com/309637937/03dd9205-874b-4734-8654-5b384a32c2cd/video332f2adc_73c7_41bf_a3e9_9583f171de5avideo.mp4

[2021-07-27 08:35] tlle14 commented on #745
Hi @EvGen94
**Actual Result:**
After being created, it doesn't show the black screen, but the channel list of the previous workspace.

**Expected Result:**
After created:
1. it should show the corresponding channel list of the new workspace
2. the new workspace should be selected on the sidebar

https://images.zenhubusercontent.com/309637937/12cbb98d-97ef-442e-8e79-57a5367b45a7/video0ab19367_af11_

[2021-07-27 10:20] tlle14 commented on #657
Did you fix anything? Or this issue came from the server-side?
I don't think it happens anymore

[2021-07-27 10:20] #657 closed

[2021-07-27 10:36] tlle14 opened #790 "Channel > The earliest message is duplicated each time scrolling down"
# Actual Result
When scrolling down to see chat history, the earliest message is duplicated
https://images.zenhubusercontent.com/309637937/bd452143-8072-4d47-a5d8-77168cb7cc5c/video3a22637b_931b_4196_859d_d71ca41d1970video.mp4

# Expected Result
The earliest message shouldn't be duplicated

# Environment
- Build version: 3.0.4
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
- Prod

[2021-07-27 10:40] tlle14 commented on #711
Hi @EvGen94
Retest failed!
- Pulling to refresh has no time out when losing internet connection
- The refreshing task is unable to recovery after the internet connection comes back

[2021-07-29 09:47] tlle14 commented on #763
This is not an issue

[2021-07-29 09:47] #763 closed

[2021-07-29 10:16] tlle14 commented on #693
Retest pass!
Thank @bobs4462

[2021-07-29 10:16] #693 closed

[2021-07-29 10:43] tlle14 opened #792 "Mention >The profile page of the user isn't show when clicking on the user mention"
# Actual Result
On mobile, when clicking on a personal mention, the profile page doesn't show

# Expected Result
1. It should show the profile page when tapping on a mention. A profile should have: avatar, full name, email and a button to send direct messages.
2. Should be able to open the direct message as it can be on the Web version
![Peek 2021-09-29 10-51](https://user-images.githubusercontent

[2021-07-29 10:56] tlle14 opened #793 "Doesn't apply the general mention (@ALL, @here, @channel)"
# Actual Result
On Mobile, it hasn't applied the mention @all, @here, @channel yet.

# Expected Result
Please consider the plan the apply these types of mention.

# Environment
- Build version: 3.0.4
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
iPhone 11 Promax - iOS 14.4 - 6.46 inch
- QA environment

[2021-07-29 11:09] tlle14 commented on #588
Recently, the only thing work is to highlight the mention. We have 2 problems:
- Cannot show the profile page: https://github.com/linagora/Twake-Mobile/issues/792
- Doesn't have @all, @channel, @here mentions: https://github.com/linagora/Twake-Mobile/issues/793

[2021-07-29 11:25] tlle14 commented on #588
Hi @BastiaanVanGaalen @BenoitTallandier Could you please confirm this one: the mention should display the username or the full name?

Recently on Mobile, it displays the username only:
![screenshot_19](https://user-images.githubusercontent.com/69950655/127483169-0f2118b1-2885-49fc-a952-9ca71de9d6ba.png)

While on Web, it displays the full name
![screenshot_48](https://user-images.githubusercontent

[2021-07-29 13:54] tlle14 opened #796 "Unable to sync the new added user on Mobile App"
# Precondition
Added some new users to the workspace on Web
![screenshot_49](https://user-images.githubusercontent.com/69950655/127504708-07aa4bff-2050-4167-924d-9855c6c59234.png)

# Actual Result
1. On the mobile app, it doesn't update the new users in the workspace.
The new users cannot be mentioned in the channel
https://user-images.githubusercontent.com/69950655/127502789-eba4b1fd-e96e-4abe-90

[2021-07-29 14:21] tlle14 opened #797 "Mention > The user suggestion cannot display in the middle of text paragraph"
#Actual Result
When typing the text then moving the cursor to the middle of the text, it is unable to mention at that place

https://user-images.githubusercontent.com/69950655/127509359-57f1e79e-8869-4a9a-b518-f07e19da019c.mp4

# Expected Result
It should be able to mention where the cursor is (with @ at the beginning)

# Environment

- Build version: 3.0.4
- Device:
Samsung Galaxy A51 - Android 1

[2021-07-29 14:41] tlle14 opened #798 "Mention > Mention is not deleted by 1 time tapping on "delete" button of the keyboard"
# Actual Result
It is unable to delete the mention words by 1 time tapping on the "delete" button of the keyboard
https://user-images.githubusercontent.com/69950655/127515513-33057cf4-408c-409b-8adc-9d7eecc27114.mp4

# Expected Result
The mentioned text should be considered as one word, the user should be able to delete the word by 1 time tapping on the delete button
As on the Web version
![Peek 2

[2021-07-30 03:54] tlle14 commented on #696
Hi @EvGen94
**1. When swipe left to reply, the keyboard is not enabled.**
=> The keyboard should be enabled when swiping to reply

**2. The parent message in the reply displays incorrectly**
The maximum character in the reply quote is long.
![screenshot_53](https://user-images.githubusercontent.com/69950655/127595468-4fab19a3-a326-4b22-bf2e-a06d4ac9763f.png)
=> We should define the maximum charact

[2021-07-30 05:05] tlle14 commented on #531
Hi @EvGen94
1,2 is fixed.
3 is not. Could you please check this one?
**Actual result:**
![screenshot_55](https://user-images.githubusercontent.com/69950655/127602390-ebd902f5-d25d-4403-b3fc-05ac9fdac716.png)

**Expected Result**
![screenshot_56](https://user-images.githubusercontent.com/69950655/127603185-2a2c0df3-2d8f-4920-8d2f-66bf7f7bc6ce.png)

[2021-07-30 07:58] tlle14 opened #799 "UI > Broken chat layout"
# 1. Text and timestamp are aligned to the center of the bubble speech for other participants
![screenshot_57](https://user-images.githubusercontent.com/69950655/127618992-e92600bd-3f6a-4774-bb79-a65dc9da1b15.png)

# 2. The bubble speech of the current user sticks with the one of another participant
- The current distance is 2px
![screenshot_60](https://user-images.githubusercontent.com/69950655/1

[2021-08-02 03:20] tlle14 commented on #691
Retest pass!
Thank @bobs4462
https://images.zenhubusercontent.com/309637937/ee8dcfdb-3815-425a-97c0-f3c1cf4b6b5d/videoe9645077_75c1_4ee8_a119_ec6972369a06video.mp4

[2021-08-02 03:20] #691 closed

[2021-08-02 03:20] tlle14 commented on #691
Retest pass!
Thank @bobs4462
https://images.zenhubusercontent.com/309637937/ee8dcfdb-3815-425a-97c0-f3c1cf4b6b5d/videoe9645077_75c1_4ee8_a119_ec6972369a06video.mp4

[2021-08-02 03:32] tlle14 commented on #759
Hi @bobs4462
The buttons are hidden. Is it the newest updated design or just a temporary solution?
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/14c088d4-bd03-4f77-9ba0-e5037f6ae59a)

[2021-08-02 04:21] tlle14 opened #801 "Create Workspace > the email textbox is half-hidden when inputting the long email address"
# Actual Result
When inputting a long email address (about 34,35 characters), the text is half-hidden
![screenshot_62](https://user-images.githubusercontent.com/69950655/127803239-92f22a7b-4ad8-43ab-983e-7517dc27ea1c.png)

# Expected Result
The text shouldn't be hidden when it is long

# Environment
- Build version: 3.0.4
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
iPhone 11 Promax - iOS

[2021-08-02 04:34] tlle14 commented on #717
Hi @bobs4462
Is it relating to cache when the deleted workspace displays then disappears while refreshing the workspace list?

https://images.zenhubusercontent.com/309637937/1bcc872b-b502-4904-bf3c-ac213b08492f/videob0891db5_48d3_4414_9274_1641f145736avideo.mp4

[2021-08-02 04:42] tlle14 commented on #721
Retest pass!
https://images.zenhubusercontent.com/309637937/c3d448f7-a1aa-4f2c-bea6-8cd1f0517e45/videob0891db5_48d3_4414_9274_1641f145736avideo.mp4

[2021-08-02 04:42] #721 closed

[2021-08-02 04:45] tlle14 commented on #689
Thank @EvGen94
Retest pass!
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/6c939630-7033-4358-90ea-b1219a67639d)

[2021-08-02 04:54] tlle14 commented on #689
We have 2 more issues. Sory @EvGen94 for the long ticket.

# 5. The reply button is not in the center when there's only it on the context menu
(Precondition: when reply to a message has attachment without text)
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/d19af849-e29a-495f-80f4-1901c3072907)

# 6. Tapping between the bottom menu and the reaction bar doesn't close the

[2021-08-02 04:56] #761 closed

[2021-08-02 04:56] tlle14 commented on #761
Retest pass!
https://images.zenhubusercontent.com/309637937/439db189-5dfd-4b62-9dcd-721fd0a47f21/rpreplay_final1627880145.mp4

[2021-08-02 07:37] tlle14 opened #802 "Message > The message is not emphasized when tap and hold to open the context menu"
# Actual Result
When tap and hold the message to open the context menu:
- The message is not emphasized
- The reaction bar is always in the fixed position with the bottom menu.

https://user-images.githubusercontent.com/69950655/127820971-4ae4ba6d-64fc-4b55-a386-8da4999cb3a2.mp4

# Expected Result
When tap and hold the message to open the context menu:
- The message should be emphasized as in desi

[2021-08-02 08:01] bobs4462 opened #803 "Thread messages screen redesign"
We need to update the design for the screen that displays replies in a thread.

Here the new design that needs to be implemented
https://zpl.io/aRwdoZp

[2021-08-02 08:36] tlle14 commented on #748
Retest pass! Thank @EvGen94
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/705b2dd3-4d74-4eae-b48b-1a07d872a34c)

[2021-08-02 08:36] #748 closed

[2021-08-02 08:57] #685 closed

[2021-08-02 08:58] tlle14 commented on #685
This is not a valid issue since we change the design

[2021-08-02 09:05] bobs4462 commented on #759
It's temporary, we will return them, once the functionality for them is ready

[2021-08-02 09:06] bobs4462 commented on #717
oh, yes, it seems the cache is not updated properly, let me check

[2021-08-02 09:37] tlle14 commented on #759
Thank @bobs4462 Don't forget to take it back ;)

[2021-08-02 09:37] #759 closed

[2021-08-02 10:15] tlle14 commented on #753
Hi @EvGen94 @BastiaanVanGaalen

1. **The links** are okay on both 2 background colors.

2. **The mentions:**
+ On Gray background: Gray suits with most colors. So it's okay too.
+ On Blue background: Sometimes it's hard to see mention text with color on blue background.

3. **The emails**: Email is displaying the same with link as on Twake Web.
But when tapping on the email, should it open the ava

[2021-08-02 11:29] tlle14 opened #805 "Message > Chat bubbles between 2 sides are not justified"
# Actual Result:
The gray bubble is near the right border while the blue one is near the left border. They look like in the same column instead of in a conversation.
[IMG_0374](https://user-images.githubusercontent.com/69950655/127854856-ed802b98-9a22-494c-8aad-ae5a979ceec8.PNG)

# Expected Result
The parameters should follow the design: https://app.zeplin.io/project/5fd7afb0317dc8827d6a8fb5/scree

[2021-08-02 11:44] tlle14 opened #806 "Displaying a gray screen when going back from a thread after reacting/replying"
# Actual Result
When reacting or reply a message in the thread, then back to the channel main screen, it displays a gray screen
https://user-images.githubusercontent.com/69950655/127856564-0f2a070e-43f1-404d-b110-35f50258a364.mp4

# Expected Result
It should display a channel with the newest updated messages.

# Environment
- Build version: 3.0.4
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inc

[2021-08-02 15:23] bobs4462 commented on #717
Ok, so, it should only happen once, i.e. after workspace has been deleted, it will remain in cache until you open a side drawer, after that you should not see it happening again, as the local cache will be updated too

[2021-08-03 02:56] tlle14 opened #807 "The link/email doesn't display in the reply box when swping left to reply"
# Precondition
A parent message contains a link or email

# Actual Result
When swipe left to reply, the link or the email doesn't display in the reply box
https://user-images.githubusercontent.com/69950655/127950304-77c07833-1006-4352-acfc-c33340069ffd.mp4

# Expected Result
The link/ email should be able to display in the replied box

# Environment
- Build version: 3.0.4
- Device:
Samsung Galaxy

[2021-08-03 04:34] tlle14 opened #808 "Member management > UI issues"
![screenshot_69](https://user-images.githubusercontent.com/69950655/127958262-ec52b1ed-9e3f-445b-8dbf-283b2c3c1986.png)

1. The font size
I have no way to check the font size, so please check your code if it follows the design

2. The button name "Add a member" should be "Add a new member"

3. The adding member button has a different style from the design.
Please ask the Designer for the correct i

[2021-08-03 07:18] BastiaanVanGaalen commented on #752
@tlle14 In that case can only have two statuses as @bobs4462 mentioned. The first one "clock icon" that indicates the message hasn't still be delivered to backend and the send one "blue tick in a circle" when backend receives it.

[2021-08-03 07:31] BastiaanVanGaalen commented on #808
1.I left some remarks related to font size inconsistencies, we have to ensure text is scaled correctly depending on the screen width. Increase the font-size when screen size is bigger - is the key to text readability and general look and feel. So scale factor must be applied.

2. Agreed, confirmed.

3. Attached[https://app.zenhub.com/files/309637937/d6f85c02-9b15-48f5-b12d-26abc224bea1/download](h

[2021-08-03 07:53] tlle14 opened #809 "Member Management > It can only display maximum 99 members in a channel"
# Precondition
A channel with more than 99 members

# Actual Result
- In a channel, the number of members is incorrect
- It only displays a maximum of 99 members

On Web:
![screenshot_70](https://user-images.githubusercontent.com/69950655/127977327-461e23e8-0362-46e6-8c8d-62b4ff37189d.png)

On Mobile, cannot find the person:
![screenshot_71](https://user-images.githubusercontent.com/69950655/12797

[2021-08-03 08:11] tlle14 commented on #808
Thank @BastiaanVanGaalen for your confirmation.
It seems the Team has not implemented 4 and 5 yet.

[2021-08-03 08:14] bobs4462 commented on #808
4. Not possible to implement as on backend there's no such thing as channel admin, only owner | member | guest.
5. Not possible to manage permissions, as there's no such thing as permissions on backend

It has to be implemented on backend first

[2021-08-03 08:32] tlle14 commented on #752
How about sending fails? @BastiaanVanGaalen

[2021-08-03 13:32] bobs4462 commented on #668
@tlle14, hi, I couldn't reproduce this issue, can you retest it again, maybe the backend changes affected it before.

[2021-08-04 04:21] tlle14 commented on #668
Hi @bobs4462
The issue still happens
![screenshot_72](https://user-images.githubusercontent.com/69950655/128121696-289d2224-bbf2-4bdf-874e-caa259b2236a.png)

[2021-08-04 04:56] tlle14 opened #812 "Send message button is faded"
# Actual Result
The send button is faded, it looks like not being enabled
![screenshot_73](https://user-images.githubusercontent.com/69950655/128124269-ca57d512-1ee0-4659-9b24-e34e10ab69fc.png)

# Expected Result
It should be no opacity

# Environment
- Build version: 3.0.4
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
iPhone 11 Promax - iOS 14.4 - 6.46 inch
- QA environment

[2021-08-04 06:49] bobs4462 commented on #668
Hmmm, can you please describe a way to reproduce it, or does it happen randomly?

[2021-08-04 06:50] bobs4462 commented on #812
@BastiaanVanGaalen can you please give us a color code for active send button?

[2021-08-04 07:32] tlle14 commented on #668
I did it normally with multiple users

[2021-08-04 07:45] bobs4462 opened #813 "[Refactoring] Universal image widget"

[2021-08-04 07:47] bobs4462 commented on #813
Right now we have several widgets to render images for logos and user avatars
We have to make one single widget to handle all cases in order to minimize the amount of code and complexity

[2021-08-04 10:07] tlle14 opened #814 "When switching company, there is no workspace be selected"
# Precondition
Just login

# Actual Result
- When switching to another company, it still displays the channel list of the workspace in the previous company.
- The workspace avatar is gray (No workspace is selected)

https://user-images.githubusercontent.com/69950655/128157203-f4817d4f-c2c3-41f8-ac30-8a115d530545.mp4

# Expected Result
When switching companies, if there is no previously selected wo

[2021-08-04 11:48] tlle14 opened #815 "Swipe to reply > The reply doesn't display after submitted"
# Precondition
Story: https://github.com/linagora/Twake-Mobile/issues/696

# Actual Result
On Android, when swiping left to reply then submit the message:
- The view reply button doesn't appear instantly
- (UX) User cannot see his/her replies right after it is submitted

https://user-images.githubusercontent.com/69950655/128173823-7f9fbee1-26ee-4453-afcd-768ec009feb0.mp4

# Expected Result
After s

[2021-08-04 11:58] tlle14 opened #816 "Syncing failed happens randomly and frequently"
# Actual Result
I've encountered syncing failed frequently when login, but I don't know why

# Expected Result
Please confirm on your side and help investigate.
Maybe you should generate logs in the next build

# Environment
- Build version: 3.0.4
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
iPhone 11 Promax - iOS 14.4 - 6.46 inch
- QA environment and Prod

[2021-08-05 04:52] tlle14 commented on #809
It seems the app doesn't update the newest member list in the Member Management.
It only displays the member list at the moment the account logged in the first time.

[2021-08-05 08:38] bobs4462 commented on #780
@EvGen94 i've added unreadInDirects getter for badges cubit, so you can directly access that data to display the counter.

[2021-08-05 10:45] tlle14 opened #818 "Member Management > Incorrect label in "add members" screen"
# Actual Result
Displaying the label `FREQUENTLY CONTACTED` label while the suggestion feature doesn't appear in the screen
![screenshot_80](https://user-images.githubusercontent.com/69950655/128337121-87a0f2ae-3353-4535-b9fe-b55ac8ac7dd1.png)

Design: https://app.zeplin.io/project/5fd7afb0317dc8827d6a8fb5/screen/60e70a496df65c77eaf8c679
![screenshot_2](https://user-images.githubusercontent.com/69

[2021-08-05 10:51] tlle14 commented on #818
@BastiaanVanGaalen hi, could you please confirm which one we should apply in these two design?

https://app.zeplin.io/project/5fd7afb0317dc8827d6a8fb5/screen/60a67481a3c38326eff4e665

or

https://app.zeplin.io/project/5fd7afb0317dc8827d6a8fb5/screen/60e70a4cff59ed6f4d5e049b

They have different labels `Frequently contact/ found people` and the way selected contact appears in the list.

[2021-08-05 13:03] bobs4462 commented on #450
@BastiaanVanGaalen can you please take a look at that and come up with design suggestion?

[2021-08-06 03:02] tlle14 opened #819 "Member management > It doesn't display the member list in default channel of the newly created workspace"
# Precondition
Create a new workspace

# Actual Result
After the workspace is created, open the member list of the default channel, it doesn't display anyone on the list
https://user-images.githubusercontent.com/69950655/128449523-c211860c-b2db-4183-8198-b9223d5535b1.mp4

# Expected Result
It should display the list of added members in the workspace for the default channel's member list

# Environ

[2021-08-06 04:36] tlle14 opened #820 "Create workspace > Able to add multiple member in a row"
# Actual Result
When creating a workspace, copy the list of users then paste it into a row, it is able to add all users into a new workspace
https://user-images.githubusercontent.com/69950655/128455749-0bb5ceb4-7a45-4fe0-ab2c-5c9918f50cef.mp4

This is also a good idea to add a group of users into a workspace/channel easily. We should make it becomes an official feature.
But it is able to over the

[2021-08-06 06:49] bobs4462 commented on #820
@BastiaanVanGaalen Please comment on this

[2021-08-06 08:42] tlle14 opened #821 "Channel/Direct > Cannot post a first message to the channel/direct chat which has no chat history"
# Precondition
The channel doesn't have messages

# Actual Result
When posting a message to the new channel, the message doesn't appear
https://user-images.githubusercontent.com/69950655/128483093-7e78ae85-2d78-4547-b9bf-60fe4ddc1501.mp4

# Expected Result
It should be able to post the first message to the channel on Mobile

# Environment

- Build version: 3.0.4
- Device:
Samsung Galaxy A51 - Andr

[2021-08-06 09:43] tlle14 opened #822 "The newly created user doesn't display the name on sidebar"
# Precondition
- The user has already registered
- He doesn't update his profile yet

# Actual Result
On the mobile app sidebar, the user's name doesn't display
![screenshot_83](https://user-images.githubusercontent.com/69950655/128487705-e87e3e74-b025-4058-9825-e33af57192c6.png)

On Account page:
![screenshot_84](https://user-images.githubusercontent.com/69950655/128487742-c05882f4-335b-4f75-9a43

[2021-08-06 11:35] tlle14 opened #823 "Member management > There is no way to remove user from the channel"
#  Actual Result
We can only add users to the channel, but there is no way to remove a user

# Expected Result
It should be able to remove a user from the channel

# Environment
- Build version: 3.0.4
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
iPhone 11 Promax - iOS 14.4 - 6.46 inch
- QA environment

[2021-08-06 12:49] BastiaanVanGaalen commented on #818
@tlle14 If we are talking about Channel management which is not channel creation flow, these two screens are different.
These is section in Zeplin called "Channel editing" you have to lean on it when comparing between design and implementation.
Particularly, we use "found people": https://zpl.io/aMwzXoK

This is the link to the section in Zeplin:  https://zpl.io/VY5Ny0p

[2021-08-06 16:04] BastiaanVanGaalen commented on #142
For now, the task with formatting cannot be dealt with. We must focus all our efforts on stabilising MVP version.
Some time in future I will design UI related to formatting including custom keys for mobile keyboard so users are able
to format easily with quick shortcuts.

For now leave it as it is.

[2021-08-06 16:08] BastiaanVanGaalen commented on #450
Can we somehow evaluate the usefulness of this feature? Is there any point for this?

Personally, me i see much more sense  in having some channels pinned to the top "add to favourites" and i'd rather
implement this one first, but for this UI needs to be prepared) so.

[2021-08-06 16:13] BastiaanVanGaalen commented on #357
I will take on this task next in the context of another task:  "workspace options" where owners will be able to adjust workspace settings and to invite new members.

[2021-08-06 16:58] bobs4462 commented on #796
I've added users sync to pull to refresh feature, when the app starts and when you switch the workspace. Alas there's no way we can track users in workspace in a real time.

[2021-08-06 16:59] bobs4462 commented on #823
@BastiaanVanGaalen is there a design for this?

[2021-08-09 03:32] tlle14 commented on #821
Retest this issue after bug fixing: https://github.com/linagora/Twake-Mobile/issues/700

[2021-08-09 08:12] bobs4462 opened #826 "[User story] Ability to register a new account from mobile application"
As a user I want to be able to create a new account (in case if I don't have one) from the mobile application itself.

I should be able to navigate to new account registration screen from the first screen of the app
![image.png](https://images.zenhubusercontent.com/5f9ab4c67851dd4a461c956a/b8746892-971c-4fcd-84b4-cac00005f1c2)

Account registration takes place on twake console side (https://accoun

[2021-08-09 08:18] tlle14 opened #827 "Direct > After created on Web, user need to refresh to see the chat appears"
# Precondition
UserA creates a direct chat with UserB on the Web

# Actual Result
On Mobile, UserB cannot see the chat appears. He needs to pull to refresh to see it.
https://user-images.githubusercontent.com/69950655/128676125-22d3640c-a7a7-44f8-add5-16530ee6aa2d.mp4

# Expected Result
The chat should appear in a real-time when having a first message

# Environment
- Build version: 3.0.4
- Device

[2021-08-09 08:42] tlle14 commented on #450
Hi @RomaricMourgues you asked for this feature, could you please answer Bastiaan?
CC: @BenoitTallandier

[2021-08-09 08:53] BenoitTallandier commented on #450
@BastiaanVanGaalen I agree with you, this is not a priority feature. Furthermore, this would become almost useless when we'll  be able to bookmark a message (~ save it to read or answer later).

[2021-08-09 08:55] tlle14 commented on #796
Hi @bobs4462
I've retested and didn't see it work. Could you please try?

https://user-images.githubusercontent.com/69950655/128681714-2a785344-bffb-4b05-bfbc-685abba782b0.mp4

[2021-08-09 08:56] #142 closed

[2021-08-09 09:17] tlle14 commented on #818
Hi @BastiaanVanGaalen @EvGen94
I apologize for my mistake. I've updated the description.

@BastiaanVanGaalen In the edit channel > add members, we don't have the feature Frequently contact, so  I ask the Developer to remove the label to follow the design.
About Add Members screen when Create Channel and Edit Channel, I suppose they should be the same. Otherwise, it's alright.

[2021-08-09 09:41] bobs4462 commented on #796
Well, it's not released yet :)

[2021-08-09 10:35] tlle14 opened #828 "Create direct chat > The current login user doesn't display in the search screen"
# Actual Result
The current login user doesn't display in the PEOPLE list.
He also cannot search for himself

https://user-images.githubusercontent.com/69950655/128693597-5ed331d4-33a6-4d6c-8b45-76bca428e156.mp4

# Expected Result
The current login user should be able to see himself appear in the PEOPLE list.
He should be able to search himself and create a self-direct chat.

# Environment
- Build

[2021-08-09 11:17] tlle14 opened #829 "Direct > Cannot open the direct chat after back from another one"
# Actual Result
Open a direct chat then go back to the direct chat list, it is unable to tap to open another
https://user-images.githubusercontent.com/69950655/128698185-ebc7715f-7ee0-4ebd-87a3-d1ab6d837e9e.mp4

# Expected Result
It should be open to the second direct chats

# Environment
- Build version: 3.0.4
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
iPhone 11 Promax - iOS 14.4 - 6.46

[2021-08-09 14:31] BastiaanVanGaalen commented on #826
@bobs4462
Sign up flow screens: https://zpl.io/amRQYmQ

Some comments:
- when user enters this screen "Email" inout gets focus and "Number of users" input has pre-filled value of 5 (users can enter any value except for 0)
-  "Start using Twake" button always visible and is placed above the keyboard (when it's shown up)
- user can close the sign up
- user can follow "terms and conditions" links tha

[2021-08-10 04:15] tlle14 opened #830 "Message > While opening emoji keyboard, cannot tap on background to close the keyboard"
# Precondition
The emoji keyboard is opened

# Actual Result
When tapping on the background, the emoji keyboard isn't closed. The user needs to switch to a normal keyboard to close it.
It's inconvenient on the phone has no system back button

https://user-images.githubusercontent.com/69950655/128807326-32d3543d-caf0-4a6f-8283-a861b6378cba.mp4

# Expected Result
The emoji keyboard should be closed

[2021-08-10 07:38] tlle14 opened #831 "Channel/ Direct > Displays a gray screen after deleting the first message in a channel/Direct"
# Actual Result
When deleting the first message in a channel/direct chat, it displays a gray part on the screen
https://user-images.githubusercontent.com/69950655/128827215-4e8a78e0-71af-4814-954e-0e38884717e6.mp4

# Expected Result
It shouldn't display a gray part after deleting the first message in the channel/direct

# Environment
- Build version: 3.0.4
- Device:
Samsung Galaxy A51 - Android 11

[2021-08-10 09:52] tlle14 commented on #831
I changed the priority because when reopen the channel/direct, messages will be lost.

[2021-08-11 08:37] bobs4462 commented on #744
Sign in / Sign out works now, further work on sign up is going to be done in #826

[2021-08-11 08:37] #744 closed

[2021-08-13 08:10] bobs4462 commented on #241
@BastiaanVanGaalen we are currently showing all members with the ability to search through them, but we cannot sort them by recent activity, as there's currently no way keep last activity of all the users in sync with mobile app in real time.
Please close this issue, if there's nothing else to be done.

[2021-08-13 08:19] bobs4462 commented on #232
not relevant anymore

[2021-08-13 08:19] #232 closed

[2021-08-13 08:35] #241 closed

[2021-08-16 10:59] tlle14 commented on #689
5. Cannot reproduce
6. Retest pass!
Thank @bobs4462

[2021-08-16 10:59] #689 closed

[2021-08-17 03:34] tlle14 commented on #668
Hi @bobs4462
The issue persists in the app
Please see how I reproduce it on App
https://images.zenhubusercontent.com/309637937/1e3b247e-8a7a-41c5-bc66-b1004b1c1f6e/video6326293f_b1c3_4a22_88a3_33d5232a2ae1video.mp4

And how it displays on Web:
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/f1f205e3-6954-4909-8385-be62e7b7ba42)

[2021-08-17 04:20] tlle14 commented on #688
Hi @bobs4462
Retest failed!
The realtime update doesn't happen when sending messages from Twake Web to Twake Mobile

[2021-08-17 04:22] tlle14 commented on #690
Thank @bobs4462
This is not an issue anymore since the reply button doesn't display in a thread screen

[2021-08-17 04:22] #690 closed

[2021-08-17 04:26] tlle14 commented on #711
Retest pass! Thank @bobs4462
https://images.zenhubusercontent.com/309637937/2a58f40b-fba1-4452-8bea-1e6f27cb91e4/videod64bb282_8618_4a52_a679_44cf412d6081video.mp4

[2021-08-17 04:26] #711 closed

[2021-08-17 04:35] tlle14 commented on #806
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/2de9dd18-9f82-4037-ae9c-1c2a39ea6c77/videodcdd85eb_ee70_46b2_bad0_85c816fc2de4video.mp4

[2021-08-17 04:35] #806 closed

[2021-08-17 06:30] bobs4462 commented on #668
@tlle14 can you share with me, the creds of your test user, along with the name of workspace/channel that you were testing it with?

[2021-08-17 07:01] tlle14 commented on #668
@bobs4462 Here you go:
cyan@yopmail.com / Secret1@
Channel: https://web.qa.twake.app/client/nENULS1vCws66wqzPUyU93/c/1VdBzyUKMYNuPHcsRXMxeW

[2021-08-17 08:04] bobs4462 commented on #688
@tlle14, does this happen randomly, or does it never work?

[2021-08-17 08:23] tlle14 commented on #790
Hi @bobs4462
Retest failed
Even the first message is no longer duplicated, when scrolling down, the loading message screen flickers.
https://images.zenhubusercontent.com/309637937/a59e8a10-41d2-437c-9622-14207c0a6f29/videoea3037b1_7638_44cc_9ccf_ddbeea76788evideo__1_.mp4

[2021-08-17 08:28] bobs4462 commented on #790
@EvGen94 Remember I've asked you to fix this?

[2021-08-17 09:16] #753 closed

[2021-08-17 09:16] tlle14 commented on #753
Thank @bobs4462
The color problem is solved. But we have a little more problem with emails displaying. I will create a new ticket for easier tracking.
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/421da769-49ac-4f28-959c-dbedd0959b89)

[2021-08-17 09:28] tlle14 commented on #717
Retest pass! Thank @bobs4462

[2021-08-17 09:28] #717 closed

[2021-08-17 09:29] tlle14 commented on #688
It seems randomly happens. Now it works like a charm on my device, but wasn't in this morning.

[2021-08-17 09:55] tlle14 commented on #700
Hi @bobs4462 please take a look on this one.

[2021-08-17 09:55] #700 closed

[2021-08-17 09:56] tlle14 commented on #821
Retest pass! Thank @bobs4462
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/0c38a9b1-abca-4807-89fa-81226837378b)![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/5abfe545-cc86-436f-8cbd-251a0bdc3a1c)

[2021-08-17 09:56] #821 closed

[2021-08-17 10:19] tlle14 commented on #787
Retest pass!
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/f1fc6d05-092c-47ec-8b64-9d8f56966c0f)

[2021-08-17 10:19] #787 closed

[2021-08-17 10:21] tlle14 opened #834 "Direct > A new direct chat doesn't display for the receiver"
# Precondition
UserA creates a new direct chat with UserB
UserA send some first message to the direct chat with UserB

# Actual Result
The new direct chat doesn't display on UserB side

# Expected Result
The direct chat should display on UserB's side in real time

# Environment
Build version: 3.0.5
Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
QA environment

[2021-08-17 10:24] tlle14 commented on #701
Hi @bobs4462
Retest failed
**On Mobile:**
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/edaeae91-5289-4eed-b28c-65f408e4abda)
**On Web:**
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/afad52e3-7ed5-44b4-82d1-f2b749a756cc)

[2021-08-17 10:26] tlle14 commented on #807
Thank @EvGen94
Retest pass
https://images.zenhubusercontent.com/309637937/2d1f7d9e-b847-4b4d-800d-059c749caabe/video89d16f70_e27c_4a8f_b8a7_c0b61e697c60video.mp4

[2021-08-17 10:26] #807 closed

[2021-08-17 10:44] tlle14 commented on #531
Hi @bobs4462
Retest failed!
The name should display at the first message in the sequenced messages. In the below image, it should display at the 1st message instead of 5th.
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/bbd6f95a-8008-4add-94b9-bc1cbf7be20f)

[2021-08-17 10:47] tlle14 commented on #793
Retest pass!
Thank @bobs4462

[2021-08-17 10:47] #793 closed

[2021-08-17 10:57] tlle14 commented on #814
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/66699597-4d2f-4589-8f45-710165f99a1f/videoa8ad1e07_a749_4db9_a3b6_c05362b33f48video.mp4

[2021-08-17 10:57] #814 closed

[2021-08-17 11:15] tlle14 commented on #772
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/ab51a67d-2271-428e-821b-b4a685df0d96/videod81cc996_7434_4e1d_a769_b2b0a3be4a86video__1_.mp4

[2021-08-17 11:15] #772 closed

[2021-08-17 11:15] tlle14 commented on #718
Retest pass!
Thank @bobs4462
https://images.zenhubusercontent.com/309637937/3661efc9-9561-411e-8f9f-506c8637103f/videod81cc996_7434_4e1d_a769_b2b0a3be4a86video__1_.mp4

[2021-08-17 11:15] #718 closed

[2021-08-17 11:19] tlle14 commented on #812
Retest pass! Thank @bobs4462
But could you please expand the tap area?

[2021-08-17 11:23] tlle14 commented on #780
Retest pass! Thank @EvGen94
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/f5750ab3-2e75-468e-b9dc-659b746bede7)

[2021-08-17 11:23] #780 closed

[2021-08-17 11:24] tlle14 commented on #829
Retest pass! Thank @bobs4462
https://images.zenhubusercontent.com/309637937/7db2fbb9-2b6e-4ab9-bb90-e6141f21588c/videod5341022_228a_4df9_ba7f_de1a79a1bbf6video.mp4

[2021-08-17 11:24] #829 closed

[2021-08-17 11:55] bobs4462 commented on #812
@EvGen94 can you do it?

[2021-08-17 12:12] EvGen94 commented on #812
@bobs4462 @tlle14
Okay, I'll do it

[2021-08-17 14:56] tlle14 commented on #255
Retest pass!
When the message is not successful delivered, the context menu will not display.

[2021-08-17 14:56] #255 closed

[2021-08-18 03:22] tlle14 commented on #696
Thank @EvGen94
1,2 are pass!
About 3, I'm not sure. The font size seems not to match the design, but I think it's okay.
@BastiaanVanGaalen How do you think?
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/2963d53b-6bb4-406e-a261-3b96632cbc48)

[2021-08-18 03:39] tlle14 commented on #818
Retest pass! Thank @EvGen94
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/55a08653-eda4-49ae-965f-b76f9b0d8d74)

[2021-08-18 03:39] #818 closed

[2021-08-18 04:29] #653 closed

[2021-08-18 04:29] tlle14 commented on #653
Retest pass!
Thank @bobs4462
https://images.zenhubusercontent.com/309637937/853b919b-7f0a-43b8-8d1e-b47814072cda/video76c60009_0f39_4328_af23_29530057c292video.mp4

[2021-08-18 04:44] tlle14 commented on #822
Retest pass!
Thank @bobs4462
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/1a8ee13d-4da7-4b5b-a278-cc3f1ff4356e)

[2021-08-18 04:46] #822 closed

[2021-08-18 05:02] tlle14 commented on #805
Retest pass! Thank @EvGen94
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/08b84100-3920-45c2-b5d8-849ab3c981c2)

[2021-08-18 05:02] #805 closed

[2021-08-18 07:01] BastiaanVanGaalen commented on #696
@tlle14 Font size is ok, during app review i will point out all such inconsistencies, though

[2021-08-18 07:01] BastiaanVanGaalen commented on #696
@EvGen94 Can you please arrange for our app to start using system-defined fonts, in particular, SF Pro display/text for iOS and Roboto for Android.

[2021-08-18 07:05] BastiaanVanGaalen commented on #826
@bobs4462 Are we done with this task? What should i do about it? =)

[2021-08-18 07:06] #355 closed

[2021-08-18 07:07] bobs4462 commented on #826
Leave it out for now, we don't have server side implementation yet?

[2021-08-18 07:09] BastiaanVanGaalen commented on #356
@bobs4462 Are we done with this functionality? When we are inside the chat flow of some channel and we receive a new message in another channel the notification should show up so user can tap on it and be redirected into a corresponding channel with auto-scroll to the message contained in notification?

[2021-08-18 07:17] #348 closed

[2021-08-18 07:17] BastiaanVanGaalen commented on #348
[https://app.zenhub.com/files/309637937/8a4dd245-665b-47b6-84e9-663e70df5c08/download](https://app.zenhub.com/files/309637937/8a4dd245-665b-47b6-84e9-663e70df5c08/download)

@bobs4462 @EvGen94 Guys, i attached the archive with new icon, please, update it, thank you.

[2021-08-18 07:19] BastiaanVanGaalen commented on #549
@EvGen94 Such notification should show up for no longer than 2,5 sec. It's ok that it overlaps message bubble during the time of showing.

[2021-08-18 07:24] bobs4462 commented on #356
Well, it's also pretty complicated, because we cannot test out for the reasons of very unstable notification functionality on backend. Leave it for now

[2021-08-18 07:32] bobs4462 opened #835 "Update APP-wide fonts for mobile application"
We have to update the fonts used by the App to start using system-defined fonts, in particular, SF Pro display/text for iOS and Roboto for Android.

[2021-08-18 07:33] bobs4462 commented on #696
Will work on font update here https://app.zenhub.com/workspaces/twakemobile-5fa5101d98879700119ccea9/issues/linagora/twake-mobile/835. You can close this one if everything else is ok @tlle14

[2021-08-18 07:34] #696 closed

[2021-08-18 07:34] tlle14 commented on #696
Thank guys!

[2021-08-18 07:41] BastiaanVanGaalen commented on #549
@EvGen94 https://zpl.io/aRwkKWN

[2021-08-18 07:46] tlle14 commented on #831
Retest pass! Thank @bobs4462
https://images.zenhubusercontent.com/309637937/8b35ad54-7c8d-4b49-bb7c-99da6d997eca/videoe9871062_4cbe_4ab3_831d_f4065d1a790bvideo__1_.mp4

[2021-08-18 07:46] #831 closed

[2021-08-18 07:54] BastiaanVanGaalen commented on #752
@tlle14 We should not show our users our "failed condition", message will eventually be delivered either when server is up or internet connection is re-established.

[2021-08-18 08:07] tlle14 commented on #674
Hi @bobs4462 is this issue fixed on the backend or you just sent it back because it isn't from Twake Mobile?
I still see the counter is not updated when the user goes back from the Thread screen.

[2021-08-18 08:08] BastiaanVanGaalen commented on #808
Since we have no backend logic to support this part of UI, this task can be adjourned.

[2021-08-18 08:08] #808 closed

[2021-08-18 08:11] BastiaanVanGaalen commented on #588
I suggest that we display user name since user nicknames are sometimes useless when don't identify user.

[2021-08-18 08:14] BastiaanVanGaalen commented on #820
On mobile, we have different UI architecture rather than on web, to keep things structured we use cells. I will consider supporting this group adding feature though, in future.

[2021-08-18 08:16] BastiaanVanGaalen commented on #823
https://zpl.io/2vjzDEj

Yes we can remove members from channel

[2021-08-18 08:51] tlle14 opened #837 "Create Workspace > Unable to create a workspace"
# Actual Result
After created, then refreshing the workspace list, the new workspace disappears
https://user-images.githubusercontent.com/69950655/129867898-465286d3-e738-4c0a-84fe-c0f832fe71f2.mp4

# Expected Result
The newly created workspace should be shown in the sidebar

# Environment
Build version: 3.0.5
Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
QA environment

[2021-08-18 08:51] tlle14 commented on #819
Blocked by https://github.com/linagora/Twake-Mobile/issues/837

[2021-08-18 09:11] bobs4462 commented on #674
Well, it should be updated, but there might be a time lag. If your real time message syncing works (even with time lags), then the counter update should also work, as it uses the same underlying mechanism

[2021-08-18 09:15] tlle14 commented on #713
Thank @EvGen94 and @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/a1f94606-a39b-4338-a029-a4297e6a5c9e/video01e26065_1bbb_4d6c_ac9d_893e0f2a719bvideo__2_.mp4

[2021-08-18 09:15] #713 closed

[2021-08-18 09:37] tlle14 commented on #674
At least the button "See all answers" is not lost.
I can close this issue

[2021-08-18 09:37] #674 closed

[2021-08-18 09:41] bobs4462 commented on #823
@BastiaanVanGaalen can you please update the design, removing the admin feature, because it's not supported on backend

[2021-08-18 09:58] tlle14 commented on #664
Retest pass!
I don't see the issue anymore

[2021-08-18 09:58] #664 closed

[2021-08-18 10:23] #797 closed

[2021-08-18 10:23] tlle14 commented on #797
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/ccae5004-0cb6-47b8-b7db-7c1e09cdf9be/video1a1b2721_3a35_4bd0_9e5c_c209fe6dcab5video.mp4

[2021-08-18 10:39] tlle14 commented on #828
Retest pass! Thank @bobs4462
https://images.zenhubusercontent.com/309637937/a67c0e93-dacb-44f0-bc80-e1a20b842484/video6655b309_7345_4a47_9c40_03b4910d127fvideo.mp4

[2021-08-18 10:39] #828 closed

[2021-08-18 10:49] tlle14 commented on #796
Retest pass! Thank @bobs4462

[2021-08-18 10:49] #796 closed

[2021-08-18 12:38] bobs4462 commented on #558
@tlle14 can you give me several test users, one on which can change the roles of the others? So I can test it with different role based actions?

[2021-08-18 12:43] bobs4462 commented on #567
duplicate of #450

[2021-08-18 12:43] #567 closed

[2021-08-18 13:07] bobs4462 commented on #777
If the real time update is working (like when you get a message in real time) then the channel sorting also should work. But if it doesn't (for some reason, like bad connection or backend issues), then channel resorting will not work too.
As for getting the latest update after coming from background, if the user has active internet connection during that moment, then it should work. Can you rechec

[2021-08-19 02:36] tlle14 commented on #558
Hi @bobs4462 I've sent you the credentials on Twake Mobile channel

[2021-08-19 04:34] tlle14 commented on #815
Hi @bobs4462 What is the solution for this ticket? I don't see it changed.

[2021-08-19 04:56] tlle14 commented on #777
I've retested but don't see it changed. Is it still working on your real device?

[2021-08-19 07:16] bobs4462 commented on #815
The view reply button should display instantly on the parent message

Hi, if you have active internet connection, then reply counter should be updated, view replies button should appear in a few seconds.
![untitled](https://user-images.githubusercontent.com/31780624/130024824-d9100e84-7966-44a2-9ff8-f560d6aaf4ce.gif)
Can you make sure that real time message syncing works at the moment when you are

[2021-08-19 07:38] tlle14 commented on #779
Still the issue on 3.0.5, please fix ^^
https://images.zenhubusercontent.com/309637937/54ccf834-08a5-4f24-88e0-f3c7a93273ad/videobf9e3377_e3f0_4221_9052_af8f40a5db88video.mp4

[2021-08-19 07:39] #749 closed

[2021-08-19 08:09] tlle14 commented on #809
Should be retested in the next release on Production server

[2021-08-19 08:27] #726 closed

[2021-08-19 08:28] tlle14 commented on #726
Retest pass!

[2021-08-19 09:19] tlle14 commented on #816
This issue seems no longer happen

[2021-08-19 10:40] tlle14 commented on #803
The new thread screen is displaying well in the App.
But the reply counter should have a fixed position before and after having reactions
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/63f14c41-37c6-4bde-97fe-6c902b9d3fbe)

[2021-08-19 11:15] tlle14 opened #838 "A long user's name breaks the UI"
# Precondition
The user has a long name
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/a9f21ea5-5a2a-42fb-a293-4c07c2f9b46d)

# Actual Result
When the user has a long name, it breaks the UI on:
1. Menu sidebar
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/eefccc3b-ad2b-4291-a995-27687fb52ea8)

2. Thread screen
![image.png](https://images.zen

[2021-08-19 11:17] tlle14 commented on #815
The first point relates to https://github.com/linagora/Twake-Mobile/issues/777
How about the second point: The user cannot see his/her replies right after it is submitted? I meant it should open the thread screen after the user submitted his reply, so he can see (re-check) his message. But I'm not sure about this behavior, we should ask @BastiaanVanGaalen for a better UX

[2021-08-19 11:25] bobs4462 commented on #815
Ok, so realtime sync stops working after resuming from background. Will fix it.
As for opening the thread screen after swipe to reply, @BastiaanVanGaalen what's your opinion?

[2021-08-19 11:27] BastiaanVanGaalen commented on #815
@tlle14  I can review the message before sending it, why would i need to review it inside the thread screen? To ensure it has been posted correctly?

[2021-08-19 16:27] BenoitTallandier commented on #588
I agree, let's display the full name

[2021-08-20 03:47] tlle14 opened #840 "Login/Logout > The webview in App displays address bar"
# Actual Result
It displays the address bar
- on the login screen
![screenshot_2](https://user-images.githubusercontent.com/69950655/130174430-ea069591-1f6a-42ae-b6bc-c144325d6692.png)

- when log out, on the redirected screen
https://user-images.githubusercontent.com/69950655/130175712-1d766866-74db-43c3-a39e-bb2975bb524c.mp4

# Expected Result
The address bar should be hidden in the app, to make

[2021-08-20 04:09] tlle14 opened #841 "Using 2 spash screens when open the app then login"
# Actual Result
When opening the app, it displays an old splash screen
When opening the sign-in screen, it displays a new splash screen
https://user-images.githubusercontent.com/69950655/130177192-f3475e43-78eb-4ede-bedc-4388ec728e4c.mp4

# Expected Result
We should use only 1 splash screen when opening the app.
The splash screen should be the new one that matches the branding color.

# Environmen

[2021-08-20 06:57] bobs4462 commented on #840
I'm sorry but that's not possible, because it's not a webview, it's an external browser, and we have no control over it

[2021-08-20 06:59] bobs4462 commented on #820
Please close this issue, if it's not going to be solved anytime soon

[2021-08-20 07:09] tlle14 commented on #820
This means we will have another way to add a bulk of users.

The app should avoid performing this kind of trick adding users over the limitation. I

[2021-08-20 07:25] tlle14 commented on #840
okay i got it. Thank @bobs4462

[2021-08-20 09:04] tlle14 opened #842 "Sign In > Keyboard allows the first character in the email field to be capitalized by default"
# Actual Result
When starting to type on the email field, the keyboard enables the capitalization mode.

https://user-images.githubusercontent.com/69950655/130209358-7ff9c239-0adb-4a1d-ad30-f2d774191e0a.mp4

# Expected Result
The keyboard shouldn't enable the capitalization mode by default when inputting the email

# Environment
Build version: 3.0.5
Device:
Samsung Galaxy A51 - Android 11 - 6.5 in

[2021-08-20 10:56] BastiaanVanGaalen commented on #803
1. Agreed
2. For me it's not that obvious, it's clear differentiation between main message and "reply-type" messages.

[2021-08-20 11:09] bobs4462 commented on #842
@tuanlc Hello, can you guys take a look at that, cause we have no control over the keyboard on web

[2021-08-20 11:10] tlle14 commented on #803
Thank @BastiaanVanGaalen for your confirmation.
1. The reply counter will be placed on the right.
2. Will add the reply icon.
@EvGen94 could you please help to work on this issue? Many thanks!

[2021-08-20 11:27] EvGen94 commented on #803
@tlle14 @BastiaanVanGaalen  So, the reply counter should be placed on the right in both cases, and add the reply icon. Well, I'll do it, but I don't quite agree with putting the reply icon, since we already see that this is the threads screen, it seems to me redundant, I agree here with @tlle14, but as you want ;)

[2021-08-20 11:51] BastiaanVanGaalen commented on #448
To my knowledge, users are invited to join a particular workspace inside a particular company. So there is no point for users to select something since our service is invitation-based.

[2021-08-20 11:51] BastiaanVanGaalen commented on #448
@bobs4462

[2021-08-20 11:57] tlle14 opened #843 "Sign out > Having a little delay after clicking sign out button"
# Actual Result
When tapping the sign-out button, it has a latency before sign out successfully. It makes the user feel like the button doesn't work
https://user-images.githubusercontent.com/69950655/130228124-07f04fcb-8e90-4aa6-917a-02d3775b7072.mp4

# Expected Result
Right after tapping on the sign-out button, the user should see it work without any latency.

# Environment
Build version: 3.0.5
D

[2021-08-20 12:05] tlle14 commented on #815
Hi @BastiaanVanGaalen
1. The user may want to see how the message displaying in the app. For example, if he uses twacode, he needs to see how it displaying
2. By mistake, the user might reply in the wrong thread. How does he aware of which thread he posted a message to?

[2021-08-20 12:13] tlle14 commented on #840
Sorry @bobs4462 Could you please consider the solution in this document https://developer.chrome.com/docs/android/trusted-web-activity/integration-guide/#remove-url-bar

If we can apply, it could be great for UX. But not urgent.

[2021-08-20 13:06] bobs4462 commented on #58
@tlle14 this issue now seems to originating from backend. When user changes his data from twake console, even on web he needs to relogin in order to see the changes in twake web interface

[2021-08-20 14:09] bobs4462 commented on #765
https://www.notion.so/twake/REST-Api-Websockets-Api-458b153a6a6e46c2925dfc1db3859d3b
@RomaricMourgues We are trying to use the endpoints described in this documentation, but changing the channel visibility doesn't work, the request executes normally but it has no effect

[2021-08-21 09:13] tlle14 commented on #58
It is no longer the issue on Mobile App ;)

[2021-08-21 09:13] #58 closed

[2021-08-23 07:15] BastiaanVanGaalen commented on #803
Guys, your opinion is important to me! If both of you feel some sort of inconsistency here, let's jettison "reply icon". It won't affect anything anyway.
@EvGen94 @tlle14

[2021-08-23 07:22] tuanlc commented on #842
Hello,
Let's me check.

[2021-08-23 07:42] tlle14 commented on #803
Thank you @BastiaanVanGaalen ;)

[2021-08-23 08:56] tuanlc commented on #842
The fix is deploying to pre-prod and prod platforms. I will keep you informed.

[2021-08-23 09:28] tuanlc commented on #842
The issue was fixed and deployed to QA and PROD platforms.

*Note: if it does not work for you, please clear the browser cache*

[2021-08-23 10:08] EvGen94 commented on #500
@tlle14 The search bar has been added

[2021-08-23 10:32] tlle14 commented on #842
Retest pass!
Thank @tuanlc

https://user-images.githubusercontent.com/69950655/130433222-6dc20200-01a9-4b9d-a0fb-c9b351c577cf.mp4

[2021-08-23 10:32] #842 closed

[2021-08-23 12:32] bobs4462 commented on #752
Well actually if there's no internet connection or backend issues, then the sending will fail once. And currently there's no mechanism to "try until successful" implemented in mobile app. So I'm afraid we have to tell the user about sending failure

[2021-08-23 12:35] bobs4462 commented on #455
I think we can close this one, because host server changing URL is something that's pretty unlikely and we cannot differentiate between whether server's URL is changed and if the server went down for a few minutes

[2021-08-23 12:54] bobs4462 commented on #755
Done, but there's a catch, the message itself doesn't contain any information regarding the full names of users, only their ids and usernames, so we have to request those from local database (which is pretty fast), but you might see some weird glitches when scrolling. Will be available for test in the next build

[2021-08-23 12:56] bobs4462 commented on #448
We can implement it if you want, from UX perspective it's up to you ultimately to decide (I'm not good at those things :)). Currently we pick first company and first workspace (whatever they are) when user logs in for the first time

[2021-08-24 03:14] #455 closed

[2021-08-24 03:14] tlle14 commented on #455
Okay @bobs4462

[2021-08-24 03:53] tlle14 opened #848 "New direct chat screen doesn't display user's avatar in RECENT CHATS"
# Actual Result
![screenshot_14](https://user-images.githubusercontent.com/69950655/130552548-a469948a-cafe-4eb5-b05b-45d4b925b560.png)

# Expected Result
It should display the user's avatar in the RECENT CHATS

# Environment
- Build version: 3.0.5
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
- QA environment

[2021-08-24 07:02] bobs4462 commented on #765
@RomaricMourgues ping :)

[2021-08-24 07:04] bobs4462 commented on #827
@RomaricMourgues is there a sockeio Room to listen for such an event to occur, currently, we can listen for public and private channels in a given workspace to be created/changed, but it doesn't seem to apply for direct chats...

[2021-08-24 07:28] tlle14 opened #849 "Cannot add member in the public channel"
# Actual Result
It is not allowed to add members while creating a new public channel.
![screenshot_15](https://user-images.githubusercontent.com/69950655/130575097-c96980dd-1b7e-4b41-a90f-0485c099dd94.png)

# Expected Result
Comparing to the Web version, it should be able to add members while creating a new public channel

# Environment
Build version: 3.0.5
Device:
Samsung Galaxy A51 - Android 11

[2021-08-24 08:32] tlle14 opened #850 "System status bar should be more contrast"
# Actual Result
Since we cannot make the status bar has the same background color as the app, it displays a background with opacity. This makes people with low vision or a hard light condition hard to see the bar.
![screenshot_17](https://user-images.githubusercontent.com/69950655/130584287-ab9030bb-f766-42d1-b732-99d27be0c70b.png)

# Expected Result
The status bar should be more contrast. The bac

[2021-08-24 09:14] tlle14 opened #851 "Channel > Always displays "No members" in a channel"
# Precondition
A channel has more than one members

# Actual Result
It always displays No member in the channel

# Expected Result
It should display the correct number of members in the channel

# Environment
- Build version: 3.0.5
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
- QA environment and Prod

[2021-08-24 09:18] bobs4462 commented on #851
It's backend issue, which @RomaricMourgues and his team are working on, alas I don't know when it's going to be fixed

[2021-08-24 09:30] tlle14 commented on #851
Thank @bobs4462 I created a new label "backend" for the backend issues. We will keep tracking those.

[2021-08-24 09:42] tlle14 commented on #500
Hi @EvGen94
Is this the filter for the current channel list or also search for the public channel that user hasn't joined yet?

[2021-08-24 11:03] tlle14 opened #852 "Send button is not enabled when opening emoji keyboard"
# Actual Result
When the chat textbox contains only emoticons, the send button is not enabled to send. It's only enabled

https://user-images.githubusercontent.com/69950655/130605141-a3f5f10c-0c35-4caf-b4f4-fda949de05df.mp4

# Steps
1. Open the channel
2. Open the chatbox
3. Open the emoji keyboard
4. Select emoticons
5. Verify the issue: the send button is not enabled

# Expected Result
The send

[2021-08-24 11:12] tlle14 opened #853 "Thread > Loading replies in the first time quite slow"
# Actual Result
When opening a thread, it takes time to load replies
https://user-images.githubusercontent.com/69950655/130606482-b48010a7-0022-4428-916d-063adca6b1e6.mp4

# Expected Result
Please increase the loading speed of the replies.

# Environment

- Build version: 3.0.5
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
- QA environment

[2021-08-24 13:23] bobs4462 commented on #853
@tlle14 I'm afraid nothing we can do here, the only option is sync all reply messages beforehand when syncing data, but that might take 10-20 minutes on avarage, so this is not an option at all.

[2021-08-24 13:52] BastiaanVanGaalen commented on #849
@tlle14 Could you please, ask developers to enable this option in the app. I have no influence over it. Design is just layout that serves as a guidance for developers.

[2021-08-24 13:58] BastiaanVanGaalen commented on #752
@bobs4462 Ok, i got you, i will add sending failed.

[2021-08-24 14:11] BastiaanVanGaalen commented on #646
@bobs4462 https://zpl.io/anzNdvl

[2021-08-24 15:15] BastiaanVanGaalen commented on #752
@bobs4462 Here you go: https://zpl.io/VQyORAk

[2021-08-24 16:13] EvGen94 commented on #500
@tlle14 Hi!
For the current channel list

[2021-08-25 02:01] #853 closed

[2021-08-25 02:01] tlle14 commented on #853
Okay, thank @bobs4462

[2021-08-25 02:09] tlle14 commented on #849
Thank @BastiaanVanGaalen
Hi @bobs4462 could you please take a look?

[2021-08-25 04:36] tlle14 opened #854 "Login > Login on the browser will lead to login on the App"
# Precondition
Story: https://github.com/linagora/Twake-Mobile/issues/744
The user has not been logged in on Browser and App

# Actual Result
When login on the browser successfully, then open the app, the app is automatically logged in.
https://user-images.githubusercontent.com/69950655/130727089-d9f395d1-5194-4279-99b0-8f6722c20259.mp4

#Expected Result
Please confirm if this is expected behavior

[2021-08-25 06:52] bobs4462 commented on #854
Yes that's expected behavior, that's whole point of OIDC, that if you login from browser, then all the apps can use the stored session if the need, for example in future you might need to login once, and will automatically will be logged in linshare, calendar and twake

[2021-08-25 07:02] RomaricMourgues commented on #827
Like for non direct channels, you should have a websocket room given in the response when you get the direct chats list (with websockets=1 query string)
https://www.notion.so/twake/REST-Api-Websockets-Api-458b153a6a6e46c2925dfc1db3859d3b

[2021-08-25 07:10] tlle14 commented on #854
What if I switch to another account on the browser? Does the app also switch?

[2021-08-25 07:28] bobs4462 commented on #854
Nope, the app will continue using current account, until you logout (in which case the session is going to be cleared).

[2021-08-25 07:36] tlle14 commented on #854
Thank @bobs4462

[2021-08-25 07:36] #854 closed

[2021-08-25 07:39] bobs4462 commented on #827
```/companies/ab441952-8d3e-11eb-9f13-0242ac120005/workspaces/direct/channels?type=direct&user=53028818-3227-11eb-8f8b-0242ac120004```
So I'm subscribing to the following room on web.qa server.
And getting an event that I've successfully joined the room, and after that there's silence, no matter how many times I write to direct channels, or how many direct chats I create, still I'm not getting any

[2021-08-25 07:59] RomaricMourgues commented on #827
Ok that's a bug then, thanks for seeing this. On web I think we rely on an additional route "channel-members" or something that may have caused this issue to not be visible until now

[2021-08-25 08:46] RomaricMourgues commented on #827
In the meanwhile why not just reloading all the channels with a HTTP get request ?
If you are subscribed to badges websockets you should have enough information no ?

[2021-08-25 08:59] bobs4462 commented on #827
Well, that's a hack, and will require to make some serious adjustments to the state management of the app, because the badges are handled separately. How long do you think it will take to fix this bug?

[2021-08-25 10:58] tlle14 opened #855 "Direct > direct chat only jumps to the top and display preview when posting a reply"
# Actual Result
When posting a message (not a reply) to a direct, the chat doesn't jump to the top and also doesn't display the newest message as a preview
https://user-images.githubusercontent.com/69950655/130774650-ec6fa149-6458-4d09-a715-70c9874c7991.mp4

# Expected Result
Any new message is posted in the direct chat should make the chat jumping on top and display in a preview on the direct lis

[2021-08-25 11:00] bobs4462 commented on #558
@RomaricMourgues It seems that even on web, when one changes roles in twake console, the update doesn't propagate instantly, user has to relogin in order to see the change right?

[2021-08-25 11:01] bobs4462 commented on #855
It's related to direct chat synchronization #834 #827

[2021-08-25 11:02] bobs4462 commented on #855
Once it's fixed on backend, it'll start working on it's own

[2021-08-25 11:12] tlle14 opened #856 "Sent file keeps loading each time fetching new messages"
# Actual Result
The message contains attachment keeps loading each time open the thread or the user sending/editing a message

# Expected Result
The message contains attachment shouldn't be reloaded

# Environment
- Build version: 3.0.5
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
- QA environment and Prod

[2021-08-25 11:18] tlle14 opened #857 "Swipe to reply > It has a bit delay after submit the message"
# Actual Result
When swiping to reply to the message then submit it, there is a delay makes the user may submit the message twice times.
https://user-images.githubusercontent.com/69950655/130781746-200c1c32-af32-4b1c-a2de-f2dc7b314f65.mp4

# Expected Result
A message shouldn't be submitted twice at a time

# Environment

- Build version: 3.0.5
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
-

[2021-08-25 13:59] RomaricMourgues commented on #765
Could you give me more details about how you try to use this feature ?
Only "creator of the channel" and "workspace admin" can edit this part of the channel.

[2021-08-25 14:05] RomaricMourgues commented on #765
Seems to be also a bug in web

[2021-08-25 14:13] bobs4462 commented on #765
We call this endpoint
[code]
with channel object in `resource` field of the body of request, with `visibility` changed, and change doesn't apply.
Yes it doesn't work on web either

[2021-08-26 04:46] tlle14 opened #858 "Using different words to describe the same things between Web version and Mobile version"
# Actual Result

There are some different words to describe the same things between Web and Mobile versions.

Screen | Mobile | Web
-- | -- | --
Sidebar | Switch Organisation | Change Company
  | Add a new workspace | Create a workspace
Main screen | Chats | Direct messages
Channel screen | 18 Aug 2021 | August 18, 2021
  | View 4 replies | View all answers (4)
Chat textbox | New reply... | Write

[2021-08-29 23:40] tlle14 opened #861 "Cannot load chat history"
# Actual result
It keeps displaying the loading screen when opening a channel/ direct has chat history
![screenshot_4](https://user-images.githubusercontent.com/69950655/131269071-4cc7d108-5c03-4936-b433-11e935954011.png)

# Expected Result
Chat history should be shown

# Environment
Build version: 3.0.6
Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
QA environment

[2021-08-29 23:42] tlle14 commented on #852
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/3f74ca7e-b504-426f-92f7-09e27ae7e15f/video5488450c_8813_4a25_a381_b9190687e67avideo.mp4

[2021-08-29 23:42] #852 closed

[2021-08-29 23:44] tlle14 commented on #857
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/2f25ad9d-0186-4e90-85ea-ce21408e26f4/videodd82e7da_edab_4702_8744_da590929e970video.mp4

[2021-08-29 23:44] #857 closed

[2021-08-29 23:47] tlle14 commented on #411
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/64c57bcc-dbf9-442c-8a09-622997bfa81f/video96e196d8_cdbe_4d29_a551_ead5ec2dcad6video.mp4

[2021-08-29 23:47] #411 closed

[2021-08-29 23:49] tlle14 commented on #308
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/0ef1d01b-c978-4f6d-9431-0e7ba5c50e48/video4542d2f6_6426_4123_abc6_2fcc6bd9ea3fvideo.mp4

[2021-08-29 23:49] #308 closed

[2021-08-29 23:58] tlle14 commented on #848
Thank @bobs4462
Retest pass!
![screenshot_5.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/aada4633-3e77-4c75-bf00-464d74b79637)

[2021-08-29 23:58] #848 closed

[2021-08-30 00:17] tlle14 opened #862 "Create new direct chat > sometimes it doesn't display user's avatar"
# Precondition
Create a new direct chat screen

# Actual Result
For some users, it displays the default avatar instead of user's avatar
![screenshot_6](https://user-images.githubusercontent.com/69950655/131270078-51a3f717-7733-4e8c-b9c9-e322a1edd4ed.png)

On Console
![screenshot_7](https://user-images.githubusercontent.com/69950655/131270092-c11a61f2-ec1e-4c80-a701-8e86c0503d03.png)

# Expected Re

[2021-08-30 00:21] tlle14 commented on #843
Thank @bobs4462
Retest pass!
The button is disabled after it is tapped
https://images.zenhubusercontent.com/309637937/f869b600-e2fa-417f-8bc7-4e9146983e54/video1210eb7f_9ae6_4f71_8f35_ae6aacc7219evideo.mp4

[2021-08-30 00:21] #843 closed

[2021-08-30 00:24] tlle14 commented on #764
Thank @EvGen94
Retest pass

[2021-08-30 00:24] #764 closed

[2021-08-30 03:57] tlle14 commented on #838
Hi @EvGen94
Retest failed!

Because it only displays in shape in above screens, but in some other screens/places that I didn't point out, it is still broken.
Do you have solution for "one fix apply all"? OR should we ask Console team about their limitation?
1. [screenshot_8.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/2c493091-9b5d-4fbb-ba86-50064a0e94db)
2. [screenshot_9.png

[2021-08-30 07:06] bobs4462 commented on #862
@tlle14 does it happen randomly?

[2021-08-30 07:08] tlle14 commented on #862
Nope, for all channel

[2021-08-30 07:14] bobs4462 commented on #862
I mean user avatars, do they sometimes load and sometimes not?

[2021-08-30 07:22] bobs4462 commented on #861
https://drive.google.com/file/d/1OEulQXKLJNVSNvxJvQGA2GUSWvXF8_iF/view?usp=sharing I wasn't able to reproduce this issue with one of your test accounts...

[2021-08-30 07:22] tlle14 commented on #862
Yes, it's different for each logged-in account.
Such as: when Cyan logged in, Cyan's avatar doesn't display
When Red logged in, Cyan's avatar display

Sorry, I read the wrong issue.

[2021-08-30 07:47] bobs4462 opened #863 "Code snippets formatting redesign in Twacode renderer"
We have to update the way code snippets are rendered in Twacode as per new design
https://app.zeplin.io/project/5fd7afb0317dc8827d6a8fb5/screen/6089efad2284bd2dd02877c9
https://app.zeplin.io/project/5fd7afb0317dc8827d6a8fb5/screen/6089efad862fe732851ea5b6

[2021-08-30 10:24] #861 closed

[2021-08-30 10:25] tlle14 commented on #861
Test environment issue

[2021-08-31 02:28] tlle14 commented on #756
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/835831cd-3ecb-4f23-a0aa-428de65f7ddc/video30b6d769_991c_45d7_bdb0_7e755d870d34video.mp4

[2021-08-31 02:28] #756 closed

[2021-08-31 03:05] tlle14 commented on #841
Thank @EvGen94
Retest pass!
https://images.zenhubusercontent.com/309637937/cff071c0-0cc7-48fd-a0fd-a598b408f25c/videoe1206482_4b84_4b1a_acd7_ab432ae6a010video.mp4

[2021-08-31 03:05] #841 closed

[2021-08-31 04:43] tlle14 opened #866 "It displays 3 times of Splash screen from opening the app to login successfully"
# Precondition
The user is not log in yet

# Actual Result
The splash screen displays 3 times since the user opens the app until login successfully.
1. Tap on the App icon to open the app
=> The splash screen displays
2.  Tap on the Sign In button to log in
=> The splash screen displays
3. Input a valid credential to login
=> The splash screen displays

https://user-images.githubusercontent.com/69

[2021-08-31 07:47] tlle14 commented on #803
Thank @EvGen94
Retest pass!
![screenshot_12.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/3a4b836c-f02f-4bea-883e-49b4c825357d)

[2021-08-31 07:47] #803 closed

[2021-08-31 08:02] tlle14 commented on #500
Thank @EvGen94
Retest pass!
![screenshot_13.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/6123760b-7e42-4ce2-a01c-a5900ac1c2eb)

[2021-08-31 08:02] #500 closed

[2021-08-31 10:10] tlle14 commented on #781
Thank @EvGen94
Retest pass!
![screenshot_14.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/135d6099-2472-4f3e-b6e7-67e44d1bfc60)
![screenshot_15.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/a7fae2e6-3b0c-4443-a0ad-a8d3493c2d9c)

[2021-08-31 10:10] #781 closed

[2021-08-31 10:11] tlle14 commented on #812
Thank @EvGen94
Retest pass!
It's easier to hit the send button

[2021-08-31 10:11] #812 closed

[2021-08-31 10:19] EvGen94 commented on #838
The maximum size of the name on the screen depends on the size of the screen, and this depends on the device itself and it will not work to make one restriction since there are different screens. I will fix it in the remaining screens/places

[2021-08-31 10:24] tlle14 commented on #387
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/c3218c5a-b014-4aa0-8803-348cf3800a00/video6f922fdc_5ee8_46dc_993c_032a826e193fvideo.mp4

[2021-08-31 10:24] #387 closed

[2021-08-31 10:56] tlle14 opened #868 "Channel list screen > It focus on Search bar as a default state"
# Actual Result
When opening a channel list/direct list, it always focuses on the Search bar and opens the keyboard.
https://user-images.githubusercontent.com/69950655/131488813-bd8cc46e-eee7-4cb9-b0a7-bfb3e4363d8c.mp4

# Expected Result
When opening a channel list, it shouldn't focus on the search bar. That will open the keyboard and hide a half of the screen

# Environment

- Build version: 3.0.

[2021-08-31 11:17] tlle14 commented on #801
Thank @EvGen94
Retest pass!
https://images.zenhubusercontent.com/309637937/cc097195-2cb5-4fd9-9e5a-7a307300e0f4/video3b4d7361_f9e4_4308_9f21_07a2106b1913video.mp4

[2021-08-31 11:17] #801 closed

[2021-08-31 11:24] tlle14 commented on #768
Retest pass! Thank @bobs4462

[2021-08-31 11:24] #768 closed

[2021-08-31 11:26] tlle14 commented on #531
Retest pass!
Thank @EvGen94
![screenshot_16.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/19d38406-ed41-428e-9aa4-e5363c06ba99)

[2021-08-31 11:26] #531 closed

[2021-09-01 03:22] tlle14 commented on #645
Thank @bobs4462
Retest pass!
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/a9a32d66-215a-4f76-b4e1-e2613e4ee23b)

[2021-09-01 03:22] #645 closed

[2021-09-01 03:34] tlle14 commented on #549
Thank @EvGen94 and @BastiaanVanGaalen
Retest pass!
https://images.zenhubusercontent.com/309637937/19847f5d-b953-4174-9061-0e671c9e5b8b/video60ebe261_ae72_44ca_b138_2e3830983cb4video.mp4

[2021-09-01 03:34] #549 closed

[2021-09-01 03:38] tlle14 commented on #692
Cannot test since we cannot build the iOS version

[2021-09-01 03:39] tlle14 commented on #777
Should be retest on Production

[2021-09-01 03:54] tlle14 commented on #790
Thank @EvGen94
Retest pass!
https://images.zenhubusercontent.com/309637937/2f0846b0-7576-45a2-8fd0-c1f45f6c3a31/video9288f1ca_8a3d_4d52_86fe_85ccc7f5e7aavideo.mp4

[2021-09-01 03:54] #790 closed

[2021-09-01 04:22] tlle14 opened #869 "Channel > When reaching to the first message in the channel, it should display the channel info"
# Actual Result
When scrolling down to the first message in the channel, it continues refreshing the channel but nothing more.

https://user-images.githubusercontent.com/69950655/131611257-e9690d4c-dfd8-4c57-9743-cce57cd36f4e.mp4

# Expected Result
When reaching the first message in the channel, it should display the channel info as in the Web version.
There shouldn't have a swipe-to-refresh
![scr

[2021-09-01 04:48] tlle14 commented on #837
Hi @bobs4462 I can create a workspace but the new workspace doesn't have a default channel "General"

[2021-09-01 04:49] tlle14 commented on #819
Still blocked testing

[2021-09-01 04:50] tlle14 commented on #762
Thank @bobs4462
Retest pass
https://images.zenhubusercontent.com/309637937/4b868229-919b-4aef-b574-76b507e6135c/video7a590280_85fb_4705_9625_596f08703927video.mp4

[2021-09-01 04:50] #762 closed

[2021-09-01 05:01] tlle14 commented on #701
Blocked testing: cannot login QA environemnt on Web

[2021-09-01 05:04] tlle14 commented on #668
Blocked testing: cannot login to QA env on Web

[2021-09-01 05:06] tlle14 commented on #823
Hi @EvGen94 @bobs4462
I don't see it works
https://images.zenhubusercontent.com/309637937/88a28eb2-7320-4a61-8adf-4e178b88729e/video0ca62e84_2d13_49ae_8435_038861ee8577video.mp4

[2021-09-01 06:35] bobs4462 commented on #837
@RomaricMourgues Is it possible that default channel is not created?

[2021-09-01 07:06] tlle14 commented on #412
Hi @bobs4462 and @EvGen94
In no internet connection condition, after submitted, the message is lost.
Expected result: The message should display with the red exclamation mark.

[2021-09-01 07:12] RomaricMourgues commented on #837
I will check

[2021-09-01 07:28] BenoitTallandier opened #871 "[Story] Message history limitation"
## User story summary
[Definition](#Definition)
[Business case](#Business-case)
[Criteria](#criteria)
[UI/UX Design](#UI-UX-design)
[Notes](#notes)
[Related](#related)

## Definition
[code]

## Business case

## Criteria
- [ ] As a free user, I can't go back in the history more than 1000 messages
- [ ] As a free user, when I reach 1000 messages in the history, I can see a message saying I have to

[2021-09-01 07:28] BenoitTallandier opened #872 "[Epic] Limitation according the pricing plan"

[2021-09-01 07:31] bobs4462 commented on #871
Hmmmm, I think that this kind of behavior should be handled by backend, it should only return last 10000 messages (per channel???) and then return some kind of flag indicating that there's more, but the upgrade is needed

[2021-09-01 08:14] tlle14 commented on #752
Thank @EvGen94
Retest pass!

[2021-09-01 08:14] #752 closed

[2021-09-01 08:29] RomaricMourgues commented on #558
Yes this is the case, we'll reimplement realtime soon

[2021-09-01 08:36] EvGen94 commented on #823
@tlle14 Hello!
Go to the member management, use a long press on the member, delete it, done

[2021-09-01 08:40] EvGen94 commented on #868
@tlle14 Hello!
I can't reproduce this bug, probably it has already been fixed

[2021-09-01 09:09] BenoitTallandier opened #873 "[Story] Workspace limitation"
## User story summary
[Definition](#Definition)
[Business case](#Business-case)
[Criteria](#criteria)
[UI/UX Design](#UI-UX-design)
[Notes](#notes)
[Related](#related)

## Definition
[code]

## Criteria
- [ ] We can't create more than 1 workspace in a free company
- [ ] Link of "learn more" redirects to the pricing page if I am not the company owner
- [ ] Link of "learn more" redirects to the plan

[2021-09-01 09:46] tlle14 commented on #823
I'm sorry @EvGen94 I didn't know the correct behavior.
Yes, I can remove a member from the channel successfully.
But we should have 2 little improvements

1. The Remove button tappable area should be expanded.
2. After deleting a member, there should have a toast displaying "Member is removed"

https://user-images.githubusercontent.com/69950655/131650018-a806455f-051a-44a8-83d8-8bf48be243ad.mp4

[2021-09-01 10:00] tlle14 opened #874 "Member Management > Cannot load the member list in the channel that has aout 99 members"
# Precondition
Production
The channel has about 99 members

# Actual Result
When opening Member Management, the member list cannot be loaded
https://user-images.githubusercontent.com/69950655/131646322-58a9000d-532a-4c5a-8c8f-db90ace90ed6.mp4

# Expected Result
The member list should be loaded anyway.

# Environment
- Build version: 3.0.6
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
- Prod

[2021-09-01 10:08] tlle14 commented on #520
Thank @bobs4462
Retest pass!
The issue is no longer happens

[2021-09-01 10:08] #520 closed

[2021-09-01 10:28] bobs4462 commented on #874
Can you write the name of the channel where it can reproduced? May be we cannot render bot members...

[2021-09-01 10:28] tlle14 commented on #777
Retest pass with a background running.
But foreground running, it doesn't update.

[2021-09-01 10:29] tlle14 commented on #813
I cannot test this one. I don't understand.
But if there has issues with image in the app, i will raise another issue.

[2021-09-01 10:29] #813 closed

[2021-09-01 10:31] tlle14 commented on #874
Please visit Home Workspace > General channel on Production

[2021-09-01 10:32] tlle14 commented on #809
Blocked testing by https://github.com/linagora/Twake-Mobile/issues/874

[2021-09-01 10:33] tlle14 commented on #701
Thank @bobs4462
Retest pass on Production

[2021-09-01 10:33] #701 closed

[2021-09-01 10:38] tlle14 commented on #668
Thank @bobs4462
Retest pass!
Mention on Mobile:
![screenshot_18.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/140e809c-c45a-4acf-bce1-8280712f1b20)

Displaying on Web:
![screenshot_19.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/cf6b3c84-17a5-42e6-838d-b98c76a0a9aa)

[2021-09-01 10:38] #668 closed

[2021-09-01 10:45] bobs4462 commented on #777
Do you mean channels list is not updating? Or directs list?

[2021-09-01 10:57] tlle14 commented on #755
Thank @bobs4462
Retest pass! I don't see a scrolling issue. How is it?
Anyway, is it possible if displaying the name in the textbox while composing a message?
https://images.zenhubusercontent.com/309637937/a62dbac3-6a0b-4abc-af51-33c7f8a0c801/rpreplay_final1630493790.mp4

[2021-09-01 10:59] tlle14 commented on #835
Cannot check iOS version

[2021-09-01 11:20] tlle14 opened #875 "Message > It is open the browser inside Twake App when clicking a link"
# Precondition
A message contains a link

# Actual Result
When tapping on the link, the app will open a browser inside.
https://user-images.githubusercontent.com/69950655/131662399-3e7bee98-a309-4da6-81e4-97d726dac014.mp4

# Expected Result
When tapping on a link, it should open the link on the browser app, not inside Twake app
If it is able to open a link inside the app, it should allow the user

[2021-09-01 14:41] bobs4462 commented on #874
```https://beta.twake.app/internal/services/channels/v1/companies/56393af2-e5fe-11e9-b894-0242ac120004/workspaces/42b997e8-e15b-11ea-bf1d-0242ac120004/channels/61bb4764-6d1e-41eb-a83c-0242ac120004/members```
@RomaricMourgues I'm getting 500 for any channel on production, QA works fine

[2021-09-01 14:52] tlle14 commented on #868
Hi @EvGen94 first you have to tap on search textbox then open a channel. When you are back from the channel to the channel list, you will see the keyboard displays

[2021-09-01 14:53] tlle14 commented on #777
It's channel list

[2021-09-01 14:55] bobs4462 commented on #777
Hmmm, that's strange, do you always have the same behavior between app restarts?

[2021-09-01 18:54] EvGen94 commented on #823
@tlle14 Hi!
I Added a toast displaying "Member is removed" and increase tappable area of the Remove button.
We may also need to add a gear icon or something like that to get into the modal menu, since a long press is not quite intuitive for the user

[2021-09-02 14:22] EvGen94 commented on #755
hello ! @tlle14
Now this feature cannot be implemented, perhaps later this year

[2021-09-03 09:16] BenoitTallandier commented on #871
You're right, we will build it in backend

[2021-09-03 11:17] BastiaanVanGaalen commented on #357
@bobs4462
https://zpl.io/aMx4yXN

[2021-09-03 11:42] BastiaanVanGaalen commented on #598
@bobs4462  https://zpl.io/aXqW678

[2021-09-03 11:52] BastiaanVanGaalen commented on #648
@bobs4462 https://zpl.io/VQ4W6r4

[2021-09-03 11:53] BastiaanVanGaalen commented on #826
@bobs4462 https://zpl.io/amRQYmQ

[2021-09-03 12:08] BastiaanVanGaalen commented on #588
@bobs4462 https://zpl.io/bzOYQgX

[2021-09-03 12:09] BastiaanVanGaalen commented on #869
@bobs4462 https://zpl.io/bAwALBp

[2021-09-03 13:19] RomaricMourgues commented on #837
You were right we didn't generate the default channels with the node api, it will be fixed on next QA deployment (later today)

[2021-09-03 13:33] RomaricMourgues commented on #827
I looked at this more carefully and here is how it work:
"/companies/ab441952-8d3e-11eb-9f13-0242ac120005/workspaces/direct/channels?type=direct&user=53028818-3227-11eb-8f8b-0242ac120004"
Can receive 3 events types:
- channel: when the channel is created / updated / removed etc
- channel_member: when a member is added or removed from a direct channel
- channel_activity: when a new message is sent

[2021-09-03 14:48] bobs4462 commented on #827
So, i've tested it on QA, I've successfully joined `/companies/ab441952-8d3e-11eb-9f13-0242ac120005/workspaces/direct/channels?type=direct&user=53028818-3227-11eb-8f8b-0242ac120004` (got confirmation event), then no matter what I do: write to direct channel, someone writes me in direct channel, I leave channel, I don't get any event on sockeio (non at all). For public and private channels it works

[2021-09-03 15:48] RomaricMourgues commented on #827
From QA this is what I got when sending a message on direct channel for info. I can't find what we are missing yet...

![Screenshot 2021-09-03 at 17 47 42](https://user-images.githubusercontent.com/14353924/132032904-b3ebe20b-faf2-4e41-b589-fc9131267383.png)

[2021-09-06 04:02] tlle14 opened #880 "Create channel > Missing option "Automatically invite all workspace users to this channel" when creating a public channel"
# Precondition
Creating public channel

# Actual Result
When creating a public channel, there is missing the option "Automatically invite all workspace users to this channel" as on the Web version
**Mobile:**
![screenshot_20](https://user-images.githubusercontent.com/69950655/132157937-0d9c5806-46ff-4653-9c97-7905c70078ca.png)

**Web:**
![screenshot_21](https://user-images.githubusercontent.com/69

[2021-09-06 04:03] tlle14 commented on #880
@shivam9593 Hi, you can track the issue here

[2021-09-06 06:00] tlle14 commented on #823
Yes, I think we should. But better we ask @BastiaanVanGaalen , he knows how to deal with it.

[2021-09-06 06:03] tlle14 commented on #755
Thank @EvGen94

[2021-09-06 06:03] #755 closed

[2021-09-06 06:55] tlle14 commented on #816
Hello @bobs4462
It seems the problem happens with @RomaricMourgues on the Production server. Could you please take a look?

[2021-09-06 06:55] RomaricMourgues commented on #816
I can provide you with my prod credentials if needed

[2021-09-06 08:24] bobs4462 commented on #816
@RomaricMourgues it seems there's some incorrect data present within your account, which application fails to parse, which is why syncing might be interrupted, so I might need your credentials, if you can provide them, as it's not reproducible with other accounts

[2021-09-06 10:20] BenoitTallandier commented on #648
@BastiaanVanGaalen
Are you sure about this message "Something went wrong" ?
The user is just waiting for invitation or creation. It is not a bug, it is just a special state for the user.  :)

[2021-09-06 14:03] bobs4462 commented on #862
@tlle14 Sorry, nothing I can do here, I've checked it with Cyan and other accounts, I couldn't reproduce your case, but sometimes there's broken links set to user images in Twake backend cache (the only way to solve the issue is to reupload the same image to twake console and relogin). I'm afraid nothing we can do about the way the backend works... And the bug seems to be inconsistent

[2021-09-06 15:54] EvGen94 commented on #823
Hi! @tlle14
@BastiaanVanGaalen updated the design and added an arrow icon, you can check out in the next build

[2021-09-07 02:37] tlle14 commented on #823
Thank guys!

[2021-09-07 03:34] tlle14 commented on #862
Hi @bobs4462 there must be something cause the broken link. Is it from backend?

[2021-09-07 06:30] bobs4462 commented on #862
Yes, for now the images can only be set from web, and I presume backend is might be saving them in wrong format (or it may have happened in the past, and no longer is the issue now for newly saved images)

[2021-09-07 07:13] bobs4462 commented on #560
@RomaricMourgues Do you remember the request about bot info in messages analogous to user info we have now (include_users flag), are there any ideas how to solve this?

[2021-09-07 07:32] RomaricMourgues commented on #560
We have it my list, but not yet implemented yet.

[2021-09-07 07:38] bobs4462 commented on #769
@tlle14 I think this issue is not relevant anymore, as data sync takes 10 seconds max

[2021-09-07 07:40] bobs4462 commented on #694
@tlle14, does the issue still happen

[2021-09-07 07:41] bobs4462 commented on #376
@tlle14 I'm not sure that much can be done on our side here

[2021-09-07 07:48] EvGen94 commented on #695
Hi @tlle14
This is not relevant now, sign up is working on web.qa, but while there is a problem with creating a default workspace on the backend side, this function is disabled in the newest build

[2021-09-07 08:22] bobs4462 commented on #777
I couldn't reproduce the issue, it updates the list of channel both when coming from background and when running in foreground (given you have stable connection).

[2021-09-07 08:50] bobs4462 commented on #556
I believe, this should work now

[2021-09-07 08:54] tlle14 commented on #766
Thanks!
Retest pass!
![screenshot_22.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/c20655e0-4200-4b34-bebc-9124d4c147b4)

[2021-09-07 08:54] #766 closed

[2021-09-07 09:25] tlle14 commented on #556
Thanks!
Retest pass!
https://images.zenhubusercontent.com/309637937/c58ca288-a2f1-48d2-81d7-24ee536c2b8a/videoef32c8d7_072b_4a2a_8a3d_ca03295c48e7video.mp4

[2021-09-07 09:25] #556 closed

[2021-09-07 09:36] #706 closed

[2021-09-07 09:40] tlle14 commented on #692
Thanks,
Retest pass!
![screenshot_23.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/e6fbb461-2220-46cb-8c69-78ee0b6ae404)

[2021-09-07 09:40] #692 closed

[2021-09-07 09:48] bobs4462 commented on #731
@BenoitTallandier can you test it out?

[2021-09-07 09:49] bobs4462 commented on #858
@BastiaanVanGaalen any news?

[2021-09-07 10:05] bobs4462 commented on #875
I've update the code, so that all the links are opened in browser for security reasons (not webview). And if the user has no default browser, is should ask which browser to use. Available in next build.

[2021-09-07 10:05] #868 closed

[2021-09-07 10:06] tlle14 commented on #868
Sorry, this is not a valid bug. We can consider as an improvement or not.
I should close this ticket.

[2021-09-07 10:32] tlle14 commented on #835
Hi @EvGen94
Can you check again the font on iOS.
In some places, I see texts are strange. But I'm not so sure.

On Syncing data screen:
![screenshot_24.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/b0e192fc-ca50-4aba-844e-6784ad105005)

On My Account screen
![screenshot_25.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/f8dbbe33-d83f-4b7a-b8ed-726fdf1074f4)

[2021-09-07 11:22] tlle14 opened #884 "iOS > Using the old logo when swipe up to see the running app list"
# Precondition
Swipe up to see the currently running app list

# Actual Result
Twake app is using the old logo when displaying in the running app list
![screenshot_26](https://user-images.githubusercontent.com/69950655/132336564-4130546a-3b71-46f1-af82-4663aa8a5e0a.png)

# Expected Result
The logo should be updated

# Environment
Build version: 3.0.5
Device:
iPhone 11 Promax - iOS 14.4 - 6.46 inch

[2021-09-07 11:25] tlle14 commented on #412
Thanks,
Retest pass
![screenshot_27.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/10902242-324d-421c-8c75-c004fd7045c8)

[2021-09-07 11:25] #412 closed

[2021-09-07 11:26] tlle14 commented on #769
Thanks. This is an invalid issue

[2021-09-07 11:26] #769 closed

[2021-09-07 13:00] bobs4462 commented on #840
@tuanlc can we host a file on twake console servers as per this instruction?
https://developer.chrome.com/docs/android/trusted-web-activity/integration-guide/#remove-url-bar

[2021-09-07 21:04] BastiaanVanGaalen commented on #588
@bobs4462 The link is the relevant one, isn't it? Full name user mention in a message bubble. Please, correct me if im wrong.[Uploading... Capture d’écran 2021-09-08 à 00.03.44.png]

[2021-09-07 21:14] BastiaanVanGaalen commented on #648
@BenoitTallandier Suggest the wording, please. The case is unusual, indeed, so special working is expected.

[2021-09-07 21:29] BastiaanVanGaalen commented on #448
@tlle14 Please, confirm the case, user can see the listing of available workspaces, ha can select one and will be redircted to channel listing? is that correct, please confirm.

[2021-09-07 21:54] BastiaanVanGaalen commented on #815
@DianaPotokina I need your help, please decide whether or not we have to redirect user to a threaded replies screen after replying to a thread message.

[2021-09-08 00:53] tuanlc commented on #840
Hi,
1. Which file do you want to host?
2. Are you sure all of the client devices use chrome as the default browser? What happens if they don't have chrome on their devices? Then you need to find the solution for other browser too.

[2021-09-08 03:36] tlle14 commented on #448
Hi @BastiaanVanGaalen
Yes. The user can see the available workspace list, he can select a workspace then it will display the corresponding channel list.

As I understand, the feedback is about **the first time login to the app**, the user wants to be able to choose a company > choose a workspace of the company instead of going to a random place (used to)

Now when we first-time login to the app, t

[2021-09-08 03:38] tlle14 commented on #695
This issue is outdatd one.
I should close it. Thanks for reminding.

[2021-09-08 03:38] #695 closed

[2021-09-08 04:24] tlle14 commented on #816
Hi @bobs4462 I can reproduce the case.
# Precondition
- UserB registers Twake and creates a new company (CompanyB)
- In the existing company (CompanyA), UserA:
+ Invites UserB to a channel in a workspace of CompanyA

# Actual Result
When UserB login to the App, he got the syncing failed screen. After restart app, it is displaying a gray screen
I wonder is it because of being invited to the second

[2021-09-08 04:32] tlle14 commented on #376
@bobs4462 do you think Twake Web team can resolve the problem?

[2021-09-08 04:47] tlle14 commented on #777
I guess it's a connection problem. Retest pass on both background and foreground.

[2021-09-08 04:47] #777 closed

[2021-09-08 07:00] tlle14 commented on #849
Retest pass!
I can add members to a public channel.
By the way, could you please add the label "INVITED MEMBERS" like the one in creating a private channel?
https://images.zenhubusercontent.com/309637937/b636022a-f4d9-40b1-bfd7-dc6cc6014313/videoe4669ff7_587b_47f4_aef3_c1aa00b74587video.mp4

[2021-09-08 07:14] tlle14 commented on #694
Thanks,
The issue is no longer happens
https://images.zenhubusercontent.com/309637937/ed0be7d9-0808-44f7-b608-b58a365b46f4/rpreplay_final1631085198.mp4

[2021-09-08 07:14] #694 closed

[2021-09-08 07:17] tlle14 commented on #862
Hello @RomaricMourgues @tuanlc does your team aware of this issue?
Something on the backend affects the way the avatar displaying on Mobile App. Could you please take a look?

[2021-09-08 07:21] tlle14 commented on #765
Thanks,
Retest pass!
https://images.zenhubusercontent.com/309637937/e3d4b535-d8e1-4ce5-a52d-7fd682394404/rpreplay_final1631085617.mp4

[2021-09-08 07:21] #765 closed

[2021-09-08 07:32] bobs4462 commented on #588
Just review and close this issue, if everything is ok

[2021-09-08 07:50] bobs4462 commented on #840
1. I'll provide you with json file a little later, now I'm just interested in how hard it is to host it
2. By default all the android devices (except for the very old ones) will use chrome tabs as default, which is what we need, in case they manually open other browser, then it's alright to show the address bar

[2021-09-08 07:52] bobs4462 commented on #816
Hello, I can check your case if you give me the credentials, but most likely it's related to what Romaric's account has been experiencing, i.e. absent user role in company, which is assumed by application to be always present, so it's a backend bug

[2021-09-08 07:53] bobs4462 commented on #376
I think that's up to crisp team :), or whoever is in charge of maintaining this product

[2021-09-08 08:19] tlle14 commented on #863
Hi @EvGen94
We have issues:
1. The new format is not applied on Android.
It seems alright on iOS.
**iOS**
[screenshot_28.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/c699bc05-5ddf-4d62-ad3d-f62ad7d576e7)

**Android**
[screenshot_29.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/a3a2f28f-1cf1-496f-b819-feb35f8299c5)

2. The paragraph border is more narrow t

[2021-09-08 08:55] tlle14 commented on #838
Hi @EvGen94
1. Failed. This screen should be fixed
2. Pass
3. Not fix. It's okay
4. Pass
5. Please fix
![screenshot_31.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/cae39b91-74e6-482a-99b6-11510222cf9c)

[2021-09-08 09:00] RomaricMourgues commented on #862
No reason for backend not to send you the correct image. We can have an issue between console / twake sync but it would affect the visibility of the avatar for all users not only some of them.
Let's try this again when we deploy our next version end of week.

[2021-09-08 09:23] tlle14 commented on #760
Thanks,
the issue is no longer exists
https://images.zenhubusercontent.com/309637937/183dd722-faa0-47eb-8c31-4f0e74e6f743/rpreplay_final1631092956.mp4

[2021-09-08 09:23] #760 closed

[2021-09-08 09:24] tlle14 commented on #489
Thanks,
The issue is no longer exists in good internet condition

[2021-09-08 09:24] #489 closed

[2021-09-08 09:36] tlle14 commented on #774
Hi @bobs4462
Now the black screen becomes gray one
https://images.zenhubusercontent.com/309637937/839b0222-6067-4513-9aa4-f3a0ac9ad625/rpreplay_final1631093688.mp4

[2021-09-08 09:57] tlle14 opened #886 "Sign Out > When logging out, it always displays the popup asking to continue sign in"
# Precondition
Twake App on iOS

# Actual Result
When logging out, it always displays the popup asking to continue sign in. User needs to choose to continue to sign out successfully
https://user-images.githubusercontent.com/69950655/132488324-6f078899-dfdd-420d-921b-11fb1354d94c.mp4

# Expected result
The pop-up is not appropriate.
Please consider removing it.

# Environment

- Build version: 3.0.

[2021-09-08 10:20] tlle14 commented on #588
It's okay now. Any related issue will be logged in another ticket

[2021-09-08 10:20] #588 closed

[2021-09-08 10:33] tlle14 opened #887 "Edit channel > Displaying a null screen after update channel"
# Acual Result
After update the channel (update channel info, privacy, or members) then come back to the channel details screen, it displays like this.
The issue happens randomly
![screenshot_32](https://user-images.githubusercontent.com/69950655/132493331-14136376-6eca-415d-b276-f51d01e820db.png)

# Expected Result
It shouldn't display the null screen

# Environment

- Build version: 3.0.5
- Devi

[2021-09-08 10:50] bobs4462 commented on #774
What are the steps to reproduce it?

[2021-09-08 11:03] tlle14 opened #889 "Mention > Mentioning displays userID in the twacode"
# Actual Result
When mentioning a user in twacode, after submitted, the mentioning exposes userID
https://user-images.githubusercontent.com/69950655/132498104-a0d9d842-141f-4002-ab47-5e572d9c328e.mp4

# Expected Result
It shouldn't display userID of the mentioning in twacode

# Environment

- Build version: 3.0.6
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
iPhone 11 Promax - iOS 14.4 - 6.

[2021-09-08 12:49] bobs4462 commented on #889
@tlle14 have to tried to do the same thing on web? :)

[2021-09-08 13:44] EvGen94 commented on #838
@tlle14 Hi!
5 - is fixed, I did not get what is wring with first, I checked one more time - looks fine

[2021-09-08 13:50] EvGen94 commented on #849
@tlle14
Done

[2021-09-08 13:53] EvGen94 commented on #450
@tlle14 Hello!
I guess we can close this one, this is not relevant

[2021-09-08 14:06] #450 closed

[2021-09-08 14:07] tlle14 commented on #61
Retest pass!

[2021-09-08 14:07] #61 closed

[2021-09-08 14:11] tlle14 commented on #799
I think this one is solved.

[2021-09-08 14:11] #799 closed

[2021-09-08 14:15] tlle14 commented on #889
I didn't. I cannot login web in a week

[2021-09-08 14:18] bobs4462 commented on #889
You can login using incognito mode, btw, is the Twake team aware of the issue?

[2021-09-08 15:20] tlle14 commented on #889
I've tried incognito mode and wasn't successful.
But why do you ask to try the same thing on Web? Do you think it is from the Backend?

[2021-09-08 15:36] bobs4462 commented on #889
I mean, on web it works the same

[2021-09-09 02:45] tlle14 opened #895 "Dark Mode > Tab name Channels/Chats becomes invisible in the dark mode"
# Precondition
Dark mode is on

# Actual Result
The tab name Channel/ Chats becomes invisible in the Dark mode

 # Expected Result
It should visible even in the dark mode
Because the app is not applied the dark mode so the tab should display as normal

# Environment

- Build version: 3.0.5
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
iPhone 11 Promax - iOS 14.4 - 6.46 inch
- QA environment

[2021-09-09 03:39] tlle14 opened #896 "Create Channel > When creating a public channel, invited users doesn't display in the list"
# Precondition
While creating a public channel

# Actual Result
After adding users to the channel, the users are not displayed in the invited members list
https://user-images.githubusercontent.com/69950655/132618163-e00fb561-7bd8-4d08-af3e-84dcc63caecf.mp4

# Expected Result
The invited users should display in the member list while creating a public channel

# Environment

- Build version: 3.0.5
-

[2021-09-09 04:49] tlle14 opened #897 "Create Channel > The newly created channel doesn't display for invited members"
# Precondition
Create a new channel
Invite some members while creating a channel

# Actual Result
The newly created channel doesn't display for the members
Creator screen:
![screenshot_33](https://user-images.githubusercontent.com/69950655/132624327-fd9a1884-6d51-4715-a2f4-ae1b4ff9c7b3.png)

Member screen
![screenshot_34](https://user-images.githubusercontent.com/69950655/132624344-c19e998d-60a9-4

[2021-09-09 04:55] tlle14 opened #898 "Create channel > It doesn't display the Creator in the member list"
# Actual result
UserA creates a channel and invites UserB, UserC
But in the member list, it only displays UserB and UserC

# Expected Result
The member list should display the Creator

# Environment

- Build version: 3.0.5
- Device:
Samsung Galaxy A51 - Android 11 - 6.5 inch
iPhone 11 Promax - iOS 14.4 - 6.46 inch
- QA environment

[2021-09-09 08:34] BenoitTallandier commented on #648
On the desktop version, we have that :

![image](https://user-images.githubusercontent.com/22451567/132651918-df3573f7-ce88-414b-b1ca-586efc7a2122.png)

We can improve the wording with "It looks like no one has invited you yet. Wait for invitation or create your own company".