[2020-12-03 07:52] tlle14 opened #25 "UI > App icon is vertically stretched"
# Actual Result
App icon is vertically stretched
![image](https://user-images.githubusercontent.com/69950655/100979991-27cc1a80-3577-11eb-9272-7c78c818b8ca.png)

# Expected Result
The App icon should display in normal size

# Environment
Samsung A51
Android 10
6.5 inch

[2020-12-03 07:54] tlle14 opened #26 "UI > Login screen UI doesn’t fit the small screen"
# Actual Result
Login screen UI doesn’t fit the 6.5 inch screen.

![image](https://user-images.githubusercontent.com/69950655/100980117-5813b900-3577-11eb-8e25-ae55f6614d32.png)

On 5 inch screen, the submit button is hidden
![image](https://user-images.githubusercontent.com/69950655/101119364-c27f3480-361d-11eb-872e-fd35589cc262.png)

# Expected Result
The screen should be responsive

# Environme

[2020-12-03 07:54] tlle14 opened #27 "There is no way to refresh the app unless close the app then open it again"
# Actual Result
There is no way to refresh the app unless close the app then open it again

# Expected Result
User should be able pull to refresh the app

[2020-12-03 07:59] tlle14 opened #28 "Message > Cannot display the file or image attached with a message"
# Precondition
On PC, attach a file with the message:
![image](https://user-images.githubusercontent.com/69950655/100980508-e7b96780-3577-11eb-90ca-8133b1495f70.png)

# Actual Result
Cannot display the file or image attached with a message on Mobile

![image](https://user-images.githubusercontent.com/69950655/100980529-f011a280-3577-11eb-86da-3cec95b81908.png)

# Expected Result
Should display a f

[2020-12-03 08:01] tlle14 opened #29 "Message > Cannot react a replied message"
#  Actual Result
React a replied message on Mobile  disappears after reopen the message thread
Refer the video on https://streamable.com/n0x81d

# Steps
1. Open the thread
2. React a replied message in the thread
3. Tap Back button 2 time to go back to the channel list
4. Open the reacted replied message again
5. Verify the issue

# Expected Result
The reaction should be kept and synced to the ser

[2020-12-03 08:19] tlle14 opened #30 "Thread > App shows the first member only for a direct group (a direct has multiple users)"
# Actual Result
App shows the first member only for a direct group (a direct has multiple users)
![image](https://user-images.githubusercontent.com/69950655/100982529-baba8400-357a-11eb-8cac-b43ca93b51df.png)
![image](https://user-images.githubusercontent.com/69950655/100982567-c4dc8280-357a-11eb-9bd2-7375c52c6b8a.png)

# Steps
1. On PC, create a direct message with multiple users
2. On Mobile, ve

[2020-12-03 08:20] tlle14 opened #31 "Thread > When replying a message in a thread, the replied message doesn’t display immediately"
# Actual Result
When replying to a message in a thread, the replied message doesn’t display immediately. User has to leave the direct message or a channel then open the thread again to see the replied message.
Refer to the video on https://streamable.com/dhp6ck

# Expected Result
A replied message should display immediately

# Environment
All Android devices

[2020-12-03 08:28] tlle14 opened #32 "Channel > Star channel doesn’t display on the top"
# Precondition
Mark star for some channels on PC
![image](https://user-images.githubusercontent.com/69950655/100983031-59df7b80-357b-11eb-9e86-2a6ac15dec89.png)

# Actual Result
Star channel doesn’t display on the top
![image](https://user-images.githubusercontent.com/69950655/100983059-606df300-357b-11eb-8eb4-6ca84cfeaaa5.png)

# Expected Result
Starred channels should display on the top of the w

[2020-12-03 08:30] tlle14 opened #33 "Message > Cannot click the link in the message"
# Actual Result
Cannot click the link in the message
![image](https://user-images.githubusercontent.com/69950655/100983744-54366580-357c-11eb-96b6-8bf334921650.png)

# Expected Result
The user should be able to click the link in the message. It should open the link in the browser

# Environment
All Android devices

[2020-12-03 08:40] tlle14 opened #34 "Channel > Some channels are not fully updated."
# Actual Result
Some channels are not fully updated.

Example:
- On FT-Mobile channel, it displays only messages are from 19 Nov – 23 Nov
![image](https://user-images.githubusercontent.com/69950655/100983946-99f32e00-357c-11eb-8ce4-d5b368e02bc5.png)

- Channel FT – SmartSla cannot display messages.
![image](https://user-images.githubusercontent.com/69950655/100983974-a5465980-357c-11eb-9c8b-30c9f1

[2020-12-03 09:20] tlle14 opened #35 "Message > Cannot display quoted message"
# Precondition
Create a quoted message on PC
![image](https://user-images.githubusercontent.com/69950655/100989232-328cac80-3583-11eb-8e6a-77d5e4c6d595.png)

# Actual Result
Quoted message cannot display on Mobile
![image](https://user-images.githubusercontent.com/69950655/100989293-49cb9a00-3583-11eb-9d61-5aca9c7062bd.png)

# Expected Result
Mobile should display the quoted message

# Environment

[2020-12-03 09:32] bobs4462 commented on #28
Hello Le, it's not actually a bug, we just decided not to support files in first version of the app (neither attachment nor display).
We will make it a priority to add functionality to work with files in the next release.

[2020-12-03 09:32] #28 closed

[2020-12-03 10:02] bobs4462 commented on #33
Added url launcher which will trigger the clicked link to opened in browser

[2020-12-03 10:24] tlle14 opened #37 "App always open the first company in the list instead of open the recent state"
# Precondition
In my account, the first company is a Test Company.
The main Company is the second one on the list.

# Actual Result
When reopening the app, it always displays the first Workspace of the first company.
Refer https://streamable.com/mlhf9c

# Expected Result
It should display the recent workspace and company.
Example: the last time I use app, I was being in the main company, in Worksp

[2020-12-03 10:45] tlle14 opened #38 "Channel > Displaying a channel that doesn't appear on the Web version"
# Actual Result
There's a group that doesn't have on Web version but displaying on Mobile

On Web:
![image](https://user-images.githubusercontent.com/69950655/100999210-07a85580-358f-11eb-89dd-773a91b96e23.png)

On Mobile
![image](https://user-images.githubusercontent.com/69950655/100999246-1989f880-358f-11eb-8e60-74475641281e.png)

# Expected Result
The group might be archived or deleted or be hi

[2020-12-03 11:01] tlle14 opened #40 "Channel > When open a channel, the icon is not fit"
# Actual Result
The channel icon is not fit
![image](https://user-images.githubusercontent.com/69950655/101000369-67533080-3590-11eb-9b3f-3c463340c5a3.png)

# Expected Result
The channel icon should be fit and display in the correct ratio.

# Environment
All Android devices

[2020-12-03 11:06] tlle14 commented on #28
Thank @bobs4462

[2020-12-03 11:09] tlle14 opened #41 "Channel > Incorrect number of members"
# Actual Result
Everyone in our workspaces can access the channel but it shows only 1 member.
![image](https://user-images.githubusercontent.com/69950655/101002617-a2eefa00-3592-11eb-9b4f-3fa54a7c7bb2.png)

# Expected Result
Should display the correct number of members in the channel

# Environment
All android devices

[2020-12-03 11:34] tlle14 opened #42 "Channel > Displaying mixing-up messages in 2 different channels/direct"
# Actual Result
Messages in 2 channel/ direct message are displaying together in "one channel"
Refer: https://streamable.com/jl23of

# Steps
1. Open a channel. It takes time to load. You have to leave immediately before the messages in the channel are shown.
2. Open another direct message.
3. Verify the issue

# Expected Result
The mobile app should display the correct message of the channel

# En

[2020-12-03 12:17] bobs4462 commented on #32
Yes, that's intentional. Also decided to move starred channel to the next version release.

[2020-12-03 12:17] #32 closed

[2020-12-03 12:19] bobs4462 commented on #41
@romanesko I extract members count from members_count field in received json response.
Maybe the issue is on the api side.

[2020-12-03 13:51] bobs4462 commented on #34
@romanesko The bug is related to missing *userId* field in *sender* object when fetching messages. Please add some dummy id to bot users.

[2020-12-03 14:22] bobs4462 commented on #38
@romanesko it seems we are not filtering out old channels

[2020-12-03 14:59] romanesko commented on #38
I can assume that the channel should be show in the web application… cause it has no diffs with the others:

LinShare channel:
[code]
Guild-JSandTS channel:
[code]

[2020-12-03 15:56] romanesko commented on #41
I'm translating it as is  ¯\_(ツ)_/¯

[2020-12-03 15:59] romanesko commented on #35
fixed

[2020-12-03 16:00] romanesko commented on #34
Fake user ids added for bots

[2020-12-03 16:00] romanesko commented on #29
Fixed

[2020-12-03 17:15] bobs4462 commented on #42
Fixed in last PR

[2020-12-04 03:22] tlle14 opened #47 "App doesn't work on devices sometimes"
# Actual Result
Sometimes Twake app on my device cannot display the channels list. While another device (Xiaomi) can.
Refer https://streamable.com/m3qygt

# Expected Result
Please help investigate. The App might not compatible with the mobile device.

# Environment
Samsung A51
Android 10
Model: SM-A515F/DSN

[2020-12-04 03:59] tlle14 commented on #42
@bobs4462  is this fix ready on the 2nd build? The test is fail

[2020-12-04 04:41] tlle14 opened #48 "The unread message counter isn't updated after user read the messages"
# Precondition
A direct has unread messages

# Actual Result
After reading the new messages, the user goes back to the channel list but the unread message counter doesn't disappear.
The User needs to refresh the app manually to update.
Refer https://streamable.com/m0m819

# Expected Result
The unread message counter should be updated when the user has read them.

# Environment
All android devices

[2020-12-04 07:48] tlle14 opened #49 "Newest direct chat should be displayed on the top of the direct part"
# Actual Result
The newest direct chat (not the first time sending a message) is not jumping on the top when it has a new message.
When the user pulls to refresh the app, it still not be moved to the top.
![image](https://user-images.githubusercontent.com/69950655/101136529-0aaf4e80-3640-11eb-9526-1e10db4311ae.png)

While on Web version:
![image](https://user-images.githubusercontent.com/69950655/

[2020-12-04 08:14] tlle14 commented on #29
Thanks @bobs4462
Retest pass!
https://streamable.com/9283o3

[2020-12-04 08:14] #29 closed

[2020-12-04 08:22] tlle14 opened #50 "The app should always have a real-time update"
# Actual Result
User needs to close the app or pull to refresh to get the newest update of the app (new messages, new channel, or direct chat...)

# Expected Result
The app should have a real-time update for all screens

# Environment
All android devices

[2020-12-04 08:24] tlle14 commented on #27
Thanks @bobs4462
But pull to refresh is working fine but seems not enough for the app. Let's wait for the discussion in this ticket https://github.com/TwakeApp/Mobile/issues/50

[2020-12-04 08:24] #27 closed

[2020-12-04 08:54] tlle14 commented on #31
Thanks @bobs4462

Retest pass!
https://streamable.com/0nqm22

[2020-12-04 08:54] #31 closed

[2020-12-04 09:04] tlle14 commented on #33
Thanks @bobs4462
Retest pass!
https://streamable.com/nx8cuv

[2020-12-04 09:16] tlle14 opened #51 "Message > Link isn't highlighted when it is selected"
# Actual Result
Link isn't highlighted when it is selected.
This makes the User doesn't aware of which link he has already chosen
Refer https://streamable.com/nx8cuv

# Expected Result
The link should be highlighted when it is selected

# Environment
All android devices

[2020-12-04 09:53] tlle14 commented on #35
Thanks @bobs4462

Retest pass!
![image](https://user-images.githubusercontent.com/69950655/101148926-cd9f8800-3650-11eb-998f-ca119be39f65.png)

[2020-12-04 09:53] #35 closed

[2020-12-04 10:06] tlle14 opened #52 "Message > Quote character from Mobile doesn't display as a quote"
# Actual Result
Write a quoted message on mobile, the message doesn't display as a quote.

**On Web version:**
![image](https://user-images.githubusercontent.com/69950655/101149921-2885af00-3652-11eb-94a3-39e52a69580e.png)

**On Mobile:**
![image](https://user-images.githubusercontent.com/69950655/101150014-46531400-3652-11eb-97fa-5e8db4b1900c.png)

# Expected Result
A quote message is composed on

[2020-12-04 10:13] tlle14 commented on #37
Thanks @bobs4462
Retest pass!
https://streamable.com/wqy9nf

[2020-12-04 10:13] #37 closed

[2020-12-04 10:25] tlle14 commented on #38
Hi @RomaricMourgues
Could you help investigate why the channel isn't shown on the Web version but displays on Mobile when using the same account? Thank you.

[2020-12-04 10:45] tlle14 opened #53 "Channel > Some channel icons cannot display on Twake mobile"
# Actual Result
Some channel icons are displaying as a question mark
![image](https://user-images.githubusercontent.com/69950655/101154504-6259b400-3658-11eb-8066-d7be8cf6191e.png)

# Expected Result
Please investigate if we can fix.
If it depends on a mobile device, we should display the Twake icon instead of the question mark.

# Environment
All android devices

[2020-12-04 11:14] tlle14 opened #54 "Message > Highlighted text displays in a separated line on Mobile"
# Actual Result
A highlighted text on Mobile is displaying in a separated line.
On Mobile:
![image](https://user-images.githubusercontent.com/69950655/101157080-24f72580-365c-11eb-890c-95227ae77c14.png)

On PC:
![image](https://user-images.githubusercontent.com/69950655/101157043-17da3680-365c-11eb-9dff-f3679074d633.png)

# Expected Result
The highlighted text should display in the same line as th

[2020-12-04 11:34] tlle14 opened #55 "Message > a long username makes the date time displays in 2 lines"
# Actual Result
![image](https://user-images.githubusercontent.com/69950655/101159025-4e658080-365f-11eb-8b97-55c8f3f89a05.png)

# Expected result
Improve the UI

# Environment
Samsung A51
6.5-inch screen

[2020-12-06 20:05] bobs4462 commented on #52
@romanesko Can we support quoting in markdown parser?

[2020-12-06 20:07] bobs4462 commented on #51
@romanesko I can implement something like this locally, but i'm not sure that twake api allows such a thing to be persistent.

[2020-12-06 20:08] bobs4462 commented on #50
We are currently working on notification system

[2020-12-07 03:16] tlle14 opened #57 "Channel > The app automatically displays a direct chat with the new user"
# Actual Result
My account suddenly displays a direct chat with a new member on Twake, that I've never intended to find/ chat with her before

# Expected Result
This is an annoying bug.
The app shouldn't show the direct chat doesn't have a chat history

# Environment
All mobile devices

[2020-12-07 03:30] hantt12 opened #58 "App does not show the last updated display name"
Steps to reproduce:
1. User A sends direct message to User B
2. User B view the message on Twake app
3. User A logs in in Web and change his Display Name
4. User B check user A's display name on Twake mobile app

Expected result:
User A's display name should be shown correctly

Actual result:
Old name is still shown even though I tried to re-login

[2020-12-07 04:39] hantt12 commented on #47
It does not only happen in Samsung A51, it happens in other devices too

[2020-12-07 04:53] tlle14 opened #59 "Companies and Workspaces should be sorted the same order with the Web version"
# Actual Result
The order of companies and workspaces are not similar to the Web version

On Web version:
![image](https://user-images.githubusercontent.com/69950655/101309941-2b65e700-3880-11eb-9950-d30e8e5b8328.png)

On App:
![image](https://user-images.githubusercontent.com/69950655/101310859-97e1e580-3882-11eb-8fd1-49b8077bb6dc.png)

# Expected Result
The order of Workspaces and Companies shou

[2020-12-07 05:03] tlle14 opened #60 "Channel > Date-time is displaying in the incorrect format"
# Actual Result
The date-time is too long and display in the incorrect format.
Example: 10:05 -> 10:5
![image](https://user-images.githubusercontent.com/69950655/101311327-bc8a8d00-3883-11eb-8d22-e663f1962f08.png)

# Expected Result
Date and time should be displayed in the correct format and shortly.

# Environment
All mobile devices

[2020-12-07 07:40] tlle14 opened #61 "Message > Meeting form and GIF image cannot display on Mobile"
# Actual Result
Meeting form and GIF display as code on Mobile
![image](https://user-images.githubusercontent.com/69950655/101321975-d4204080-3898-11eb-983e-cd0fdf0b4651.png)
![image](https://user-images.githubusercontent.com/69950655/101324054-2f076700-389c-11eb-85f9-9a1efddf4822.png)

# Expected Result
It should display in acorrect forml as on the Web version

# Environment
All mobile devices

[2020-12-07 09:10] bobs4462 commented on #55
I don't have a 6inch device/emulator, but the issue should be fixed in the next build

[2020-12-07 09:10] tlle14 opened #62 "Message > It shouldn't display the whole paragraph in a message"
# Precondition
A message is a paragraph about 22000 character length

# Actual Result
On Mobile, a long paragraph always display fully. This makes user have to infinity scroll to find other messages.
https://streamable.com/ijtno3

# Expected Result
We should have a max length for a message.
1. If the max length is not too long, the message should be displayed fully.
2. If the max length is too lon

[2020-12-07 09:11] bobs4462 commented on #54
should be fixed now

[2020-12-07 09:12] bobs4462 commented on #53
Fixed, the app will do all it can, to find the best match for saved icon

[2020-12-07 09:15] bobs4462 commented on #49
Added direct messages sort based on their last activity

[2020-12-07 09:20] bobs4462 commented on #47
That's a known issue and has to do with a weird behavior of authentication token.
If you login|use your account on twake web | desktop, and at the same time try to use the mobile version, then that's the behavior.
For now just try to avoid using the simultaneously the same account on different platforms.
We are investigating the issue.

[2020-12-07 09:20] bobs4462 commented on #42
Couldn't reproduce it on the new build. Please check again, and report if the issue persists.

[2020-12-07 09:21] bobs4462 commented on #40
Implemented icon downscaling, should fix the issue.

[2020-12-07 09:22] bobs4462 commented on #34
Should be fixed now

[2020-12-07 09:23] bobs4462 commented on #26
Implemented text scaling, report if the issue is still there in new build

[2020-12-07 09:25] bobs4462 commented on #25
Should display correctly now, on newer android devices ( > 8 ). On older devices, the issue is somewhat different, need more investigation

[2020-12-07 09:55] tlle14 commented on #25
Thanks @bobs4462
Retest pass
![image](https://user-images.githubusercontent.com/69950655/101336397-ffad2600-38ac-11eb-9bae-58d7274142d0.png)

[2020-12-07 09:55] #25 closed

[2020-12-07 10:14] tlle14 commented on #26
The issue still happens on a 5 - 6.5 inch screen.

5-inch screen - Samsung Galaxy A5
![image](https://user-images.githubusercontent.com/69950655/101338290-5b78ae80-38af-11eb-8738-f5ce430a7eb3.png)

6.5-inch screen - Samsung A51
![image](https://user-images.githubusercontent.com/69950655/101338521-ab577580-38af-11eb-81be-4fb394a014a0.png)

[2020-12-07 11:03] tlle14 commented on #55
Hi @bobs4462
Retest failed on 5inch - 6.5inch screen

[2020-12-07 11:36] tlle14 opened #63 "Message > Copy-paste a message containing mentioned text shows the user's ID"
# Precondtion
A message has mentioned text:
![image](https://user-images.githubusercontent.com/69950655/101345750-1f971680-38ba-11eb-9432-effbe7a05d2b.png)

# Actual Result
Copy a message then paste the clipboard, the mentioned text displays a user's ID
https://streamable.com/scw8bf

# Expected Result
It shouldn't display a user's ID.
The mentioned text should display correctly

# Environment
All

[2020-12-07 11:48] tlle14 commented on #40
Retest pass
Thanks @bobs4462
![image](https://user-images.githubusercontent.com/69950655/101347434-abaa3d80-38bc-11eb-8209-f6390bbfefac.png)

[2020-12-07 11:54] tlle14 commented on #49
Thanks @bobs4462
Retest pass
![image](https://user-images.githubusercontent.com/69950655/101348044-997ccf00-38bd-11eb-8862-b3931917cd0e.png)

[2020-12-07 11:54] #49 closed

[2020-12-08 03:00] tlle14 opened #64 "Login screen flash displays when opening the app"
# Actual Result
After a long time opens the app, the login screen flashly display then redirects to the workspace.
https://streamable.com/wzv7yu

# Expected Result
The login screen shouldn't display when the user is still logged in to the app.

# Environment
All android devices

[2020-12-08 03:04] tlle14 commented on #53
Thanks, @bobs4462
All icons are displayed well on the App.

[2020-12-08 03:04] #53 closed

[2020-12-08 03:22] tlle14 commented on #54
Thank @bobs4462
Retest pass
![image](https://user-images.githubusercontent.com/69950655/101435630-421f4300-393f-11eb-86e2-01136531ed81.png)

[2020-12-08 03:22] #54 closed

[2020-12-08 04:16] tlle14 commented on #42
Hi @bobs4462
Retest failed on the 3rd build.
https://streamable.com/13f26e

[2020-12-08 07:40] tlle14 opened #65 "Message > Incorrect behavior after deleting a message"
# Precondition
Message1: a message without response
Message2: a child message as a response in a parent message
Message3: a parent message (with >= 1 response)

# Actual Result

When deleting Message1 => it displays a grey screen with a `reply` popup/button
https://streamable.com/rcxqse

When deleting Message2 => Message2 doesn't disappear. The user has to refresh the app manually
https://streamab

[2020-12-08 08:33] tlle14 opened #66 "Message > Able to open a message without a response as a thread"
# Actual Result
A message without a response will not be opened as a thread.
But a new message that already is submitted able to be opened as a thread.
https://streamable.com/ncsylz

# Expected Result
Please confirm the expected behavior: if a message without response is able to open in a thread screen.

# Environment
All Android devices

[2020-12-08 09:04] tlle14 opened #67 "Thread > Should using one text for describing no response"
# Actual Result

**When clicking `reply` button**
![image](https://user-images.githubusercontent.com/69950655/101462263-9857aa80-396e-11eb-80b6-de73b52ec827.png)

**When tap the message right after submitted:**
![image](https://user-images.githubusercontent.com/69950655/101462598-f6848d80-396e-11eb-808e-c843c0e0caf7.png)

# Expected Result
Should display `No Response`

# Environment
All Android de

[2020-12-08 10:09] tlle14 opened #68 "It always display a black screen flashly after user login to the app"
# Actual Result
When the user login to the app, it displays a black screen then redirects to the default workspace
https://streamable.com/jekt0v

# Expected Result
It shouldn't display a black screen.
When the app is processing a login request, it should display a loading icon instead of moving to the new black screen.
After login successfully, it should display a workspace screen.

# Enviornment

[2020-12-08 11:01] bobs4462 commented on #66
Well, originally I designed it in such a way, that if message has no responses already, you have to initiate thread via context menu, clicking on reply option. But the behavior when newly posted message can be clicked to open a thread seems to be a bug. Will check it out.

[2020-12-08 11:06] tlle14 opened #69 "App should have a response when losing internet connection"
# Actual Result
1. When logging into the app then the internet connection is lost, the app keeps displaying a loading screen (forever). Sometimes the user kills the app but cannot restart.
https://streamable.com/jdahoh

2. When there's no internet connection, sending a message or open a channel/direct will not successful but the app doesn't notify the user.

# Expected Result
- Request to the serv

[2020-12-08 11:45] bobs4462 commented on #64
Yes, we'll replace it with splashscreen

[2020-12-08 12:46] bobs4462 commented on #65
Fixed first and second behavior, but the third behavior is somewhat expected, as twake doesn't allow to delete messages which has responses, maybe we should just remove the option to delete messages which has more than 0 responses....

[2020-12-09 08:42] tlle14 commented on #34
Hi @bobs4462
Retest failed!
I cannot reach the oldest message in the chat history on Mobile. Example on some channels: FT-Twake, Customer - UPN, General...

[2020-12-09 09:02] hantt12 opened #72 "No Validation for Login form"
When I try to login with incorrect information, error message should be shown

- Incorrect username
- Incorrect password

Currently there is no error message

[2020-12-09 10:16] bobs4462 commented on #34
Yes the issue seems to have appeared after yesterday's refactor of proxy, looking for cause right now, should be fixed soon.

[2020-12-09 10:20] bobs4462 commented on #60
Changed the format to shorter one in threads, but it displays short version only if the current year is the same as message's creation year, otherwise it will display the year too, making it longer. It's required because we need to distinguish the old messages' timestamp somehow. If you have better ideas regarding datatime format, I'm open to suggestions.

[2020-12-09 10:22] bobs4462 commented on #72
we cannot differentiate between incorrect password or username, we can only show some info saying that we cannot login with given credentials

[2020-12-09 10:24] bobs4462 commented on #63
@romanesko What can we do about this bug, is it possible to cut out userid from original_str using some regexes?

[2020-12-09 10:28] bobs4462 commented on #61
Alas, that's meeting forms and GIFs (you can only see image preview) aren't supported in this version

[2020-12-09 11:13] tlle14 commented on #60
Or we should decrease the username's font size. How do you think? @bobs4462

[2020-12-09 11:18] #60 closed

[2020-12-09 11:24] tlle14 commented on #67
Retest pass! Thanks @bobs4462

[2020-12-09 11:24] #67 closed

[2020-12-09 11:25] bobs4462 commented on #60
Yes, I'll experiment with username fontsize

[2020-12-09 18:09] bobs4462 commented on #48
@RomaricMourgues When we pulled messages from server the unread messages counter was autmatically updated on next pull.
But now this doesn't seem to be the case. Is it possible to restore the old behavior?
All the details regarding proxy<->twake api interaction can be clarified by @romanesko

[2020-12-09 18:18] RomaricMourgues commented on #48
I will see what I can do, I may have removed some part of code because now we are using the new channels and notifications.

But all APIs related to notifications and channels will break one after the other I warned you :p

Romaric

[2020-12-09 18:32] bobs4462 commented on #66
Added check for new messages, so you cannot create thread without context menu

[2020-12-10 02:40] hantt12 commented on #72
It's ok. Let's do it

[2020-12-10 03:19] tlle14 commented on #26
Thank @bobs4462
Retest pass!
With 5-inch screen
![processedasdd](https://user-images.githubusercontent.com/69950655/101717061-2d72b480-3ad1-11eb-9449-342c56ef5d9a.jpeg)

With 6.5-inch screen
![1607570307646](https://user-images.githubusercontent.com/69950655/101717096-39f70d00-3ad1-11eb-891c-342e9eb8fdab.JPEG)

[2020-12-10 03:19] #26 closed

[2020-12-10 03:38] tlle14 opened #77 "Cannot display messages in channels or direct chats"
# Actual Result
When opening a channel or direct chat, it displays an empty screen without messages
https://streamable.com/wkiz5v

# Expected Result
Please investigate. The app should display messages and stable to be tested

[2020-12-10 03:51] tlle14 opened #78 "A message sent from mobile cannot display on the old Twake app on iOS"
# Actual Result
A message sent from mobile cannot display on the old Twake app on iOS
![image](https://user-images.githubusercontent.com/69950655/101718837-9e679b80-3ad4-11eb-9420-8251651ceeaa.png)

# Expected result
The message should display normally for the old Twake app.

# Environment
All Android devices
Old Twake app on iOS

[2020-12-10 04:25] tlle14 opened #79 "A message sent from Mobile cannot display instantly on Web version"
# Actual Result
Sending a message from mobile to the Web user, the message doesn't display instantly. The user needs to refresh the app to see.

# Expected Result
The message should display instantly on the Web version

# Environment
All mobile devices

[2020-12-10 10:32] bobs4462 commented on #48
Yes, I understand, but @tlle14 really wants those counters working :D

[2020-12-10 11:01] tlle14 commented on #77
I can see messages on the channels and directs now.
Retest pass!
Thank @bobs4462

[2020-12-10 11:01] #77 closed

[2020-12-10 11:09] tlle14 commented on #66
Retest pass!
Thank @bobs4462

[2020-12-10 11:09] #66 closed

[2020-12-10 11:18] tlle14 commented on #30
Thank @bobs4462
Retest pass
![image](https://user-images.githubusercontent.com/69950655/101765539-07bacf00-3b14-11eb-958a-3254c55fa7b2.png)

[2020-12-10 11:18] #30 closed

[2020-12-10 11:31] tlle14 commented on #65
Thank @bobs4462
Retest pass!
- issue 1&2 are fixed
- Issue 3 is improved. The user is no longer able to open a new message as a thread. He must use the context menu.

[2020-12-10 11:31] #65 closed

[2020-12-10 11:35] tlle14 commented on #42
Hi @bobs4462
Retest failed on the 4th build
https://yadi.sk/i/NK2xfqzIG9ZU4g

[2020-12-10 20:16] bobs4462 commented on #42
Added extra checks for present messages in the buffer, should solve the on slow internet connections.

[2020-12-10 20:18] bobs4462 commented on #62
Added text collapse for long text strings.

[2020-12-11 02:56] tlle14 commented on #72
Thank @bobs4462
Retest pass!
![image](https://user-images.githubusercontent.com/69950655/101856063-2ada9280-3b97-11eb-93ad-2b3ddea822dd.png)

[2020-12-11 02:56] #72 closed

[2020-12-11 03:02] tlle14 opened #81 "Login > Error message displays in the breaking lines on small screen"
# Actual Result
The error message is displaying in the breaking lines on the small screen (6.5 inch), which is not a good UI
![image](https://user-images.githubusercontent.com/69950655/101856245-7c831d00-3b97-11eb-817d-0dd8f2cfbd29.png)

# Expected result
On the small screen, the message should display in only a line.
We should replace by a shorter message.

[2020-12-11 03:23] tlle14 commented on #62
Hi @bobs4462
Thank you for your quick fix. But this behavior we need confirmation from BA and PO. It such a new feature.

[2020-12-11 03:57] tlle14 opened #82 "The App font size and style should be optimized"
# Actual Result
1. The font size is too big, that makes:
- A long channel name or a long username cannot display fully on the narrow screen
- A message looks longer with the big font size

2. There are too many font styles (different style, size, color) on a screen. That makes the app looks more complex

# Expected Result
1. App font size should be decreased.
2. Date-time and additional informatio

[2020-12-11 04:21] tlle14 commented on #42
Retest failed!
Sorry @bobs4462
https://yadi.sk/i/nXTmA0wz6ZCHYQ

[2020-12-11 04:44] tlle14 commented on #34
Hi @bobs4462
Retest failed
Cannot load messages in FT-SmartSla channel
![image](https://user-images.githubusercontent.com/69950655/101862342-b6a6eb80-3ba4-11eb-9a36-af084cb55d7f.png)

[2020-12-11 04:52] tlle14 opened #83 "Message > A message from Bot displays the incorrect format"
# Actual result
1. Displaying a preview message instead of the bot name.
2. Link in the bot message isn't highlighted

On mobile:
![image](https://user-images.githubusercontent.com/69950655/101864506-c1628000-3ba6-11eb-8f9c-24509661f9a6.png)

On PC:
![image](https://user-images.githubusercontent.com/69950655/101864774-2ddd7f00-3ba7-11eb-9ac3-f2f37a724117.png)

# Expected Result
Should display the

[2020-12-11 08:04] tlle14 opened #84 "Thread > The header of the thread screen should be simplified"
# Actual Result
With a long channel name, the header tab of the thread screen looks untidy
![image](https://user-images.githubusercontent.com/69950655/101877902-4bb7dd80-3bc1-11eb-9513-c480259843b9.png)

# Expected Result
The header tab should be simplified, like the one on the current Twake mobile
![image](https://user-images.githubusercontent.com/69950655/101878419-1e1f6400-3bc2-11eb-8338-9ec8ce

[2020-12-11 08:15] tlle14 opened #85 "Mesage > The Smile icon on Web version displays as a Sad icon on Mobile"
# Actual Result
Icon displays incorrectly on Mobile

On the Web:
![image](https://user-images.githubusercontent.com/69950655/101879061-4b204680-3bc3-11eb-820b-e707c8e14fe6.png)

On the mobile
![image](https://user-images.githubusercontent.com/69950655/101879093-5a9f8f80-3bc3-11eb-8f17-a72a11300b20.png)

# Expected Result
Icons should display correctly

# Environment
Build version 1.5
All android d

[2020-12-11 08:51] tlle14 opened #86 "Thread > the date-time in the thread screen is displaying in a break line"
# Actual Result
If the date-time of a message in a thread screen is too long (contains `yesterday` word), it will display in the break line
![image](https://user-images.githubusercontent.com/69950655/101882400-6c376600-3bc8-11eb-93c5-b78d1200f1ef.png)

# Expected result
The date-time displays in 2 lines look untidy. It should be in one line.
Please consider the displaying on iOS mobile: the date-t

[2020-12-11 10:25] tlle14 opened #87 "Message > Manipulating with the context menu duplicate the message contains a line break"
# Precondition
A message contains a line break

# Actual result
Tap to the message to manipulate with the context menu makes the message duplicated
https://yadi.sk/i/Lc8H5cKXPjlo7g

# Steps
1. Copy the message contains a line break
2. Select the reply text field
3. Verify the issue

# Expected result
Please remove the duplicated line when manipulating with the context menu

[2020-12-11 10:50] tlle14 opened #88 "Message > Cannot un-react from Mobile"
# Precondition
A message has a reaction

# Actual Result
From mobile, unreacted isn't successful
https://yadi.sk/i/G13KNXTh3QVV7g

# Environment
Version 1.5

[2020-12-11 11:15] tlle14 opened #89 "Message > A message contains more than 4 reaction icons will hide the link "see all answers""
# Actual Result
In a narrow screen, if the message has more than 4 reaction icons, the "see all answers" link will be hidden
![image](https://user-images.githubusercontent.com/69950655/101897493-3650ac80-3bdd-11eb-8324-ab66e23091e5.png)

# Expected Result
The `see all answers` should display in another line

# Environment
Samsung A51, 6.5-inch screen

[2020-12-11 11:47] tlle14 opened #90 "Message > Incorrectly display a line break when message contains a link"
# Precondtion
A message contains a link before a line break
[code]

# Actual Result
1. A message contains a link will make a line break before the link. After the link, the line break doesn't display.
On PC:
![image](https://user-images.githubusercontent.com/69950655/101899327-3900d100-3be0-11eb-8187-73edb8fb5aa3.png)

On Mobile:
![image](https://user-images.githubusercontent.com/69950655/10189957

[2020-12-11 12:10] tlle14 opened #91 "Message > A hashtag doesn't display correctly on Mobile"
# Actual Result
A hashtag displaying as a mentioned text on a mobile

On Web:
![image](https://user-images.githubusercontent.com/69950655/101901818-3902d000-3be4-11eb-9c60-8017d5f909e9.png)

On Mobile:
![image](https://user-images.githubusercontent.com/69950655/101901918-6780ab00-3be4-11eb-8885-6d95481595c2.png)

# Expected result
The hashtag should display as a hashtag on mobile
`#hashtag `

[2020-12-11 12:33] tlle14 opened #92 "Message > Always display a three dots before "show less" button"
# Precondition
A message is long

# Actual Result
![image](https://user-images.githubusercontent.com/69950655/101900444-140d5d80-3be2-11eb-9d47-7151b5aea87f.png)

# Expected Result
`Show less` button should be in another line
Shouldn't have three dots before `show less` button.

[2020-12-11 12:38] tlle14 opened #93 "Thread > Displaying maximum 10 responses in a thread"
# Preconditon
A message has more than 10 responses

# Actual Result
Mobile can only display a maximum 10 responses, cannot load more
![image](https://user-images.githubusercontent.com/69950655/101904349-4621be00-3be8-11eb-9d85-77587cbbce66.png)

# Expected result
It should be able to show load all responses

[2020-12-11 14:02] romanesko commented on #93
proxy returns all of them. gonna look into app

[2020-12-11 18:16] bobs4462 commented on #91
@romanesko  Seems to be twacode issue

[2020-12-11 18:19] bobs4462 commented on #87
That's ... pretty unexpected bug :)

[2020-12-11 18:21] bobs4462 commented on #90
@romanesko we have to discuss this issue

[2020-12-13 21:58] bobs4462 commented on #47
The JWT expiration problem was fixed on backend, the issue should be solved now

[2020-12-13 22:01] bobs4462 commented on #92
Moved show less to new line, removed three dots

[2020-12-13 22:01] bobs4462 commented on #88
Fixed the issue, "unreaction" should work now

[2020-12-13 22:04] bobs4462 commented on #85
There's a discrepancy between emoji used on web, and those used in app. The issue is fixed with temporary workaround. Will talk to Romaric to sync emoji collections.

[2020-12-14 15:47] bobs4462 commented on #93
The issue was, that we requested responses with their respective threads (bundled together).
Fixed the issue by requesting each thread's responses separately

[2020-12-14 15:48] bobs4462 commented on #51
Management decided to drop this feature for indefinite time

[2020-12-14 15:48] #51 closed

[2020-12-14 17:00] bobs4462 commented on #59
Done

[2020-12-14 17:11] bobs4462 commented on #81
Shortened the message

[2020-12-14 17:17] bobs4462 commented on #58
It happens because of the usage of proxy server between main TwakeAPI and the app. And it so happens, that we cache all user data on proxy, and currently don't have any means for triggered updates of that cache.
Postponing the issue for future, when we'll have a stable TwakeAPI

[2020-12-14 17:26] bobs4462 commented on #42
Attempt number 4 :)
Added more checks to message buffer

[2020-12-14 18:38] bobs4462 commented on #87
Couldn't reproduce the issue after some bugfixes. Might have inadvertently fixed the thing without knowing :D

[2020-12-15 07:19] tlle14 commented on #87
Hi @bobs4462
Unfortunately, the issue becomes worse. You can easily reproduce by open a thread then back to the direct chat or channel, messages contain a line break will be duplicated
https://streamable.com/9uj3k6

[2020-12-15 07:37] tlle14 commented on #93
Hi @bobs4462
It seems able to load maximum 50 responses.
Expected result: It should be able to load all responses

[2020-12-15 07:47] tlle14 commented on #92
Thank @bobs4462

Retest pass
![Uploading image.png…]()

[2020-12-15 07:47] #92 closed

[2020-12-15 08:09] tlle14 opened #95 "Message > Tapping to "show more" button will jump to the end of the message"
# Precondition
A long message as a paragraph

# Actual result
When tap to "show more" button, it will jump to the end of the expanded message.
https://streamable.com/sqfb2q

# Expected result
It should stay at a place user tap "show more" button

# Environment
app-release[2020-12-14]

[2020-12-15 08:20] bobs4462 commented on #85
Issue is fixed completely.

[2020-12-15 08:22] tlle14 commented on #88
Hi @bobs4462
Retest pass when un-react with a parent message.
But failed to unreacted a response
https://streamable.com/1183yq

[2020-12-15 09:23] tlle14 commented on #47
Hi @bobs4462
I don't think the issue has been fixed in this version.
![image](https://user-images.githubusercontent.com/69950655/102196029-ec740900-3ef1-11eb-8c6a-16e571999b4e.png)

[2020-12-15 09:30] tlle14 commented on #85
Thank @bobs4462
Retest pass!

Finally, I see that smile on Mobile:
![image](https://user-images.githubusercontent.com/69950655/102196624-bb480880-3ef2-11eb-8384-c55bf184750c.png)

On Web:
![image](https://user-images.githubusercontent.com/69950655/102196680-ce5ad880-3ef2-11eb-9cb0-4f06f4823214.png)

[2020-12-15 09:30] #85 closed

[2020-12-15 09:52] tlle14 commented on #81
Thank @bobs4462
One more request, could you make the message aligned to the center?
![image](https://user-images.githubusercontent.com/69950655/102199247-fa2b8d80-3ef5-11eb-90af-3e4c11dbdfd2.png)

[2020-12-15 10:17] tlle14 commented on #59
Thank @bobs4462
Retest pass

[2020-12-15 10:34] tlle14 commented on #34
Thanks @bobs4462
Retest pass!
Now we can see all the messages in all channels

[2020-12-15 10:34] #34 closed

[2020-12-15 10:41] tlle14 commented on #42
Thank @bobs4462
Retest pass!
https://streamable.com/xo2xii

[2020-12-15 10:41] #42 closed

[2020-12-15 10:54] tlle14 opened #96 "Direct chat icons are loading slowly"
# Actual Result
Avatar of direct messages are slowly appearing
https://streamable.com/wrrub7

# Expected Result
It should be displayed as if those direct chats are always there
It might be the issue of the dev server or internet connection. But please be investigate if we can improve.

# Enviornment
app-release[2020-12-14]

[2020-12-15 19:54] bobs4462 commented on #81
Centered

[2020-12-15 19:58] bobs4462 commented on #90
Completely overhauled messages collapse, the issue shouldn't be there anymore

[2020-12-15 19:58] bobs4462 commented on #93
Set limit to 1000

[2020-12-15 20:00] bobs4462 commented on #62
set the message shortening to 300 chars.
We can close this issue and discuss the design related things with, well, designers :)

[2020-12-15 20:02] bobs4462 commented on #87
Fixed, was related to message collapsing

[2020-12-16 04:29] tlle14 commented on #81
Retest pass!
Thank @bobs4462
![image](https://user-images.githubusercontent.com/69950655/102305175-dfa6f200-3f91-11eb-875d-424f256aa078.png)

[2020-12-16 04:29] #81 closed

[2020-12-16 04:36] tlle14 commented on #88
Thank @bobs4462
Retest pass!
https://streamable.com/47xlk0

[2020-12-16 04:36] #88 closed

[2020-12-16 04:40] tlle14 commented on #87
Thank @bobs4462
Retest pass! There's no more duplicated

[2020-12-16 04:40] #87 closed

[2020-12-16 04:41] tlle14 commented on #62
Thank @bobs4462
The app looks better today

[2020-12-16 04:41] #62 closed

[2020-12-16 07:23] tlle14 commented on #90
Thank @bobs4462
Retest pass!

![image](https://user-images.githubusercontent.com/69950655/102317189-b2fed480-3fa9-11eb-9c01-9c2bb2f2ac2a.png)
![image](https://user-images.githubusercontent.com/69950655/102317533-42a48300-3faa-11eb-8297-9a5a98dda814.png)

[2020-12-16 07:23] #90 closed

[2020-12-16 07:36] tlle14 commented on #93
Thank @bobs4462
Retest pass!

[2020-12-16 07:36] #93 closed

[2020-12-16 07:57] tlle14 opened #97 "Message > User is able to reply to a message that has been removed"
# Precondition
We have the following actions:
1. On Web, userA send a message (parent message)
2. On Mobile, userB is going to reply to the message
3. On Web, userA deletes the message

# Actual Result
On mobile, userB is still able to see the parent message and reply to it.
After refreshing the app, the responses are displaying as a parent messages
https://streamable.com/ufez02

# Expected result

[2020-12-16 08:30] tlle14 opened #98 "Message > Multiquote, underline, italic cannot display on Mobile"
# Precondition
Multiquote is composed on the Web version
![image](https://user-images.githubusercontent.com/69950655/102322647-f3fae700-3fb1-11eb-8e3b-c0ba286576e1.png)

Underline and italic on Web:
![image](https://user-images.githubusercontent.com/69950655/102324569-987e2880-3fb4-11eb-93e5-48f406cc8860.png)

# Actual Result
The multiquote, underline and italic cannot display on mobile
![image](h

[2020-12-16 09:05] tlle14 opened #99 "Notification > Cannot redirect to the corresponding thread when tap to the notification"
# Actual Result
Tap to the notification on the Notification center, it redirects to the Twake app but doesn't open the corresponding thread
https://streamable.com/0sz4zx

# Expected result
When user taps to the notification on Notification Center, it should redirect to the corresponding thread

# Environment
app-release[2020-12-15].apk

[2020-12-16 10:41] bobs4462 commented on #99
@RomaricMourgues That's where the click_action at the highest level of data object comes handy)

[2020-12-16 11:05] bobs4462 commented on #97
@RomaricMourgues Can we notify the app about message deletion, message modification, reaction and etc?
We can send it as a data notification. So that it will not show up in notification area if the app is closed.

[2020-12-16 11:30] bobs4462 commented on #99
Also, channel_id field provided in notification is wrong. We have a very strange behavior here:
For example user A navigates to channel acf640c2-1dcc-41eb-9aff-0242ac120004 and keeps it open.
While the user B from desktop writes to this channel.
For the first message we are correctly notified, and pull the message and show it user.
But if the user B writes another message, the notification is sent

[2020-12-16 11:36] RomaricMourgues commented on #99
Ok this is our migration from uuidv1 to v4. I will not be able to fix this easily, can you put a monkey fix for now ?

On the __old channel API__ replace X in channel_id by a 1 if it's a 4.
aaaa0000-aaaa-Xaaa-aaa-0000aa000000

[2020-12-16 11:38] RomaricMourgues commented on #97
We already do this on the same route than for creation of the messages

[2020-12-16 12:42] bobs4462 commented on #99
wow, that's truly a monkey patch :). Ok, i'll patch it that way temporarily

[2020-12-16 13:02] bobs4462 commented on #99
The wrong channel_id is fixed. But still the problem with click_action not being on the highest level of data object prevents from handling clicks correctly.

[2020-12-16 13:03] bobs4462 commented on #97
Then I should talk to @romanesko, because I'm not receiving any notification about message updates (deletes, reactions).

[2020-12-16 13:32] RomaricMourgues commented on #99
Fixing click_action on production is too dangerous, I need to change the libraries we use.
So we'll have this only in QA and from the next production update :/

[2020-12-16 13:59] bobs4462 commented on #99
Ok, I understand, thanks :)

[2020-12-16 14:33] bobs4462 commented on #89
Fixed the element wrapping, now if now more space is available, it will jump to the next line

[2020-12-16 20:30] bobs4462 commented on #84
Little cosmetic fixes recomended by our designer.

[2020-12-16 20:35] bobs4462 commented on #55
Remade the message tile a bit, it should look better now

[2020-12-16 20:37] bobs4462 commented on #82
We are currently reviewing all styles with designer. For now I've rewrote the calculating of text size multipliers based on screen size. Should help

[2020-12-17 03:20] tlle14 opened #105 "Message > Some react icons cannot display"
# Actual Result
Some react icons cannot display on the app (I cannot try with all icons, sorry :'( )
On Mobile:
![image](https://user-images.githubusercontent.com/69950655/102439753-6b338800-4051-11eb-97a5-ca7dc89f351a.png)

On Web:
![image](https://user-images.githubusercontent.com/69950655/102438768-869d9380-404f-11eb-8ae3-f5f35f88a4a7.png)

# Expected Result
All react icons should display norma

[2020-12-17 09:36] bobs4462 commented on #48
So @RomaricMourgues is there a way to fix it now, or will we all be better off, if wait for release of new version of Twake API?

[2020-12-17 09:37] bobs4462 commented on #38
Ping @RomaricMourgues :)

[2020-12-17 10:36] tlle14 commented on #89
Thank @bobs4462
Retest pass!
![image](https://user-images.githubusercontent.com/69950655/102476960-545f5680-408e-11eb-9408-161815523b6b.png)

[2020-12-17 10:36] #89 closed

[2020-12-17 10:49] tlle14 commented on #55
Thank @bobs4462
Retest pass!
Great improvement
![image](https://user-images.githubusercontent.com/69950655/102478358-15320500-4090-11eb-9ab6-ed5a8b475cc7.png)

[2020-12-17 10:49] #55 closed

[2020-12-17 10:57] tlle14 commented on #84
Thank @bobs4462
Retest pass
![image](https://user-images.githubusercontent.com/69950655/102479359-61317980-4091-11eb-9b53-9229f38c1aae.png)

[2020-12-17 10:57] #84 closed

[2020-12-17 10:58] RomaricMourgues commented on #38
Sooo this one too I will not do it because we change the channel API before the next production release :)

[2020-12-17 10:58] #86 closed

[2020-12-17 10:58] RomaricMourgues commented on #48
I think it is also better to wait for the january release, you should be able to start working with new notification API on monday

[2020-12-17 10:59] tlle14 commented on #86
Thank @bobs4462
Retest pass with the improvement
![image](https://user-images.githubusercontent.com/69950655/102479518-9211ae80-4091-11eb-8ce5-2cc2ee79db32.png)

[2020-12-17 11:02] tlle14 commented on #82
Thank @bobs4462 and the Designer, the app looks better.

[2020-12-17 11:02] #82 closed

[2020-12-17 11:11] tlle14 commented on #47
It seems fine.
Thank @bobs4462

[2020-12-17 11:11] #47 closed

[2020-12-17 11:30] tlle14 opened #106 "Message > The layout of text message doesn't display well"
# Actual Result
The new layout makes more spaces between words in a line.
![image](https://user-images.githubusercontent.com/69950655/102482044-33e6ca80-4095-11eb-92a5-865df4f8cd4f.png)

# Expected Result
Please fix the issue, it looks weird.
The link should be able to continue display in the same line with the short text.

# Environment
Android devices

[2020-12-17 13:30] bobs4462 commented on #105
Fixed the issue with null and question marks. But still some issue remains. It's that web version of Twake supports very limited range of emojis, it supports only standard tone variations for some emojis to be precise. So for now you cannot pick emojis with dark tones for example.

[2020-12-17 14:06] RomaricMourgues commented on #105
We can move this issue to Twake repo, I will see with my team what we can do :)

[2020-12-18 03:43] tlle14 opened #108 "iOS > The texts is too small on a small screen devices"
# Actual Result
Twake app on iPhone 7 ( a small screen) display texts too small
![image](https://user-images.githubusercontent.com/69950655/102571960-781dad80-411d-11eb-86ea-d8d37fccb472.png)
![image](https://user-images.githubusercontent.com/69950655/102572039-a602f200-411d-11eb-9de1-1ddea7ed1956.png)

# Expected Result
Please work with the designer to improve the UI

# Environment
iPhone 7
Scree

[2020-12-18 03:46] tlle14 opened #109 "iOS > The app name is displaying all lowercase letters"
# Actual Result
On iOS device, the app name is `twake`
![image](https://user-images.githubusercontent.com/69950655/102572289-3a6d5480-411e-11eb-8fc2-e821bb5137f2.png)

# Expected Result
It should display `Twake`

# Environment
iOS devices

[2020-12-18 04:15] tlle14 opened #110 "iOS > Cannot close the keyboard when opening the chat"
# Actual Result
When opening a chat, tap to reply textbox, it displays a keyboard. But user cannot close the keyboard.
On Android, there's a system button to close the keyboard, but on iOS we don't have any.
https://streamable.com/2kgufy

# Expected Result
The user should be able to close the keyboard by tapping the area around it.

# Environment
All iOS devices

[2020-12-18 04:21] tlle14 opened #111 "The app isn't full-screen displaying"
# Actual Result
iOS devices display the app like this:
![image](https://user-images.githubusercontent.com/69950655/102574304-06e0f900-4123-11eb-9f57-d5f2d9df8087.png)

Android displays the app:
![image](https://user-images.githubusercontent.com/69950655/102574556-9f777900-4123-11eb-81ef-25abafc0eae0.png)

# Expected Result
The app should display fullscreen, responsive to the device screen

# Envir

[2020-12-18 06:57] tlle14 opened #112 "Thread > Improve the displaying of parent message and the responses"
# Actual Result
When opening the keyboard, the text area becomes untidy. There're too many parts on a screen.
- The response counter takes a fixed area that is not worthy
- The parent message has a special format cannot display well on the Thread screen.
![image](https://user-images.githubusercontent.com/69950655/102575174-2f69f280-4125-11eb-8235-b492f60462ac.png)

# Expected Result
Please work wi

[2020-12-18 07:24] tlle14 opened #113 "Vietnamese language displays in error font on Mobile"
# Actual Result
Some Vietnamese character displays in an error font
![image](https://user-images.githubusercontent.com/69950655/102586112-1f114200-413c-11eb-8c69-2dbb1e8ee5c9.png)

# Expected Result
The font should be corrected

# Environment
All mobile devices

[2020-12-18 07:42] tlle14 opened #114 "iOS > The bottom screen of the app sticks to the edge of the device"
# Actual Result
The bottom screen of the app like the context menu or icons list is displaying stick to the edge of the device.
![image](https://user-images.githubusercontent.com/69950655/102587284-25a0b900-413e-11eb-9569-d4d415a2a2de.png)

# Expected Result
It should have a space between the bottom of the app and the edge of the device

# Environment
app-release[2020-12-17]
iPhone without a hard

[2020-12-18 08:03] romanesko commented on #113
<img src="https://www.fresher.ru/wp-content/uploads/2018/04/142.jpg" width="400">

[2020-12-18 08:31] tlle14 opened #115 "Thread > The responses on Android has a reverse order"
# Actual Result
From bottom to the top, the responses display from the oldest to the newest
![image](https://user-images.githubusercontent.com/69950655/102592388-fb52f980-4145-11eb-8005-439f70a6ebc6.png)

# Expected Result
They should display in the reverse order

# Environment
All Android devices

[2020-12-18 09:07] tlle14 opened #116 "Cannot submit/react a message"
# Actual Result
The message doesn't display after submitted
https://streamable.com/ad3sh0
https://jmp.sh/PkA8pM6

# Expected result
It should be able to send a message

# Environment
All mobile devices
app-release[2020-12-17]

[2020-12-18 09:13] romanesko commented on #116
Could you upload to jumpshare.com?

[2020-12-18 09:19] tlle14 commented on #116
updated

[2020-12-18 11:19] tlle14 opened #117 "Thread > A direct group shows only 1 user in the Threaded Replies screen"
# Precondition
A direct group
![image](https://user-images.githubusercontent.com/69950655/102607192-6f979800-415a-11eb-94a7-d465859cfdb8.png)

# Actual Result
In threaded replies screen of a direct group, it displays only a user instead of all people in a group
https://streamable.com/md9b0p

# Expected Result
It should be able to show the thread belongs to a direct group

# Environment
All mobile

[2020-12-18 11:21] romanesko commented on #113
We are using default fonts for both platforms. I have no idea how to solve this for now (

[2020-12-18 11:26] tlle14 opened #118 "Channel/Direct has a grey block around the date"
# Actual Result
There is a gray block at the top of the messages list, under the channel name.
![image](https://user-images.githubusercontent.com/69950655/102608499-8d65fc80-415c-11eb-93b8-7388a0bc582e.png)

# Expected Result
The block should have the same color as the background.
The block should display in ombre style like this:
![image](https://user-images.githubusercontent.com/69950655/1026094

[2020-12-18 11:36] tlle14 opened #119 "Keyboard is closed after sending a message"
# Actual Result
After sending a message, the keyboard is automatically closed. If the user wants to continue sending messages, he needs to tap into the textbox to open the keyboard, which is not convenient.
https://streamable.com/l0bfnr

# Expected Result
The keyboard should stay after the user sending a message.
User should be able to tap to the background for closing a keyboard.

# Environment
A

[2020-12-18 11:48] tlle14 commented on #113
Maybe the ugly font makes me think it was an error.
Please leave it to the postponed column and review later

[2020-12-21 14:27] romanesko commented on #119
Don't think it's a bug

[2020-12-21 14:28] romanesko commented on #116
fixed

[2020-12-21 19:45] romanesko commented on #110
fixed in 1.3 (4)

[2020-12-21 19:45] romanesko commented on #109
fixed in 1.3 (4)

[2020-12-22 03:03] tlle14 commented on #119
Hi @romanesko
This issue is considered as an improvement for Twake App Mobile.
Please fix for a better UX.
With a stay-still keyboard, the user doesn't need to reopen it after sending a message.

[2020-12-23 09:12] romanesko commented on #78
It won't be fixed

[2020-12-23 09:48] tlle14 commented on #78
@romanesko I know the current ios app will be replaced by the Flutter one.
But we should fix it in case the user still uses the old app. Could you confirm?

[2020-12-23 09:49] tlle14 commented on #78
And @romanesko please assign the issue to me if you think it is not a bug. I will close it.

[2020-12-23 09:59] romanesko commented on #78
The api will be changed anyway, so the old version won't work. Everybody will have to update the app anyway.

[2020-12-23 13:37] romanesko commented on #83
| before | after |
|---|---|
| <img width="320" alt="Снимок экрана 2020-12-23 в 16 25 52" src="https://user-images.githubusercontent.com/1404610/103000835-dcd17180-453c-11eb-87bf-40c0195560dc.png"> | <img width="320" alt="Снимок экрана 2020-12-23 в 16 34 07" src="https://user-images.githubusercontent.com/1404610/103000840-dfcc6200-453c-11eb-9630-7c7355a988aa.png"> |

P.S. for now we can't determin

[2020-12-23 14:10] romanesko commented on #79
It's common API problem, should be solved with new API version, nothing can do here (can be closed)

[2020-12-24 02:29] tlle14 commented on #79
Thanks @romanesko
Tell me when it's ready

[2020-12-24 04:14] tlle14 commented on #114
Thank @romanesko

Retest pass! I can see the change
![image](https://user-images.githubusercontent.com/69950655/103059731-8dd91a00-45d8-11eb-9662-f9d90fd3119a.png)
![image](https://user-images.githubusercontent.com/69950655/103059779-a47f7100-45d8-11eb-9711-cb60a4f93f65.png)

[2020-12-24 04:14] #114 closed

[2020-12-24 04:18] tlle14 commented on #110
Thank @romanesko
Retest pass!

https://user-images.githubusercontent.com/69950655/103060145-c299a100-45d9-11eb-9849-3e9a4f5d4009.mp4

[2020-12-24 04:18] #110 closed

[2020-12-24 04:28] tlle14 commented on #111
Hi @romanesko  @bobs4462
Could you please fix the login screen also.
The other screens seem perfect on iOS.

[2020-12-25 02:35] tlle14 commented on #111
@bobs4462 I hope this issue will be fixed on Android. The grey top should be white
![image](https://user-images.githubusercontent.com/69950655/103115270-88410a00-4694-11eb-94e7-0ace950fcb50.png)

[2020-12-25 02:40] tlle14 commented on #108
Thank @romanesko
Retest pass!
The text looks better now

[2020-12-25 02:40] #108 closed

[2020-12-25 02:57] tlle14 commented on #83
Thank @romanesko
Retest pass!
I can see a better UI for the bot message.

[2020-12-25 02:57] #83 closed

[2020-12-25 03:03] tlle14 commented on #68
Thank @romanesko and @bobs4462
The screen is white looks unify with the app's theme.

[2020-12-25 03:20] tlle14 opened #123 "Loading icons in the sequential screens are not in the same place"
# Actual Result
After login, the app displays `a white screen(1)` then `a workspace screen(2)` sequentially but the loading icon in the 2 screens is not in the same place. That makes the loading speed of the app seems slow.
https://user-images.githubusercontent.com/69950655/103116451-23d47980-4699-11eb-831a-3e2cbe77f345.mp4

# Expected Result
We should increase the UX:
- loading all in the screen(

[2020-12-25 03:57] tlle14 commented on #105
Thank @bobs4462
The icon is displayed correctly on both web and mobile version:
![image](https://user-images.githubusercontent.com/69950655/103118082-e7f0e280-469f-11eb-9194-f1eb8e3ee010.png)
![image](https://user-images.githubusercontent.com/69950655/103118098-f63efe80-469f-11eb-8078-d67d7b3748ef.png)

[2020-12-25 03:57] #105 closed

[2020-12-25 04:04] tlle14 commented on #109
Thank @romanesko
Retest pass!
![image](https://user-images.githubusercontent.com/69950655/103118318-ec69cb00-46a0-11eb-919f-03453012f780.png)

[2020-12-25 04:04] #109 closed

[2020-12-25 04:06] tlle14 commented on #116
Thank @romanesko
Retest pass!

[2020-12-25 04:06] #116 closed

[2020-12-25 04:34] tlle14 commented on #106
Thank @bobs4462
There's no more abnormal space between texts.
But the link should go after the text instead of displaying in the next line.

[2020-12-25 04:39] tlle14 commented on #115
Thank @bobs4462
Retest pass!
https://user-images.githubusercontent.com/69950655/103119416-ceeb3000-46a5-11eb-958d-1dc33bdde870.mp4

[2020-12-25 04:39] #115 closed

[2020-12-25 04:42] tlle14 commented on #117
Thank @bobs4462
Retest pass
![image](https://user-images.githubusercontent.com/69950655/103119516-45882d80-46a6-11eb-9476-b096197b8a09.png)

[2020-12-25 04:42] #117 closed

[2020-12-25 04:44] tlle14 commented on #41
Thank @bobs4462 and @romanesko
Retest pass!
![Uploading image.png…]()

[2020-12-25 04:58] tlle14 opened #124 "Date label is hidden"
# Actual Result
Text label is hidden as in this image
![image](https://user-images.githubusercontent.com/69950655/103119944-3b672e80-46a8-11eb-8a33-fe821b90f643.png)

# Expected Result
It shouldn't be hidden

[2020-12-25 08:32] tlle14 opened #125 "Some texts are bold"
# Actual Result
Channel name, button name (Reply/delete/copy) and placeholder text (`reply`) are bold.
![image](https://user-images.githubusercontent.com/69950655/103127794-87749c00-46c5-11eb-9da7-bfaf63e6e658.png)
![image](https://user-images.githubusercontent.com/69950655/103127774-79bf1680-46c5-11eb-85b3-0f1a6627c19f.png)
![image](https://user-images.githubusercontent.com/69950655/103127810-95c

[2020-12-25 09:08] tlle14 commented on #59
Hi @bobs4462
I saw the different order between mobile and web version for 2 channels `Frontend split` and `customer - openpaas.linagora.com`

[2020-12-25 09:35] tlle14 commented on #50
Hi @bobs4462
has this one be implemented?

[2020-12-25 10:57] tlle14 opened #126 "Workspaces list is displaying partially on the sidebar menu"
# Actual Result
Workspaces list is displaying partially on the sidebar menu:

https://user-images.githubusercontent.com/69950655/103132856-76358a80-46d9-11eb-8d83-4af5bee3802e.mp4
![image](https://user-images.githubusercontent.com/69950655/103132788-fc050600-46d8-11eb-81f0-1fbbd0bb1a00.png)

# Expected Result
The list should display fully on the sidebar

# Environment
Both ios and android

[2020-12-25 11:07] tlle14 opened #127 "A long workspace name will be hidden on the channel list screen"
# Actual Result
The workspace name is hidden on the narrow screen
![image](https://user-images.githubusercontent.com/69950655/103133256-fbba3a00-46db-11eb-9a9d-ae7e52354532.png)

# Expected Result
The workspace name should be shown entirely

[2020-12-25 14:28] bobs4462 commented on #50
Hi @tlle14, no not yet, I'm actually not even sure whether we can completely sync the mobile with the web in the near future. Messages - yes, with the release of new API in the next month, messages should be kept in sync. The rest, like changing username or channel description, that might require some more time.

[2020-12-25 16:34] BastiaanVanGaalen commented on #126
@bobs4462 https://zpl.io/bAeywAe
As can be concluded from the screen ListView widget spans till the bottom border of Main view and goes under fixed cell on the bottom

[2020-12-25 16:44] BastiaanVanGaalen commented on #124
@bobs4462 No matter what, this particular  timestamp text label can be displayed in a one line, no line breaks and multiple lines are allowed. *)

[2020-12-25 16:54] BastiaanVanGaalen commented on #125
@bobs4462
Channel name: medium font-weight (font-weight)
Text of the label on ActionSheet: regular (font-weight)
Placeholder label: regular (font-weight) + alpha (opacity) 0.6

[2020-12-25 16:57] BastiaanVanGaalen commented on #127
@bobs4462 This issue was discussed and further resolved in a different chat.
Channel name has a char count limit and when exceeded three dots show up.

[2020-12-25 17:01] BastiaanVanGaalen commented on #112
@tlle14 This UX bug will be re-engineered in a new app.

[2020-12-28 10:58] tlle14 opened #130 "A direct session displays incorrect names"
# Actual Result
A direct display like this:
![image](https://user-images.githubusercontent.com/69950655/103209729-5a7af000-4936-11eb-94d2-3a268fdd44c2.png)

# Expected Result
Please fix

[2020-12-29 02:56] tlle14 commented on #130
Hi @bobs4462
Did we change the design? I saw a direct message between 2 people display both names. It should display the guest name only.
![image](https://user-images.githubusercontent.com/69950655/103255486-116d7f00-49bc-11eb-8cae-30181fd34c85.png)

[2020-12-29 02:58] tlle14 commented on #130
Retest pass!
Thank @bobs4462
![image](https://user-images.githubusercontent.com/69950655/103255553-4e397600-49bc-11eb-9c8c-4d07ca01e69a.png)

[2020-12-29 03:13] tlle14 opened #132 "A direct chat with a person always displays all participant names"
# Actual Result
 A direct chat with a person always displays all participant names
![image](https://user-images.githubusercontent.com/69950655/103255999-277c3f00-49be-11eb-867d-a9c4faaa0ed8.png)
![image](https://user-images.githubusercontent.com/69950655/103256063-5db9be80-49be-11eb-96ea-020ba68c7cba.png)

# Expected Result
Should display the name of the guest only

# Environment
Both Android and

[2020-12-29 03:14] #130 closed

[2020-12-29 04:43] tlle14 opened #133 "Cannot scroll an expanded parent message in a thread"
# Precondition
A long message (>300 characters) with the responses

# Actual Result
A thread with a long parent message doesn't have a scroll after expanding
https://user-images.githubusercontent.com/69950655/103263562-cadb4d00-49da-11eb-8ed9-3c3cf0070613.mp4

# Expected Result
After expanding, a thread should have scroll

# Environment
Both ios and android app

[2020-12-29 08:21] tlle14 opened #134 "The app displays 2 times loading when starting app"
# Actual Result
When opening the app, it has 2 times loading before display a channel list.
https://user-images.githubusercontent.com/69950655/103269618-c87fef80-49e8-11eb-8cc2-c97b955eadec.mp4

# Expected Result
It should have 1 time loading before display a channel list

# Environment
Both Android and ios app

[2020-12-29 08:47] tlle14 opened #135 "A self direct chat cannot display on Mobile"
# Precondition
On Web, a user sends a direct chat to himself

# Actual Result
The self-direct chat cannot display on Mobile
On Web:
![image](https://user-images.githubusercontent.com/69950655/103271103-dedb7a80-49eb-11eb-8aa3-1f86ed18d16b.png)

On Mobile:
![image](https://user-images.githubusercontent.com/69950655/103271139-02062a00-49ec-11eb-840b-315f56a0e288.png)

# Expected Result
The self-dire

[2020-12-29 09:24] tlle14 opened #136 "Cannot access Test company"
# Actual Result
Cannot access 2 test companies on Mobile. They display 0 workspaces. While on Web they still display the workspace list.
![image](https://user-images.githubusercontent.com/69950655/103273449-eaca3b00-49f1-11eb-956f-632b098defc4.png)

# Expected Result
Please check the test data. The workspace list should display on Mobile

# Environment
Both Android and iOS devices

[2020-12-29 10:54] tlle14 opened #137 "Display an empty sidebar when having no workspace in the company"
# Precondition
A company have no workspace

# Actual Result
When tapping on the company, it seems cannot open.
But when reopen the menu sidebar, it displays an empty sidebar (no workspace)
https://user-images.githubusercontent.com/69950655/103276138-531c1b00-49f8-11eb-84e7-1724fa29c359.mp4

# Expected Result
Please discuss more with our BA about this behavior.
- If the empty company is selectable,

[2020-12-29 11:13] tlle14 opened #138 "A direct chat doesn't jump on the top when sending a message from mobile"
# Actual Result
When sending a message from mobile, the direct chat doesn't jump to the top of direct messages and doesn't update the last message time.
![image](https://user-images.githubusercontent.com/69950655/103279812-494ae580-4a01-11eb-997f-af94435a35d0.png)
![image](https://user-images.githubusercontent.com/69950655/103279836-5ec00f80-4a01-11eb-8384-ad9b13e61c4d.png)

# Expected Result
The

[2020-12-30 04:07] tlle14 opened #139 "Time format is not consistent between screens"
# Actual Result
The channel/direct list screen displays 2 time formats: 12 hours and 24 hours
![image](https://user-images.githubusercontent.com/69950655/103329202-4ea24180-4a8e-11eb-8c64-fa333363b299.png)

# Expected Result
It should display 1 type of time format in the app.

# Environment
Both Android and iOS

[2020-12-30 04:24] tlle14 opened #140 "Emoticon keyboard blinks each time selecting a emoticon"
# Actual Result
Open the emoticon keyboard, it blinks each time user select an emoticon
https://user-images.githubusercontent.com/69950655/103329703-88744780-4a90-11eb-98d9-addc85f63193.mp4

# Expected Result
The emoticon keyboard shouldn't blink when selecting an emoticon

# Environment
Both Android and iOS

[2020-12-30 04:49] tlle14 opened #141 "When loading chat history, it should have a loading icon"
# Actual Result
When loading a chat history, it doesn't have a loading icon, makes the user doesn't know if the chat is continue loading or not
https://user-images.githubusercontent.com/69950655/103330545-8d3afa80-4a94-11eb-9338-f9b47f837cf3.mp4

# Expected Result
When scrolling down to load the chat history, the app should display a loading icon

# Environment
Both Android and iOS

[2020-12-30 07:12] tlle14 opened #142 "Highlighted text and highlighted paragraph should be displayed differently"
# Precondition
Highlight text: (`)
Highlight paragraph: (```)

# Actual Result

A highlighted text and highlighted paragraph are displaying the same on Mobile

On Web:
![image](https://user-images.githubusercontent.com/69950655/103335724-730b1780-4aa8-11eb-8f88-ed9bf080beaf.png)

On Mobile:
![image](https://user-images.githubusercontent.com/69950655/103335772-ae0d4b00-4aa8-11eb-9da6-00c16b42170f.p

[2020-12-30 08:07] tlle14 opened #143 "The app doesn't display a current line when using app emoticon keyboard"
# Actual Result
The chatbox is able to display maximum 4 lines.
When using a device keyboard, it always displays a current line while typing.
But when using an App keyboard (emoticon keyboard), it cannot display a current line while selecting emoticons

https://user-images.githubusercontent.com/69950655/103338297-828e5e80-4ab0-11eb-852f-5fee45567fff.mp4

# Expected Result
The app should display a

[2020-12-30 09:10] tlle14 opened #144 "iOS > The emoticon on iOS is partial hidden"
# Actual Result
When opening a keyboard or tap on the emoticon, it displays a little part that will hide the bottom of the emoticon
![image](https://user-images.githubusercontent.com/69950655/103341398-6a6f0d00-4ab9-11eb-8e8f-786a4c609db5.png)

# Expected Result
The emoticon shouldn't be hidden

# Environment
iOS app only

[2020-12-30 09:30] tlle14 opened #145 "Mention button doesn't work"
# Actual Result
The button doesn't work
![image](https://user-images.githubusercontent.com/69950655/103342496-2df0e080-4abc-11eb-98fb-241f0fd4a662.png)

# Expected Result
Please confirm if this feature is for Version 1 or not. If not, we should keep this ticket for tracking purpose.

Thanks!

[2020-12-30 12:51] bobs4462 commented on #145
We are going to remove this thing and use @ symbol from keyboard as trigger to select users in future version

[2020-12-30 12:51] #145 closed

[2020-12-30 12:52] bobs4462 commented on #144
Seems to be an adaptiveness issue, will look into it

[2020-12-30 12:53] bobs4462 commented on #143
We are considering of removing emoji keyboard for now, and may be will implement a custom one in future.
Let's keep the issue around for now.

[2020-12-30 12:55] bobs4462 commented on #142
They should, actually there's something like 21-22 different twacode objects out there, and all of them requires a unique style. Will work on most used ones on the next release.

[2020-12-30 12:57] bobs4462 commented on #141
Yes, good point! I'll work on this issue as soon as I finish refactoring

[2020-12-30 12:58] bobs4462 commented on #140
Will work on a custom emoji keyboard soon, for now we'll probably remove emoji keyboard at all.

[2020-12-30 12:58] #140 closed

[2020-12-30 12:59] bobs4462 commented on #139
I agree, it should be consistent everywhere, will discuss the issue with the Designer

[2020-12-30 13:00] bobs4462 commented on #138
Ok, will look into and see what i can do.

[2020-12-30 13:02] bobs4462 commented on #137
Yes, that's one of the edge cases. I'll take into account during refactor, and probably we might be able to fix it.

[2020-12-30 13:03] bobs4462 commented on #136
Might be the proxy caching issue, @romanesko will investigate

[2020-12-30 13:04] bobs4462 commented on #135
Seems that proxy doesn't recognize this kind of directs. Will investigate

[2020-12-30 13:04] bobs4462 commented on #134
Fixing it during refactoring.

[2020-12-30 13:05] bobs4462 commented on #133
That's a strange bug, I'll try to hotfix it, or if not, the issue should be gone in new design

[2020-12-30 13:08] bobs4462 commented on #132
Was fixed on proxy, the issue shouldn't be there anymore

[2020-12-31 02:53] tlle14 commented on #142
Please show me where to find all twacode objects.

[2020-12-31 03:19] tlle14 opened #147 "Cannot display direct chat part"
# Actual Result
Cannot display the direct chat part
![image](https://user-images.githubusercontent.com/69950655/103392677-a6ee4780-4b51-11eb-9e18-3f74b8c4a8f7.png)

# Expected Result
Should able to display a direct chat list

# Environment
Both Android and iOS

[2020-12-31 03:50] tlle14 opened #148 "The direct chat shouldn't display a number of members"
# Actual Result
![image](https://user-images.githubusercontent.com/69950655/103393466-54af2580-4b55-11eb-8653-b64a776c842d.png)

# Expected Result
A direct chat to a person shouldn't show the number of members

# Environment
Both ios and android

[2020-12-31 04:57] tlle14 opened #149 "User is able to leave the screen has texts in the chatbox"
# Actual Result
The user is able to leave a chatting screen while the chatbox has texts, without a warning message.
https://user-images.githubusercontent.com/69950655/103395089-d8214480-4b5e-11eb-9fb4-8b5ce99b8665.mp4

# Expected Result
When the chatbox has texts, User tap back to the previous screen and:
- When User reopens the chatbox, the texts should be kept
- OR we should have a warning dialo

[2020-12-31 09:08] tlle14 commented on #79
Sorry @romanesko
My mistake when closing this issue (That I don't remember why).
Please keep working on this.

[2020-12-31 09:14] tlle14 opened #150 "A messages cannot display instantly between Mobile Devices"
# Precondition
Sending a message from iPhone App to Android App

# Actual Result
When sending messages between mobile devices, the messages are not displayed instantly

# Expected Result
The messages sending between mobile devices should display instantly

# Environment
Both Android and iOS devices

[2020-12-31 09:30] tlle14 opened #151 "The keyboard should be displayed when user select "reply" to the message"
# Actual Result
When user select `Reply` on the context menu, it redirects to the thread screen without opening the keyboard
https://user-images.githubusercontent.com/69950655/103403937-88ee0a80-4b84-11eb-9c8c-3f15a5351b9a.mp4

# Expected Result
When user select `Reply` on the context menu, it redirects to the thread screen with an opened keyboard
When user select `See all answers`, it redirects t

[2021-01-12 08:22] bobs4462 commented on #97
@romanesko Do we have notifications about message deletions/modifications/reactions?

[2021-01-12 08:24] RomaricMourgues commented on #97
Yes, you receive updates through socket.io on channel:
channels/:channel_id/messages/updates

[2021-01-12 08:24] bobs4462 commented on #98
@romanesko I think we should add support for these types of objects, because they are pretty common ones

[2021-01-12 08:26] bobs4462 commented on #99
@RomaricMourgues when can we move **click_action** field to the top of data structure of notification?

[2021-01-12 08:46] RockinPaul opened #165 "Handle RangeError when channels are empty."
![photo_2021-01-12 11.45.05.jpeg](https://images.zenhubusercontent.com/5ffc24a2a62ff7cf134e10b3/d34a7b55-179b-4bcf-8266-cd7ab13a5f65)

[2021-01-12 08:49] bobs4462 opened #166 "Add support for creating channels (ordinary and directs) to the application"
Both direct channel and normal channel groups should have a button to add a new channel in current workspace|company

[2021-01-12 08:50] bobs4462 opened #167 "Add support for public channel creation from the application"

[2021-01-12 08:50] bobs4462 opened #168 "Add support for direct channel creation from the application"

[2021-01-12 08:55] RomaricMourgues commented on #99
As soon as issue #717 ( https://github.com/TwakeApp/Twake/issues/717 ) is done :)
Should be in two weeks max

[2021-01-12 08:57] bobs4462 commented on #167
The api endpoint for creating a channel is **POST /channels**

**required fields in request body:**
  - company_id: str
  - workspace_id: str
  - name: str
  - visibility: str  <'public' | 'private' | 'direct'>

**optional fields in request body:**
  - icon: str
  - description: str
  - channel_group: str
  - default: bool (if true — add every workspace member to the channel, only available for pu

[2021-01-12 08:57] bobs4462 commented on #168
The api endpoint for creating a channel is **POST /channels**

**required fields in request body:**
  - company_id: str
  - workspace_id: str
  - name: str
  - visibility: str  <'public' | 'private' | 'direct'>

**optional fields in request body:**
  - icon: str
  - description: str
  - channel_group: str
  - default: bool (if true — add every workspace member to the channel, only available for pu

[2021-01-13 11:31] BastiaanVanGaalen commented on #118
@tlle14 Can you explain why would we need to change the style of this block to gradient pink?

[2021-01-13 11:36] tlle14 commented on #118
Hi @BastiaanVanGaalen , it just an example of a gradient, not the exact color. Please get help from our designer.

[2021-01-14 20:03] BastiaanVanGaalen commented on #139
In my view, it should b more natural, somewhat people have gotten used to such as:  **12 Aug, 13:30** rather than **12/08 13:30**

[2021-01-17 09:52] RockinPaul opened #172 "Bring the app design to current mockups as close as possible."
![изображение.png](https://images.zenhubusercontent.com/5ffc24a2a62ff7cf134e10b3/08e2ffc0-1443-48c0-ab77-8495211b5019)

[2021-01-18 03:22] tlle14 commented on #134
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/b15d13ff-adfa-42ed-851f-fd67dd2d340e/20210118_102140.mp4

[2021-01-18 03:22] #134 closed

[2021-01-18 03:30] tlle14 commented on #151
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/bbe09bc8-4355-4277-b303-b533c5abbab9/videodfdedeaa_b121_4662_8b4f_8523036b858cvideo.mp4

[2021-01-18 03:30] #151 closed

[2021-01-18 03:32] tlle14 commented on #64
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/d56034ef-b223-421e-ac27-5fde6db92dfb/video84ff0783_edc3_45c5_be68_6ee66869be20video.mp4

[2021-01-18 03:32] #64 closed

[2021-01-18 03:53] tlle14 commented on #113
Thank @romanesko
Retest pass

![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/f9e5c849-8d70-43c4-83c8-22fdd7d59170)

[2021-01-18 03:53] #113 closed

[2021-01-18 04:51] tlle14 commented on #69
Hi @bobs4462

# Actual Result
I can see the "No internet connection" warning when pulling to refresh or loading message.
But when sending a message when there is no internet connection, nothing happens.

# Expected Result
When sending a message without an internet connection, it should display a warning popup for the user.

[2021-01-18 06:22] tlle14 commented on #144
Thank @RockinPaul
Retest pass
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/15267635-eb65-4bcd-ab6f-550de7ac7a2b)

[2021-01-18 06:25] tlle14 commented on #119
Thank @bobs4462
Retest pass
https://images.zenhubusercontent.com/309637937/84a194c8-0c14-498c-acd8-d4a8f44048c3/video2018fd44_cdd3_47ad_88df_0f597813cd81video.mp4

[2021-01-18 06:25] #119 closed

[2021-01-18 06:29] tlle14 commented on #118
Thank @RockinPaul and @bobs4462
Retest pass
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/e94741be-e1cc-473d-9f1a-004ecd5cc447)

[2021-01-18 06:29] #118 closed

[2021-01-18 06:39] tlle14 commented on #125
Thank @bobs4462
Retest pass!

- Channel name:
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/085bf4c2-777a-47eb-90ab-44e5c701858e)

- Text of the label on ActionSheet
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/7779dc20-1291-478e-b0ea-60ddbd834244)

- Placeholder
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/f5

[2021-01-18 06:39] #125 closed

[2021-01-18 06:42] tlle14 commented on #148
Thank @bobs4462
Retest pass
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/f5d45860-a491-446a-814d-56f80e58eea4)

[2021-01-18 06:42] #148 closed

[2021-01-18 07:10] tlle14 commented on #132
Thank @bobs4462
Retest pass
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/2ecd12d7-1810-4aec-bd51-a044a2084d1f)

[2021-01-18 07:26] tlle14 commented on #133
Thank @bobs4462
Retest pass
https://images.zenhubusercontent.com/309637937/e80f3b75-b79b-4b3d-a542-a5b46e256168/video8f782968_9b5b_4e87_95d1_25b375a5a09cvideo.mp4

[2021-01-18 07:26] #133 closed

[2021-01-18 07:55] tlle14 commented on #141
Hi @bobs4462
Retest failed

It displays a blank page when loading a chat history
Please fix
https://images.zenhubusercontent.com/309637937/0779ea03-d424-4cdf-8d79-d3ae3b5be02d/videofd082f69_3018_410e_9fc3_194df375d3a1video.mp4

[2021-01-18 08:09] tlle14 commented on #147
Thank @bobs4462
Retest pass
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/4afa3e00-95d1-4201-b30e-2a23f284f146)

[2021-01-18 08:09] #147 closed

[2021-01-18 09:15] tlle14 opened #175 "Cannot display a mentioned from Web on the app"
# Precondition
Mentioned the user on Web App

# Actual Result
On Mobile, the mentioned text cannot display

**On Web**
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/caf73e96-8bd8-4777-8922-1cf448cb2768)

**On Mobile**
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/3acf7925-da15-4118-94b5-f9410a1e8897)

# Expected Result
The mentioned text sh

[2021-01-18 09:41] tlle14 commented on #127
Hi @RockinPaul @bobs4462

The long channel name should be displayed with three dots [...] as @BastiaanVanGaalen comment above.
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/561fd11e-4653-409b-8d4b-020e8e48a3f2)

Please fix to follow our design.
Thank you

[2021-01-18 09:49] tlle14 commented on #138
Hi @bobs4462
I don't see the change after refactoring. Please fix this issue.
https://images.zenhubusercontent.com/309637937/54723877-0161-42df-bfc2-9ec570f56ca8/videoc4af6de0_4b1f_48c3_989f_b2be6960c99avideo.mp4

[2021-01-18 09:59] bobs4462 commented on #138
Yes, it seems that it's broken again, because we lost the last activity information from API.
We'll try to retrieve it again by other means, I'll solve the issue in conjunction with #139

[2021-01-18 10:08] bobs4462 commented on #57
I don't think that is an issue anymore

[2021-01-18 10:08] bobs4462 commented on #38
The issue doesn't resurface on new API

[2021-01-18 10:20] bobs4462 commented on #137
@RomaricMourgues can you please, clarify, will it be possible to create a company without single workspace?

[2021-01-18 10:21] RomaricMourgues commented on #137
No this is not possible

[2021-01-18 10:21] tlle14 commented on #59
Retest pass! Thank @bobs4462
Now a Company Owner has only 1 company
And the Workspaces have an order as on Web App.

On Mobile:
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/8a43f85e-38b8-4547-9958-7025888ee359)

On Web:
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/5f41602c-0b3f-4302-a55c-ce0777f71071)

[2021-01-18 10:21] #59 closed

[2021-01-18 10:23] bobs4462 commented on #137
Great! One more thing, is it possible for the user to be a member of multiple companies, with the ability to change between them like in old version of twake?

[2021-01-18 10:24] tlle14 commented on #123
Thank @bobs4462
Retest pass!

https://images.zenhubusercontent.com/309637937/4afecf53-4c5e-4444-b21b-ce29adaf029f/video38593ba8_041b_4f5a_8383_d1499bc77e11video.mp4

[2021-01-18 10:24] #123 closed

[2021-01-18 10:26] tlle14 commented on #111
Hi @RockinPaul @bobs4462
Is the fix ready to be tested on this version twake.2.1.0?
I don't see the change for the Android device.
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/90ede3f2-f27f-4899-a82e-7fcfa52c366e)

[2021-01-18 10:31] bobs4462 commented on #136
@tlle14 Romaric said, that it won't be possible to have empty companies, so the issue should not ever occur in newer versions

[2021-01-18 10:39] tlle14 commented on #165
Hi @bobs4462 I cannot retest this issue.
But as I understand, a channel always contains at least a creator, that why it can never be empty.

[2021-01-18 10:39] #165 closed

[2021-01-18 10:40] bobs4462 commented on #135
@romanesko the issue still persists in new api, we are still not receiving direct messages with self

[2021-01-18 10:40] RomaricMourgues commented on #137
Yes it will still be possible, but should be a small option, main feature is to change workspace :)

[2021-01-18 10:42] tlle14 commented on #168
Hi @bobs4462 @RockinPaul
I cannot verify this ticket.

[2021-01-18 10:50] bobs4462 commented on #137
@tlle14, I don't see any point in keeping this issue around, as it seems impossible to create a company with no workspaces and having multiple companies should be a rare thing.

[2021-01-18 10:52] tlle14 commented on #132
It seems the issue relates to the server @bobs4462
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/ea622205-55ea-4756-875a-4fbac3ddc5ca)

[2021-01-18 10:59] tlle14 commented on #136
I agree. Currently, when creating a company, there will have a default Workspace

[2021-01-18 10:59] #136 closed

[2021-01-18 11:13] tlle14 opened #176 "Thread > When first replying to a message, the thread screen display without a parent message"
# Precondition
A message without replies

# Actual Result
When clicking reply to the message, it redirects to the thread screen but doesn't display a parent message.
The parent message displays after submit a reply
https://user-images.githubusercontent.com/69950655/104908230-bd512b80-59b8-11eb-95c0-796ec4d6486c.mp4

# Expected Result
It should display a parent message in the thread screen

# Envir

[2021-01-19 02:39] tlle14 commented on #137
I've been updated the business. When creating a company, there will have a default workspace, that why this issue will never happen.
Thank @RomaricMourgues and @bobs4462

[2021-01-19 02:39] #137 closed

[2021-01-19 02:41] tlle14 commented on #38
Let's check when we have a database migration.
Thank @bobs4462

[2021-01-19 02:55] tlle14 opened #177 "Channel list > Incorrect time displays in the channel list"
# Actual Result
The last message's time is incorrect in the channel list/ direct chat list.
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/9d5a131c-4e90-4628-87c9-aa7f7d57ff95)

While in the message:
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/1494022a-d1e5-419f-b2d5-b668ce61ddba)

# Expected Result
The time should be correct in the channe

[2021-01-19 03:22] tlle14 opened #178 "Login > The login screen displays a bad UI"
# Actual Result
 Login screen responsive with the inappropriate line breaks
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/a9414051-4b2d-4905-bc03-330a2d031bed)

# Expected Result
The login screen should responsive gracefully on the Mobile App.
Please see the screen on Chrome browser
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/a174105c-080

[2021-01-19 04:06] tlle14 opened #179 "Thread > Able to open a thread screen multiple times when clicking a parent message in the thread"
# Precondition
A parent message with its replies

# Actual Result
In the thread screen, it is able to click a parent message to open another thread screen\
https://images.zenhubusercontent.com/309637937/f73e1349-2cdb-4c70-9602-3c2598d393fa/video31eaf19c_b617_4ec7_a007_31050e8c4167video.mp4

# Expected result
In the thread screen, the parent message shouldn't be clickable

# Environment
Samsung And

[2021-01-19 04:20] tlle14 opened #180 "Having a limited reacting icon"
# Actual Result
After removing the emoji keyboard, the reaction has a limited icon list

https://user-images.githubusercontent.com/69950655/104987443-54b18f80-5a48-11eb-95e6-41d464bcbaa4.mp4

# Expected Result
Please consider the improvement

[2021-01-19 04:55] tlle14 opened #181 "Create Channel > UI improvement"
# Actual Result
1. Texts on the New Channel screen are bold.
=> The placeholders and textbox descriptions should display regular texts

2. User need to tap to the background to close the New Channel screen
=> There should have `Cancel` button

3. The textbox descriptions have inappropriate break line
=> Text should stay in one line.

![image](https://user-images.githubusercontent.com/69950655/1049

[2021-01-19 06:14] tlle14 opened #182 "Create Channel > Selecting channel icon button doesn't work"
# Actual Result
When creating a channel, the select icon button doesn't work
https://user-images.githubusercontent.com/69950655/104994917-fab8c600-5a57-11eb-889b-4aed931ce009.mp4

# Expected Result
When tapping on the select icon button, it should display an emoji keyboard for choosing the channel icon.
There should have a default icon as on Web App.
![image](https://user-images.githubusercontent.

[2021-01-19 06:40] tlle14 opened #183 "Create Channel > The keyboard doesn't disappear when existing the current screen"
# Actual Result
When opening a keyboard, then clicking the back button to go to the previous screen, the keyboard doesn't close. It's staying when screen transition.

https://user-images.githubusercontent.com/69950655/104996659-dc07fe80-5a5a-11eb-8693-49cd9098ddde.mp4

# Expected Result
The keyboard should automatically close when the textbox is unselected

[2021-01-19 07:29] tlle14 opened #184 "Login > UI collapse when selecting a textbox to input"
# Actual Result
In the login screen, UI collapses when the keyboard display
https://user-images.githubusercontent.com/69950655/105001593-97806100-5a62-11eb-8a57-615336a75647.mp4

# Expected Result
The login screen should responsive to the mobile app

# Environment
iOS device
iPhone 11 Promax 6.46 inch

[2021-01-19 07:53] tlle14 opened #185 "Create Channel > Able to create the channels with the same name"
# Actual Result
Recently, we are able to create multiple channels with the same name
https://user-images.githubusercontent.com/69950655/105004031-fd221c80-5a65-11eb-8018-bdc732721538.mp4

# Expected Result
Please confirm if this is expected behavior?
Many channels might be accidently created at a time when double taps on the `create` button

[2021-01-19 09:18] tlle14 opened #186 "Create Channel > Able to create a channel name has only spaces"
# Actual Result
Able to create a channel name has only spaces
![image](https://user-images.githubusercontent.com/69950655/105006353-1d9fa600-5a69-11eb-97f5-0ee86202777b.png)

# Expected Result
It should prevent users from creating a channel name that has spaces only

# Environment
Samsung mobile
Build version: twake.2.1.0

[2021-01-19 09:39] tlle14 opened #187 "Create Channel > Deleted channels appear when reopen the app"
# Precondition
The channel is deleted on Web App

# Actual Result
When reopening the mobile app, the deleted channels appear.
The user needs to refresh the app to make the channels disappear.

# Expected Result
The mobile app should update the latest state

# Environment
Android mobile
Version: twake.2.1.0

[2021-01-19 10:35] tlle14 opened #188 "Cannot unreact the parent message"
# Pre-condition
A parent message has replies

# Actual Result
It is able to react to a parent message. But when tapping the icon in the thread screen to un-react, the reaction is added more.

https://user-images.githubusercontent.com/69950655/105022165-01f1cb00-5a7c-11eb-935d-bebd09690d9e.mp4

# Expected Result
User should be able to un-react by tapping on the react icon in the chat screen or thre

[2021-01-19 10:48] tlle14 opened #189 "Messages doesn't appear right after sending"
# Actual Result
The message doesn't display instantly on the screen after submit

https://user-images.githubusercontent.com/69950655/105024128-5007ce00-5a7e-11eb-8f9a-d947d2d1bf82.mp4

# Expected Result
The message should display right after submitted

# Environment
Android app
Build version: twake.2.1.0

[2021-01-19 11:06] tlle14 opened #190 "Create Channel > 2 creation screens should optimized to 1 screen"
# Actual Result
We need to fill 2 screens to create a channel
![image](https://user-images.githubusercontent.com/69950655/105026221-e76e2080-5a80-11eb-9fee-d7c36eb06aaa.png)

![image](https://user-images.githubusercontent.com/69950655/105026171-d9200480-5a80-11eb-8766-2c456a508feb.png)

# Expected Result
I suggest creating a channel by 1 screen. Why don't we combine 2 screens into 1?
Please confir

[2021-01-19 11:16] tlle14 opened #191 "Create a direct chat is not convenient for user"
# Actual Result
Recently, creating a direct chat is the same way as creating a channel, which is not convenient for users to find a person he wants to chat with. And the UI is not appropriate.
This feature is not working now.

# Expected Result
Need help from BA, Designer to finish this feature.

# Environment
Android mobile
Build version: twake.2.1.0

[2021-01-19 12:28] bobs4462 commented on #142
Appending the docs for future use
https://www.notion.so/Twacode-a7ac6a19be214837b20035e12914293a#5081ab548cf94065bc0e9006d88233fb

[2021-01-19 12:36] bobs4462 commented on #187
We currently have no way to force update in application. The only solution is to periodically pull the fresh data from server.
I'll work on that, when I have time.

[2021-01-19 12:40] bobs4462 commented on #189
The issue is twacode, currently the application does not support parsing the message into twacode structure, so we send the message first, and then wait for the server to parse it for us.

In order to solve the issue we need to implement twacode parser in app.

@RomaricMourgues when approximately are you planning to work on twacode? You mentioned once, that you are planning to simplify it

[2021-01-19 13:05] RomaricMourgues commented on #189
We plan to work on it Q2-Q3 2021.
Twacode will evolve into extended markdown parsing, the source of truth will be a string (and not an array like now).
So you can get the text part of the messages when available and just parse it as pure markdown maybe ?

[2021-01-19 13:19] bobs4462 commented on #112
@tlle14 I think we can close this issue, it can be reopened if new design will have the same issue.

[2021-01-19 13:28] bobs4462 opened #193 "Add unread_messages and last_activity field to channels object"
Right now we are not getting those fields, which are crucial for the UX, and also used internally by the app for bookkeeping purposes.
We should investigate ways to get those fields back.

[2021-01-19 13:36] bobs4462 opened #194 "Use headless inappwebview in order to use Flutter forms"
Headless inappwebview is required so we can swap webview with native flutter forms, but still be able to communicate with twake console behind the scenes.

The library can be accessed here https://github.com/pichillilorenzo/flutter_inappwebview

[2021-01-19 16:07] BastiaanVanGaalen commented on #194
@bobs4462 how is that somehow related to UI? I mean can I somehow help you with resolving or fixing it?

[2021-01-19 16:27] BastiaanVanGaalen commented on #190
@tlle14 As keyboard shows up for users to feed some input into the system, it occupies more than 1/3 of a screen's height, given the amount of small-height devices we have to avoid scrolling and any other behaviour that eats away on small devices.
We can make A/B testing with second merged-into-one-screen version and compare UX feedback.
What do u think?

[2021-01-19 16:30] BastiaanVanGaalen commented on #181
@tlle14
@RockinPaul
1. agreed
2. i will add a "close" icon on the left side of modalView navBar
3. sure, they must be in one line

[2021-01-19 16:43] bobs4462 commented on #194
@BastiaanVanGaalen, it's directly related to UI, in a way that we are going to ditch webview with web forms, and use our own custom flutter forms instead, but we still need to somehow talk to auth web forms behind the scene (there's no way around). As for the help, no, it's mostly a technical issue which we can resolve ourselves, but thanks for asking :)

[2021-01-20 03:24] tlle14 commented on #126
Thank @bobs4462
Retest pass
https://images.zenhubusercontent.com/309637937/fd6c182b-48a6-4a4f-b89d-4e919ec2d78a/videob60c899d_b3c4_4204_ad64_45d2229692b5video.mp4

[2021-01-20 03:24] #126 closed

[2021-01-20 03:46] #57 closed

[2021-01-20 03:46] tlle14 commented on #57
Thank @bobs4462
The issue seems to no longer happen.

[2021-01-20 03:49] tlle14 commented on #124
Thank @RockinPaul and @bobs4462
Retest pass!
The month name has been shortened
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/382b7cfe-ef86-47c5-b506-cb759b1d5f4f)

[2021-01-20 03:49] #124 closed

[2021-01-20 04:35] tlle14 commented on #79
Retest pass!
Thank @bobs4462

[2021-01-20 04:35] #79 closed

[2021-01-20 04:37] tlle14 commented on #112
It's sure, retest pass!
Thank @bobs4462

[2021-01-20 04:38] #112 closed

[2021-01-20 04:48] tlle14 opened #197 "It is automatically login after reinstall the app"
# Actual Result
After reinstalling the app, it is automatically logged in (by data saved in the local storage?)

https://user-images.githubusercontent.com/69950655/105136819-df67bc80-5b24-11eb-8e60-44a22d7f3097.mp4

# Expected Result
It shouldn't automatically login  after reinstalling the app

# Steps to reproduce

1. Logout from the app
2. Uninstall the app
3. Reinstall the app again
4. Open the

[2021-01-20 06:18] bobs4462 commented on #197
Wow, that's unexpected, are you sure you logged out? Maybe it's the issues with web page which is used for login, I think we are not clearing cookies well enough. I'll try to reproduce the issue, and will get back in touch

[2021-01-20 06:40] tlle14 commented on #197
Sorry @bobs4462  for missing the evidence. I've just updated the video file. Please check

[2021-01-20 06:49] #176 closed

[2021-01-20 06:49] tlle14 commented on #176
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/301a2a3d-5604-4270-939b-e62952c3b24b/video579b61a8_93f8_4c0f_ba5e_cf7f70c5c3acvideo.mp4

[2021-01-20 06:55] RockinPaul commented on #182
The icon button is temporarily removed from this screen since we have no corresponding API for its implementation.

[2021-01-20 06:56] tlle14 commented on #132
Thank @bobs4462
Retest pass
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/514f86ec-6e39-4a69-94aa-881c9e202764)

[2021-01-20 06:56] #132 closed

[2021-01-20 07:00] tlle14 commented on #139
Thank @bobs4462
Retest pass

On Channel list:
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/e785331b-dddc-47e2-9462-181efd03508c)

On details chat:
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/40ae98d8-a799-4a1c-8112-906b138fac76)

[2021-01-20 07:00] #139 closed

[2021-01-20 07:19] tlle14 opened #198 "Create Channel > Creation screen is hidden when reopening"
# Actual Result
Open a create channel screen then close it.
When reopening the screen, it is hidden
https://user-images.githubusercontent.com/69950655/105140502-623f4600-5b2a-11eb-886c-db738a59e1de.mp4

# Expected Result
The screen should be shown normally

# Environment
Android mobile
Build version: twake.2.1.1

[2021-01-20 07:22] tlle14 commented on #183
Thank @RockinPaul
Retest pass
https://images.zenhubusercontent.com/309637937/8f6bcb21-9176-455e-98ff-4fb4090c8ecc/video0fb120d1_7a80_4763_949d_3e2a861187ebvideo.mp4

[2021-01-20 07:22] #183 closed

[2021-01-20 07:22] RockinPaul commented on #185
Yes, possible name duplication is expected behavior.
However, the issue that allows multiple taps on create button will be resolved in the next build.

[2021-01-20 07:37] tlle14 commented on #179
Thank @bobs4462
Retest pass
https://images.zenhubusercontent.com/309637937/69936dac-8a6e-4a36-802b-f8ee1b589bdd/video10cd45b4_911a_4e9f_b159_44f0b3a7ae50video.mp4

[2021-01-20 07:40] RockinPaul commented on #111
@tlle14  Right now there are no well-known solutions that work properly on Android.
https://medium.com/dev-genius/different-ways-to-change-the-status-bar-and-navigation-bar-color-ios-and-android-in-flutter-a786e098f573 - for example, none of these will work as expected on Android because:
1) AppBar settings override SystemChrome behavior on the first widget's rebuild after applying setSystemUIOver

[2021-01-20 08:01] tlle14 commented on #111
I see.
Thank @RockinPaul for the detailed explanation.
I should close this ticket and wait for the user feedback.

[2021-01-20 08:01] #111 closed

[2021-01-20 08:13] #179 closed

[2021-01-20 08:37] tlle14 opened #199 "Able to open another thread screen when selecting reply to a parent message"
# Actual Result
It is able to open a thread screen many times when replying to the parent message

https://images.zenhubusercontent.com/309637937/b9683879-3bcb-4601-a02c-f0650af6edae/videof16372d3_2c67_4caf_b652_0a9ae43dfe01video.mp4

# Expected Result
- It shouldn't open another thread screen when replying to a parent message.
- OR the context menu shouldn't have a reply button in the thread scre

[2021-01-20 08:59] tlle14 commented on #149
Hi @bobs4462
Retest failed!
Text is not saved when reopening the thread screen.
https://images.zenhubusercontent.com/309637937/44f65a9f-fcb5-4c3d-84b3-01ea71c4bc87/videocc1c43c2_083b_49bb_b33b_c0091d60306dvideo.mp4

[2021-01-20 09:21] tlle14 commented on #141
Hi @bobs4462
The issue above is no longer existing.
But tapping `See all answers` while loading chat history will open an empty screen
https://images.zenhubusercontent.com/309637937/04e3b48a-410b-46d3-b431-9c049aacea05/video9e577669_1fd0_4ef1_90a0_662c087177f8video.mp4

[2021-01-20 09:43] tlle14 commented on #182
Hi @RockinPaul
I think we should remind @RomaricMourgues to work on this API, or we don't have that feature on the mobile app.
Let's move this issue to the icebox column.

[2021-01-20 09:49] RomaricMourgues commented on #182
We do have an api for this, you only need to set { "icon": "🚴‍♀️" } in the channel object when creating / updating it :)

[2021-01-20 09:52] tlle14 commented on #182
@RockinPaul: Babur removed the emoji keyboard so we cannot select an icon for a channel. Could you please confirm? @bobs4462 ?

[2021-01-20 10:04] tlle14 commented on #69
Hi @bobs4462

1. The app should have an internet connection warning when:
- reacting a message
- opening a thread
- deleting a message
- switching workspaces
- creating a channel
without internet.

2. The message should be the same in all actions: a text message, a popup, or a dialog.
3. The warning message should be placed where the user can easily see it.

Please work with our Designer and BA fo

[2021-01-20 10:31] tlle14 commented on #127
Thank @RockinPaul
Retest pass
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/d8125d48-aca2-4db6-9549-4ba82d91312f)

[2021-01-20 10:31] #127 closed

[2021-01-20 10:43] tlle14 opened #200 "Cannot change the reaction icon"
# Actual Result
Cannot change the reaction icon from one to another

https://user-images.githubusercontent.com/69950655/105163872-03d49080-5b47-11eb-8723-bef3a0ae3f76.mp4

# Expected Result
It should be able to change the reaction icon for the message

[2021-01-20 11:00] tlle14 opened #201 "Cannot delete a message"
# Actual result
Cannot delete a message
https://user-images.githubusercontent.com/69950655/105164835-35019080-5b48-11eb-8284-fbf6e71a3eca.mp4

# Expected Result
It should be able to delete a message successfully

# Environment
Android mobile
Build version: twake.2.1.1

[2021-01-20 11:06] tlle14 commented on #190
Hi @BastiaanVanGaalen
Could you please discuss this with our BA and PO to have a final decision?
I guess the scroll is okay to appear.

[2021-01-20 11:23] tlle14 commented on #168
The adding direct screen is similar to adding channel screen.
I don't think it's accurate.
Please rework.

[2021-01-20 11:24] tlle14 commented on #172
The app has been changed a lot based on the new design.
I will verify them again.

[2021-01-20 11:24] #172 closed

[2021-01-20 11:24] #167 closed

[2021-01-20 11:24] #166 closed

[2021-01-20 11:37] bobs4462 opened #202 "Notifications are broken on beta.twake.app"
Currently notifications are received by the application, but they contain no information whatsoever
Here's an example.

```{notification: {title: null, body: null}, data: {notification_data: null}}```

[2021-01-20 11:53] bobs4462 commented on #182
@RomaricMourgues we used to have emoji short names in icons, not their utf representation. Has this behavior changed in new API?

[2021-01-20 11:56] bobs4462 commented on #182
Yes for now we searching for better solution, we might take existing emoji picker library and modify them to our needs, but we also should make sure all the emoji that are present in chosen library are supported by twake

@RomaricMourgues What would you suggest we do, about this emoji compatibility thing?

[2021-01-20 14:34] RomaricMourgues commented on #182
I suggest we go with default emojis in UTF-16 format, before we where using :emoji-name: format but as this is not consistant, lets continue with simple UTF-16 (default emoji font).

So instead of sending :smile: we send 😃 directly.

That said, you should be able to use any emoji provider.

[2021-01-20 14:36] RomaricMourgues commented on #202
Currently working on this here: https://github.com/TwakeApp/Twake/issues/717 <https://github.com/TwakeApp/Twake/issues/717>

Should be good for end of week (sorry I have plenty of meetings)

Romaric

[2021-01-20 18:52] bobs4462 opened #205 "Rework emojis to use UTF representation instead of emoji short names"
Emojis are currently saved as emoji short name, which are very inconsistent across different libraries.
So instead of using short names we should start using UTF code representations of them.

[2021-01-20 19:11] bobs4462 commented on #141
It took me a while to catch this bug (with throttling internet connection), but this bug is no more :)

[2021-01-21 02:41] tlle14 commented on #186
Thank @RockinPaul
Retest pass
`Next` button is still disabled when there are only spaces in the textbox

[2021-01-21 02:41] #186 closed

[2021-01-21 02:49] tlle14 commented on #188
Thank @bobs4462
Retest pass
https://images.zenhubusercontent.com/309637937/4b8a6f37-d648-468c-807d-896b3669b6fb/video5b51f89e_3c16_45c3_9ff1_0ee37fbd01b1video.mp4

[2021-01-21 02:49] #188 closed

[2021-01-21 02:51] #200 closed

[2021-01-21 02:51] tlle14 commented on #200
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/be190d04-eaa3-4467-a593-8697a83d9d9e/videod27590f5_a6d2_4abd_a0c2_40c4a4d43dbfvideo.mp4

[2021-01-21 02:54] tlle14 commented on #187
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/0f78bba2-35f3-4e42-aabc-96fcd81d8005/videoaea34d73_35ce_4188_bd03_6760974a6f91video.mp4

[2021-01-21 02:54] #187 closed

[2021-01-21 02:56] tlle14 commented on #199
Thank @bobs4462
Retest pass
https://images.zenhubusercontent.com/309637937/a7dd1af7-4121-47e3-a2b3-88e312b45fb7/video0c673957_6ecf_4ece_9dcb_0c04fa51532dvideo.mp4

[2021-01-21 02:56] #199 closed

[2021-01-21 03:17] tlle14 commented on #185
Thank @RockinPaul
Retest pass

https://images.zenhubusercontent.com/309637937/e98182c6-69d1-48cf-a58-0c542f08a2d2/video197cf86d_9a77_4d3f_9d5d_0e8633ca2785video.mp4

[2021-01-21 03:17] #185 closed

[2021-01-21 03:24] tlle14 commented on #141
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/a57ca092-532b-47a1-aef0-9dedb78f7a1a/videoddc31728_5e12_497d_b68f_38365e0674b5video.mp4

[2021-01-21 03:24] #141 closed

[2021-01-21 03:48] tlle14 commented on #197
@bobs4462 I cannot log in to the app using another account. I guess this issue has the same root cause as this ticket.
Please be noted.

[2021-01-21 04:22] tlle14 opened #206 "Create Channel > Member is able to create a channel"
# Precondition
The current user is a member of the company
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/5ca11907-4ded-4ef4-9901-e93c54565afb)

# Actual Result
A Member is able to create a channel

# Expected Result
When the current user is a member, he is not allowed to create a channel.
The channel creation button should be hidden.

# Environment
Android app
Build ve

[2021-01-21 06:28] tlle14 opened #207 "Login screen > System back button cannot back to login screen"
# Actual Result
On the login screen, when opening a link then tapping the system back button, it closes the app instead of back to the login screen
https://images.zenhubusercontent.com/309637937/3c36516d-80eb-42b2-952c-4de4896126e8/videod8cde4fc_6a21_4c2f_8d27_fb9e356eea8evideo.mp4

# Expected Result
When opening the links in the login page, tapping the system back button will redirect to the logi

[2021-01-21 06:51] tlle14 opened #208 "UI > On menu sidebar, it should display a workspace creation button instead of show company list button"
# Actual Result
On the menu sidebar, it's displaying a show company list button.
The current business allows a user belongs to 1 company, that why the company list is redundant.

![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/82907940-45f5-4c79-859e-7bfd3d64d84e)

# Expected Result
If the current user is Admin or Company Owner, it should display the Workspace create but

[2021-01-21 07:19] bobs4462 commented on #208
@BastiaanVanGaalen We need a design for creating a new workspace, you can contact @romanesko if you need the list of fields for the creation form.

[2021-01-21 07:20] tlle14 opened #209 "App should have confirmation dialog before sign out"
# Actual Result
Currently, tapping to "sign out" button, the user will be logged out immediately
https://user-images.githubusercontent.com/69950655/105316656-c417b280-5bf3-11eb-9e02-0cea71be4cfc.mp4

# Expected Result
The app should have a confirmation dialog asking the user to be sure when signing out

# Environment
Android app

[2021-01-21 07:24] bobs4462 commented on #69
@BastiaanVanGaalen Can you please provide us with one consistent design for this kind of warning messages? You can contact our colleagues from Vietnam if you need some additional info.

[2021-01-21 07:36] bobs4462 commented on #209
@BastiaanVanGaalen can you please sketch us some dialog design, before we implement this feature?

[2021-01-21 07:46] tlle14 opened #210 "Thread > When a parent message and the replies is short, they jump from top to the bottom alignment"
# Actual Result
When the thread is short, it aligns to the top then jumps to the bottom.
Please refer to this evidence:

https://user-images.githubusercontent.com/69950655/105318796-8cf6d080-5bf6-11eb-88dd-5690fc39f517.mp4

# Expected Result
When the thread is short, it should always display on the top.
When the thread is long, it should always display the latest replies. The user is able to scrol

[2021-01-21 07:51] tlle14 opened #211 "It takes time to logging out"
# Actual Result
It takes about 2-3 seconds displaying a white screen when signing out

https://user-images.githubusercontent.com/69950655/105319762-e57a9d80-5bf7-11eb-99c0-bd5041caca95.mp4

# Expected Result
After confirming to logout, the app should display the login page without latency

[2021-01-21 08:16] tlle14 opened #212 "It takes time to load a warning message when opening a thread without replies"
# Actual Result
When clicking reply to the parent message without replies, it open a thread screen but takes time to load a message `No responses yet`

https://images.zenhubusercontent.com/309637937/941e6ed7-766d-4d38-b015-255cfbaa00e5/video879b4a2a_ce63_4732_a4f4_055bf5a18403video.mp4

# Expected Result
It should show the screen without latency

# Environment
Android app
Build version: twake.2.1.

[2021-01-21 08:21] tlle14 commented on #212
This might be the same root cause with https://app.zenhub.com/workspaces/twakemobile-5fa5101d98879700119ccea9/issues/twakeapp/mobile/189

[2021-01-21 08:51] tlle14 opened #213 "White background displays when tap and hold the text block"
# Actual Result
When tap and hold the text block, it displays a white background of the text
https://images.zenhubusercontent.com/309637937/e826d6a1-1517-467f-93d5-0dfae90907fb/video0fcb6bd0_4faf_4aef_a162_870840925d45video.mp4

# Expected result
When tap and hold the text block, the text block background should be the same as the message background

# Environment
Android app
Build version: twake.

[2021-01-21 09:07] bobs4462 commented on #206
@romanesko Can we get user permissions in /user method from proxy?

[2021-01-21 09:11] tlle14 opened #214 "UI > Workspace list design comparison"
# Actual Result
1. Recently, the app doesn't display the unread message counter
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/48dbae03-a341-4a18-ada5-bdf7ab014646)

2. Displaying the number of members below the workspace name
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/83e705ad-1560-4ba0-866b-7d832de8e4f2)
# Expected Result
Please confirm

[2021-01-21 09:12] bobs4462 commented on #63
@tlle14 is there any problem with this issue, it seems to be stuck in review for a while now...

[2021-01-21 09:15] bobs4462 commented on #214
@romanesko do we have an access to unread messages count for workspaces from api

[2021-01-21 09:22] tlle14 commented on #214
Hi @bobs4462 @romanesko
I updated the description. Please check

[2021-01-21 09:42] tlle14 opened #215 "UI > Channel list screen comparison"
### 1. The timestamp is displaying in the bold style
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/04c3f817-1cad-48ef-b63b-19289dd3ae03)

Expected Result
It should be in regular style as in the design
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/dedb3952-b37b-42b2-8796-9262eabbd2b3)

### 2. It displays a channel description below the chann

[2021-01-21 09:47] tlle14 commented on #63
Hi @bobs4462
It's because of this issue: https://github.com/TwakeApp/Mobile/issues/175

[2021-01-21 10:02] tlle14 opened #216 "Thread > It doesn't display a date of the parent message"
# Actual Result
In the thread screen, it doesn't display the date of the parent message. It only displays the time.
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/d746119d-b6f0-41f5-b2f3-c8ee8db2ae64)

# Expected Result
It should display both the date and time for the parent message in the thread screen

# Environment
Android app
Version: twake.2.1.2

[2021-01-21 10:52] bobs4462 commented on #197
Please be noted.

Which account are you trying to log in with? Does it belong to any company which is created on new database?

[2021-01-21 10:54] bobs4462 commented on #197
It seems to be a very evasive bug, and we are unable to reproduce it. Can you please provide us with more data: phone model, android version?

[2021-01-21 11:05] bobs4462 commented on #214
What's the point in displaying company name, if company name is always the same? :)

[2021-01-21 20:57] bobs4462 commented on #215
@BastiaanVanGaalen please can you confirm and approve that we implement those design features, or will the new design be completely different?

[2021-01-21 21:03] bobs4462 commented on #96
@RomaricMourgues I think we can close these issue, because not much can be done about it for now, do you agree?
Although we can implement a local caching of the images, but that's not going to solve the issue entirely, because we have get the images first before we can cache them, in Russia we still receive images 1 out 10 attempts to load them on average.

[2021-01-21 21:11] bobs4462 opened #219 "Develop a proxy method to retrieve application entities"
The method should be analogous to the one for retrieving users at **/users**
It should support both batch application loads and single application retrieval

[2021-01-21 21:51] RomaricMourgues commented on #96
Use the cached image widget from Flutter at least but yes this 1 out of 10 issue is the real problem, let see if it still happen once we are on ovh instead of AWS.

[2021-01-22 06:31] bobs4462 commented on #96
Alright, let's wait for the OVH migration then

[2021-01-22 07:05] BastiaanVanGaalen commented on #215
@bobs4462 As for remarks given by @tlle14

[2021-01-22 07:06] tlle14 commented on #180
Thank @bobs4462
Retest pass
We have an emoji keyboard
https://images.zenhubusercontent.com/309637937/7dce4ebb-6c89-47cb-b8b0-fbfa4a7b5059/videoba1b83c3_1116_468d_994a_28d25436458cvideo.mp4

[2021-01-22 07:06] #180 closed

[2021-01-22 07:09] BastiaanVanGaalen commented on #208
@romanesko would you be so kind to provide me a list of fields for a workspace creation flow.

[2021-01-22 07:10] BastiaanVanGaalen commented on #209
@bobs4462 Of course, i will do it immediately.

[2021-01-22 07:16] BastiaanVanGaalen commented on #190
@today i will verify the UX of "separate screens" flow and provide you with a final decision on that.

[2021-01-22 07:18] BastiaanVanGaalen commented on #69
@bobs4462 Ok, i will implement this as well.

[2021-01-22 07:20] BastiaanVanGaalen commented on #191
@tlle14 Creating direct conversation must be done with one tap on the screen. Let's figure out what's is wrong about current flow.

[2021-01-22 07:24] #205 closed

[2021-01-22 07:24] tlle14 commented on #205
I confirm that the emoji keyboard is added.
Thank @bobs4462

[2021-01-22 07:43] tlle14 commented on #175
Thank @bobs4462
Retest pass
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/acbfa1ff-2262-4b72-a293-ab7e97feed2f)

[2021-01-22 07:43] #175 closed

[2021-01-22 07:53] tlle14 commented on #143
Thank @bobs4462
Retest pass
https://images.zenhubusercontent.com/309637937/658d4301-4e14-4e03-9267-606205d20f7e/videoe876f17b_b102_47c0_bcc2_2a0085787b0fvideo.mp4

[2021-01-22 07:53] #143 closed

[2021-01-22 07:55] tlle14 commented on #63
Thank @bobs4462
Retest pass
https://images.zenhubusercontent.com/309637937/d426112e-22d0-4cdc-bbba-fe071dff1a22/video681e82fd_2802_4805_aa22_176d38f6e474video.mp4

[2021-01-22 07:55] #63 closed

[2021-01-22 07:57] tlle14 commented on #213
Thank @RockinPaul
Retest pass
https://images.zenhubusercontent.com/309637937/04ca9c46-976b-4567-8451-a1d8376b39b7/videob7e7133f_0289_4eeb_bab3_80e361f39ca8video.mp4

[2021-01-22 07:57] #213 closed

[2021-01-22 08:02] RockinPaul commented on #106
Flutter team is still working on wrapping issue solutions for text widgets: https://github.com/flutter/flutter/issues/25287
The suggested workaround does not fit Twacode system. However, since the Twake team decided to get rid of Twacode and use Markdown, we'll return to this issue during the new layout system implementation.

[2021-01-22 08:05] tlle14 commented on #149
Thank @RockinPaul
Retest pass
https://images.zenhubusercontent.com/309637937/5639d1d2-595a-4c3c-a174-7cdf6c07d593/videof3505ca6_a0ac_4488_9c78_dbf83b249113video.mp4

[2021-01-22 08:05] #149 closed

[2021-01-22 08:14] BastiaanVanGaalen commented on #209
@RockinPaul System-provided sign out views for both platforms:
https://zpl.io/bP6Ww9m

[2021-01-22 08:17] tlle14 commented on #191
Hi @BastiaanVanGaalen @RockinPaul @bobs4462
The feature isn't working.
1. When selecting the search box, the keyboard doesn't show.

https://images.zenhubusercontent.com/309637937/bd4baceb-1588-4e40-bd49-2126aa1f0746/video1b616031_1009_49e9_ac06_99edbc35bd94video.mp4

2. We should remove the suggested member, it's not appropriate.
The member list is not correct data.
Even it's real data, when we h

[2021-01-22 08:49] tlle14 commented on #210
Hi @RockinPaul

Retest pass
https://images.zenhubusercontent.com/309637937/da9b55b7-9fd7-4724-8163-37ba248ffc23/videoedb38fbc_22f3_457b_83d1_066e3105fdf2video.mp4

Retest failed!
It doesn't show the latest reply when opening a long thread.
https://images.zenhubusercontent.com/309637937/effdcdfc-992e-4b0b-868c-7d7502c89263/video013c1502_b21c_4e18_982d_57335f27fa9cvideo.mp4

[2021-01-22 08:50] tlle14 commented on #198
Cannot retest because of the issue unable to open the keyboard
https://app.zenhub.com/workspaces/twakemobile-5fa5101d98879700119ccea9/issues/twakeapp/mobile/191

[2021-01-22 08:51] #168 closed

[2021-01-22 09:08] tlle14 opened #220 "The message from Web app cannot be updated on Mobile App"
# Precondition
Sending a message on the Web App

# Actual Result
The message cannot be automatically updated on the Mobile App
After pulling to refresh, the message isn't updated. User need to logout then login again to see the update.
https://images.zenhubusercontent.com/309637937/2c5623d5-4f83-425b-acaf-09722bb3a94b/videoc83096c9_b268_4b28_bdb6_f982217d071avideo.mp4

# Expected Result
The messag

[2021-01-22 09:38] tlle14 opened #221 "The message size is too small when compare with the composing text"
# Actual Result
The message size is too small when comparing with the composing text
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/e5d52dc4-ff42-40b1-9815-ed4c721f173f)

# Expected Result
The font size should be the same as in the design
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/fd395d9a-f0c0-44e9-bc99-0660fa201397)

# Environment
Andro

[2021-01-22 09:40] tlle14 commented on #215
@bobs4462 @BastiaanVanGaalen
If the last message preview the channel name, where the channel description will be displayed? In the channel screen, will replace the number of members in the channel?

[2021-01-22 09:45] tlle14 commented on #209
@BastiaanVanGaalen @bobs4462
Do we have a new design on zeplin? Please invite me to the team (don't be scared ;) )

[2021-01-22 09:56] tlle14 opened #222 "UI > the Back button design"
# Actual Result
Recently, there are two kinds of the back button `<-` and `<`

![image](https://user-images.githubusercontent.com/69950655/105476002-a8cfa480-5cd2-11eb-9d75-e49c37c4fe8e.png)

![image](https://user-images.githubusercontent.com/69950655/105656653-46a2b980-5ef5-11eb-94a6-732bf04397dc.png)

# Expected Result
We should display 1 kind of back button.
It should be the one in our design
!

[2021-01-22 09:58] tlle14 opened #223 "Cannot close the emoji keyboard directly"
# Actual Result
The user cannot close the Emoji Keyboard directly. He needs to back to the normal keyboard then closes by the system button

https://user-images.githubusercontent.com/69950655/105475629-25ae4e80-5cd2-11eb-94f4-5c4901764dcb.mp4

# Expected Result
The Emoji keyboard should be able to close directly by the system button.

# Environment
Android App
Build version: twake-2-2-0

[2021-01-22 10:22] tlle14 commented on #208
Hi @bobs4462 and @BastiaanVanGaalen
Sorry, we need to move this ticket into the icebox column.
We don't have a plan for implementing this feature. Let's skip this one.

Thank you

[2021-01-22 10:27] tlle14 commented on #197
Hi @bobs4462
I always got this issue when testing with:
- the company owner account
- on Samsung A51
- Android 10

[2021-01-22 10:27] tlle14 commented on #197
I will try with other devices.

[2021-01-22 10:40] tlle14 opened #224 "Thread > It doesn't display the newest message line when chatting or opening a thread."
# Actual Result
1. When the user opens a thread, it doesn't show the newest message in a thread

https://user-images.githubusercontent.com/69950655/105480778-bd16a000-5cd8-11eb-8494-c0e98e789714.mp4

2. When the user continues sending the messages in a thread, the newest message line doesn't display.
The screen stays in the current state.

https://user-images.githubusercontent.com/69950655/1054806

[2021-01-22 10:49] tlle14 opened #225 "UI > The icons in the context menu is different with those in the design"
# Actual Result
1. The icons of reply, copy, delete, emoji button are different with the design
![image](https://user-images.githubusercontent.com/69950655/105481526-c3f1e280-5cd9-11eb-9948-79850bf34c7b.png)

2. The number of highlight emojis is 7 while the design has only 5

# Expected Result
Please confirm if we should follow the design.
The details make it looks better
![image](https://user-ima

[2021-01-22 11:18] tlle14 opened #226 "UI > the chat textbox"
# Actual Result
1. The chat textbox is too small
2. The borderline is too bold

![image](https://user-images.githubusercontent.com/69950655/105484233-960e9d00-5cdd-11eb-8c7f-7ff1521788d0.png)

# Expected Result
It should conform to the design

![image](https://user-images.githubusercontent.com/69950655/105484632-34026780-5cde-11eb-9b80-dde87f6c1077.png)

# Environment
Android app
Build version: tw

[2021-01-22 11:20] BastiaanVanGaalen commented on #69
@RockinPaul
Dev hand off: https://zpl.io/2pwyzkJ
When on direct messaging screen and there is no internet connection, right under the header yellow-coloured view with text and animated icon and rotating clock hand + below a timestamp there will be one more animated clock icon

[2021-01-22 11:46] #208 closed

[2021-01-22 11:51] RockinPaul commented on #95
We decided to get rid of collapsable messages because it violates the basic principles of a messenger. People have a conversation to express their thoughts to each other - that means they wanted to be heard. We do not suppose someone to treat someone's message without attention by not unwrapping it. Because chat message is not the same as social network post.

However, I wanted to make a remark on

[2021-01-22 11:51] #95 closed

[2021-01-22 11:53] BastiaanVanGaalen commented on #215
@tlle14 This meta information such as channel photo viewing and description should be singled out onto a "channel details" screen.
I will implement this screen in further iterations.

[2021-01-22 11:58] bobs4462 commented on #226
@BastiaanVanGaalen can you suggest some adjustments to current design?

[2021-01-22 12:01] bobs4462 commented on #222
@BastiaanVanGaalen Should we stick to old design, or keep using yours?

[2021-01-22 12:03] bobs4462 commented on #225
@BastiaanVanGaalen we are currently using material icons, and those in the mockup are custom made, should we somehow try to extract those or will you provide us with other ones?

[2021-01-22 12:12] BastiaanVanGaalen commented on #181
@RockinPaul  Channel creation flow has been updated, i added "Cancel" button on the first screen:
https://zpl.io/VQl3o95

[2021-01-22 12:50] RockinPaul commented on #222
Now it looks like this: ![Simulator Screen Shot - iPhone 12 Pro Max - 2021-01-22 at 15.47.58.png](https://images.zenhubusercontent.com/5ffc24a2a62ff7cf134e10b3/2580781d-6e13-455b-aec9-7e902549b025)![Simulator Screen Shot - iPhone 12 Pro Max - 2021-01-22 at 15.48.18.png](https://images.zenhubusercontent.com/5ffc24a2a62ff7cf134e10b3/52144b1c-8b83-442e-b380-1c31c7f78fd4)

Arrow is removed from the ca

[2021-01-25 02:43] tlle14 commented on #69
Hi @BastiaanVanGaalen
Could you please invite me to the Zeplin project? I need to compare the app with the design.
Thank you!

[2021-01-25 03:06] tlle14 commented on #215
Thank @BastiaanVanGaalen
So we decide to implement the current design and fix those UI issues as in the description.

[2021-01-25 03:09] tlle14 commented on #222
Thank @RockinPaul for the improvement.
I've updated the image in the description.

[2021-01-25 04:56] tlle14 commented on #197
I also cannot reproduce this issue on Xiaomi Note 9.

[2021-01-25 13:40] BastiaanVanGaalen commented on #222
@RockinPaul confirmed, thank you!

[2021-01-25 13:43] BastiaanVanGaalen commented on #225
@RockinPaul in case you're unable to extract them from source file, then use material set.

[2021-01-25 14:50] BastiaanVanGaalen commented on #225
We will stay with material set for now.

[2021-01-25 14:50] #225 closed

[2021-01-26 02:23] tlle14 commented on #222
Hello @RockinPaul
Please don't close the issue. I need it open for retesting.
If you think the issue is not a bug, convince me to close (Comment then assign to the Review/QA column)

Thanks for your collaboration!

[2021-01-26 07:30] #106 closed

[2021-01-26 08:27] RockinPaul commented on #222
Hello @tlle14

Sorry, but I have no time to convince you since @BastiaanVanGaalen has already confirmed it. The issue has nothing to do with any kind of failure at all because the implementation was compliant with mockups provided by @BastiaanVanGaalen from the start, and the issue has been created by you without checking these mockups.

[2021-01-26 08:35] bobs4462 opened #228 "Add twacode image to markdown image conversion on proxy layer"
As we decided to adopt markdown as main format for storing message strings, we need to start migration toward it already.
Currently basic styles (bold, italic) are encoded in message string, so no issue there, but images are only present in twacode. We need to grab those images on proxy from twacode and insert them into markdown string before returning it the client.

[2021-01-26 08:36] bobs4462 commented on #228
https://pub.dev/packages/flutter_markdown - here's the documentation regarding the library used for markdown parsing

[2021-01-26 08:46] tlle14 commented on #222
Hi @RockinPaul ,
This issue is about using a consistent design of the back button (`<` or `<-`) when comparing the actual one and the mockup design.
If you know the creating channel mockup, please send me to verify. I don't see the design on xd.adobe.com.

cc: @bobs4462 @BastiaanVanGaalen

[2021-01-26 10:50] PokoinikRWS commented on #222
Let use one style.
It's not a show stopper, design will be changed soon. Lets focus on functionality.

[2021-01-26 10:55] BastiaanVanGaalen commented on #222
@tlle14 Hi there, as for consistency compliance i will keep track of all inconsistent parts of the app so no worries. As soon we have somehow stable version of the app with all functional units working properly it will become more reasonable to focus on UI consistency.
Moreover, it will be totally overhauled in a near future.

For now I beg you to keep focus on functionality and error handling rat

[2021-01-26 11:02] romanesko commented on #206
Info from Romaric: **Anybody can create a channel** like in Slack, the only not allowed operation are destructive operations (reserved to admin and channel original creator).

Not an issue.

[2021-01-26 11:02] #206 closed

[2021-01-26 11:05] romanesko commented on #52
@bobs4462 skipping this in case of moving to md?

[2021-01-26 11:13] bobs4462 commented on #52
@romanesko Not exactly, markdown parser will render the quotations on client side, that's not the issue here, the problem is that the web client doesn't care about text representation for now, it relies solely on twacode structure for rendering purposes. So we need to parse quotes, and convert them to twacode on proxy for now (before web catches up at least)

[2021-01-26 11:39] romanesko commented on #135
fixed

[2021-01-26 12:35] romanesko commented on #52
Got it.
Fixed, now you can send messages started with >
(not sure if we need this in future)

[2021-01-26 15:15] bobs4462 opened #229 "Add a new feature: message editing"
For now it will suffice to just take original message, let the user edit it as he would compose an ordinary message, and send the edited string to proxy with additional info.
Proxy endpoint:
[code]

[2021-01-27 06:44] bobs4462 opened #231 "Improve application load icons"
There's a tool for icon generation at https://appicon.co/
There's a suggestion, that we should use it to generate better looking icons for mobile application.
Here's some example icons for both iOS and Android
[https://app.zenhub.com/files/309637937/bfd59aff-48bf-4923-b4d4-075865c59c6b/download](https://app.zenhub.com/files/309637937/bfd59aff-48bf-4923-b4d4-075865c59c6b/download)
[https://app.zenh

[2021-01-27 07:13] bobs4462 opened #232 "Rewrite scrollable messages list using basic listviews in flutter"
Widgets that should be rewritten are:
- messages_grouped_list - widget which is used to show the list of messages in channel (public or direct), currently it makes use of third party library sticky_grouped_list which is a little buggy
- thread_messages_list -  widget which is used to show the list of messages in a particular thread, it uses scrollable_positioned_list, and it's usage for the given

[2021-01-27 15:29] bobs4462 opened #233 "Add support for sentry logging into mobile twake application"
Currently application doesn't log any data anywhere, as a result we are unable to catch some of the bugs which happen during application usage in release mode.

The obvious quick and dirty solution is to add sentry logging right into application itself.
It should be optional, as to not flood sentry server with data during development phase, and only should log exceptions in release mode.

[2021-01-27 16:30] bobs4462 commented on #233
https://flutter.dev/docs/cookbook/maintenance/error-reporting
Here's some good documentation on how to setup sentry for flutter application

[2021-01-28 09:07] bobs4462 opened #234 "Remove screen flicker when adding or removing messages"
In current implementation when adding or removing a message from the list, in order to immediately render the updated list we are forced to use keys on MessageTile widgets. But this approach has one unpleasant side effect - it forces the entire screen to be rerendered which causes it to flicker, which in turn negatively affects UX. We should investigate ways to add/remove messages and update the s

[2021-01-28 11:08] romanesko commented on #177
@bobs4462 Now timestamps are in ms, please fix in app

[2021-01-28 11:11] romanesko opened #235 "List of unread messages"
Method with information about unread messages for the user.
Simply lists the messages (with  full info, workspace, channel, thread) that user haven't received yet.

[2021-01-28 11:13] romanesko commented on #235
https://mobile.api.twake.app/documentation/static/index.html#/Messages/get_messages_whatsnew

GET /messages/whatsnew?company_id=<company_id>

@bobs4462 pls check and implement it if it's ok

[2021-01-28 16:20] bobs4462 opened #236 "Fix loader icon collapse when opening channel messages"
![untitled.gif](https://images.zenhubusercontent.com/5f9ab4c67851dd4a461c956a/9208347d-2456-4b3b-8843-1d298105e3c0)

Currently it looks as it show in video, space around loader collapses, and message editing field takes up all the space

[2021-01-29 03:32] tlle14 opened #238 "The message cannot display the line break"
# Actual Result
A message cannot display a line break
https://user-images.githubusercontent.com/69950655/106228071-2f2d3e80-621d-11eb-9b66-b29352aa5d70.mp4

# Expected Result
It should display the line break as the user inputted.

# Environment
Android App
Build version: twake.2.2.2

[2021-01-29 03:32] hieuhoang998 commented on #69
Hi, This issue is fixed so I close this issue

[2021-01-29 03:35] hieuhoang998 commented on #229
Hi, Sometimes I can't edit the message so please check it again.
Thank you

[2021-01-29 03:44] hieuhoang998 commented on #223
Hi, This issue is fixed so I close. Thank you

[2021-01-29 03:44] #223 closed

[2021-01-29 04:11] hieuhoang998 commented on #222
Hi, This issue is ok, so I close this.
Thank you

[2021-01-29 04:11] #222 closed

[2021-01-29 04:15] hieuhoang998 commented on #198
Hi, This issue is fixed, so I close this.
Thank you

[2021-01-29 04:15] #198 closed

[2021-01-29 04:38] hieuhoang998 commented on #221
Hi, This issue is fixed, so I close this. Thank you

[2021-01-29 04:38] #221 closed

[2021-01-29 04:40] hieuhoang998 commented on #212
Hi This issue is fixed, so I close. Thank you

[2021-01-29 04:47] hieuhoang998 commented on #135
Hi, This issue is fixed, so I close this.
Thank you.

[2021-01-29 04:47] #135 closed

[2021-01-29 04:54] hieuhoang998 commented on #178
Hi, This issue is fixed, so I close this.
Thank you

[2021-01-29 04:54] #178 closed

[2021-01-29 04:56] hieuhoang998 commented on #224
Hi, This issue is fixed, so I close this.
Thank you.

[2021-01-29 04:56] #224 closed

[2021-01-29 07:31] bobs4462 commented on #229
@hieuhoang998 Hello, can you please tell us how exactly we can reproduce the issue?

[2021-01-29 07:43] hieuhoang998 commented on #229
Hi please check as flow

pre: device-Samsung A51

1.Sign in twake app successfully

2.Select 1 people and text

3.Press on text and check

4.Click edit or delete or reply

Actual result: Can't edit, delete, reply

This issue occured sometimes and so it's so difficult to reproduce, please check it again. @tlle14 please confirm

[2021-01-29 09:09] #233 closed

[2021-01-29 12:21] romanesko opened #239 "Create workspace in mobile app"
We need to add ability for user to create a workspace

[2021-01-29 12:30] BastiaanVanGaalen opened #240 "Auto-transition to chat/channel right after its creation"

[2021-01-29 12:36] PokoinikRWS commented on #48
Hold task.
Clarify date of solution from Romaric

[2021-01-29 12:37] BastiaanVanGaalen opened #241 "Show all existing members when initiating a direct chat"
When initiating a direct chat all existing members are to be displayed sorted by recent activity:
https://zpl.io/VO6myv1

[2021-01-29 12:48] PokoinikRWS commented on #226
4 string is enough to common user.

We check it with Growth Team @dsankova

[2021-01-29 12:50] PokoinikRWS commented on #234
@RockinPaul / @romanesko next week

[2021-01-29 23:16] RockinPaul commented on #240
@romanesko Is it possible to obtain channel_id in the creation response? Right now I'm getting {success: true} and have no idea where to redirect a user.

[2021-01-29 23:23] RockinPaul commented on #241
@BastiaanVanGaalen
Conflicting issues:
https://app.zenhub.com/workspaces/twakemobile-5fa5101d98879700119ccea9/issues/twakeapp/mobile/191 - I've just removed this 4 days ago.

[2021-02-01 08:17] romanesko commented on #240
NP! Coming soon

[2021-02-01 08:34] tlle14 commented on #210
Thank @RockinPaul
Retest pass
https://images.zenhubusercontent.com/309637937/1a3c5c03-0c03-47c4-9386-65abc7879857/videof026e2b2_f7b6_4f1f_ae49_84305aec0e8fvideo.mp4

[2021-02-01 08:34] #210 closed

[2021-02-01 08:38] tlle14 commented on #189
Thank @bobs4462 and @RomaricMourgues
Retest pass
https://images.zenhubusercontent.com/309637937/c5448f4a-0ec9-4e8e-9b3e-4bad0118515b/videoadf62947_6ac9_404c_87f5_ea1e6c192b57video.mp4

[2021-02-01 08:38] #189 closed

[2021-02-01 08:49] tlle14 commented on #207
Thank @bobs4462
Retest pass
https://images.zenhubusercontent.com/309637937/fb4dd287-f8a2-47f7-9d7a-ebaca9a75226/video2acaf9c3_48ef_44a5_96b4_9c33a91d82a6video.mp4

[2021-02-01 08:49] #207 closed

[2021-02-01 08:54] tlle14 commented on #211
Thank @bobs4462
Retest pass
https://images.zenhubusercontent.com/309637937/13a5af83-1513-411f-8315-469e6ed5906f/videoe2d842e6_84ae_4753_a6f5_fe028350f961video.mp4

[2021-02-01 08:54] #211 closed

[2021-02-01 09:04] BastiaanVanGaalen opened #242 "Recent activity tracking"
Display last seen time In chat detail view:

https://zpl.io/awNmpkd

[2021-02-01 09:10] tlle14 commented on #52
Thank @bobs4462  and @romanesko
Retest pass

https://images.zenhubusercontent.com/309637937/6e42d644-78c3-4e23-8b54-cd0cb22c019a/video59d40a58_6945_456d_b2a2_b8e2219021c0video.mp4

[2021-02-01 09:39] tlle14 commented on #197
Cannot reproduce on other phones

[2021-02-01 09:39] #197 closed

[2021-02-01 09:41] BastiaanVanGaalen opened #243 "Make cells of selected participants sticky (permanently visible) when initiating a new direct chat"
After having ticked the member and begin typing a name of another one in a search bar cell with ticked members disappears.

[2021-02-01 09:45] tlle14 commented on #184
Thank @bobs4462 and @RockinPaul
Retest pass
https://images.zenhubusercontent.com/309637937/81c41989-c30a-4625-ab0e-e0e0673b4b4d/rpreplay_final1612172605.mp4

[2021-02-01 09:45] #184 closed

[2021-02-01 09:47] #212 closed

[2021-02-01 09:50] tlle14 commented on #181
Thank @BastiaanVanGaalen and @RockinPaul
Retest pass
https://images.zenhubusercontent.com/309637937/895a01c5-0a7c-4075-9129-9ce063aeb5dc/video506ba533_ad59_4b8d_a967_662bab02f750video.mp4

[2021-02-01 09:51] #181 closed

[2021-02-01 09:54] tlle14 commented on #209
Thank @BastiaanVanGaalen and @RockinPaul
Retest pass
https://images.zenhubusercontent.com/309637937/ed4d7d3c-6987-4a35-8df3-fb8e317d9891/video4391e3dd_d389_4b79_9c4e_374af533e760video.mp4

[2021-02-01 09:54] #209 closed

[2021-02-01 09:58] tlle14 commented on #190
Thank @BastiaanVanGaalen and @RockinPaul
Retest pass
https://images.zenhubusercontent.com/309637937/bce1b490-9623-40dc-8fa0-81397e3a13c4/video33857713_8e81_4cfe_85d5_e7b72a8e1fadvideo.mp4

[2021-02-01 09:58] #190 closed

[2021-02-01 10:04] romanesko commented on #240
Done

[2021-02-01 10:14] tlle14 commented on #191
Default displaying is simplified
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/90ad0fd8-50fa-4f69-9f27-cfbc0d76890c)

But the function is not working.
I will keep update in another issue.
Thank @BastiaanVanGaalen @RockinPaul

[2021-02-01 10:14] #191 closed

[2021-02-01 10:18] #216 closed

[2021-02-01 10:18] tlle14 commented on #216
Thank @bobs4462
Retest pass
https://images.zenhubusercontent.com/309637937/e3bacb00-6ad8-45ee-81d1-7ec4d1b77c59/videoc879decd_1029_4c99_9cd1_23f80a568812video.mp4

[2021-02-01 11:07] tlle14 commented on #235
@bobs4462 I cannot test this implementation.
Please review then close the ticket.

[2021-02-01 11:31] #194 closed

[2021-02-01 11:35] BastiaanVanGaalen opened #244 "Direct chat creation flow update"
1. Change title of the main view for "New direct chat"
2. Remove "Create" button in right corner of a tool bar
3. Remove radio buttons on cells
4. Upon tapping on the found member there should be an auto-transition to chat view

[2021-02-01 21:30] BastiaanVanGaalen opened #245 "Workspace Creation Flow"
https://zpl.io/2pwvA5l

[2021-02-02 08:46] RockinPaul opened #246 "Directs creation is broken"
Direct creation request body: {company_id: 0e9337d6-54eb-11eb-9e45-0242ac120004, workspace_id: direct, name: , visibility: direct, icon: null, description: null, channel_group: null, default: true, **members: [156ad822-59b2-11eb-859c-0242ac120004]**}

Response: {id: 07c8b4aa-21a1-472e-821e-1408dedb8a22, name: , icon: , company_id: 0e9337d6-54eb-11eb-9e45-0242ac120004, workspace_id: direct, descrip

[2021-02-02 08:59] RockinPaul commented on #243
@BastiaanVanGaalen this doesn't make sense for direct chat creation flow anymore.

[2021-02-02 09:22] BastiaanVanGaalen commented on #191
@tlle14 Can we verify whether or not the data (list of all members) is real? If it's real we would rather display members because of several considerations;
- performance issues are manageable (we will be using kind of a lazy load in which member cells load up with scrolling. The list will be sorted by alphabetically
- Why to display all members? Imagine i need to find a member but i have no idea

[2021-02-02 09:31] tlle14 commented on #191
Hi @BastiaanVanGaalen
I've checked the Console page, the data is not real.

About displaying the member list, please discuss with your PO for the final result. I just suggest using the solution as on the Web version.

[2021-02-02 09:43] tlle14 opened #247 "Login > Cannot back to the login screen from Forgot Password screen and Register screen"
# Precondition
From the login screen

# Actual Result
1. Visited Forgot Password screen, the `back` button doesn't work
https://user-images.githubusercontent.com/69950655/106581346-56657200-6575-11eb-9042-d701df65ff45.mp4

2. Visited Register screen, when clicking `Login` button, it redirects to the web Login Page
https://user-images.githubusercontent.com/69950655/106581453-76953100-6575-11eb-8fc5

[2021-02-02 11:17] tlle14 opened #248 "Channel list > A private channel doesn't show the lock icon"
# Actual Result
There's no way for users to know if the channel is private.
![image](https://user-images.githubusercontent.com/69950655/106592828-92eb9a80-6582-11eb-9e40-20ef418c255e.png)

# Expected Result
The private channel should have something like a lock icon as on the Web Version
![image](https://user-images.githubusercontent.com/69950655/106592971-c75f5680-6582-11eb-8993-dd069a321ac0.png)

[2021-02-02 11:52] BastiaanVanGaalen commented on #248
@tlle14 ok, we will add a lock icon. Thanks/

[2021-02-02 14:30] #243 closed

[2021-02-02 14:36] bobs4462 commented on #247
@RomaricMourgues hi, sorry for bothering you, but can you please point us to the right person, who can adapt/adjust **password reset** and **signup** pages for mobile?

[2021-02-02 14:49] RomaricMourgues commented on #247
@tuanlc is the right person to talk to :)

[2021-02-02 16:26] BastiaanVanGaalen opened #249 "Server connection selection"
https://zpl.io/VkQX97M

[2021-02-02 21:05] BastiaanVanGaalen opened #250 "Channel meta information editing"
https://zpl.io/blGMzDz

[2021-02-03 02:50] tlle14 commented on #40
Hi @bobs4462
The issue appears in the build version twake.2.2.2

Please fix!

[2021-02-03 03:21] hieuhoang998 commented on #41
build version twake app 2.2.2

Hi, I see "0 member" in general please check it.
![processed](https://user-images.githubusercontent.com/54783033/106693698-9413da80-6609-11eb-9f64-3ff07a36af08.jpeg)

[2021-02-03 03:26] tlle14 commented on #150
@bobs4462 please take a look at this issue. It should be fixed soon.

[2021-02-03 03:31] tuanlc commented on #247
Hello @bobs4462

I will check ASAP and will keep you posted

[2021-02-03 03:46] tlle14 opened #251 "Channel > Chatbox is aligned to the top in an empty channel"
# Precondition
A new channel/ direct chat

# Actual Result
When the channel/direct chat is empty, the chatbox and the text `No messages yet` are aligned to the top
![image](https://user-images.githubusercontent.com/69950655/106695334-f3bfb500-660c-11eb-88b7-4ac1031961fa.png)

# Expected Result
The chatbox should display on the bottom
The text should be in the center.

# Environment
iOS/Android dev

[2021-02-03 04:44] tlle14 opened #252 "Cannot login using another account"
# Precondition
Login as UserA

# Actual Result
Logout from UserA then log in using UserB credential, it still displays UserA's data.
On Android, when clicking `clear cache`, it still cannot log in as UserB
But when clicking `clear data`, it can log in as UserB.
![image](https://user-images.githubusercontent.com/69950655/106699066-ae06ea80-6614-11eb-82e5-17e5eadd80ce.png)

https://streamable.com/d4

[2021-02-03 04:45] tuanlc commented on #247
I confirm this bug and I created an [issue](https://ci.linagora.com/linagora/lgs/saas/portal/twake-console-web/issues/202). It should be fixed soon.

I have a question about this. Does the mobile application (native app) have its own login page (but not use web view for login)?

[2021-02-03 04:54] tlle14 opened #253 "Emoji keyboard and the system keyboard are able to display at the same time"
# Actual Result

![8335E3C7-3859-49F9-8A68-D0782B30B387](https://user-images.githubusercontent.com/69950655/106699975-7731d400-6616-11eb-9c62-bc3d62623aca.jpg)

# Expected Result
They shouldn't display at the same time.

# Environment
Both android and ios devices
Build version: twake.2.2.2

[2021-02-03 06:21] tuanlc commented on #247
We have implemented responsive view for both Desktop and Mobile. For mobile, maybe the current version is not display correctly for you (test)device

Regarding the dedicated view for mobile native application, Can you give me more detailed requirements for the elements, buttons, etc and may be the UI design?

[2021-02-03 07:16] bobs4462 commented on #253
Hi @tlle14, can you please tell us how did you achieve that? :)

[2021-02-03 07:27] tlle14 commented on #253
Hi @bobs4462
Please refer to the video:

1. Tap to the chatbox
2. Change from the keyboard => Emoji keyboard
3. Tap and hold another message to reply to the message.
4. In the threaded replies screen, tap to chatbox
5. Tap to open the emoji keyboard

https://user-images.githubusercontent.com/69950655/106712442-8bcc9700-662b-11eb-9687-5d9d8ef850fc.mp4

[2021-02-03 07:33] bobs4462 commented on #247
For login yes, the mobile uses native flutter forms, so we have two options here: either we remove login button entirely (user can get back to login screen with back button press) or we redirect user to some special url (just for mobile) so we can detect the redirection from application and swap current screen for native login form.

[2021-02-03 07:36] hieuhoang998 opened #254 "[Channel] Select private channel after click Create button then system auto display public room"
# Precondition
version:2.2.2 twake app
device: android: oppo reno 4

1.Open twake app
2.Log in successfully
3.Select private channel
4.Create channel

# Actual result
Display public room

# Expect result
Display private room

![processed (4)](https://user-images.githubusercontent.com/54783033/106713274-cbe04980-662c-11eb-8a70-73c18b9dcce6.jpeg)

![processed (5)](https://user-images.githubuserconte

[2021-02-03 07:37] bobs4462 commented on #247
Our designer will give his opinion on that matter shortly.

[2021-02-03 07:56] hieuhoang998 opened #255 "[Edit text] Can't click edit after send message"
#Precondition:
version:2.2.2 twake app
device: android: oppo reno 4
#Step
1.Open twake app
2.Log in successfully
3.Send a message
4.Click message then click edit

#Actual result: Edit function not working, when clicking edit tab, menu tab don't disappear
#Expect result: Edit function working properly

![processed (6)](https://user-images.githubusercontent.com/54783033/106715675-fbdd1c00-662f-11eb-

[2021-02-03 08:01] tlle14 commented on #144
Sorry for my mistake.
The issue is not passed on iOS.
The last confirmation is on Android.
![image](https://user-images.githubusercontent.com/69950655/106716141-a5241200-6630-11eb-9613-8a0e49191fbd.png)

[2021-02-03 08:04] hieuhoang998 opened #256 "[Edit text] Can't edit message at the 1st time"
#Precondition:
version:2.2.2 twake app
device: android: oppo reno 4
#Step
1.Open twake app
2.Log in successfully
3.Send a message ex:hello99
4.Click message then click edit
5.Input some characters example: hello99hjjjj
#Actual result: Display hello99 at the 1 st time
#Expect result: Can edit successfully
![processed (8)](https://user-images.githubusercontent.com/54783033/106716449-09df6c80-6631-11

[2021-02-03 08:19] tuanlc commented on #247
Why don't you do that for other pages like signup?

[2021-02-03 08:30] bobs4462 commented on #247
Time, that's the issue, we need to release the app as soon as possible, but there's no way we can implement those new forms fast enough, so as a temporary quick and dirty solution we use web forms for now.

[2021-02-03 08:34] tuanlc commented on #247
And you push that for the web team by implementing dedicated views for naive mobile application  :trollface:

[2021-02-03 09:12] bobs4462 commented on #247
Well, that's awkward :). I thought maybe you just copy existing pages, make some minor adjustments and that's it. And if that's not the case let's leave the current pages, but we still need some modifications regarding the button press behavior (they should do something specific, so that we can recognize from the app, for example open a specific url).

[2021-02-03 09:17] tuanlc commented on #247
Can you explain more? What buttons and what is your expected behavior?

[2021-02-03 09:34] #38 closed

[2021-02-03 09:37] bobs4462 commented on #247
![Screenshot_1612344082.jpg](https://images.zenhubusercontent.com/5f9ab4c67851dd4a461c956a/e90f4b2e-46d9-4171-b2f5-8896d3c94571)
On this page the back button should navigate to some particular url, which will have distinct keyword in it, currently it does nothing.

On sign in page it opens ```https://auth.twake.app/oauth2/authorize?response_type=code&redirect_uri=https%3A%2F%2Fbeta.twake.app%2Faja

[2021-02-03 12:57] BastiaanVanGaalen opened #257 "Message delivery status indication"
There are several statutes:
- sent (but not delivered)
- delivered (but not read yet)
- read by at least one participant

Delivery indication icon is located right below a timestamp
https://zpl.io/aN61w1d

[2021-02-03 13:05] bobs4462 commented on #40
@RockinPaul Have you changed TextAvatar widget recently?

[2021-02-03 14:18] bobs4462 opened #258 "Implement polling for new messages in mobile application"
There's a method on proxy **/messages/whatsnew/** which can be used to indicate that there new messages in a particular channel in particular workspace. We need to implement such a polling for new messages in application when network connection is available in order to keep things synced.

[2021-02-03 15:25] BastiaanVanGaalen opened #259 "Ability to send photos and files in a chat"
https://zpl.io/VKO6DxR

Photo preview in a chat
File preview in a chat
Change the following icons:
- message sending
- emoji sending
- file sending

[2021-02-03 18:07] bobs4462 commented on #255
The issue is fixed, but only partially. You need to wait a bit (usually less than a second), before the message has been fully synced with remote server, and can edit message only after that.

[2021-02-03 18:36] bobs4462 commented on #150
I know I know, but it's not totally up to us, we are waiting still for working notifications, which haven't been rolled out to beta.twake.app (production) yet.

[2021-02-03 18:39] bobs4462 commented on #78
I think we can close the issue, as the old api will be deprecated soon.

[2021-02-04 01:10] #78 closed

[2021-02-04 02:49] tlle14 commented on #238
Thank @bobs4462
Retest pass
https://images.zenhubusercontent.com/309637937/4127af5a-b65a-4af2-8c49-d3ced71bb216/video151c2b22_8864_46f8_8d5a_dd1e34415659video.mp4

[2021-02-04 02:49] #238 closed

[2021-02-04 03:27] tlle14 opened #261 "Delete message > displaying a gray screen after deleting a message in the channel"
# Precondition
1. A private channel is created on Twake Web by the Company Owner
2. The company owner added a user
3. The user is using the android app to post a message on the private channel

# Actual Result
In a specified channel, when deleting a message, it displays a gray screen
https://user-images.githubusercontent.com/69950655/106840751-5c716500-66d3-11eb-879f-4aa5e790c457.mp4

# Expected R

[2021-02-04 03:43] tlle14 commented on #234
Thank @bobs4462 and @RockinPaul
Deleting a message have an issue, I'm not sure if it relates to this ticket
https://github.com/TwakeApp/Mobile/issues/261

[2021-02-04 04:01] tlle14 commented on #236
Thank @RockinPaul
Retest pass
https://images.zenhubusercontent.com/309637937/5127f15c-2b66-4b75-8396-68f470bdf041/video4477832b_91dd_4ec9_b680_837a7819a252video.mp4

[2021-02-04 04:01] #236 closed

[2021-02-04 04:23] tlle14 commented on #253
Retest pass with emoji keyboard and the system keyboard.
Thank @bobs4462
https://images.zenhubusercontent.com/309637937/7ade4a13-bea6-4eb5-bb50-003b2b8e85db/video5bfbd6b0_2288_4507_bf45_d9199dc613c9video.mp4

But could you please fix the system keyboard and the context menu?
They shouldn't appear at the same time.
The system keyboard will hide the context menu

[2021-02-04 04:47] tlle14 opened #262 "Edit Message > After clicking edit message, it doesn't automatically display a system keyboard"
# Actual Result
After clicking `edit`, the chatbox displays the message to edit but the keyboard doesn't show
https://images.zenhubusercontent.com/309637937/f661f08d-b80b-4e70-b840-f94edb58f47c/video51403e20_4bc6_4d0d_9a4a_ddc49eadeecbvideo.mp4

# Expected Result
When the user clicks edit, it should display a keyboard AND the chatbox contains the message.

# Environment
Android app
Build version:

[2021-02-04 04:48] tlle14 commented on #256
Thank @bobs4462
Retest pass
https://images.zenhubusercontent.com/309637937/fbd075b2-4e3c-4b4f-8f4d-c0d6c2220354/video0e3620c5_2593_4d1e_9dc6_72df8ebc81e9video.mp4

[2021-02-04 04:54] tlle14 commented on #255
Thank @bobs4462
I can easily select `edit` button after sending messages on Samsung A51.
Could you please confirm on your device? @hieuhoang998

[2021-02-04 04:57] tlle14 commented on #201
Thank @romanesko and @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/5ae5813f-ffdd-41ea-8730-00d6e38109a7/video7390de51_a422_4679_a0fd_268139a937ccvideo.mp4

[2021-02-04 06:54] tlle14 commented on #252
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/2b1aefb8-507f-496c-a430-d8b4deac156c/videof89d3c4b_86e9_4a08_98f4_d85446105032video.mp4

[2021-02-04 06:54] #252 closed

[2021-02-04 08:13] tuanlc commented on #247
FYI, We are fixing the bug for Back button in the recover password screen to back to login page.

Regarding your request to have a signature (`signin=true`) that allows the mobile native application to detect and to navigate users properly, it is out of our scope since the URL is decided by lemonldap.

Fortunately, there are some signatures in the signing URL that you can use:
1. Contains `authori

[2021-02-04 08:25] tlle14 commented on #229
Thank @bobs4462 and @hieuhoang998
The feature appears in the newest version and is under testing.
I should close this ticket.

[2021-02-04 08:25] #229 closed

[2021-02-04 08:30] hieuhoang998 commented on #256
Hi, This issue is fixed, so I close this. Thank you

[2021-02-04 08:30] #256 closed

[2021-02-04 08:34] bobs4462 commented on #247
Alright, thank you @tuanlc, I'll try to make use of those signatures then. Can you please give me time estimates when back button in recover password screen will be ready?

[2021-02-04 08:36] tuanlc commented on #247
Which platform are you asking for? Pre-prod (console.qa.twake.app) or prod (console.twake.app)?

[2021-02-04 08:57] bobs4462 commented on #247
We are using prod now - console.twake.app

[2021-02-04 09:09] tlle14 commented on #201
We can normally delete a message. But with the new message, we cannot delete them at the 1st time.
The issue might relate to https://github.com/TwakeApp/Mobile/issues/255

[2021-02-04 09:13] bobs4462 commented on #201
Yes, I see, thank you @tlle14, we can reproduce the issue with newly sent messages. We're working on fixing this nasty bug :hammer_and_wrench:

[2021-02-04 09:45] tlle14 commented on #69
I reopen this issue because the warning message doesn't show when losing the internet connection
https://streamable.com/deghba

[2021-02-04 10:01] tlle14 opened #263 "App should recover itself when the internet connection back"
# Precondition
The internet connection is lost

# Actual Result
When the internet connection is back, the app doesn't recover itself.
https://user-images.githubusercontent.com/69950655/106876641-82fec280-670a-11eb-9ea0-573cac6f3a92.mp4

# Expected Result
The app should be able to recover when reconnected to the server

[2021-02-04 10:20] tuanlc commented on #247
The issue was fixed and deployed to production. You can test now.

Good luck!

[2021-02-04 11:09] bobs4462 commented on #247
Thank you @tuanlc, I managed to correctly detect sign in attempts from register screen and was able to handle that event correctly.

But the issue with password recovery page still persists in other form
![untitled.gif](https://images.zenhubusercontent.com/5f9ab4c67851dd4a461c956a/448b9842-670b-41e0-8005-fcbebf76be5e)

The problem is that, if you happen to open password recovery link directly (as

[2021-02-04 11:58] tlle14 commented on #33
Hello @bobs4462
I reopen this issue because the retest failed on twake.2.2.3

https://user-images.githubusercontent.com/69950655/106889686-f3addb00-671a-11eb-91da-0698cf81f9a7.mp4

[2021-02-04 12:03] tlle14 commented on #52
Hi @romanesko
I reopened this issue because it always displays a multiline quote on mobile

https://user-images.githubusercontent.com/69950655/106890194-90707880-671b-11eb-92c6-d1a340a6ec9f.mp4

While it is displaying correctly on the Web
![image](https://user-images.githubusercontent.com/69950655/106890281-ab42ed00-671b-11eb-9068-22527c0fc61f.png)

[2021-02-04 14:12] bobs4462 commented on #202
@RomaricMourgues, when do you plan to roll out the notifications on beta.twake.app, you said it's already available on qa...

[2021-02-04 14:14] bobs4462 commented on #202
And by the way has the bug with wrong UUID (where channel ids were wrong, there was 1 instead of 4 in 14th position) has been fixed?

[2021-02-04 14:15] RomaricMourgues commented on #202
We are doing the OVH migration, beta.twake.app will not be changed until we finish this I'm sorry :/
For UUID, it should be fixed yes also on qa.

[2021-02-04 14:53] bobs4462 commented on #202
Ok thanks, can you please give me an approximate timeline, when we should expect notifications to be rolled out to beta.twake.app?

[2021-02-04 14:57] RomaricMourgues commented on #202
Currently we are looking to the 14 of February deadline.

[2021-02-04 14:59] bobs4462 commented on #202
Great, thank you once more :) :+1:

[2021-02-05 01:24] tuanlc commented on #247
I got your point. I will create ticket for it.

[2021-02-05 13:48] RockinPaul opened #264 "Add offset and limit parameters to /users/search request and implement default response."
Limit and offset are needed in order to implement pagination.
Also, a blank 'name' parameter should lead to a response with all users.

[2021-02-08 18:09] RockinPaul commented on #241
It's currently impossible due to the original API limitations.

[2021-02-09 06:47] romanesko commented on #264
Not possible in current core API  (

[2021-02-12 17:32] romanesko commented on #239
ready @bobs4462

[2021-02-12 17:36] romanesko commented on #242
done

[2021-02-12 17:39] romanesko commented on #228
@bobs4462  We are decided not to include the images inside of the message, aren't we?

[2021-02-12 17:40] romanesko commented on #41
it's fixed now

[2021-02-12 17:42] romanesko opened #266 "Markdown support"
We need a makrdown → twacode → markdown converter (on proxy)

[2021-02-12 20:06] bobs4462 commented on #177
@romanesko It doesn't work as expected, dates are not updated right after sending the message to the channel

[2021-02-15 13:12] RockinPaul opened #267 "Visual design transition brainstorm."

[2021-02-15 14:03] bobs4462 opened #268 "Title bar in direct messages is broken"
Title bar which show the the names of participants in direct chat is not showing the any text. In debug mode, in throws an exception.
![Screenshot_1613396942.png](https://images.zenhubusercontent.com/5f9ab4c67851dd4a461c956a/2410766c-6074-4d5f-ba8d-6e533bc4e606)

[2021-02-18 03:39] tlle14 opened #269 "iOS > App doesn't show the error message when user login with incorrect credential"
# Actual Result
When the user uses an incorrect credential to log in, the app keeps displaying the splash screen forever
https://user-images.githubusercontent.com/69950655/108301809-53a18880-71d5-11eb-9080-a9956f53719d.mp4

# Expected Result
The app should show an error message when the user has an incorrect credential to login

# Environment
iOS App
Build version: twake.2.2.6

[2021-02-18 07:27] tlle14 commented on #33
Thank @bobs4462
Retest pass on twake.2.2.6
https://images.zenhubusercontent.com/309637937/d5645010-14fe-4498-aeea-09bbcf3950b8/video5616a0c5_b164_4e16_b217_a78eaa15c96cvideo.mp4

[2021-02-18 07:27] #33 closed

[2021-02-18 07:30] tlle14 commented on #268
Retest pass!
Thank @RockinPaul
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/249c2d24-ebe1-47a1-a282-9ad664f7fb61)
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/28995001-c776-4050-b9b9-c0cb08f31536)

[2021-02-18 07:30] #268 closed

[2021-02-18 07:31] bobs4462 opened #270 "Add emoji short name to UTF-16 conversion on proxy"
Currently emojis are stored in inconsistent format, and uses both non-portable emoji short names and UTF-16 codes.
We need to convert emoji short names to their respective UTF-16 format on proxy.

In channels entity there's an icon field which might contain short names
In messages - reactions (map structure), keys are usually short names
In message bodies, well let's leave it out for now

[2021-02-18 08:19] tlle14 commented on #248
Hi @RockinPaul
I can see the lock icon for the private channel name.
By the way, it seems not in the same line with the channel name.
Could you fix this small issue?
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/a0a5486f-6c6b-4403-a3bf-da5081354d61)

[2021-02-18 08:55] RockinPaul opened #271 "Keyboard appearance on iOS."
The dark theme keyboard used while the main theme of the device is light. Android seems to be ok.

[2021-02-18 08:57] tlle14 opened #272 "Cannot sending a message successfully"
# Actual Result
After submitted, the message disappears
https://user-images.githubusercontent.com/69950655/108331997-e7894980-7201-11eb-96aa-13a0af5a2f67.mp4

# Expected Result
User should be able to send a message on Mobile

# Environment
Android App
Build version: twake.2.2.6

[2021-02-18 09:13] tlle14 opened #273 "Menu sidebar displays a giant loading icon when changing Company"
# Actual Result
When switching to the other company, a giant loading icon displays on the menu sidebar

https://user-images.githubusercontent.com/69950655/108334094-2f10d500-7204-11eb-8480-c8df7d222ab0.mp4

# Expected Result
The icon should displays in regular size

# Environment
Android App
Build version: twake.2.2.6

[2021-02-18 09:29] tlle14 commented on #262
Thank @bob4462
Retest pass
https://images.zenhubusercontent.com/309637937/52161c64-79f9-405b-9131-5ba3f983d0fc/videoc1d341a5_25ee_4d13_9d7a_5e687fb2ec07video.mp4

[2021-02-18 09:29] #262 closed

[2021-02-18 09:49] tlle14 opened #274 "iOS > Cannot login"
# Actual Result
Cannot log in to the iOS App. The splash screen seems to display forever
https://user-images.githubusercontent.com/69950655/108339333-e3612a00-7209-11eb-8cac-a53c251be26d.mp4

# Expected Result
User should be able to login into the iOS app

# Environment
iOS App
Build version: twake.2.2.6

[2021-02-18 10:02] tlle14 commented on #247
Thank all,
Retest pass!
https://images.zenhubusercontent.com/309637937/686f4faa-886d-4aaf-9a50-14a898151a22/videobeda5aa0_8be0_4555_9bdc_7a74fffd2d8evideo.mp4

[2021-02-18 10:02] #247 closed

[2021-02-18 10:10] tlle14 commented on #40
Thank @bobs4462
Retest pass!
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/70daca94-02e4-4b9c-8b42-37357999aaca)

[2021-02-18 10:10] #40 closed

[2021-02-18 18:02] #258 closed

[2021-02-18 18:06] bobs4462 commented on #150
Hi @tlle14, we implemented message sync, but it currently requires active internet connection (obviously :)) and it only works on a workspace level, that means that if you were to switch workspace or company, you will loose the sync. But for the open workspace the sync works now, not perfectly though but it works.

[2021-02-18 18:16] bobs4462 commented on #263
@tlle14 Hello, can you give this issue another retest, I'm not sure I can reproduce the issue anymore ...

[2021-02-18 18:18] #202 closed

[2021-02-18 18:19] bobs4462 commented on #220
@tlle14 can you give this issue a retest too?

[2021-02-19 07:21] tlle14 commented on #274
Thank @bobs4462
Retest pass on 2.2.7

[2021-02-19 07:21] #274 closed

[2021-02-19 08:34] tlle14 opened #275 "Cannot reply to a message"
# Actual Result
When the user clicks reply to a message, it redirects to the loading screen instead of the thread screen
https://user-images.githubusercontent.com/69950655/108476722-f2f17900-72c4-11eb-98fc-4a5d3e4b320c.mp4

# Expected Result
It should open a thread screen for the user to reply to a message

# Environment
Both Android and iOS App
Build version: 2.2.7

[2021-02-19 08:36] tlle14 commented on #273
Cannot retest since we change to the new server with the new test data

[2021-02-19 08:46] tlle14 commented on #271
Thank @RockinPaul
Retest pass

**Enable Dark Theme**
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/e22d7470-da97-49e3-937b-adca2c29ed93)

*Disable Dark Theme*
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/af2ba1da-757a-4f65-9b50-d29c943fa20a)

[2021-02-19 08:46] #271 closed

[2021-02-19 08:55] tlle14 commented on #99
Hi @bobs4462
I don't think this feature works on twake.2.2.7
Please investigate!

[2021-02-19 08:55] bobs4462 commented on #69
Hey, guys, can you retest this issue again?

[2021-02-19 09:00] bobs4462 commented on #99
@tlle14  Do you mean that you don't get navigated, or you don't get any notifications?

[2021-02-19 09:09] tlle14 commented on #144
Hi @RockinPaul
Retest failed on twake.2.2.7

![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/85cec9de-051d-41ed-a5bb-779466bf91e1)

[2021-02-19 09:26] tlle14 commented on #99
@bobs4462 I cannot get any notifications.

[2021-02-19 09:30] bobs4462 commented on #99
Even mentions? like ```@babur hello it's me```

[2021-02-19 09:41] tlle14 commented on #99
Now I can get the notification.
And this case is passed on Android only. I cannot see the notification on iOS

https://user-images.githubusercontent.com/69950655/108486723-f7bc2a00-72d0-11eb-9a20-716618cf4e12.mp4

[2021-02-19 09:43] tlle14 opened #276 "Incorrect reply counter"
# Actual Result
1. When replying in a thread, the response counter +2 for each reply
https://images.zenhubusercontent.com/309637937/559bf8af-417b-4b55-8eb8-61683c7c6522/videoa2a20310_3445_42bc_a85a_41d48380f444video.mp4

2. It also has an incorrect counter in the `see all message (counter)` button but I cannot reproduce.
The API seems unstable

# Expected result
It should only +1 for each reply

#

[2021-02-19 10:13] tlle14 opened #277 "Update reply in real-time to the wrong thread"
# Precondition
There're 2 threads in the direct chat between UserA and UserB
- UserA opens Thread1 on a Mobile device
- UserB opens Thread2 on the Web

# Actual Result
When UserB replies on Thread2, UserA can see those replies on Thread1

On Web:
![image](https://user-images.githubusercontent.com/69950655/108490760-af533b00-72d5-11eb-91c5-d14596b6c71e.png)

On Mobile:
https://user-images.githubuse

[2021-02-19 10:17] tlle14 commented on #269
Thank @bobs4462
Retest pass
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/fb8b94fe-2037-4f04-bd74-10705829a48b)

[2021-02-19 10:17] #269 closed

[2021-02-19 10:58] tlle14 commented on #234
It seems no more issue

[2021-02-19 10:58] #234 closed

[2021-02-19 10:58] tlle14 commented on #261
It seems no more issue

[2021-02-19 10:58] #261 closed

[2021-02-19 11:10] tlle14 commented on #253
Thank @bobs4462
Retest pass!
The keyboard and the context menu cannot display at the same time.
The context menu will lay over the emoji keyboard when we open it.
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/1f874f38-583d-4e11-b2b8-6efd240e86d4)

[2021-02-19 11:10] #253 closed

[2021-02-19 11:13] tlle14 commented on #41
Thank @romanesko
Retest pass!
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/fb1760d6-2ee9-4d1a-854a-1cb923eb73f5)
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/59c02a23-5c00-4751-bfdc-44e7ebf07ad5)

[2021-02-19 11:19] tlle14 commented on #201
Thank @bobs4462
Retest pass!
Seems fast enough to be acceptable - able to delete a message after 1s

[2021-02-19 11:19] #201 closed

[2021-02-19 11:20] tlle14 commented on #272
Thank @bobs4462
Retest pass on 2.2.7

[2021-02-19 11:20] #272 closed

[2021-02-19 11:24] tlle14 commented on #220
Hi @bobs4462
Android still cannot get the message from web  instantly

[2021-02-19 12:42] RockinPaul opened #278 "App is not always redirecting user to a channel after creation."

[2021-02-19 13:16] romanesko commented on #177
fixed

[2021-02-19 13:17] romanesko commented on #214
@tlle14

[2021-02-19 13:20] tlle14 commented on #255
Hi @bobs4462
it still is an issue with the new messages, but quite randomly.
I should decrease its priority

[2021-02-19 13:22] #235 closed

[2021-02-19 13:22] tlle14 commented on #235
Cannot test

[2021-02-19 13:29] tlle14 commented on #150
@bobs4462
Retest failed!
Sending between android and ios devices isn't successful.

- Not in the real-time
- Displays only when pull to refresh the App.

[2021-02-19 13:31] romanesko opened #279 "Multilanguage support"

[2021-02-19 13:45] bobs4462 commented on #255
Ok, I'll try to poke around and catch this bug, if you will find a way to reproduce it, let me know, please.

[2021-02-19 14:11] tlle14 commented on #244
Thanks,
I can see the change
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/b51332ef-e025-4b30-a0e6-74c702c9fc7c)

[2021-02-19 14:26] #240 closed

[2021-02-19 14:26] tlle14 commented on #240
Thank @RockinPaul
It almost works
https://images.zenhubusercontent.com/309637937/aef537d3-9c83-4b89-9c54-51a4078b4bda/rpreplay_final1613744429.mp4

[2021-02-19 14:29] tlle14 commented on #246
Thank @RockinPaul
Seems it redirects to the correct member after got some cache issue. I will create another issue for this.
https://images.zenhubusercontent.com/309637937/3b0d2c8b-e76c-43aa-8c75-9991eeca45a1/video60c22531_8d0d_4a05_8ca2_99b5da61a199video.mp4

[2021-02-19 14:29] #246 closed

[2021-02-19 14:34] tlle14 opened #280 "Create direct chat > It displays the previous chat screen before redirects to the new chat"
# Precondition
Open a direct chat with another user then back to the channel list

# Actual Result
When creating a new direct chat, it displays the previous chat screen before redirects to the new chat.
https://images.zenhubusercontent.com/309637937/46e3c852-555d-41df-a358-e36c5ea6197b/videob9b2203b_3756_43dc_b962_36554d5409a7video.mp4

# Expected Result
It should redirects to the new chat right a

[2021-02-19 14:46] tlle14 commented on #244
Hi @BastiaanVanGaalen
I reopen this issue to confirm about search member function.
When I inputted a keyword, how does the search work?

[2021-02-19 15:22] tlle14 opened #281 "Create Channel > The old data stay in the creation form after creating a private channel"
# Precondition
Creating a private channel

# Actual Result
When reopen the creation form to create another channel, it displays the old data:
- channel type is private
- the number of added member
https://images.zenhubusercontent.com/309637937/b9d6a262-d0a0-41b1-bc44-edfb06d08f21/video8dc0bf3d_1641_4ca3_a7a5_c6c752dc0318video.mp4

# Expected Result
After created a private channel successfully, the

[2021-02-19 15:26] tlle14 commented on #242
Cannot test

[2021-02-19 15:28] tlle14 commented on #242
@BastiaanVanGaalen Hi, could you please add me to the Zeplin project so I can retest and close this issue?

[2021-02-19 22:08] BastiaanVanGaalen commented on #242
@tlle14 provide me with your email address, please.

[2021-02-20 07:43] bobs4462 commented on #255
I think that you should wait a half a second longer. The problem you are encountering is the following:

- When you send a message, the app creates a dummy message locally, without ID (we cannot assign ID ourselves, because it should be generated by the backend).
- Then a second or two later the server responds with the id of newly created message, and the application updates this newly created me

[2021-02-20 07:58] bobs4462 commented on #259
@RomaricMourgues Hello, you previously mentioned that you are working on new Messaging API, do you have any plans regarding attachments?

[2021-02-22 02:30] tlle14 commented on #242
Hi @BastiaanVanGaalen please add my linagora email: tlle@linagora.com
Thank you

[2021-02-22 02:51] tlle14 commented on #255
Thank @bobs4462 for a detailed explanation.
We should fix this issue later because it has a low priority

[2021-02-22 02:54] tlle14 commented on #254
Retest pass!
Thank @RockinPaul
https://images.zenhubusercontent.com/309637937/d2ec7a48-8757-4640-a18b-27b144cec056/rpreplay_final1613962426.mp4

[2021-02-22 02:54] #254 closed

[2021-02-22 03:50] tlle14 commented on #69
Thank @bobs4462
There has a warning message when submitting a message without the internet connection
https://images.zenhubusercontent.com/309637937/2959e7cc-1731-4f68-b354-342a4d11317b/video39ae27e4_a75c_492e_9573_7526ae3c84d6video.mp4

[2021-02-22 03:50] #69 closed

[2021-02-22 03:50] tlle14 commented on #263
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/cf424d35-348f-493b-ac9e-2637cc9bd070/video39ae27e4_a75c_492e_9573_7526ae3c84d6video.mp4

[2021-02-22 03:50] #263 closed

[2021-02-22 08:43] tlle14 opened #282 "Create Workspace > After created, the new workspace doesn't show on mobile"
# Actual Result
After created, the new workspace doesn't display on Mobile
https://images.zenhubusercontent.com/309637937/f0e18f22-3efe-402d-b791-e886e51a3ff2/rpreplay_final1613983046.mp4

# Expected Result
The new workspace should display after created.

# Environment
Both iOS and Android App
Build version: twake.2.2.7

[2021-02-22 10:23] tlle14 opened #283 "Create Workspace > Cannot add member successfully when creating a workspace"
# Actual result
UserA  invites UserB while creating a workspace
But UserB isn't actually invited after the workspace is created

**Creating a workspace on mobile:**
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/adb23101-1941-498c-8e4b-2b61bec55ebb)

**On Web after created a workspace**
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/4ca841b3-

[2021-02-22 10:53] tlle14 commented on #281
Hello team, the same issue when creating a new workspace on version 2.2.7
Could you please fix it? @bobs4462

[2021-02-22 11:14] tlle14 opened #284 "Create Workspace > The workspace name should be limited to 30 characters"
As I confirmed, the workspace name is good to have a max length of 30 characters, the same as the channel name.

[2021-02-22 12:16] tlle14 opened #285 "Create Workspace > It would be better if user can search and add member to invite"
# Actual Result
When creating a workspace, the user has to manually input the member's email.
![A19D35E3-D01F-4623-854E-4101F665F0CC.jpg](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/9f1ffa21-7942-49b7-9c4c-b7d72d346309)

# Expected Result
It should:
- Be able to search and add Twake member to the new workspace by email
- Be able to add a guest to the workspace by email
- Email te

[2021-02-22 12:17] tlle14 commented on #285
Hi @BastiaanVanGaalen,
Please review and check if we should update Zeplin design.
Thanks!

[2021-02-22 12:23] tlle14 opened #286 "Create Workspace > Member counter is incorrect"
# Actual Result
1. The member counter is counted when there has a blank line
https://images.zenhubusercontent.com/309637937/f17887ef-a4b1-4984-acce-85c0561dcbfd/rpreplay_final1613996371.mp4

# Expected Result
The invited collaborators number shouldn't count the empty line.

# Environment
Both iOS and Android App
Build version: twake.2.2.7

[2021-02-22 12:27] tlle14 commented on #239
Verified

[2021-02-22 12:27] #239 closed

[2021-02-22 12:51] tlle14 opened #287 "Create Workspace > A normal member has permission to create a workspace"
# Actual Result
Recently, a normal member is able to create a workspace

# Expected Result
As I confirmed, a normal member doesn't have permission to create a workspace. Please hide the create workspace button for guest and members.
Only Company owner and Administrators should have the permission

# Environment
Both Android and iOS App
Build version: twake.2.2.7

[2021-02-24 09:18] tlle14 opened #288 "Notification > When the app is open, there's no notification for mentioned or replies in another channel"
# Precondition
The App is openning.
There're ChannelA and ChannelB
The logged in user is in ChannelA

# Actual Result
While user is in ChannelA, he is mentioned in ChannelB, but there's no notification for the message in ChannelB.

# Expected Result
There should have a push notification for the message, even while the app is openning.

# Environment
Android App
Build version: twake.2.2.7

[2021-02-24 12:17] tlle14 opened #289 "Notification > the message cannot display after opened the push notification"
# Precondition
Sending a message with mentioning on Web App

# Actual Result
On Mobile, the user gets the push notification for the background running app.
When he taps to the notification, it redirects to open the channel but the message doesn't display

https://user-images.githubusercontent.com/69950655/108999243-9df2a000-76d4-11eb-8789-09feca19c469.mp4

# Expected result
This issue might be rel

[2021-02-24 12:39] tlle14 opened #290 "Notification > When clear the push notification on notification panel, it also clears the badge icon counter"
# Actual Result
When clear the notification on the notification panel, the badge icon counter also disappears.
https://user-images.githubusercontent.com/69950655/109001576-af897700-76d7-11eb-9044-3d80cd9bedc9.mp4

# Expected Result
The badge icon counter indicates the unread messages in the app. It shouldn't be cleared with the push notification.
It only disappears when the messages are read

# En

[2021-02-24 18:19] bobs4462 commented on #290
@tlle14 Hello, I think that's the expected behavior for all the apps when you clear the notifications the badges are reset. I tested it on telegram and whatsapp

[2021-02-25 02:33] tlle14 commented on #290
Sorry @bobs4462
I tested on iOS with Telegram and other chat apps.
On Android, I checked with Skype and it works like our current app.
I should close the issue.

[2021-02-25 02:33] #290 closed

[2021-02-25 03:31] tlle14 opened #291 "After reinstall, the app automatically login to the old account"
# Precondition
1. Twake is installed
2. User log out from the current account
3. Uninstall the app

# Actual Result
After reinstalling, open the app then the old account has been automatically login.

# Expected Result
When the user logout, please clear the cache in the internal memory.
After the reinstall, the app shouldn't be automatically login by the old account.

# Environment
Android App - S

[2021-02-25 03:33] tlle14 commented on #291
@bobs4462 @RockinPaul could you please try to reproduce this issue on your Samsung phone?
Currently, I have only Samsung A51 to test. The issue might happen only on the Samsung phone.
Thanks for your help!

[2021-02-25 04:50] tlle14 commented on #275
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/bf06608b-4307-46dd-a715-384aa9237155/video1071bfc5_4773_4807_bb41_90109e088e5evideo.mp4

[2021-02-25 04:50] #275 closed

[2021-02-25 04:52] tlle14 commented on #276
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/620378b9-2b56-4766-b703-14d0961aa48f/video6617cb04_92e7_4840_a911_73bee42daf70video.mp4

[2021-02-25 04:52] #276 closed

[2021-02-26 06:52] tlle14 commented on #273
Thank @bobs4462
Retest pass!
https://images.zenhubusercontent.com/309637937/7f02e0b3-b819-4bc1-ad9b-3fe4768eae02/video5669258c_d6c5_43c3_b467_c68680a53082video.mp4

[2021-02-26 06:52] #273 closed

[2021-02-26 07:28] bobs4462 commented on #259
@RomaricMourgues ping :)

[2021-02-26 08:32] RomaricMourgues commented on #259
Unfortunately this is still early work:
https://www.notion.so/twake/New-Public-developer-APIs-WIP-d557318c47d747ffaee3cb2244e94572

I am following this documentation:
https://api.slack.com/reference/block-kit/blocks#file
https://api.slack.com/block-kit/building#stack_of_blocks

So basically it will be closed to what we had with Twacode, but with more markdown and less nested components.

[2021-02-26 08:36] tlle14 commented on #245
Please invite me to the project: tlle@linagora.com
@BastiaanVanGaalen

[2021-02-26 08:42] tlle14 commented on #144
Thank @RockinPaul
Retest pass
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/1c5b1648-ee1f-4902-9ed1-3bb893b5c8ce)

[2021-02-26 08:42] #144 closed

[2021-02-26 08:51] tlle14 commented on #248
Thank @RockinPaul
The fix looks cool
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/14dd2957-4b75-474b-ac19-62298cc67d8a)

[2021-02-26 08:51] #248 closed

[2021-02-26 09:25] tlle14 commented on #277
Thank @bobs4462
Retest pass!

[2021-02-26 09:25] #277 closed

[2021-02-26 09:55] tlle14 commented on #52
Hi @bobs4462
I don't see the change

Created on the web using 1 line break
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/5ffea9b1-4fd0-428b-9da9-aa10f74a5a4e)

Displays on Mobile as a blockquote
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/471c0b73-51d9-4643-80e4-cc96b8ab5fb7)

Because this one is not on priority, please fix it later.
Than

[2021-02-26 09:56] RockinPaul opened #292 "Channel title view isn't changing right after channel editing."

[2021-02-26 10:01] RockinPaul opened #293 "Server address input validation"
Implement a validator in order to check if the server IP is correct.

[2021-02-26 10:12] tlle14 commented on #249
Thank @RockinPaul
I can see the feature appears on Mobile.

[2021-02-26 10:12] #249 closed

[2021-02-26 10:55] tlle14 opened #294 "Server selection > Infinite loading when login with the non-existing server address"
# Precondition
Input the non-existing server address

# Actual Result
Log in with the non-existing server address, it displays the splash screen loading forever
https://images.zenhubusercontent.com/309637937/3949b161-3446-47e8-ae5d-6b6777820179/video996f984d_f99d_41a4_b190_573cea733a08video.mp4

# Expected Result
It should display an error message when the server is not found.

# Environment
iOS a

[2021-02-26 11:36] tlle14 opened #295 "Server selection > It takes too long to restart the app with the incorrect server"
# Precondition
1. Set the incorrect server in the app
2. Close the app

# Actual Result
Reopen the app, it takes too long (about 1 min) to start the app and display the login screen
https://images.zenhubusercontent.com/309637937/50d79a5c-d779-4063-ba55-ddf5d3c5ec6d/video7702d785_43f1_4731_b06f_0794800f060cvideo.mp4

# Expected Result
It shouldn't take too long to start the app, no matter what the

[2021-02-26 13:52] bobs4462 opened #296 "Set up lemonLDAP locally to test rest api sign in hypothesis"

[2021-02-26 13:56] romanesko opened #297 "Proxy integration as subset fo core"

[2021-02-26 23:41] RockinPaul opened #298 "Channels become unselectable after any channel deletion."

[2021-03-01 04:21] tlle14 opened #299 "Server selection > iOS keyboard doesn't have a colon to input the server"
# Actual Result
When inputting the server, I cannot find the colon on the iOS keyboard
https://user-images.githubusercontent.com/69950655/109451141-588cf480-7a7f-11eb-80cf-96852b552eb5.mp4

# Expected Result
The iOS keyboard should allow the user to input the colon for a server address

# Environment
iOS App
Build version: twake.2.2.8

[2021-03-01 06:21] tlle14 opened #300 "Server Selection > Slow server verifying makes the connect button looks like doesn't work"
# Precondition
In the slow internet connection

# Actual Result
The connect button seems doesn't work when the server verification is too slow in returning the result
https://user-images.githubusercontent.com/69950655/109459275-0ead0a00-7a91-11eb-9733-70c3729d9c51.mp4

# Expected Result
Please find a way to speed up the server verification step
When the server is verifying, it should have the dial

[2021-03-01 06:28] tlle14 opened #301 "Login > Clear the credential after login failed"
# Actual Result
When using an invalid credential to log in, it returns the error message and clears the data on the form.
That makes the user cannot recheck their credential and need to type again

https://user-images.githubusercontent.com/69950655/109459733-f7225100-7a91-11eb-9f1f-79802a897e00.mp4

# Expected Result
It shouldn't clear data on the login form after login failed

# Environment
Both

[2021-03-01 07:44] tlle14 commented on #220
I close this issue because version 2.2.8 has the real-time update between web and mobile

[2021-03-01 07:44] #220 closed

[2021-03-01 07:52] bobs4462 commented on #138
@tlle14 Hello, the issue seems to fixed in production environment (chat.twake.app or http://35.180.119.32:3124 proxy). Can you give it another try, please. Thanks.

[2021-03-01 07:53] bobs4462 commented on #150
We tested it in iOS emulator to Android emulator, and iOS device to Android device, the realtime sync in one workspace seems to be working correctly, can you retest it again?

[2021-03-01 08:23] tlle14 commented on #50
Has the real-time update now

[2021-03-01 08:23] #50 closed

[2021-03-01 08:36] tlle14 opened #302 "Create channel > Cannot create a direct chat on production"
# Actual Result
Cannot create a direct channel on Production
https://user-images.githubusercontent.com/69950655/109471766-cea35280-7aa3-11eb-8eb2-a8e1e7e743cc.mp4

# Expected Result
The user should be able to create a direct chat on production server

# Environment
Both iOS and Android app
Build version: twake.2.2.9

[2021-03-01 08:49] tlle14 commented on #99
Hi @bobs4462
I reopen this issue for iOS notification

[2021-03-01 09:30] tlle14 commented on #138
It is quite inconvenient to test on production.
And yes, the issue seems doesn't appear on Production.
But on QA environment:
-  the direct chat doesn't jump to the top
- No highlight for the new message
- The current timestamp is always updated for the top direct chat
https://images.zenhubusercontent.com/309637937/9e998377-1fe6-4527-b599-809d4c04bcb2/rpreplay_final1614589272.mp4

[2021-03-01 09:52] tlle14 opened #303 "The realtime update issue between the mobile apps"
# Precondition
- IOS devices sends a message: 1, 3, 5
- Android devices sends a message: 2, 4, 6
to the Thread replies

# Actual Result
-The iOS app can be able to get all messages in the real-time
![image](https://user-images.githubusercontent.com/69950655/109480439-1b8c2680-7aae-11eb-949d-694dbe89b7d9.png)

- the Android app cannot be able to get all message in the real-time
![image](https://use

[2021-03-01 10:00] tlle14 opened #304 "Reacting isn't updated in the real-time"
# Actual Result
Between Mobile apps or Web and Mobile app, reacting to the message isn't updated in the realtime.
User has to pull to refresh the app to see the latest update.

# Expected Result
Reacting to the message should have the real-time updated

# Environment
Both iOS and Android App
Build version: 2.2.9

[2021-03-01 10:03] #304 closed

[2021-03-01 10:03] tlle14 commented on #304
not the issue, it is the problem of internet connection

[2021-03-01 11:20] tlle14 commented on #282
Thank @RockinPaul
Retest pass!
https://images.zenhubusercontent.com/309637937/b48cc4ec-d3e0-4391-a92c-1e340281ab55/video799746fa_1e1c_412f_8b61_b76edfa9e10cvideo.mp4

[2021-03-01 11:32] tlle14 commented on #281
Hi @RockinPaul
Retest failed when creating a private channel. The data about channel type (private) and added members are staying on the form
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/8a53382e-b393-49db-9d36-8940ef4beaa7)

[2021-03-01 11:43] #293 closed

[2021-03-01 11:43] tlle14 commented on #293
Hi, it took too long to return the response from the server verifying.
But yes it works :(
Please check https://github.com/Twake/Mobile/issues/300

[2021-03-01 11:48] tlle14 commented on #294
Hi @bobs4462
It takes time to return the response. Check this issue https://github.com/Twake/Mobile/issues/300

[2021-03-01 11:51] bobs4462 commented on #138
@RomaricMourgues can you please clarify this thing, is the web.qa.twake.app behind the chat.twake.app? Because in chat.twake.app the last_activity property of channels (public/directs) are updated correctly after any activity, but on web.qa.twake.app last_activity doesn't change and seems to be lagging from actual activity for weeks.

[2021-03-01 11:57] #303 closed

[2021-03-01 11:58] tlle14 commented on #303
Duplicate with #150

[2021-03-01 12:01] tlle14 commented on #150
Hi @bobs4462
I tested in the unstable network connection so the app became unstable too, as describe in this ticket:
https://github.com/Twake/Mobile/issues/303

Let me retest when the internet connection becomes more speedy

[2021-03-01 12:02] RomaricMourgues commented on #138
Can you try again ? It was an issue with the database I fixed on prod but not on QA

[2021-03-01 12:06] bobs4462 commented on #138
Oh, it worked, now last_activity properties seem to be updating correctly on both PROD and QA, thanks :)

[2021-03-02 03:08] tlle14 commented on #292
Hi @RockinPaul
The bug description is not clear. I don' get it.
Is it about the screen after finish the channel updating?
As I see, after finishing update a channel, it transit to a white screen
https://images.zenhubusercontent.com/309637937/eb49fcb3-89fe-4f2f-816f-6b6446e89173/rpreplay_final1614654335.mp4

[2021-03-02 03:44] tlle14 commented on #294
Hello @bobs4462
The infinite loading still happens on Android App.
- Server: https://mobile.api.twake - skip server verifying step
- Using a valid credential on QA environment to log in

https://user-images.githubusercontent.com/69950655/109593744-1ed1f180-7b44-11eb-9b8b-2be7cae4261b.mp4

=> It should return the error message about cannot find a server

[2021-03-02 11:14] RockinPaul commented on #292
@tlle14 Yes, it's about updating metadata after return from the editing screen. Previously, it did not update the title of the channel properly and I've fixed it. But the behavior you attached in the video is something new and definitely deserves a new task.

[2021-03-02 11:22] tlle14 commented on #292
Thank you. I will create a new ticket for the bug.
By the way, the change has been updated. I guess this issue is passed.

[2021-03-02 11:22] #292 closed

[2021-03-02 11:26] tlle14 opened #305 "Channel update > Redirect to the blank page after finishing update the channel"
# Actual Result
After clicking the save button,  it redirects to the blank page
https://images.zenhubusercontent.com/309637937/eb49fcb3-89fe-4f2f-816f-6b6446e89173/rpreplay_final1614654335.mp4

# Expected result
It should open the channel with new changes

# Environment
Both iOS and Android App
Build version: twake.2.2.9

[2021-03-03 03:41] tlle14 opened #306 "Backslash is displaying at the end of sentences of the numbering list"
# Precondition
Compose a message on the web app, using a numbering list
Using shift+enter keyboards to create a new line
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae2d969/1dae252c-ac59-4789-a9cd-a02f497ce251)

# Actual Result
On mobile, at the end of each line, it displays a backslash before a line break
![image.png](https://images.zenhubusercontent.com/5f76a1e8a1698e3d1ae

[2021-03-03 04:02] tlle14 opened #307 "The reply disappears when user is back from another thread"
# Precondition
Having 2 parent messages which don't have any reply
- message 1: parent 1
- message 2: parent 2

# Step to reproduce and Actual Result
1. Send a reply message to Parent 2
2. Back to the chat screen
3. Click reply to open thread of Parent 1
But don't send the reply to Parent 1
4. Back to the chat screen
5. Open thread of Parent 2
=> A reply to Parent 2 doesn't display anymore
The use

[2021-03-03 04:15] tlle14 opened #308 "Channel creation > The channel name should be limited to 30 characters"
# Actual Result
When creating or updating a channel, the user is able to input the channel name with unlimited length

# Expected Result
The channel name should be limited to 30 characters, as on the web.
Please set the restriction when creating or update a channel.
Refer to this ticket: https://github.com/Twake/Twake/issues/834

# Environment
Both iOS and Android
Build version: 2.2.9

[2021-03-03 04:42] tlle14 opened #309 "Infinite loading when opening the push notification of the already logout account"
# Precondition
- UserA has push notifications in the notification center
- UserA has already logged out from Twake App
- UserB is logged in to the Twake App on the same phone
# Actual Result
When UserB opens the push notification of UserA, it redirects to the blank screen that loading infinitely.
https://user-images.githubusercontent.com/69950655/109752122-66bf4a00-7c12-11eb-9023-4c4425b4f40c.mp4

[2021-03-03 04:57] tlle14 opened #310 "The channel becomes bold when the user post a message"
# Actual Result
When a user posts a message in the channel, the message becomes an unread message and the channel becomes bold in the channel list.
https://user-images.githubusercontent.com/69950655/109754244-42fe0300-7c16-11eb-92d0-b6fa2f1bb69a.mp4

# Expected result
The message shouldn't be unread with the author.
The channel should be bold when there's an unread message from another user.

# En

[2021-03-03 07:19] tlle14 opened #311 "Create Channel > The channel creation time is incorrect"
# Actual Result
After creating a channel, it always displays the timestamp `1 Jan 1970 08:00`
![image](https://user-images.githubusercontent.com/69950655/109767311-ed335600-7c29-11eb-874d-091b68c7c041.png)

# Expected Result
It should display the correct time when the channel created

# Environment
Both android and iOS app
Build version: 2.2.9

[2021-03-03 07:22] tlle14 commented on #150
Retest pass on 2.2.9 with the stable network connection

[2021-03-03 07:22] #150 closed

[2021-03-03 07:27] bobs4462 commented on #311
@tlle14 Hello, we decided not to show any time if the channel has no last_activity, because that's the value we show on channel item. The fix should be available in the next build

[2021-03-03 07:34] bobs4462 commented on #294
@tlle14 Hi again, the issue seems to be related to recent issues with broken directs on web.qa.twake.app, so I cannot reproduce it now.

[2021-03-03 08:42] tlle14 opened #312 "Direct chat > A direct chat isn't highlighted when having a new unread message"
# Actual Result
When having a new unread message, a direct chat isn't highlighted

# Expected Result
The direct chat should be highlighted when having a new unread message

# Environment
Both iOS and Android App
Build version: twake.2.2.9

[2021-03-03 08:51] tlle14 commented on #41
Hi @bobs4462
I reopen this issue for it always shows `No members` in the channel
On Mobile:
![image](https://user-images.githubusercontent.com/69950655/109779142-39859280-7c38-11eb-807a-6f252f7e86dc.png)

On Web:
![image](https://user-images.githubusercontent.com/69950655/109779182-44d8be00-7c38-11eb-87df-45398f6516f6.png)

[2021-03-03 09:14] tlle14 opened #313 "Notification > There is no push notification on Android app for the mentioned or a message in a group chat"
# Precondition
Created a group chat

# Actual Result
On the web, mentioned a user in the group chat or post a message in group chat.
On the user's android app, there is no notification for him

# Expected Result
It should  have a push notification on Android app when the user is mentioned or a new message in a group chat

# Environment
Android App
Build version: 2.2.9

[2021-03-03 10:00] tlle14 opened #314 "Notification > A push notification for a direct group doesn't display the members name"
# Precondition
Refer to https://github.com/Twake/Twake/issues/489

# Actual Result
When sending a message to the direct group, it pushes a notification.
The push notification only displays: `<author> in <Workspace_name>`, the user doesn't know exactly which channel has the message.
![IMG_2079](https://user-images.githubusercontent.com/69950655/109787315-adc43400-7c40-11eb-8d2f-a0ab21a4cac2.PNG)

#

[2021-03-03 10:08] bobs4462 commented on #314
@RomaricMourgues Hello, Any ideas about this issue, as far as I know direct chats do not have any name, they have dynamic names composed from chat member names, of which there could be many.